@import "~@dnnsoftware/dnn-react-common/styles/index.less";

#siteSettings-container {
    .dnn-persona-bar-page-body {
        .react-tabs {
            .list-items {
                inline-size: 100%;
                float: inline-start;
                box-sizing: border-box;

                .list-items-grid {
                    border: solid 1px @alto;
                    float: inline-start;
                    inline-size: 100%;

                    .no-data {
                        padding-block-start: 10px;
                        padding-inline-end: 15px;
                        padding-block-end: 10px;
                        padding-inline-start: 15px;
                        inline-size: 100%;
                        float: inline-start
                    }
                }

                .list-header-row {
                    border-block-end: 1px solid @alto;
                    padding-block-start: 10px;
                    padding-inline-end: 0;
                    padding-block-end: 10px;
                    padding-inline-start: 0;
                    inline-size: 100%;
                    float: inline-start;
                    overflow: hidden
                }

                .header-Text {
                    inline-size: 44%;
                    float: inline-start;
                    font-weight: bolder;
                    padding-inline-start: 15px
                }

                .header-Value {
                    inline-size: 43%;
                    float: inline-start;
                    font-weight: bolder
                }

                .list-items-grid-collapsible {
                    inline-size: 100%
                }

                .collapsible-component {
                    .collapsible-header {
                        text-align: end;
                        text-transform: none;
                        padding-inline-end: 40px;

                        .collapse-icon {
                            display: none;

                            &.collapsed {
                                display: none
                            }
                        }
                    }
                }

                .AddItemRow {
                    text-align: end;
                    inline-size: 100%;
                    float: inline-end;
                    margin-block-start: 0;
                    margin-inline-end: 0;
                    margin-block-end: 15px;
                    margin-inline-start: 0;
                    font-weight: bolder;
                    border-block-end: 1px solid @alto;
                    overflow: hidden;
                    block-size: 25px;

                    .sectionTitle {
                        font-weight: bolder;
                        float: inline-start
                    }

                    .AddItemBox {
                        inline-size: auto;
                        float: inline-end;
                        color: @thunder;
                        cursor: pointer;

                        .add-icon {
                            margin-inline-start: 20px;
                            margin-inline-end: 5px;
                            float: inline-start;
                            cursor: pointer;

                            svg {
                                inline-size: 16px;
                                float: inline-start;
                                block-size: 16px;
                                fill: @thunder;
                            }
                        }
                    }

                    .AddItemBox-active {
                        inline-size: auto;
                        float: inline-end;
                        color: @curiousBlue;

                        .add-icon {
                            margin-inline-start: 20px;
                            margin-inline-end: 5px;
                            float: inline-start;

                            svg {
                                inline-size: 16px;
                                float: inline-start;
                                block-size: 16px;
                                fill: @curiousBlue;
                            }
                        }
                    }
                }
            }

            .sortable-item {
                float: inline-start;
                inline-size: 100%;

                &:not(:last-child) {
                    border-block-end: 1px solid @alto;
                }
            }

            .dnn-sortable {
                &>div {
                    float: inline-start;
                    inline-size: 100%
                }
            }
        }
    }
}