@import "~@dnnsoftware/dnn-react-common/styles/index";

.advancedCollapsibleComponent {
    display: table;
    inline-size: 100%;
    border: 1px solid #c8c8c8;

    &.open {
        border-block-start: 2px solid @curiousBlue;
        border-block-end: 2px solid @curiousBlue;
        position: relative;
        inset-block-start: -1px
    }

    &.false {
        border-block-start: 2px solid @curiousBlue;
        border-block-end: 2px solid @curiousBlue;
        position: relative;
        inset-block-start: -1px
    }

    &:not(:last-child) {
        div.collapsible-header {
            border-block-end: 1px solid @alto
        }
    }

    div.collapsible-header {
        text-transform: uppercase;
        color: rgb(178, 189, 195);
        inline-size: 100%;
        position: relative;
        padding-block-start: 22px;
        padding-inline-end: 22px;
        padding-block-end: 16px;
        padding-inline-start: 22px;
        box-sizing: border-box;
        cursor: pointer;

        * {
            pointer-events: none
        }

        &.false {
            border-block-end: none
        }


        .collapse-icon {
            position: absolute;
            inset-inline-end: 20px;
            inset-block-start: 21px;
            font-size: 30px;
            line-height: 16px;
            cursor: pointer;
            user-select: none;
            -webkit-touch-callout: none;
            /* iOS Safari */
            -webkit-user-select: none;
            /* Chrome/Safari/Opera */
            -khtml-user-select: none;
            /* Konqueror */
            -moz-user-select: none;
            /* Firefox */
            -ms-user-select: none;
            /* IE/Edge */
            user-select: none;

            &:after {
                border: 6px solid transparent;
                border-block-end: 6px solid @thunder;
                content: "";
                position: absolute;
                inset-inline-start: -15px;
                inset-block-start: 0
            }

            &.collapsed {
                &:after {
                    border-block-start: 6px solid @thunder;
                    border-block-end: 6px solid transparent;
                    inset-block-start: 5px
                }
            }
        }
    }


    .search-advanced-header {
        .search-advanced-icon {
            svg {
                inline-size: 25px;
                float: inline-start;
                block-size: 25px;
                margin-inline-end: 15px;
                margin-block-start: -5px;
                fill: @rollingStone
            }
        }

        .search-advanced-label {
            color: @bulgarianRose;

            .dnn-text-overflow-wrapper {
                font-size: 10pt
            }

            * {
                pointer-events: all !important
            }
        }
    }

    .dnn-uicommon-tags-field-input .dnn-uicommon-tag-input {
        max-inline-size: 80%
    }
}



.search-advanced-header {
    .search-advanced-icon {
        svg {
            inline-size: 25px;
            float: inline-start;
            block-size: 25px;
            margin-inline-end: 15px;
            margin-block-start: -5px;
            fill: @rollingStone
        }
    }

    .search-advanced-label {
        color: @bulgarianRose;

        .dnn-text-overflow-wrapper {
            font-size: 10pt
        }

        * {
            pointer-events: all !important
        }
    }
}


.pages-app {
    .search-more-flyout {
        position: relative;
        padding: 20px;
        background-color: white;
        block-size: 200px;
        transition: all .25s;
        animation: fadeIn .25s ease-in forwards;
        z-index: 9999;

        .more-dropdown {
            inline-size: 100%;
        }

        textarea {
            resize: none;
            inline-size: 100%;
            min-block-size: 82px;
            overflow: auto;
        }

        .date-picker {
            border: 1px solid #959695;
            inline-size: 100%;
            display: inline-block
        }

        .calendar-dropdown-container {
            position: relative
        }

        .calendar-icon {
            inline-size: 15px;
            block-size: 35px;
            padding: 0;
            margin-inline-start: 5px;
            cursor: pointer;
            line-height: 35px
        }

        .calendar-dropdown {
            position: absolute;
            inset-block-start: 31px;
            inset-inline-start: -1px;
            inline-size: 550px;
            block-size: 0;
            border: 1px solid @alto;
            overflow: hidden;
            display: none;
            z-index: 9999;
            -webkit-box-shadow: 0px 2px 26px -6px rgba(0, 0, 0, 0.75);
            -moz-box-shadow: 0px 2px 26px -6px rgba(0, 0, 0, 0.75);
            box-shadow: 0px 2px 26px -6px rgba(0, 0, 0, 0.75);
            background-color: white;
        }

        .calendar-dropdown-content {
            background-color: white;
            overflow: auto;
            padding-block-end: 100px;
            margin-block-start: 0px;
            block-size: 100%;
        }

        .selected-date {
            margin-block-start: 2px;
            padding: 5px;
        }

        .calendar {
            block-size: 270px;
            inline-size: 300px;
        }
    }

    .search-item-card {
        margin-block-start: 10px;
        margin-inline-end: 0;
        margin-block-end: 10px;
        margin-inline-start: 0;
        padding: 0;
        border: 1px solid @alto;
        block-size: 107px;
        animation: fadeIn .25s ease-in forwards;

        .search-item-thumbnail {
            float: inline-start;
            inline-size: 16%;

            img {
                block-size: 105px;
                inline-size: 100%;
            }
        }

        .search-item-details {
            float: inline-start;
            inline-size: 83%;
            block-size: 100%;
            padding-block-start: 10px;
            padding-inline-end: 0px;
            padding-block-end: 10px;
            padding-inline-start: 35px;
            display: block;

            &.full {
                inline-size: 99%;
            }

            .search-item-details-left {
                float: inline-start;
                inline-size: 100%;

                h1 {
                    color: @curiousBlue;
                    cursor: pointer;
                }

                >div {
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow-inline: hidden;
                    max-inline-size: ~"calc(100% - 120px)";
                    font-size: 11px;
                    font-weight: 700;
                    padding-block-start: 3px;
                    padding-inline-end: 0;
                    padding-block-end: 3px;
                    padding-inline-start: 0;
                }

                color: @rollingStone;
            }

            .search-item-details-right {
                float: inline-end;
                block-size: 32px;
                position: absolute;
                inset-inline-end: 90px;
                block-size: 32px;

                div {
                    block-size: 32px
                }

                ul {
                    float: inline-end;
                    transition: opacity .25s ease-in;
                    opacity: 0;
                    padding: 0;
                    margin: 0;

                    li {
                        list-style: none;
                        padding-block-start: 0;
                        padding-inline-end: 10px;
                        padding-block-end: 0;
                        padding-inline-start: 10px;
                        float: inline-start;

                        div {
                            inline-size: 20px;
                            cursor: pointer;

                            svg {
                                inline-size: 20px;
                                fill: @alto;
                                stroke: @alto
                            }

                            svg:hover {
                                inline-size: 20px;
                                fill: @curiousBlue;
                                stroke: @curiousBlue
                            }
                        }
                    }
                }
            }

            &:hover {
                ul {
                    opacity: 1
                }
            }
        }

        .search-item-details-list {
            padding-block-start: 3px;
            padding-inline-end: 0px;
            padding-block-end: 3px;
            padding-inline-start: 0px;
            clear: both;
            float: inline-start;
            inline-size: 100%;

            ul {
                inline-size: 100%;
                list-style: none;
                padding: 0;
                margin: 0
            }

            li {
                inline-size: 30%;
                float: inline-start;
                margin-block-start: 0;
                margin-inline-end: 10px;
                margin-block-end: 0;
                margin-inline-start: 10px;
                text-overflow: ellipsis;
                overflow: hidden;

                p {
                    display: inline;
                    font-weight: bold
                }

                p:not(:first-child) {
                    margin-block-start: 0px;
                    margin-inline-end: 10px;
                    margin-block-end: 0px;
                    margin-inline-start: 10px;
                    color: @curiousBlue;
                    cursor: pointer
                }
            }

            li:first-child {
                float: inline-start;
                margin: 0
            }

            p {
                text-transform: capitalize
            }
        }
    }

    .search-container {
        border-block-end: 1px solid @alto;
        block-size: 54px;
        margin-block-start: 73px;

        .btn {
            float: inline-start;
            cursor: pointer;
            inline-size: 30px;
            block-size: 30px;
            padding-block-start: 5px;

            svg {
                inline-size: 100%;
                fill: #000
            }
        }

        div {
            display: block
        }

        .back-to-page {
            float: inline-start;
            inline-size: 200px;
            cursor: pointer;
            font-weight: bold;
            display: block;

            div {
                float: inline-start;
                inline-size: 20px;
                margin-inline-end: 10px;

                svg {
                    fill: #000
                }
            }

            p {
                padding-block-start: 3px;
                text-transform: uppercase
            }
        }

        .dnn-back-to-link {
            float: inline-start;
            inline-size: 200px;
            cursor: pointer;
            display: block;
            margin-block-start: 20px;

            >span {
                position: relative;
                float: inline-start
            }

            .dnn-back-to-arrow {
                >svg {
                    inline-size: 16px;
                    block-size: 16px;
                    fill: @thunder
                }

                float: inline-start;
                position: relative
            }

            &:hover {
                float: inline-start;
                color: @mountainMist;

                .dnn-back-to-arrow {
                    >svg {
                        fill: @mountainMist
                    }
                }
            }
        }

        .search-box {
            margin-block-start: 10px;
            float: inline-end;
            border-inline-start: 1px solid @alto;
            inline-size: 261px;

            .search-input {
                inline-size: 200px;
                float: inline-start;

                input {
                    border: none;
                    background-color: transparent;
                    inline-size: 100%;
                    outline: none
                }

                input::-ms-clear {
                    display: none
                }
            }
        }

        .search-btn {
            padding-block-start: 0;
            padding-inline-end: 5px;
            padding-block-end: 0;
            padding-inline-start: 5px;
            line-height: 42px
        }

        .clear-search {
            padding: 8px;
            line-height: 22px;

            svg {
                fill: @alto
            }
        }
    }
}