@import "~@dnnsoftware/dnn-react-common/styles/index";

.dnn-persona-bar-treeview-menu {
    padding: 0;

    .parent-expand {
        margin-inline-start: 10px;
        margin-inline-start: 6px;

        .list-item-menu {
            text-align: start
        }

        .treeview-parent-expand-button,
        .treeview-parent-collapse-button {
            block-size: 28px;
            margin-block-start: -2px;
            cursor: pointer
        }
    }

    .dnn-persona-bar-treeview-ul {
        margin-inline-start: 0px;
        padding: 0;

        li::before,
        li::after {
            display: none
        }
    }

    .list-item-menu {
        inline-size: 90px;

        .draft-pencil {
            block-size: 32px;
            display: inline-block;

            svg:hover {
                fill: @alto
            }
        }
    }

    .list-item-menu-right {
        inline-size: 70px;

        .draft-pencil {
            inline-size: auto;
            display: inline-block;

            svg:hover {
                fill: @alto
            }

            .dnn-persona-bar-draft-icon {
                display: inline-block;
                inline-size: 20px
            }

            .selection-arrow {
                inline-size: 50px
            }
        }
    }

    .tree-menu-ul ul {
        padding: 0
    }

    .selection-arrow {
        inset-block-start: 5px
    }
}

.dnn-persona-bar-treeview {
    font-family: inherit;
    cursor: auto;
    padding-block-start: 15px;
    padding-inline-end: 18px;
    padding-block-end: 0px;
    padding-inline-start: 6px;
    max-inline-size: 309px;
    min-inline-size: 309px;

    img {
        -webkit-user-drag: none;
        -khtml-user-drag: none;
        -moz-user-drag: none;
        -o-user-drag: none;
        user-drag: none
    }

    .collapse-expand {
        transition: all .5s ease-out;
        font-size: 12px;
        font-weight: bold;
        color: @curiousBlue;
        margin-block-start: 0;
        margin-inline-end: 0;
        margin-block-end: 20px;
        margin-inline-start: 20px;
        cursor: pointer
    }

    .initial {
        color: @alto;
        cursor: default
    }

    .item-name {
        position: relative;
        inset-block-start: -5px;
        font-weight: bold;
        margin-inline-start: 5px;
        display: inline-block;
        inline-size: 150px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;

        p {
            display: inline
        }
    }

    .item-name-hidden {
        font-style: italic
    }

    svg:hover {
        fill: @alto
    }

    .selected-item {
        svg {
            fill: @curiousBlue
        }
    }

    .list-item-highlight {
        color: @curiousBlue
    }

    .list-item-dragover {
        color: @curiousBlue
    }

    .list-item-disabled {
        color: @mountainMist;
        font-style: italic
    }

    .parent-expand-button {
        display: inline-block;
        position: relative;
        block-size: 28px;
        inset-inline-start: 15px;
        block-size: 28px;

        div {
            inline-size: 24px
        }

        svg {
            fill: #000
        }
    }

    .parent-expand-icon {
        display: inline-block;
        inline-size: 10px;
        block-size: 28px;
        margin-inline-end: 10px;
        font-size: 14px
    }

    .selection-arrow {
        display: inline-block;
        position: relative;
        inline-size: 90px;
        inset-block-start: 0px;
        inset-inline-start: 5px;
        font-size: 18px;
        font-weight: bold;
        color: @curiousBlue;

        >div {
            float: inline-end;
            block-size: 20px;
            inline-size: 20px;
            display: inherit;

            svg {
                fill: @curiousBlue
            }

            svg:hover {
                fill: @curiousBlue !important
            }
        }

        .dots {
            margin-inline-end: 7px;
            cursor: pointer;

            svg {
                inline-size: 20px;

                circle {
                    fill: @alto
                }
            }

            svg:hover {
                circle {
                    fill: @curiousBlue
                }
            }

            &.active {
                circle {
                    fill: @curiousBlue
                }
            }

            .dnn-in-context-menu {
                transition: all .25s;
                animation: fadeIn .25s ease-in forwards
            }
        }
    }

    .draft-pencil {
        inline-size: 20px;
        block-size: 20px;
        display: inline-block;

        svg:hover {
            fill: @alto
        }

        div {
            block-size: 20px
        }
    }
}

.dnn-persona-bar-treeview-ul.tree {
    img {
        -webkit-user-drag: none;
        -khtml-user-drag: none;
        -moz-user-drag: none;
        -o-user-drag: none;
        user-drag: none
    }

    ul:not(:first-child) {
        li {
            margin-inline-start: 10px
        }

        li::before,
        li::after {
            content: '';
            position: absolute;
            inset-inline-start: 0
        }

        li::before {
            border-block-start: 1px solid @alto;
            inset-block-start: 10px;
            inline-size: 10px;
            block-size: 0;
            inset-inline-start: -5px
        }

        li::after {
            border-inline-start: 1px solid @alto;
            block-size: 100%;
            inline-size: 0px;
            inset-block-start: -10px;
            inset-inline-start: -5px
        }

        li:last-child::after {
            border-inline-start: 1px solid @alto;
            block-size: 20px;
            inline-size: 0px;
            inset-block-start: -10px
        }
    }

    float: inline-start
}

.dnn-persona-bar-treeview-ul {
    span {
        padding: 0;
        margin: 0
    }

    ul {
        margin-inline-start: 5px;
        padding: 0
    }

    ul:first-child {
        margin-inline-start: 0px
    }

    li {
        inline-size: 175px;
        list-style: none;
        position: relative
    }

    .collapse-expand {
        display: none
    }

    .dragged-proxy {
        position: absolute;
        inline-size: 100%;
        block-size: 28px;
        z-index: 9998;
        background-color: transparent
    }

    .dropZoneActive {
        margin: 0;
        padding: 0;
        background-color: #fff;
        transition: all .5s
    }

    .dropZoneInactive {
        cursor: auto;
        margin: 0;
        padding: 0;
        block-size: inherit;
        transition: all .5s
    }

    .dropZoneArea {
        cursor: auto;
        block-size: 2px;
        inline-size: 100%;
        padding-block-start: 5px;
        padding-inline-end: 0;
        padding-block-end: 5px;
        padding-inline-start: 0;
        text-align: center;
        background-color: transparent
    }

    .list-item-border-bottom {
        margin-inline-start: 10px;
        border-block-start: 1px solid @curiousBlue
    }

    .list-item-border-top {
        margin-inline-start: 10px;
        border-block-end: 1px solid @curiousBlue
    }
}

.dnn-persona-bar-treeview-icon {
    inline-size: 20px;
    block-size: 28px;
    display: inline-block;
    float: inline-start;

    div {
        block-size: 28px
    }

    svg {
        block-size: 20px
    }
}

.dnn-persona-bar-treeview-dragged {
    -webkit-box-shadow: 0px 2px 26px -6px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 2px 26px -6px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 2px 26px -6px rgba(0, 0, 0, 0.75);
    border: 1px solid @curiousBlue;
    z-index: 1000;
    position: absolute;
    inset-block-start: 200px;
    background-color: #fff;
    list-style: none;
    inline-size: 200px;
    pointer-events: none;
    cursor: auto;
    block-size: 28px;

    .item-name {
        display: inline;

        p {
            display: inline
        }

        position:relative;
        inset-block-start: -5px;
        inset-inline-start: 5px
    }

    ul {
        display: none
    }

    .selection-arrow,
    .draft-pencil,
    .parent-expand-button,
    .dragged-proxy {
        display: none
    }
}

@keyframes BounceHeightIn {
    0% {
        opacity: 0;
        block-size: 0px
    }

    85% {
        opacity: .8;
        block-size: 100px
    }

    100% {
        opacity: 1;
        block-size: auto
    }
}

@keyframes BounceHeightOut {
    0% {
        opacity: 1;
        block-size: auto
    }

    15% {
        opacity: .8;
        block-size: 100px
    }

    100% {
        opacity: 0;
        block-size: 0px
    }
}