@import "~@dnnsoftware/dnn-react-common/styles/index";

#scheduler-container {
    .dnn-persona-bar-page-body {
        .react-tabs {
            [hidden] {
                display: none
            }

            .noData {
                display: block;
                text-align: center;
                float: inline-start;
                inline-size: 100%;

                .noTasks {
                    font-size: x-large;
                    color: @thunder;
                    margin-inline-start: 40px;
                    margin-inline-end: 40px;
                    margin-block-start: 60px;
                    inset-inline-start: 0;
                    inset-inline-end: 0;
                    position: absolute
                }

                .noTasksMessage {
                    font-size: small;
                    color: @alto;
                    margin-inline-start: 40px;
                    margin-inline-end: 40px;
                    margin-block-start: 110px;
                    inset-inline-start: 0;
                    inset-inline-end: 0;
                    position: absolute
                }
            }
        }
    }
}