/* Person Bar iFrame */
.dnnEditState iframe#personaBar-iframe {
    inline-size: 85px
}

iframe#personaBar-iframe {
    inline-size: 0;
    position: fixed;
    inset-inline-start: 0;
    inset-block-start: 0;
    block-size: 100%;
    z-index: 9999999
}

.pb-scroll-wrapper {
    position: absolute;
    inset-block-start: 0;
    inset-inline-start: 0;
    block-size: 100%;
    -webkit-overflow-scrolling: touch;
    overflow-block: visible
}

    .pb-scroll-wrapper iframe#personaBar-iframe.ipad {
        position: relative !important
    }

.personabar-visible {
    margin-inline-start: 80px
}

.personabar-placeholder {
    inline-size: 80px;
    background-color: #0e2936;
    block-size: 100%;
    position: fixed;
    inset-block-start: 0;
    inset-inline-start: 0;
    z-index: 1000
}
