/* TagsIinput Style */
div.dnnTagsInput {
    display: inline-block;
    margin: 0;
    padding-block-start: 5px;
    padding-inline-end: 0;
    padding-block-end: 0;
    padding-inline-start: 5px;
    border: 1px solid #bfbfbf;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background: #FFF
}

.dnnFormItem .dnnTagsInput {
    inline-size: 45%
}

div.dnnTagsInput span.tag {
    display: block;
    float: inline-start;
    padding-block-start: 2px;
    padding-inline-end: 6px;
    padding-block-end: 2px;
    padding-inline-start: 6px;
    margin-inline-end: 5px;
    margin-block-end: 5px;
    border: 1px solid #c9c9c9;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    font-size: 12px;
    text-decoration: none;
    color: #888;
    cursor: pointer;
    background-color: #eee
}

    div.dnnTagsInput span.tag:hover {
        background-color: #e8f1fa;
        color: #444
    }

    div.dnnTagsInput span.tag a {
        display: inline-block;
        inline-size: 8px;
        block-size: 8px;
        margin-block-start: 6px;
        margin-inline-end: 0;
        margin-block-end: 0;
        margin-inline-start: 0;
        background: transparent url(../../../../images/dnnTagClose.png) no-repeat;
        background-position: center
    }

div.dnnTagsInput > div > input,
div.dnnTagsInput > div > input:focus {
    border: none;
    background: transparent;
    outline: none;
    font-weight: normal;
    font-family: helvetica;
    font-size: 12px;
    display: inline-block;
    vertical-align: top;
    block-size: 19px;
    padding-block-start: 3px;
    padding-inline-end: 0;
    padding-block-end: 3px;
    padding-inline-start: 3px;
    margin-block-end: 5px
}

    div.dnnTagsInput > div > input::-ms-clear {
        display: none
    }

div.dnnTagsInput div {
    display: block;
    float: inline-start
}

    div.dnnTagsInput div.dnnTags_filter {
        float: inline-end;
        position: relative;
        margin-block-start: 0;
        margin-inline-end: 0;
        margin-block-end: 5px;
        margin-inline-start: 5px
    }

        div.dnnTagsInput div.dnnTags_filter > .dnnTags_filter_label {
            display: inline-block;
            border-inline-start: 1px solid #ccc;
            padding-block-start: 3px;
            padding-inline-end: 15px;
            padding-block-end: 0;
            padding-inline-start: 10px;
            margin-inline-end: 3px;
            color: #999;
            cursor: pointer;
            background: url(../../../../images/dnnSpinnerDownArrow.png) no-repeat;
            background-position: right center;
            block-size: 22px
        }

            div.dnnTagsInput div.dnnTags_filter > .dnnTags_filter_label.dnnExpanded {
                color: #666;
                background: url(../../../../images/dnnSpinnerUpArrow.png) no-repeat;
                background-position: right center
            }

        div.dnnTagsInput div.dnnTags_filter > ul.dnnTags_filter_dropdownUl {
            display: none;
            position: absolute;
            list-style-type: none;
            background: #fff;
            border: 1px solid #c9c9c9;
            inset-inline-end: 22px;
            inset-block-start: 28px;
            margin: 0;
            -webkit-border-radius: 3px;
            border-radius: 3px;
            -webkit-box-shadow: 0px 2px 0px 0px #bbb;
            box-shadow: 0px 2px 0px 0px #bbb;
            z-index: 15
        }

.dnnTagsInput div.dnnTags_filter > ul.dnnTags_filter_dropdownUl > li {
    white-space: nowrap;
    padding-block-start: 6px;
    padding-inline-end: 12px;
    padding-block-end: 6px;
    padding-inline-start: 8px;
    border-block-start: 1px solid #c9c9c9;
    list-style: none;
    color: #666;
    min-inline-size: 150px
}

    .dnnTagsInput div.dnnTags_filter > ul.dnnTags_filter_dropdownUl > li:first-child {
        border-block-start: none
    }

    .dnnTagsInput div.dnnTags_filter > ul.dnnTags_filter_dropdownUl > li:hover {
        background-color: #e8f1fa;
        color: #333
    }

    .dnnTagsInput div.dnnTags_filter > ul.dnnTags_filter_dropdownUl > li > input {
        display: inline-block;
        vertical-align: top;
        margin-inline-end: 10px;
        cursor: pointer
    }

    .dnnTagsInput div.dnnTags_filter > ul.dnnTags_filter_dropdownUl > li > span.dnnCheckbox {
        margin-inline-end: 8px
    }

    .dnnTagsInput div.dnnTags_filter > ul.dnnTags_filter_dropdownUl > li > label {
        display: inline-block;
        vertical-align: top;
        cursor: pointer
    }

div.dnnTagsInput div.dnnTags_filter a.dnnSearchButton {
    display: inline-block;
    inline-size: 18px;
    block-size: 18px;
    background-image: url(../../../../images/search/searchButton.png);
    background-repeat: no-repeat;
    background-position: center center;
    vertical-align: top;
    cursor: pointer;
    margin-block-start: 4px;
    margin-inline-end: 5px;
    margin-block-end: 0;
    margin-inline-start: 4px
}

.dnnTagsClear {
    clear: both;
    inline-size: 100%;
    block-size: 0px
}

div.dnnTagsInput > div > input.dnnTagsInvalid {
    display: block;
    float: inline-start;
    margin-inline-end: 5px;
    border: none;
    outline: none;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    background: #FBD8DB;
    /*light red*/ cursor: pointer;
    font-size: 12px;
    color: #90111A !important;
    /* dark red*/ text-decoration: none
}
