/* Combo box css */
@import url(ComboBox.Default.css);

/* START Telerik.Web.UI.Skins.Grid.css */
.RadGrid .rgMasterTable,
.RadGrid .rgDetailTable {
    border-collapse: separate;
    border-spacing: 0
}

.RadGrid .rgRow,
.RadGrid .rgAltRow,
.RadGrid .rgHeader,
.RadGrid .rgResizeCol,
.RadGrid .rgPager,
.RadGrid .rgGroupPanel,
.RadGrid .rgGroupHeader {
    cursor: default
}

.RadGrid input[type="image"] {
    cursor: pointer
}

.RadGrid .rgRow td,
.RadGrid .rgAltRow td,
.RadGrid .rgEditRow td,
.RadGrid .rgFooter td,
.RadGrid .rgFilterRow td,
.RadGrid .rgHeader,
.RadGrid .rgResizeCol,
.RadGrid .rgGroupHeader td {
    padding-inline-start: 7px;
    padding-inline-end: 7px
}

.RadGrid .rgClipCells .rgHeader,
.RadGrid .rgClipCells .rgFilterRow>td,
.RadGrid .rgClipCells .rgRow>td,
.RadGrid .rgClipCells .rgAltRow>td,
.RadGrid .rgClipCells .rgEditRow>td,
.RadGrid .rgClipCells .rgFooter>td {
    overflow: hidden
}

.RadGrid .rgAdd,
.RadGrid .rgRefresh,
.RadGrid .rgEdit,
.RadGrid .rgDel,
.RadGrid .rgDrag,
.RadGrid .rgFilter,
.RadGrid .rgPagePrev,
.RadGrid .rgPageNext,
.RadGrid .rgPageFirst,
.RadGrid .rgPageLast,
.RadGrid .rgExpand,
.RadGrid .rgCollapse,
.RadGrid .rgSortAsc,
.RadGrid .rgSortDesc,
.RadGrid .rgUpdate,
.RadGrid .rgCancel,
.RadGrid .rgUngroup,
.RadGrid .rgExpXLS,
.RadGrid .rgExpDOC,
.RadGrid .rgExpPDF,
.RadGrid .rgExpCSV {
    inline-size: 16px;
    block-size: 16px;
    border: 0;
    margin: 0;
    padding: 0;
    background-color: transparent;
    background-repeat: no-repeat;
    vertical-align: middle;
    font-size: 1px;
    cursor: pointer
}

.RadGrid .rgGroupItem input,
.RadGrid .rgCommandRow img,
.RadGrid .rgHeader input,
.RadGrid .rgFilterRow img,
.RadGrid .rgFilterRow input,
.RadGrid .rgPager img {
    vertical-align: middle
}

.rgCellSelectorArea {
    position: absolute;
    z-index: 1000100;
    opacity: .1;
    -moz-opacity: .1;
    filter: alpha(opacity=10)
}

.rgNoScrollImage div.rgHeaderDiv {
    background-image: none
}

.RadGrid .rgHeader,
.RadGrid th.rgResizeCol {
    padding-block-start: 6px;
    padding-inline-end: 12px;
    padding-block-end: 6px;
    padding-inline-start: 12px;
    text-align: start;
    font-weight: normal
}

.RadGrid .rgHeader a {
    text-decoration: none
}

.RadGrid .rgCheck input {
    block-size: 15px;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-block-start: 0;
    padding-block-end: 0;
    cursor: default
}

.rfdCheckbox .RadGrid .rgCheck input {
    block-size: 20px
}

.RadGrid .rgRow td,
.RadGrid .rgAltRow td,
.RadGrid .rgEditRow td,
.RadGrid .rgFooter td {
    padding-block-start: 6px;
    padding-inline-end: 12px;
    padding-block-end: 6px;
    padding-inline-start: 12px;
    vertical-align: middle
}

.RadGrid table.rgMasterTable tr .rgDragCol {
    padding-inline-start: 0;
    padding-inline-end: 0;
    text-align: center
}

.RadGrid .rgDrag {
    inline-size: 15px;
    block-size: 15px;
    /*cursor: url('/WebResource.axd?d=IrFa7nMgz1BTsC9-zAskQsQQ2NbyQoVltWfjelAy42ZChW4XOR0Al8-3wFPo5NgnsfBzQgghLIUimIUaDrh-6HmJoZnlydvlQE0iyIhuH0m8kHBHl6aOiqify_w8YSTGDhu_qA2&t=634801049010866281'),move;
    */
}

.RadGrid .rgPager .rgStatus {
    inline-size: 35px;
    padding-block-start: 3px;
    padding-inline-end: 0;
    padding-block-end: 2px;
    padding-inline-start: 0
}

.RadGrid .rgStatus div {
    inline-size: 24px;
    block-size: 24px;
    overflow: hidden;
    border: 0;
    margin-block-start: 0;
    margin-inline-end: auto;
    margin-block-end: 0;
    margin-inline-start: auto;
    padding: 0;
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
    text-indent: -2222px
}

.RadGrid .rgPager td {
    padding: 0
}

.RadGrid td.rgPagerCell {
    border: 0;
    padding-block-start: 5px;
    padding-inline-end: 0;
    padding-block-end: 4px;
    padding-inline-start: 0
}

.RadGrid .rgWrap {
    float: inline-start;
    padding: 10px;
    line-height: 22px;
    white-space: nowrap
}

.RadGrid .rgArrPart1 {
    padding-inline-end: 0
}

.RadGrid .rgArrPart2 {
    padding-inline-start: 0
}

.RadGrid .rgInfoPart {
    float: inline-end
}

.RadGrid .rgInfoPart strong {
    font-weight: normal
}

.RadGrid .rgArrPart1 img,
.RadGrid .rgArrPart2 img {
    border: 0;
    margin-block-start: -3px;
    margin-inline-end: 8px;
    margin-block-end: 0;
    margin-inline-start: 8px
}

.RadGrid .rgPageFirst,
.RadGrid .rgPagePrev,
.RadGrid .rgPageNext,
.RadGrid .rgPageLast {
    inline-size: 10px;
    block-size: 22px;
    vertical-align: middle;
    color: #333;
    visibility: hidden
}

.RadGrid .rgArrPart1 a,
.RadGrid .rgArrPart2 a {
    /*width: 80px;
    block-size: 22px;
    vertical-align: middle;
    color: #666;
    */
    color: #333
}

.RadGrid .NextPrev .rgPageFirst,
.RadGrid .NextPrev .rgPagePrev,
.RadGrid .NextPrev .rgPageNext,
.RadGrid .NextPrev .rgPageLast {
    vertical-align: middle
}

.RadGrid .rgPageFirst,
.RadGrid .rgPagePrev {
    margin-inline-end: 3px
}

.RadGrid .rgPageNext,
.RadGrid .rgPageLast {
    margin-inline-start: 3px
}

.RadGrid .rgPager .rgPagerButton {
    block-size: 22px;
    border-style: solid;
    border-width: 1px;
    margin-block-start: 0;
    margin-inline-end: 14px;
    margin-block-end: 0;
    margin-inline-start: 0;
    padding-block-start: 0;
    padding-inline-end: 4px;
    padding-block-end: 2px;
    padding-inline-start: 4px;
    font-size: 12px;
    line-height: 12px;
    vertical-align: top;
    cursor: pointer
}

.RadGrid .rgNumPart {
    padding-block-start: 10px;
    padding-inline-end: 10px;
    padding-block-end: 0;
    padding-inline-start: 10px
}

.RadGrid .NumericPages .rgNumPart {
    padding-block-start: 10px;
    padding-inline-end: 10px;
    padding-block-end: 0;
    padding-inline-start: 10px
}

.RadGrid .rgNumPart a {
    float: inline-start;
    line-height: 22px;
    margin: 0;
    padding-block-start: 0;
    padding-inline-end: 5px;
    padding-block-end: 0;
    padding-inline-start: 0;
    text-decoration: none
}

.RadGrid .rgNumPart span {
    float: inline-start;
    padding-block-start: 0;
    padding-inline-end: 0;
    padding-block-end: 0;
    padding-inline-start: 5px
}

.RadGrid .rgNumPart a:hover span {
    cursor: pointer
}

.RadGrid .rgNumPart a.rgCurrentPage,
.RadGrid .rgNumPart a.rgCurrentPage:hover,
.RadGrid .rgNumPart a.rgCurrentPage span,
.RadGrid .rgNumPart a.rgCurrentPage:hover span {
    cursor: default
}

.RadGrid .NextPrevNumericAndAdvanced .rgAdvPart {
    float: none;
    text-align: center
}

.RadGrid .rgPager .RadSlider {
    float: inline-start;
    margin-block-start: 0;
    margin-inline-end: 10px;
    margin-block-end: 0;
    margin-inline-start: 0
}

.RadGrid .rgPagerLabel,
.RadGrid .rgPager .RadComboBox,
.RadGrid .rgPager .RadInput {
    margin-block-start: 0;
    margin-inline-end: 8px;
    margin-block-end: 0;
    margin-inline-start: 0;
    vertical-align: middle
}

.RadGrid .rgPager .RadInput {
    display: inline-block
}

.RadGrid .rgPager .riTextBox {
    block-size: 15px
}

.rgPager .riSingle .riTextBox {
    block-size: 22px
}

*+html .RadGrid .rgPager .RadComboBox {
    margin-block-start: -1px
}

* html .RadGrid .rgPager .RadComboBox {
    margin-block-start: -1px;
    padding-block-start: 1px;
    padding-inline-end: 0;
    padding-block-end: 1px;
    padding-inline-start: 0
}

.RadGrid .rgPagerTextBox {
    text-align: center
}

.GridReorderTop,
.GridReorderBottom {
    inline-size: 9px;
    block-size: 9px;
    margin-block-start: 0;
    margin-inline-end: 0;
    margin-block-end: 0;
    margin-inline-start: -5px;
    padding: 0
}

.RadGrid .rgFilterRow td {
    padding-block-start: 4px;
    padding-block-end: 7px
}

.RadGrid .rgFilter {
    inline-size: 22px;
    block-size: 22px;
    margin-block-start: 0;
    margin-inline-end: 0;
    margin-block-end: 0;
    margin-inline-start: 2px
}

.RadGrid .rgFilterBox {
    border-width: 1px;
    border-style: solid;
    margin: 0;
    block-size: 15px;
    padding-block-start: 2px;
    padding-inline-end: 1px;
    padding-block-end: 3px;
    padding-inline-start: 1px;
    font-size: 12px;
    vertical-align: middle
}

.rgFilterRow .riSingle .riTextBox {
    block-size: 22px
}

.RadGrid .rgFilterRow .RadInput,
.RadGrid .rgFilterRow .RadRating {
    display: inline-block;
    vertical-align: middle
}

*+html .RadGrid .rgFilterRow .RadRating {
    display: inline;
    zoom: 1
}

* html .RadGrid .rgFilterRow .RadRating {
    display: inline;
    zoom: 1
}

.GridContextMenu .rmLeftImage {
    background-repeat: no-repeat;
    background-color: transparent
}

.RadMenu .rmGroup .rgHCMItem .rmText {
    inline-size: 161px;
    padding-block-start: 6px;
    padding-inline-end: 5px;
    padding-block-end: 5px;
    padding-inline-start: 30px
}

.rgHCMItem .rgHCMClear,
.rgHCMItem .rgHCMShow,
.rgHCMItem .rgHCMAnd,
.rgHCMItem .rgHCMFilter {
    display: block
}

.rgHCMItem .rgHCMShow,
.rgHCMItem .rgHCMAnd {
    padding-block-start: 5px;
    line-height: 12px
}

.rgHCMItem .rgHCMClear,
.rgHCMItem .rgHCMShow,
.rgHCMItem .RadComboBox,
.rgHCMItem .rgHCMAnd {
    margin-block-start: 0;
    margin-inline-end: 0;
    margin-block-end: 5px;
    margin-inline-start: 0
}

.rgHCMItem .rgHCMAnd {
    margin-block-start: 5px
}

.rgHCMItem .rgHCMFilter {
    margin-block-start: 11px
}

.rgHCMItem .rgHCMClear,
.rgHCMItem .rgHCMFilter {
    inline-size: 160px;
    border-style: solid;
    border-width: 1px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    padding-block-start: 1px;
    padding-inline-end: 0;
    padding-block-end: 1px;
    padding-inline-start: 0;
    font-size: 12px;
    cursor: pointer
}

.RadGrid .rgGroupPanel {
    block-size: 24px
}

.RadGrid .rgGroupItem {
    padding-block-start: 0;
    padding-inline-end: 2px;
    padding-block-end: 1px;
    padding-inline-start: 3px;
    line-height: 20px;
    font-weight: normal;
    vertical-align: middle
}

.RadGrid .rgGroupHeader td {
    padding-block-start: 0;
    padding-block-end: 0
}

.RadGrid .rgGroupHeader td p {
    display: inline;
    margin: 0;
    padding-block-start: 0;
    padding-inline-end: 10px;
    padding-block-end: 0;
    padding-inline-start: 10px
}

.RadGrid .rgGroupHeader td div div {
    inset-block-start: -0.8em;
    padding-block-start: 0;
    padding-inline-end: 10px;
    padding-block-end: 0;
    padding-inline-start: 10px
}

/*\*/
* html .RadGrid .rgGroupHeader td div div {
    inset-block-start: 0
}

/**/
.RadGrid .rgGroupHeader td div div div {
    inset-block-start: 0;
    padding: 0;
    border: 0
}

.RadGrid .rgUpdate,
.RadGrid .rgCancel {
    inline-size: 18px;
    block-size: 18px
}

.RadGrid .rgDetailTable {
    border-style: solid;
    border-width: 1px;
    border-inline-end-width: 0
}

.RadGrid .rgAdd,
.RadGrid .rgRefresh {
    inline-size: 18px;
    block-size: 18px;
    vertical-align: bottom
}

*+html .RadGrid .rgPager .rgPagerButton,
*+html .RadGrid .rgPagerLabel,
*+html .RadGrid .rgPager .RadComboBox,
*+html .RadGrid .rgAdd,
*+html .RadGrid .rgRefresh {
    vertical-align: middle
}

* html .RadGrid .rgPager .rgPagerButton,
* html .RadGrid .rgPagerLabel,
* html .RadGrid .rgPager .RadComboBox,
* html .RadGrid .rgPager .RadInput,
* html .RadGrid .rgAdd,
* html .RadGrid .rgRefresh {
    vertical-align: middle
}

.RadGrid .rgEdit,
.RadGrid .rgDel {
    inline-size: 15px;
    block-size: 15px
}

.RadGridRTL .rgHeader,
.RadGridRTL .rgResizeCol {
    text-align: end
}

.RadGridRTL .rgPager .rgStatus {
    border-inline-end: 0;
    border-inline-start-width: 1px
}

.RadGridRTL .rgWrap {
    float: inline-end
}

.RadGridRTL .rgArrPart1 {
    padding-inline-start: 0;
    padding-inline-end: 10px
}

.RadGridRTL .rgPageFirst,
.RadGridRTL .rgPagePrev {
    margin-inline-end: 0;
    margin-inline-start: 1px
}

.RadGridRTL .rgPageNext,
.RadGridRTL .rgPageLast {
    margin-inline-start: 0;
    margin-inline-end: 1px
}

.RadGridRTL .rgInfoPart {
    float: inline-start
}

.RadGridRTL .rgNumPart {
    inline-size: 220px
}

.RadGridRTL .rgNumPart a {
    float: inline-end
}

.RadGridRTL .rgDetailTable {
    border-inline-end-width: 1px;
    border-inline-start-width: 0
}

.RadGridRTL input.rgRefresh,
.RadGridRTL input.rgAdd {
    margin-block-start: 0;
    margin-inline-end: 0;
    margin-block-end: 0;
    margin-inline-start: 4px
}

.RadGridRTL .rgInfoPart {
    text-align: start
}

.RadGridRTL .rgSliderLabel {
    float: inline-end
}

.RadGridRTL .rgPager div.RadSlider {
    float: inline-end;
    margin-block-start: 0;
    margin-inline-end: 0;
    margin-block-end: 0;
    margin-inline-start: 10px
}

/* END Telerik.Web.UI.Skins.Grid.css */
/* START Telerik.Web.UI.Skins.Default.Grid.Default.css */
.RadGrid_Default {
    border: 1px solid #c9c9c9;
    background: #fff;
    color: #333
}

.RadGrid_Default,
.RadGrid_Default .rgMasterTable,
.RadGrid_Default .rgDetailTable,
.RadGrid_Default .rgGroupPanel table,
.RadGrid_Default .rgCommandRow table,
.RadGrid_Default .rgEditForm table,
.RadGrid_Default .rgPager table,
.GridToolTip_Default {
    font-size: 12px
}

.RadGrid_Default .rgAdd,
.RadGrid_Default .rgRefresh,
.RadGrid_Default .rgEdit,
.RadGrid_Default .rgDel,
.RadGrid_Default .rgFilter,
.RadGrid_Default .rgPagePrev,
.RadGrid_Default .rgPageNext,
.RadGrid_Default .rgPageFirst,
.RadGrid_Default .rgPageLast,
.RadGrid_Default .rgExpand,
.RadGrid_Default .rgCollapse,
.RadGrid_Default .rgSortAsc,
.RadGrid_Default .rgSortDesc,
.RadGrid_Default .rgUpdate,
.RadGrid_Default .rgCancel,
.RadGrid_Default .rgUngroup,
.RadGrid_Default .rgExpXLS,
.RadGrid_Default .rgExpDOC,
.RadGrid_Default .rgExpPDF,
.RadGrid_Default .rgExpCSV {
    /*background-image: url('/WebResource.axd?d=13J1GiRwm5pAEXMYHmb2hREyNRgbZotF32PgjWETl2FMCPouxBg-yjwncBpiV-6Q_5Lo7X97jzxTbqDdgEUdAMmW0_UX8L6-h1VCrpjRPCiFbZYuDqKCRl-6IWvxfh_etX2zrKWaWZdT4wi10&t=634801049010866281');
    */
}

.RadGrid_Default .rgHeaderDiv {
    /*background: #eee 0 -7550px repeat-x url('/WebResource.axd?d=13J1GiRwm5pAEXMYHmb2hREyNRgbZotF32PgjWETl2FMCPouxBg-yjwncBpiV-6Q_5Lo7X97jzxTbqDdgEUdAMmW0_UX8L6-h1VCrpjRPCiFbZYuDqKCRl-6IWvxfh_etX2zrKWaWZdT4wi10&t=634801049010866281');
    */
}

.rgTwoLines .rgHeaderDiv {
    background-position: 0 -7050px
}

.RadGrid_Default .rgHeader,
.RadGrid_Default th.rgResizeCol {
    border: 0;
    border-block-end: 1px solid #c9c9c9;
    border-inline-end: 1px solid #c9c9c9;
    background: #f0f2f1;
    background: -moz-linear-gradient(top, #fff 0%, #f0f2f1 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff), color-stop(100%, #f0f2f1));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #fff 0%, #f0f2f1 100%);
    /* Chrome10+,Safari5.1+ */
    background: linear-gradient(to bottom, #fff 0%, #f0f2f1 100%);
    /* W3C */
}

.RadGrid_Default .rgHeader:last-child,
.RadGrid_Default th.rgResizeCol:last-child {
    border-inline-end: none
}

.RadGrid_Default .rgMultiHeaderRow .rgHeader,
.RadGrid_Default .rgMultiHeaderRow .rgResizeCol {
    border-inline-start: 1px solid #828282
}

.RadGrid_Default th.rgSorted {
    /*  background-color: #c4c4c4;
    background-position: 0 -2600px;
    */
}

.RadGrid_Default .rgHeader,
.RadGrid_Default .rgHeader a {
    color: #333
}

.RadGrid_Default .rgRow td,
.RadGrid_Default .rgAltRow td,
.RadGrid_Default .rgEditRow td,
.RadGrid_Default .rgFooter td {
    border-style: solid;
    border-width: 0 0 1px 0;
    border-color: #ccc
}

.RadGrid_Default .rgRow td {
    border-color: #fff;
    cursor: pointer;
    min-inline-size: 16px
}

.RadGrid_Default .rgAltRow {
    background: #f2f2f2
}

.RadGrid_Default .rgAltRow td {
    border-color: #f2f2f2;
    cursor: pointer
}

.RadGrid_Default .rgRow .rgSorted {
    border-block-end-color: #f2f2f2;
    background-color: #f2f2f2
}

.RadGrid_Default .rgAltRow .rgSorted {
    border-block-end-color: #e6e6e6;
    background-color: #e6e6e6
}

.RadGrid_Default .rgSelectedRow .rgSorted,
.RadGrid_Default .rgActiveRow .rgSorted,
.RadGrid_Default .rgHoveredRow .rgSorted,
.RadGrid_Default .rgEditRow .rgSorted {
    background-color: transparent
}

.RadGrid_Default .rgRow a,
.RadGrid_Default .rgAltRow a,
.RadGrid_Default .rgEditRow a,
.RadGrid_Default tr.rgEditRow a,
.RadGrid_Default tr.rgHoveredRow a,
.RadGrid_Default tr.rgActiveRow a,
.RadGrid_Default .rgFooter a,
.RadGrid_Default .rgEditForm a {
    color: #000
}

.RadGrid_Default .rgMasterTable .rgSelectedCell,
.RadGrid_Default .rgSelectedRow {
    background: #aaa;
    color: #fff
}

.RadGrid_Default .rgMasterTable .rgSelectedCell:hover,
.RadGrid_Default .rgSelectedRow:hover {
    background: #aaa;
    color: #fff
}

*+html .RadGrid_Default .rgSelectedRow .rgSorted {
    background-color: #aaa
}

* html .RadGrid_Default .rgSelectedRow .rgSorted {
    background-color: #aaa
}

.RadGrid_Default .rgSelectedCell a,
.RadGrid_Default .rgSelectedRow a {
    color: #fff
}

.RadGrid_Default .rgMasterTable .rgActiveCell,
.RadGrid_Default .rgActiveRow,
.RadGrid_Default .rgHoveredRow {
    background: #c5c5c5;
    color: #333
}

*+html .RadGrid_Default .rgActiveRow .rgSorted,
*+html .RadGrid_Default .rgHoveredRow .rgSorted {
    background-color: #c5c5c5
}

* html .RadGrid_Default .rgActiveRow .rgSorted,
* html .RadGrid_Default .rgHoveredRow .rgSorted {
    background-color: #c5c5c5
}

.RadGrid_Default .rgEditRow {
    background: #fff;
    color: #333
}

*+html .RadGrid_Default .rgEditRow .rgSorted {
    background-color: #fff
}

* html .RadGrid_Default .rgEditRow .rgSorted {
    background-color: #fff
}

.RadGrid_Default .rgActiveRow td,
.RadGrid_Default .rgActiveRow td.rgSorted,
.RadGrid_Default .rgHoveredRow td,
.RadGrid_Default .rgHoveredRow td.rgSorted {
    border-block-end-color: #9e9e9e
}

.RadGrid_Default .rgDrag {
    /*background-image: url('/WebResource.axd?d=mzHk4lCpY-yUS8WHgrUcNRG4PfzZZmEtuVIeF9sMrB_-Un_1bgCzyifcsLpF8gw6vCALgSKlZd0ez6FPUPQKUfN4s8NXnA2dQ65vGvbxcqR2rfX1-LIt3ETPy5BJlCEvRnpxbxwXBIsWfMO00&t=634801049010866281');
    */
}

.RadGrid_Default .rgFooterDiv,
.RadGrid_Default .rgFooter {
    background: #eee
}

.RadGrid_Default .rgFooter td {
    border-block-start: 1px solid #828282;
    border-block-end: 1px solid #fff
}

.RadGrid_Default .rgPager .rgStatus {
    border: 1px solid;
    border-color: #828282 #c9c9c9 #eee #c9c9c9;
    border-inline-start-width: 0
}

.RadGrid_Default .rgStatus div {
    /*background-image: url('/WebResource.axd?d=89NdE5Ot8K8WYy-VrArxtHelqs2ZnBPbgyckO1UsfXN8a4DCxtuNOlkiV1y65Q1oK_totNflBXpDEp0WpdQERbOXEh2_Ngs3r0VyWAg6byxtUrnDaA9lrjS5L7MdsTVhKcJF9J4wUcnBTUpg-Hfgu2A6-RM1&t=634801049010866281');
    */
}

.RadGrid_Default .rgPager {
    /*background: #f2faf8;
    */
}

.RadGrid_Default td.rgPagerCell {
    border-block-start: 1px solid #ccc
}

.RadGrid_Default .rgInfoPart {
    color: #8a8a8a;
    margin-inline-end: 8px
}

.RadGrid_Default .rgInfoPart strong {
    color: #4c4e54
}

.RadGrid_Default .rgPageFirst {}

.RadGrid_Default .rgPageFirst:hover {
    background-position: 0 -600px
}

.RadGrid_Default .rgPagePrev {
    background-position: 0 -700px
}

.RadGrid_Default .rgPagePrev:hover {
    background-position: 0 -750px
}

.RadGrid_Default .rgPageNext {
    background-position: 0 -850px
}

.RadGrid_Default .rgPageNext:hover {
    background-position: 0 -900px
}

.RadGrid_Default .rgPageLast {
    background-position: 0 -1000px
}

.RadGrid_Default .rgPageLast:hover {
    background-position: 0 -1050px
}

.RadGrid_Default .rgPager .rgPagerButton {
    border-color: #d0d0d0 #aeaeae #8b8b8b;
    background: #e8e8e8 repeat-x;
    color: #000;
    font-family: "segoe ui", arial, sans-serif
}

.RadGrid_Default .rgNumPart a:hover,
.RadGrid_Default .rgNumPart a:hover span,
.RadGrid_Default .rgNumPart a.rgCurrentPage,
.RadGrid_Default .rgNumPart a.rgCurrentPage span {
    /*background: no-repeat url('/WebResource.axd?d=13J1GiRwm5pAEXMYHmb2hREyNRgbZotF32PgjWETl2FMCPouxBg-yjwncBpiV-6Q_5Lo7X97jzxTbqDdgEUdAMmW0_UX8L6-h1VCrpjRPCiFbZYuDqKCRl-6IWvxfh_etX2zrKWaWZdT4wi10&t=634801049010866281');
    */
}

.RadGrid_Default .rgNumPart a {
    color: #999
}

.RadGrid_Default .rgNumPart a:hover {
    background-position: 100% -1250px
}

.RadGrid_Default .rgNumPart a:hover span {
    background-position: 0 -1150px
}

.RadGrid_Default .rgNumPart a.rgCurrentPage,
.RadGrid_Default .rgNumPart a.rgCurrentPage:hover {
    color: #000
}

.RadGrid_Default .rgNumPart a.rgCurrentPage span,
.RadGrid_Default .rgNumPart a.rgCurrentPage:hover span {
    background-position: 0 -1350px
}

.RadGrid_Default .rgHeader .rgSortAsc {
    display: inline-block;
    inline-size: 15px;
    block-size: 16px;
    float: inline-end;
    background: transparent url(../../../../../../images/dnnSpinnerUpArrow.png) no-repeat center;
    cursor: pointer;
    -webkit-box-shadow: none;
    box-shadow: none
}

.RadGrid_Default .rgHeader .rgSortDesc {
    display: inline-block;
    inline-size: 15px;
    block-size: 16px;
    float: inline-end;
    background: transparent url(../../../../../../images/dnnSpinnerDownArrow.png) no-repeat center;
    cursor: pointer;
    -webkit-box-shadow: none;
    box-shadow: none
}

.GridReorderTop_Default,
.GridReorderBottom_Default {
    /*background: 0 0 no-repeat url('/WebResource.axd?d=13J1GiRwm5pAEXMYHmb2hREyNRgbZotF32PgjWETl2FMCPouxBg-yjwncBpiV-6Q_5Lo7X97jzxTbqDdgEUdAMmW0_UX8L6-h1VCrpjRPCiFbZYuDqKCRl-6IWvxfh_etX2zrKWaWZdT4wi10&t=634801049010866281');
    */
}

.GridReorderBottom_Default {
    background-position: 0 -50px
}

.RadGrid_Default .rgFilterRow {
    background: #eee
}

.RadGrid_Default .rgFilterRow td {
    border-block-end: 1px solid #828282
}

.RadGrid_Default .rgFilter {
    /*background-position: 0 -300px;
    */

    -webkit-box-shadow: none;
    box-shadow: none;
    display: inline-block;
    margin-inline-start: 8px
}

.RadGrid_Default .rgFilter:hover {
    background-position: 0 -350px
}

.RadGrid_Default .rgFilterActive,
.RadGrid_Default .rgFilterActive:hover {
    background-position: 0 -400px
}

.RadGrid_Default .rgFilterBox {
    border-color: #8e8e8e #c9c9c9 #c9c9c9 #8e8e8e;
    font-family: "segoe ui", arial, sans-serif;
    color: #333
}

.RadMenu_Default .rgHCMClear,
.RadMenu_Default .rgHCMFilter {
    border-color: #d0d0d0 #a8a8a8 #8b8b8b;
    background: #e8e8e8;
    color: #000
}

.RadMenu_Default .rgHCMClear:hover,
.RadMenu_Default .rgHCMFilter:hover {
    border-color: #d1d1d1 #b9b9b9 #a3a3a3;
    background-position: center -67px;
    background-color: #e5e5e5
}

.GridContextMenu_Default .rmLeftImage {
    /*background-image: url('/WebResource.axd?d=6WuhHLmtnq49WiC-OIuBSzqAEFMOySjjd3mZGx4W0qeClLQwgrZevn_3EiOYAB0Sx189WjFXzN1c5EgRJ4Tqda0SNw2PRi0mdxbNTunShs9rVk9IXLCem0CRzMv5Rt4Tmmq1FfJ6olxAg_0eWGC8e1s0zh81&t=634801049010866281');
    */
}

.GridContextMenu_Default .rgHCMSortAsc .rmLeftImage {
    background-position: 0 0
}

.GridContextMenu_Default .rgHCMSortDesc .rmLeftImage {
    background-position: 0 -40px
}

.GridContextMenu_Default .rgHCMUnsort .rmLeftImage {
    background-position: 0 -80px
}

.GridContextMenu_Default .rgHCMGroup .rmLeftImage {
    background-position: 0 -120px
}

.GridContextMenu_Default .rgHCMUngroup .rmLeftImage {
    background-position: 0 -160px
}

.GridContextMenu_Default .rgHCMCols .rmLeftImage {
    background-position: 0 -200px
}

.GridContextMenu_Default .rgHCMFilter .rmLeftImage {
    background-position: 0 -240px
}

.GridContextMenu_Default .rgHCMUnfilter .rmLeftImage {
    background-position: 0 -280px
}

.RadGrid_Default .rgGroupPanel {
    border: 0;
    border-block-end: 1px solid #828282;
    background: #eee
}

.RadGrid_Default .rgGroupPanel td {
    border: 0;
    padding-block-start: 3px;
    padding-inline-end: 4px;
    padding-block-end: 3px;
    padding-inline-start: 4px
}

.RadGrid_Default .rgGroupPanel td td {
    padding: 0
}

.RadGrid_Default .rgGroupPanel .rgSortAsc {
    background-position: 4px -144px
}

.RadGrid_Default .rgGroupPanel .rgSortDesc {
    background-position: 4px -94px
}

.RadGrid_Default .rgUngroup {
    background-position: 0 -6998px
}

.RadGrid_Default .rgGroupItem {
    border: 1px solid;
    border-color: #c4c4c4 #c4c4c4 #9e9e9e;
    background: #c6c6c6
}

.RadGrid_Default .rgMasterTable td.rgGroupCol,
.RadGrid_Default .rgMasterTable td.rgExpandCol {
    border-color: #d9d9d9;
    background: #d9d9d9 none
}

.RadGrid_Default .rgGroupHeader {
    background: #d9d9d9;
    font-size: 1.1em;
    line-height: 21px;
    color: #000
}

.RadGrid_Default .rgGroupHeader td {
    border-block-start: 1px solid #828282;
    border-block-end: 1px solid #d9d9d9
}

.RadGrid_Default .rgGroupHeader td.rgGroupCol {
    border-block-start-color: #828282
}

.RadGrid_Default .rgExpand {
    background-position: 5px -496px
}

.RadGrid_Default .rgCollapse {
    background-position: 3px -444px
}

.RadGrid_Default .rgEditForm {
    border-block-end: 1px solid #828282
}

.RadGrid_Default .rgUpdate {
    background-position: 0 -1800px
}

.RadGrid_Default .rgCancel {
    background-position: 0 -1850px
}

.RadGrid_Default .rgDetailTable {
    border-color: #828282
}

.RadGrid_Default .rgCommandRow {
    background: #c5c5c5;
    color: #000
}

.RadGrid_Default .rgCommandCell {
    border: 1px solid;
    border-color: #999 #f2f2f2;
    border-block-start-width: 0;
    padding: 0
}

.RadGrid_Default tfoot .rgCommandCell,
.RadGrid_Default .rgMasterTable>tbody>tr.rgCommandRow .rgCommandCell {
    border-block-start-width: 1px;
    border-block-end-width: 0
}

.RadGrid_Default .rgCommandTable td {
    border: 0;
    padding-block-start: 2px;
    padding-inline-end: 7px;
    padding-block-end: 2px;
    padding-inline-start: 7px
}

.RadGrid_Default .rgCommandTable {
    border: 0;
    border-block-start: 1px solid #fdfdfd;
    border-block-end: 1px solid #e7e7e7
}

.RadGrid_Default .rgCommandRow a {
    color: #000;
    text-decoration: none
}

.RadGrid_Default .rgAdd {
    margin-inline-end: 3px;
    background-position: 0 -1650px
}

.RadGrid_Default .rgRefresh {
    margin-inline-end: 3px;
    background-position: 0 -1600px
}

.RadGrid_Default .rgEdit {
    background-position: 0 -1700px
}

.RadGrid_Default .rgDel {
    background-position: 0 -1750px
}

.RadGrid_Default .rgSelected .rgDel {
    background-position: 0 -1775px
}

.RadGrid_Default .rgExpXLS,
.RadGrid_Default .rgExpDOC,
.RadGrid_Default .rgExpPDF,
.RadGrid_Default .rgExpCSV {
    /*background-image: url('/WebResource.axd?d=17KCm4h6zUeOco8DRmSX4mTBA438NgfRJqzdagX7mCXKYeigtDL3L1ZY9Oq300-dVSIg-FdKFb-tPvUjrEkZxgbiBUP2pINilCb1jQ7lA001Ci4BqjY6TzCBgO662eLWslYbNLnfi8qiZXwv0&t=634801049010866281');
    */
}

.RadGrid_Default .rgExpXLS {
    background-position: 0 0
}

.RadGrid_Default .rgExpDOC {
    background-position: 0 -50px
}

.RadGrid_Default .rgExpPDF {
    background-position: 0 -100px
}

.RadGrid_Default .rgExpCSV {
    background-position: 0 -150px
}

.rgCellSelectorArea_Default,
.GridRowSelector_Default {
    background: #4c4e54
}

.GridItemDropIndicator_Default {
    border-block-start: 1px dashed #666
}

.GridToolTip_Default {
    border: 1px solid #828282;
    padding: 3px;
    background: #fff;
    color: #333
}

.RadGridRTL_Default .rgPageFirst {
    background-position: 0 -1000px
}

.RadGridRTL_Default .rgPageFirst:hover {
    background-position: 0 -1050px
}

.RadGridRTL_Default .rgPagePrev {
    background-position: 0 -850px
}

.RadGridRTL_Default .rgPagePrev:hover {
    background-position: 0 -900px
}

.RadGridRTL_Default .rgPageNext {
    background-position: 0 -700px
}

.RadGridRTL_Default .rgPageNext:hover {
    background-position: 0 -750px
}

.RadGridRTL_Default .rgPageLast {
    background-position: 0 -550px
}

.RadGridRTL_Default .rgPageLast:hover {
    background-position: 0 -600px
}

.RadGridRTL_Default .rgExpand {
    background-position: -20px -496px
}

.RadGrid_Default input[type="submit"] {
    -webkit-box-shadow: none;
    box-shadow: none;
    background: transparent
}


.RadGrid_Default .rgRow:hover,
.RadGrid_Default .rgAltRow:hover {
    background-color: #e8f1fa;
    color: #333
}

.RadGrid_Default .rgPagerCell .rgArrPart1,
.RadGrid_Default .rgPagerCell .rgNumPart,
.RadGrid_Default .rgPagerCell .rgArrPart2,
.RadGrid_Default .rgPagerCell .rgInfoPart {
    margin-block-start: 6px
}

.RadGrid_Default .rgEditRow td input {
    margin-block-end: 0
}

/* END Telerik.Web.UI.Skins.Default.Grid.Default.css */


/* RadMenu */

/* Common CSS */

.RadMenu {
    white-space: nowrap;
    float: inline-start;
    position: relative
}

.RadMenu .rmRootGroup {
    margin: 0;
    padding: 0;
    position: relative;
    inset-inline-start: 0;
    display: inline-block
}

* html .RadMenu .rmRootGroup {
    float: inline-start
}

.RadMenu:after,
.RadMenu .rmRootGroup:after {
    content: "";
    display: block;
    block-size: 0;
    overflow: hidden;
    line-height: 0;
    font-size: 0;
    clear: both;
    visibility: hidden
}

.RadMenu ul.rmVertical,
.rmRootGroup ul.rmHorizontal,
.RadMenu_Context ul.rmHorizontal {
    margin: 0;
    padding: 0;
    display: none;
    position: relative;
    inset-inline-start: 0;
    float: inline-start
}

.rmSized ul.rmVertical {
    inline-size: 100%
}

.rmSized .rmRootGroup .rmVertical {
    inline-size: auto
}

.RadMenu .rmItem {
    float: inline-start;
    position: relative;
    list-style-image: none;
    list-style-position: outside;
    list-style: none
}

* html .RadMenu .rmItem {
    display: inline
}

.RadMenu .rmHorizontal .rmItem {
    clear: none
}

.RadMenu .rmVertical .rmItem {
    clear: both
}

.rmSized .rmVertical .rmItem {
    inline-size: 100%
}

.rmSized .rmRootGroup .rmVertical .rmItem {
    inline-size: auto
}

.RadMenu ul.rmActive,
.RadMenu ul.rmRootGroup {
    display: block;
    background: white;
    border: 1px solid #ccc;
    padding: 15px
}

.RadMenu .rmSlide,
.RadMenu_Context {
    position: absolute;
    overflow: hidden;
    display: none;
    float: inline-start
}

* html .RadMenu .rmSlide,
* html .RadMenu_Context {
    block-size: 1px
}

.RadMenu_Context {
    z-index: 1000;
    overflow: visible
}

.RadMenu .rmText {
    display: block
}

.RadMenu div.rmText

/*templates*/
    {
    white-space: normal
}

.RadMenu a.rmLink {
    cursor: pointer;
    display: block;
    font-size: 12px;
    color: #333;
    text-decoration: none
}

.RadMenu a.rmLink:hover {
    color: #000
}

.rmScrollWrap {
    position: absolute;
    float: inline-start;
    overflow: hidden;
    inset-inline-start: 0
}

.RadMenu .rmLeftArrow,
.RadMenu .rmTopArrow,
.RadMenu .rmBottomArrow,
.RadMenu .rmRightArrow {
    position: absolute;
    z-index: 2000;
    text-indent: -1000em;
    font-size: 0;
    line-height: 0;
    overflow: hidden
}

.RadMenu .rmLeftArrowDisabled,
.RadMenu .rmTopArrowDisabled,
.RadMenu .rmBottomArrowDisabled,
.RadMenu .rmRightArrowDisabled {
    display: none;
    text-indent: -1000em;
    font-size: 0;
    line-height: 0
}

.RadMenu .rmBottomArrow,
.RadMenu .rmBottomArrowDisabled {
    margin-block-end: -1px
}

.RadMenu .rmLeftImage {
    border: 0;
    float: inline-start
}

.RadMenu_rtl {
    float: inline-end;
    text-align: end
}

.RadMenu_rtl ul.rmHorizontal,
.RadMenu_rtl ul.rmVertical {
    float: inline-end
}

.RadMenu_rtl .rmItem {
    float: inline-end
}

.RadMenu_rtl .rmLeftImage,
.RadMenu_rtlContext .rmLeftImage {
    border: 0;
    float: inline-end
}

.RadMenu_rtl .rmLeftArrow,
.RadMenu_rtl .rmTopArrow,
.RadMenu_rtl .rmBottomArrow,
.RadMenu_rtl .rmRightArrow,
.RadMenu_rtl .rmLeftArrowDisabled,
.RadMenu_rtl .rmTopArrowDisabled,
.RadMenu_rtl .rmBottomArrowDisabled,
.RadMenu_rtl .rmRightArrowDisabled {
    text-indent: 1000em
}

.RadMenu .rmLink {
    inline-size: auto
}

.RadMenu .rmSeparator,
.RadMenu .rmSeparator:after {
    line-height: 0;
    font-size: 0;
    overflow: hidden
}

.RadMenu div.rmRootGroup {
    position: relative
}