@import "../../styles/index";

.ReactModalPortal {
    position: relative;

    .modal-header {
        inline-size: 100%;
        block-size: 50px;
        border-block-end: 1px solid rgba(var(--dnn-color-foreground-r, 0),
                var(--dnn-color-foreground-g, 0),
                var(--dnn-color-foreground-b, 0),
                0.5);

        h3 {
            font-size: 18px;
            padding-block-start: 15px;
            padding-inline-end: 30px;
            padding-block-end: 15px;
            padding-inline-start: 30px;
            float: inline-start;
            color: var(--dnn-color-foreground, @bulgarianRose)
        }

        .close-modal-button {
            inline-size: 16px;
            block-size: 16px;
            float: inline-end;
            padding-block-start: 17px;
            padding-inline-end: 20px;
            padding-block-end: 17px;
            padding-inline-start: 20px;
            cursor: pointer
        }
    }
}