@import "~@dnnsoftware/dnn-react-common/styles/index";

.extensions-app {
    :local(.editExtension) {
        box-sizing: border-box;
        padding: 0;

        * {
            box-sizing: border-box
        }

        .box-title {
            margin-block-end: 25px;
            text-transform: uppercase
        }

        .dnn-tabs.react-tabs.primary>ul li {
            padding-block-start: 17px;
            padding-inline-end: 28px;
            padding-block-end: 17px;
            padding-inline-start: 28px;
            margin-block-end: -3px;

            >span {
                float: inline-start
            }

            .dnn-ui-common-tooltip {
                float: inline-end;
                margin-inline-start: 5px;

                svg {
                    inline-size: 16px;
                    block-size: 16px
                }
            }
        }

        .package-information-box {
            .create-new-module-dropdown {
                padding-block-end: 45px;
                border-block-end: 1px solid @alto;
            }
        }
    }
}