@import "~@dnnsoftware/dnn-react-common/styles/index";

:local(.testUrl) {
    margin: 30px;

    .columnTitleOne {
        font-weight: bolder;
        padding-block-end: 10px;
        margin-block-end: 20px;
        border-block-end: 1px solid @alto;
    }

    .columnTitleTwo {
        inline-size: 100%;
        float: inline-start;
        font-weight: bolder;
        padding-block-start: 10px;
        padding-inline-end: 0;
        padding-block-end: 10px;
        padding-inline-start: 0;
        margin-block-start: 20px;
        margin-inline-end: 0;
        margin-block-end: 20px;
        margin-inline-start: 0;
        border-block-end: 1px solid @alto;
    }

    .dnn-ui-common-input-group {
        padding-block-start: 0;
        padding-inline-end: 0;
        padding-block-end: 15px;
        padding-inline-start: 0;

        label {
            font-weight: bolder;
            float: inline-start
        }

        .dnn-label.block {
            label {
                max-inline-size: 90%
            }
        }

        .dnn-single-line-input-with-error {
            inline-size: 100%
        }

        .dnn-ui-common-multi-line-input {
            block-size: 230px
        }

        .sectionLabel {
            border-block-start: 1px solid @alto;
            padding-block-start: 20px;
            margin-block-start: 20px;

            label {
                color: #000
            }
        }

        .dnn-dropdown {
            inline-size: 681px
        }

        .dnn-file-upload {
            inline-size: 313px
        }

        input {
            inline-size: auto
        }
    }

    .buttons-box {
        inline-size: 100%;
        text-align: center;
        float: inline-start;

        .dnn-ui-common-button {
            margin: 5px
        }
    }

    .dnn-grid-system {
        border: 1px solid @alto;
        background-color: @alabaster;
        padding-block-start: 20px;
        padding-inline-end: 20px;
        padding-block-end: 0;
        padding-inline-start: 20px;

        &:last-child {
            margin-block-end: 30px
        }

        .left-column {
            padding-inline-end: 20px;

            .dnn-dropdown {
                inline-size: 281px
            }
        }

        .right-column {
            padding-inline-start: 20px
        }
    }
}