@import "~@dnnsoftware/dnn-react-common/styles/index";

.job-details {
    margin-block-start: 10px;
    margin-inline-end: 0;
    margin-block-end: 10px;
    margin-inline-start: 0;
    inline-size: 100%;

    .summary-title {
        inline-size: 100%;
        float: inline-start;
        font-weight: bold;
        text-transform: uppercase;
        padding-inline-start: 4%;
    }

    .export-summary {
        float: inline-start;
        inline-size: 100%;
        padding-block-start: 0;
        padding-inline-end: 30px;
        padding-block-end: 20px;
        padding-inline-start: 30px;

        .export-site-container {
            font-weight: 700;

            .left-column {
                inline-size: 50%;
                float: inline-start;
                border-inline-end: 1px solid @alto;
                padding-block-start: 10px;
                padding-inline-end: 20px;
                padding-block-end: 10px;
                padding-inline-start: 0;
            }

            .right-column {
                inline-size: 50%;
                float: inline-start;
                padding-block-start: 10px;
                padding-inline-end: 0;
                padding-block-end: 10px;
                padding-inline-start: 30px;

                .dnn-switch-container {
                    float: inline-end
                }

                .summary-note {
                    float: inline-start;
                    inline-size: 100%;
                    color: @thunder;
                    font-weight: 500;
                    padding-block-start: 30px;
                    padding-inline-end: 29px;

                    .note-title {
                        float: inline-start;
                        inline-size: 15%
                    }

                    .note-description {
                        float: inline-start;
                        inline-size: 85%
                    }
                }
            }

            .import-summary-item {
                padding-block-start: 7px;
                float: inline-end;
                color: @thunder;
                inline-size: 130px;
                text-align: end;
                margin-inline-end: 29px;
                font-weight: 100;

                &.users,
                &.pagers {
                    inline-size: 180px;
                }

                >div {
                    margin-inline-end: -29px;
                }

                @-ms-keyframes spin {
                    from {
                        -ms-transform: rotate(360deg);
                    }

                    to {
                        -ms-transform: rotate(0deg);
                    }
                }

                @-moz-keyframes spin {
                    from {
                        -moz-transform: rotate(360deg);
                    }

                    to {
                        -moz-transform: rotate(0deg);
                    }
                }

                @-webkit-keyframes spin {
                    from {
                        -webkit-transform: rotate(360deg);
                    }

                    to {
                        -webkit-transform: rotate(0deg);
                    }
                }

                @keyframes spin {
                    from {
                        transform: rotate(360deg);
                    }

                    to {
                        transform: rotate(0deg);
                    }
                }

                .cycle-icon {
                    inline-size: 24px;
                    block-size: 24px;
                    float: inline-end;
                    margin-block-start: -5px;
                    margin-inline-start: 5px;

                    >svg {
                        fill: @mantis;
                    }

                    -webkit-animation-name: spin;
                    -webkit-animation-duration: 4000ms;
                    -webkit-animation-iteration-count: infinite;
                    -webkit-animation-timing-function: linear;
                    -moz-animation-name: spin;
                    -moz-animation-duration: 4000ms;
                    -moz-animation-iteration-count: infinite;
                    -moz-animation-timing-function: linear;
                    -ms-animation-name: spin;
                    -ms-animation-duration: 4000ms;
                    -ms-animation-iteration-count: infinite;
                    -ms-animation-timing-function: linear;
                    animation-name: spin;
                    animation-duration: 4000ms;
                    animation-iteration-count: infinite;
                    animation-timing-function: linear;
                }
            }

            .dnn-grid-cell {
                padding-block-end: 10px;
            }

            .action-buttons {
                text-align: center;
                padding-block-start: 30px;
                padding-inline-end: 0;
                padding-block-end: 0;
                padding-inline-start: 0;

                button {
                    margin: 5px;
                }
            }
        }
    }
}