@import "~@dnnsoftware/dnn-react-common/styles/index";

.dnn-servers-tab-panel {
  .dnn-servers-info-panel {
    padding-block-start: 30px;
    padding-inline-end: 80px;
    padding-block-end: 45px;
    padding-inline-start: 80px;
    display: inline-block
  }

  .dnn-servers-info-panel-big {
    margin-block-start: 30px;
    margin-inline-end: 30px;
    margin-block-end: 45px;
    margin-inline-start: 30px;
    display: inline-block;
    inline-size: 93%;

    .dnn-switch-container {
      float: inline-end
    }
  }

  .dnn-ui-common-input-group {
    padding-block-start: 0;
    padding-inline-end: 0;
    padding-block-end: 32px;
    padding-inline-start: 0;

    .title label {
      font-weight: bolder;
      float: inline-start;
      text-transform: uppercase
    }

    .dnn-single-line-input-with-error {
      display: block
    }
  }

  .tooltipAdjustment {
    float: inline-start;
    inline-size: 100%;

    div.tooltip-text {
      max-inline-size: 320px;
      word-break: normal
    }
  }

  .log-file-cell {
    padding-block-start: 7px;
    padding-inline-end: 0;
    padding-block-end: 7px;
    padding-inline-start: 0;

    .dnn-dropdown {
      border-inline-end: 1px solid @alto;

      .collapsible-label {
        padding-block-start: 3px;
        padding-inline-end: 0;
        padding-block-end: 3px;
        padding-inline-start: 0
      }

      .dropdown-icon {
        inset-block-start: 5px;
        inset-inline-end: 17px
      }
    }
  }

  .leftPane {
    padding-inline-end: 30px;
    border-inline-end: 1px solid @alto;

    .dnn-radio-buttons {
      ul {
        li {
          margin-block-start: 0;
          margin-inline-end: 15px;
          margin-block-end: 0;
          margin-inline-start: 0;

          label {
            word-break: break-word
          }
        }
      }
    }
  }

  .rightPane {
    padding-inline-start: 20px;
    padding-inline-end: 10px;

    .dnn-radio-buttons {
      ul {
        li:first-child {
          margin-inline-start: 0
        }
      }
    }
  }

  .border-bottom {
    border-block-end: 1px solid @alto;
    margin-block-end: 28px
  }

  .dnn-radio-buttons ul li {
    padding-block-start: 10px;

    div.check {
      margin-block-start: 8px
    }

    label {
      padding-block-start: 0px;
      padding-inline-end: 21px;
      padding-block-end: 0;
      padding-inline-start: 28px;
      margin-block-end: 0px
    }
  }

  .smtpServerSettingsTab .smtp-authentication-mode .dnn-radio-buttons ul li label {
    padding-block-start: 0;
    padding-inline-end: 0;
    padding-block-end: 0;
    padding-inline-start: 24px;
    text-align: start
  }

  .buttons-panel {
    text-align: center;
    margin-block-start: 55px;

    .dnn-ui-common-button {
      margin-inline-end: 10px
    }
  }

  .dnn-servers-grid-panel {
    padding-block-start: 0;
    padding-inline-end: 30px;
    padding-block-end: 55px;
    padding-inline-start: 30px;
    inline-size: 100%;

    .header-title label {
      font-weight: bolder;
      text-transform: uppercase;
      margin-block-end: 10px
    }

    .grid {
      display: block;
      float: inline-start;
      inline-size: 100%;
      margin-block-start: 10px;
      border-inline-start: 1px solid @alto;
      border-inline-end: 1px solid @alto;
      box-sizing: border-box;

      .row {
        display: table;
        inline-size: 100%;
        position: relative;
        padding-block-start: 15px;
        padding-inline-end: 20px;
        padding-block-end: 15px;
        padding-inline-start: 20px;
        box-sizing: border-box;
        border-block-end: 1px solid @alto;

        .alert-message {
          text-align: center;
          color: red;
          font-weight: bolder
        }
      }

      .header {
        border-block-start: 1px solid @alto;
        text-transform: uppercase;

        .dnn-grid-cell {
          font-weight: bolder
        }
      }
    }
  }
}

.dnn-servers-tab-panel .dnn-servers-info-panel-big {
  &.logsTab {
    .log-file-display {
      white-space: pre-wrap
    }

    .track-horizontal {
      display: none
    }

    .dnn-label {
      inline-size: auto;
      margin-block-start: 8px
    }

    .leftPane {
      margin-block-end: 15px
    }

    .dnn-ui-common-input-group {
      padding: 0px
    }

    .dnn-ui-common-multi-line-input {
      block-size: 400px;
      overflow-block: hidden
    }

    .dnn-dropdown {
      inline-size: 70%
    }

    .dnn-ui-common-input-group .title label {
      text-transform: none
    }

    .logHeader-wrapper {
      font-weight: bold;

      .logHeader-type {
        inline-size: 20%;
        float: inline-start
      }

      .logHeader-filename {
        inline-size: 35%;
        float: inline-start
      }

      .logHeader-date {
        inline-size: 35%;
        float: inline-start
      }

      .logHeader-size {
        inline-size: 10%;
        float: inline-start
      }
    }
  }

  &.performanceSettingTab {
    .title.lowerCase label {
      text-transform: none
    }

    .dnn-servers-grid-panel.newSection {
      padding-block-start: 20px;
      padding-block-end: 10px
    }

    .borderSeparation {
      >div {
        border-block-end: 1px solid @alto;
        margin-block-start: 10px;
        padding-block-end: 10px
      }

      :first-child {
        margin-block-start: 0
      }
    }

    .dnn-ui-common-input-group .title label {
      text-transform: none
    }

    .currentHostVersion .dnn-label {
      inline-size: auto;

      label {
        text-transform: uppercase
      }
    }
  }

  &.smtpServerSettingsTab {
    .dnn-ui-common-input-group {
      padding-block-end: 0;

      .dnn-radio-buttons {
        margin-block-end: 28px
      }

      .title label {
        text-transform: none
      }
    }
  }

  .warningBox {
    border: 1px solid @alto;
    background-color: @gallery;
    padding: 15px;

    .warningText {
      font-weight: bolder;
      color: @thunder
    }

    .warningButton {
      inline-size: 100%;

      .dnn-ui-common-button {
        inline-size: 100%;
        padding-block-start: 6px;
        padding-block-end: 6px;

        &:first-child {
          margin-block-start: 15px
        }
      }
    }

    &.authorize-box {
      float: inline-start
    }

    &.success {
      border-color: #64b657;
      background-color: #ecffeb
    }
  }
}