.slider-container {
    float: inline-start;
    inline-size: 100%;

    &>span {
        float: inline-start;
        inline-size: 60px;
        text-align: center;
        min-block-size: 1px
    }

    &.with-min-max {
        .slider {
            inline-size: calc(~"100% - 124px")
        }
    }

    .slider {
        background: var(--dnn-color-surface, #c6c6c6);
        block-size: 10px;
        border: 1px solid var(--dnn-color-primary-light, #6891a7);
        border-radius: 10px;
        inline-size: 100%;
        float: inline-start;
        margin-block-start: 2px;

        .thumb {
            inline-size: 20px;
            block-size: 20px;
            border-radius: 100%;
            background: var(--dnn-color-background, #fff);
            border: 1px solid var(--dnn-color-primary-light, #bfbfbf);
            inset-block-start: -6px;

            &>div {
                position: absolute;
                inset-block-start: -100%;
                background: var(--dnn-color-background, #fff);
                inset-inline-start: 50%;
                transform: translate(-50%, 0)
            }
        }

        .track {
            block-size: 100%;

            &.track-0 {
                border-radius: 10px;
                background: var(--dnn-color-primary, #0087c6)
            }
        }
    }
}