.dnn-servers-info-panel-big .serversTabWarningInfo {
  color: red;
  margin-block-end: 32px;

  .title label {
    text-transform: none
  }

  .dnn-label {
    inline-size: 95%;
    padding: 5px;
    padding-block-end: 20px;
    color: red;
    font-weight: bold
  }

  div {
    float: inline-start;

    svg {
      inline-size: 20px;
      block-size: 20px;
      fill: red;
      margin-block-start: 4px;

      :hover {
        fill: red
      }
    }
  }
}

.dnn-ui-common-input-group div a {
  color: #00a0e9;
  font-weight: bold;
  text-decoration: underline
}

.dnn-ui-common-input-group .edit-pwd-button {
  display: block;
  inline-size: 100%;
  float: inline-start;
  block-size: 62px;
  padding-block-start: 4px
}