/************************************************************************************************************/
/*                                                                                                          */
/* DotNetNuke Layouts Stylesheet                                                                            */
/* Created:     May 25, 2008                                                                                */
/* Modified by:                                                                                             */
/* Author:      Nik Kalyani                                                                                 */
/* Credits:     This stylesheet is based on the superb work of Matthew James Taylor.                        */
/*              It has been highly customized to accommodate DotNetNuke skin-specific use-cases.            */
/*              Five layouts are supported with three sidebar widths:                                       */
/*                                                                                                          */
/*              threecol-portal: Narrow sidebar columns on left and right, with middle wide content column  */
/*              threecol-blog: Wide content column on left, with two narrow sidebar columns on right        */
/*              twocol-contentR: Narrow sidebar column on left, with wide content column on right           */
/*              twocol-contenrL: Wide content column on left, with narrow sidebar column on right           */
/*              onecol: One column, full width                                                              */
/*                                                                                                          */
/*              Widths are expressed in "ems" so automatic column sizing occurs when the user changes text  */
/*              size in their browser. Sidebar widths are 14em, 16em and 18em.                              */
/*                                                                                                          */
/*              The original is available at:                                                               */
/*              http://matthewjamestaylor.com/blog/ultimate-multi-column-liquid-layouts-em-and-pixel-widths */
/*                                                                                                          */
/************************************************************************************************************/


/**************************************************************************************************/
/* Structure                                                                                      */
/**************************************************************************************************/
.threecol-portal,
.threecol-blog,
.twocol-contentR,
.twocol-contentL,
.onecol
{    position: relative;
    clear: both;
    float: inline-start;
    inline-size: 100%;
    text-align: start;
    overflow: hidden}

.threecol-portal .dnn-mid
{    float: inline-start;
    inline-size: 200%;
    position: relative;
    inset-inline-end: 100%}

.threecol-portal .dnn-side
{    float: inline-start;
    margin-inline-start: -50%;
    inline-size: 100%;
    position: relative}

.threecol-portal .dnn-main
{    float: inline-start;
    inline-size: 50%;
    position: relative}

.threecol-portal .dnn-a
{    position: relative;
    inset-inline-start: 200%;
    overflow: hidden}

.threecol-portal .dnn-b
{    float: inline-end;
    position: relative;
    overflow: hidden;
    inline-size: 100px}

.threecol-portal .dnn-c
{    float: inline-end;
    position: relative;
    inset-inline-start: 50%;
    overflow: hidden}

.threecol-blog .dnn-mid
{    float: inline-start;
    inline-size: 200%;
    position: relative;
    inset-inline-end: 100%}

.threecol-blog .dnn-side
{    float: inline-start;
    inline-size: 100%}

.threecol-blog .dnn-main
{    float: inline-start;
    inline-size: 50%}

.threecol-blog .dnn-a
{    position: relative;
    inset-inline-start: 100%;
    overflow: hidden}

.threecol-blog .dnn-b
{    float: inline-end;
    position: relative;
    overflow: hidden}

.threecol-blog .dnn-c
{    float: inline-end;
    position: relative;
    overflow: hidden}

.twocol-contentR .dnn-side
{    float: inline-start;
    inline-size: 200%;
    position: relative}

.twocol-contentR .dnn-main
{    float: inline-end;
    inline-size: 50%;
    position: relative}

.twocol-contentR .dnn-a
{    position: relative;
    inset-inline-end: 100%;
    overflow: hidden}

.twocol-contentR .dnn-b
{    float: inline-start;
    position: relative;
    overflow: hidden}

.twocol-contentL .dnn-side
{    float: inline-start;
    inline-size: 200%;
    position: relative;
    inset-inline-end: 100%}

.twocol-contentL .dnn-main
{    float: inline-start;
    inline-size: 50%;
    position: relative;
    inset-inline-start: 50%}

.twocol-contentL .dnn-a
{    overflow: hidden}

.twocol-contentL .dnn-c
{    float: inline-end;
    position: relative;
    overflow: hidden}

.twocol-contentL .dnn-b,
.twocol-contentR .dnn-c,
.onecol .dnn-b,
.onecol .dnn-c
{    inline-size: 0px;
    block-size: 0px;
    overflow: hidden}

/**************************************************************************************************/
/* SIZING                                                                                         */
/**************************************************************************************************/

/* If YUI reset is in use, 1em = 13px */

/**************************************************************************************************/
/* em14 = 14em (182px) side bars; default */
/**************************************************************************************************/

.em14 .threecol-portal .dnn-mid,
.em14 .threecol-blog .dnn-mid,
.em14 .threecol-blog .dnn-side,
.em14 .twocol-contentL .dnn-side
{    margin-inline-start: -14em}

.em14 .threecol-portal .dnn-main,
.em14 .twocol-contentR .dnn-main
{    inset-inline-end: 14em}

.em14 .twocol-contentR .dnn-side
{    inset-inline-start: 14em}

.em14 .threecol-portal .dnn-side
{    inset-inline-start: 28em}

.em14 .threecol-portal .dnn-a
{    margin-inline-end: 15em}

.em14 .threecol-portal .dnn-b,
.em14 .threecol-portal .dnn-c,
.em14 .threecol-blog .dnn-b,
.em14 .threecol-blog .dnn-c,
.em14 .twocol-contentR .dnn-b,
.em14 .twocol-contentL .dnn-c
{    inline-size: 12em}

.em14 .threecol-portal .dnn-b
{    inset-inline-end: 1em}

.em14 .threecol-portal .dnn-c
{    margin-inline-end: 3em}

.em14 .threecol-blog .dnn-a
{    margin-inline-start: 29em}

.em14 .threecol-blog .dnn-b,
.em14 .twocol-contentL .dnn-c
{    inset-inline-start: 13em}

.em14 .threecol-blog .dnn-c
{    inset-inline-start: 39em}

.em14 .threecol-portal .dnn-a,
.em14 .twocol-contentR .dnn-a,
.em14 .twocol-contentL .dnn-a
{    margin-inline-start: 15em}

.em14 .threecol-blog .dnn-a,
.em14 .twocol-contentR .dnn-a,
.em14 .twocol-contentL .dnn-a,
.em14 .onecol .dnn-a
{    margin-inline-end: 1em}

.em14 .twocol-contentR .dnn-b
{    inset-inline-end: 13em}

.em14 .onecol .dnn-a
{    margin-inline-start: 1em}

/**************************************************************************************************/
/* em16 = 16em (208px) side bars */
/**************************************************************************************************/

.em16 .threecol-portal .dnn-mid,
.em16 .threecol-blog .dnn-mid,
.em16 .threecol-blog .dnn-side,
.em16 .twocol-contentL .dnn-side
{    margin-inline-start: -16em}

.em16 .threecol-portal .dnn-main,
.em16 .twocol-contentR .dnn-main
{    inset-inline-end: 16em}

.em16 .twocol-contentR .dnn-side
{    inset-inline-start: 16em}

.em16 .threecol-portal .dnn-side
{    inset-inline-start: 32em}

.em16 .threecol-portal .dnn-a
{    margin-inline-end: 17em}

.em16 .threecol-portal .dnn-b,
.em16 .threecol-portal .dnn-c,
.em16 .threecol-blog .dnn-b,
.em16 .threecol-blog .dnn-c,
.em16 .twocol-contentR .dnn-b,
.em16 .twocol-contentL .dnn-c
{    inline-size: 14em}

.em16 .threecol-portal .dnn-b
{    inset-inline-end: 1em}

.em16 .threecol-portal .dnn-c
{    margin-inline-end: 3em}

.em16 .threecol-blog .dnn-a
{    margin-inline-start: 33em}

.em16 .threecol-blog .dnn-b,
.em16 .twocol-contentL .dnn-c
{    inset-inline-start: 15em}

.em16 .threecol-blog .dnn-c
{    inset-inline-start: 45em}

.em16 .threecol-portal .dnn-a,
.em16 .twocol-contentR .dnn-a,
.em16 .twocol-contentL .dnn-a
{    margin-inline-start: 17em}

.em16 .threecol-blog .dnn-a,
.em16 .twocol-contentR .dnn-a,
.em16 .twocol-contentL .dnn-a,
.em16 .onecol .dnn-a
{    margin-inline-end: 1em}

.em16 .twocol-contentR .dnn-b
{    inset-inline-end: 15em}

.em16 .onecol .dnn-a
{    margin-inline-start: 1em}


/**************************************************************************************************/
/* em18 = 18em (234px) side bars */
/**************************************************************************************************/
.em18 .threecol-portal .dnn-mid,
.em18 .threecol-blog .dnn-mid,
.em18 .threecol-blog .dnn-side,
.em18 .twocol-contentL .dnn-side
{    margin-inline-start: -18em}

.em18 .threecol-portal .dnn-main,
.em18 .twocol-contentR .dnn-main
{    inset-inline-end: 18em}

.em18 .twocol-contentR .dnn-side
{    inset-inline-start: 18em}

.em18 .threecol-portal .dnn-side
{    inset-inline-start: 36em}

.em18 .threecol-portal .dnn-a
{    margin-inline-end: 19em}

.em18 .threecol-portal .dnn-b,
.em18 .threecol-portal .dnn-c,
.em18 .threecol-blog .dnn-b,
.em18 .threecol-blog .dnn-c,
.em18 .twocol-contentR .dnn-b,
.em18 .twocol-contentL .dnn-c
{    inline-size: 16em}

.em18 .threecol-portal .dnn-b
{    inset-inline-end: 1em}

.em18 .threecol-portal .dnn-c
{    margin-inline-end: 3em}

.em18 .threecol-blog .dnn-a
{    margin-inline-start: 37em}

.em18 .threecol-blog .dnn-b,
.em18 .twocol-contentL .dnn-c
{    inset-inline-start: 17em}

.em18 .threecol-blog .dnn-c
{    inset-inline-start: 51em}

.em18 .threecol-portal .dnn-a,
.em18 .twocol-contentR .dnn-a,
.em18 .twocol-contentL .dnn-a
{    margin-inline-start: 19em}

.em18 .threecol-blog .dnn-a,
.em18 .twocol-contentR .dnn-a,
.em18 .twocol-contentL .dnn-a,
.em18 .onecol .dnn-a
{    margin-inline-end: 1em}

.em18 .twocol-contentR .dnn-b
{    inset-inline-end: 17em}

.em18 .onecol .dnn-a
{    margin-inline-start: 1em}


/**************************************************************************************************/
/* Background                                                                                     */
/**************************************************************************************************/

.threecol-portal .dnn-side,
.threecol-blog .dnn-mid,
.twocol-contentR
{    /* Left sidebar background */ }

.threecol-portal .dnn-mid,
.threecol-blog .dnn-side,
.twocol-contentR .dnn-side,
.twocol-contentL .dnn-side,
.onecol
{    /* Content column background */ }

.threecol-portal,
.threecol-blog,
.twocol-contentL
{    /* Right sidebar background */ }
