    /* Example tokeninput style #2: Facebook style */
    ul.token-input-list-facebook {
        overflow: hidden;
        block-size: auto !important;
        block-size: 1%;
        inline-size: 35%;
        cursor: text;
        min-block-size: 1px;
        z-index: 999;
        margin: 0;
        padding: 0;
        list-style-type: none;
        padding-block-start: 3px;
        padding-inline-end: 8px;
        padding-block-end: 3px;
        padding-inline-start: 8px;
        background: #ffffff;
        border: 1px solid #c9c9c9;
        -webkit-border-radius: 3px;
        border-radius: 3px;
        -webkit-box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.8), inset 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
        box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.8), inset 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
        color: #999;
        font-size: 12px
    }

    ul.token-input-list-facebook li input {
        border: 0;
        inline-size: 100px;
        padding-block-start: 3px;
        padding-inline-end: 8px;
        padding-block-end: 3px;
        padding-inline-start: 8px;
        background-color: white;
        margin-block-start: 2px;
        margin-inline-end: 0;
        margin-block-end: 2px;
        margin-inline-start: 0;
        -webkit-appearance: caret
    }

    li.token-input-token-facebook {
        overflow: hidden;
        block-size: auto !important;
        block-size: 15px;
        margin: 3px;
        padding-block-start: 1px;
        padding-inline-end: 3px;
        padding-block-end: 1px;
        padding-inline-start: 3px;
        background-color: #eff2f7;
        color: #000;
        cursor: default;
        border: 1px solid #ccd5e4;
        font-size: 11px;
        border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        float: inline-start;
        white-space: nowrap
    }

    li.token-input-token-facebook p {
        display: inline;
        padding: 0;
        margin: 0
    }

    li.token-input-token-facebook span {
        color: #a6b3cf;
        margin-inline-start: 5px;
        font-weight: bold;
        cursor: pointer
    }

    li.token-input-selected-token-facebook {
        background-color: #FEFDDE;
        border: 1px #EEECE5 solid;
    }

    li.token-input-input-token-facebook {
        float: inline-start;
        margin: 0;
        padding: 0;
        list-style-type: none
    }

    div.token-input-dropdown-facebook {
        position: absolute;
        min-inline-size: 234px;
        background-color: #fff;
        overflow: hidden;
        border-inline-start: 1px solid #ccc;
        border-inline-end: 1px solid #ccc;
        border-block-end: 1px solid #ccc;
        cursor: default;
        font-size: 11px;
        font-family: Verdana;
        z-index: 100020
    }

    div.token-input-dropdown-facebook p {
        margin: 0;
        padding: 5px;
        font-weight: bold;
        color: #777
    }

    div.token-input-dropdown-facebook ul {
        margin: 0;
        padding: 0
    }

    div.token-input-dropdown-facebook ul li {
        background-color: #fff;
        padding: 3px;
        margin: 0;
        list-style-type: none
    }

    div.token-input-dropdown-facebook ul li.token-input-dropdown-item-facebook {
        background: #eee;
        border: 1px #EEECE5 solid
    }

    div.token-input-dropdown-facebook ul li.token-input-dropdown-item2-facebook {
        background: #eee;
        border: 1px #EEECE5 solid
    }

    div.token-input-dropdown-facebook ul li em {
        font-weight: bold;
        font-style: normal
    }

    div.token-input-dropdown-facebook ul li.token-input-selected-dropdown-item-facebook {
        background-color: #FEFDDE
    }

    ul.token-input-list-facebook {
        padding: 0 !important
    }

    .token-input-list-facebook .token-input-input-token-facebook input[type="text"] {
        border: none;
        margin: 0;
        -webkit-border-radius: 0;
        border-radius: 0;
        -webkit-box-shadow: none;
        box-shadow: none
    }