@import "~@dnnsoftware/dnn-react-common/styles/index.less";

.user-detail-row {
    .edit-profile {
        float: inline-start;
        padding: 0px;
        inline-size: 100%;
        border: 0px;
        min-block-size: 700px;
        padding-block-start: 10px;
        padding-inline-end: 25px;
        padding-block-end: 10px;
        padding-inline-start: 25px
    }
}