.dnnHTMLSettings,
.dnnMyWork {
    margin-block-start: 2em;
    margin-inline-end: auto;
    margin-block-end: 2em;
    margin-inline-start: auto;
}

.dnnEditHtml {
    margin-block-start: 0;
    margin-inline-end: auto;
    margin-block-end: 0;
    margin-inline-start: auto;
}

.dnnFormItem input[type=checkbox],
.dnnPageSettings .dnnFormItem input[type=radio] {
    inline-size: auto;
}

.dnnFormItem .dnnHTMLSRadioButtons label,
.dnnFormItem .dnnPSRadioButtons input,
.dnnFormItem .dnnHTMLSRadioButtons label,
.dnnFormItem .dnnHTMLSRadioButtons input {
    float: inline-start;
    padding: 0;
    inline-size: 2%;
    text-align: start;
}

.dnnFormItem .dnnHTMLSRadioButtons label {
    inline-size: auto;
    padding-block-start: 0;
    padding-inline-end: 15px;
    padding-block-end: 0;
    padding-inline-start: 6px;
    font-weight: normal
}

.dnnHTMLSRadioButtons br {
    display: none !important;
    font-size: 0;
    line-height: 0;
    border-collapse: collapse;
}

.ehmContent {
    overflow: auto;
    block-size: 100px;
}

.divCurrentVersion {
    min-block-size: 61px;
}

.ehActions {
    block-size: 60px;
}

.ehccContent fieldset:last-child {
    margin-block-end: 0;
}

.ehCurrentContent {
    overflow: scroll;
}

.dnnTextEditor {
    margin-block-end: 0;
}

.dnnTextPanelView-basic {
    padding-inline-end: 0 !important;
    border: 0 !important;
}

.ehActions .dnnFormItem select {
    inline-size: auto;
    margin: 0;
}

.ehActions .separator {
    display: inline-block;
    inline-size: 20px;
}

.ehActions a.aspNetDisabled {
    color: #ccc;
    cursor: not-allowed;
    padding: 6px;
    display: inline-block;
    margin-block-end: 9px;
    min-inline-size: 75px;
    border: 1px solid #c2c2c2;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    font-weight: normal;
    text-align: center
}