/* Edit Bar iFrame */
body {
    margin-block-end: 80px !important
}

.editBarFrameContainer {
    position: fixed;
    inset-block-end: 0;
    inset-inline-start: 0;
    inset-inline-end: 0;
    z-index: 1105 !important
}

    .editBarFrameContainer.personabar-shown {
        inset-inline-start: 80px
    }

iframe#editBar-iframe {
    block-size: 80px;
    inline-size: 100%;
    vertical-align: top
}

    iframe#editBar-iframe.small {
        block-size: 170px
    }

    iframe#editBar-iframe.middle {
        block-size: 480px
    }

    iframe#editBar-iframe.large {
        block-size: 100%
    }
