@import "~@dnnsoftware/dnn-react-common/styles/index.less";

.collapsible-component-alias {
    display: block;
    float: inline-start;
    inline-size: 100%;
    cursor: auto;

    &:not(:last-child) {
        border-block-end: 1px solid @alto;
    }

    div.collapsible-alias {
        inline-size: 100%;
        float: inline-start;
        position: relative;
        padding-block-start: 15px;
        padding-inline-end: 0;
        padding-block-end: 10px;
        padding-inline-start: 0;
        box-sizing: border-box;
        cursor: auto;

        .row {
            float: inline-start;
            inline-size: 100%;

            .item-row-alias {
                inline-size: 35%;
                float: inline-start;
                padding-inline-start: 15px;
                word-break: break-all
            }

            .item-row-browser {
                inline-size: 12%;
                float: inline-start
            }

            .item-row-theme {
                inline-size: 20%;
                float: inline-start;
                word-break: break-all;
                padding-inline-end: 5px;
                box-sizing: border-box
            }

            .item-row-language {
                inline-size: 10%;
                float: inline-start
            }

            .item-row-primary {
                inline-size: 10%;
                float: inline-start;
                text-align: center;

                .checkMarkIcon {
                    inline-size: 16px;
                    block-size: 16px;
                    margin-inline-start: auto;
                    margin-inline-end: auto;

                    >svg {
                        fill: @thunder
                    }
                }
            }

            .item-row-actionButtons {
                inline-size: 8%;
                margin-inline-end: 15px;
                float: inline-end;

                &:not(:last-child) {
                    float: inline-start;
                    margin-inline-end: 0px
                }

                .delete-icon,
                .edit-icon {
                    margin-inline-start: 5px;
                    float: inline-end;
                    display: block;
                    cursor: pointer;

                    >svg {
                        inline-size: 16px;
                        float: inline-start;
                        block-size: 16px;

                        &:hover {
                            fill: @thunder
                        }

                        fill: @alto
                    }
                }

                .delete-icon-hidden {
                    display: none
                }

                .edit-icon-active {
                    >svg {
                        inline-size: 16px;
                        float: inline-end;
                        block-size: 16px;
                        fill: @curiousBlue
                    }
                }
            }

            .item-row-wrapper {
                padding-block-start: 0;
                padding-inline-end: 5px;
                padding-block-end: 0;
                padding-inline-start: 5px
            }
        }
    }

    .collapsible-alias-body {
        float: inline-start;
        inline-size: 100%;
        overflow: inherit
    }
}