@import "~@dnnsoftware/dnn-react-common/styles/index.less";

:local(.profileSettings) {
    margin: 30px;

    * {
        box-sizing: border-box
    }

    .dnn-ui-common-input-group {
        padding-block-start: 0;
        padding-inline-end: 0;
        padding-block-end: 15px;
        padding-inline-start: 0;

        label {
            font-weight: bolder;
            float: inline-start
        }

        .dnn-single-line-input-with-error {
            inline-size: 55%;
            float: inline-start
        }

        .VanityUrlPrefix {
            float: inline-start;
            inline-size: 40%;
            margin-block-start: 8px;
            margin-inline-end: 0;
            margin-block-end: 0;
            margin-inline-start: 8px
        }

        .sectionLabel {
            border-block-start: 1px solid @alto;
            padding-block-start: 20px;
            margin-block-start: 20px;

            label {
                color: #000
            }
        }

        .dnn-switch-container {
            float: inline-end
        }

        input {
            inline-size: auto
        }
    }

    .sectionTitleNoBorder {
        font-weight: bolder;
        float: inline-start;
        inline-size: 100%;
        padding-block-start: 0;
        padding-inline-end: 0;
        padding-block-end: 20px;
        padding-inline-start: 0
    }

    .buttons-box {
        inline-size: 100%;
        float: inline-start;
        text-align: center;
        margin-block-start: 30px;
        margin-inline-end: 0;
        margin-block-end: 30px;
        margin-inline-start: 0;

        .dnn-ui-common-button {
            margin: 5px;
        }
    }

    .dnn-grid-system {
        .left-column {
            padding-inline-end: 30px;

            .dnn-dropdown {
                inline-size: 100%;
            }
        }

        .right-column {
            padding-inline-start: 30px;
            border-inline-start: 1px solid @alto;
        }
    }
}