@import "~@dnnsoftware/dnn-react-common/styles/index";

.filter-container {
    border-block-end: 1px solid @alto;
    float: inline-start;
    box-sizing: border-box;
    margin-block-end: 15px;
    inline-size: 100%;

    //background-color: @alabaster;
    .dnn-grid-cell {
        margin-block-end: 5px;

        .groups-filter {
            inline-size: 100%;
            border-inline-end: 1px solid @alto;
            font-size: 13px;
            font-family: inherit;
            float: inline-start;

            .dnn-dropdown {
                .collapsible-toggle {
                    inline-size: auto
                }
            }

            .group-actions {
                color: @bulgarianRose;
                inset-block-start: 2px;
                inset-inline-end: 30px;

                a {
                    display: inline-block;
                    margin-inline-end: 8px;
                    inline-size: 16px;
                    block-size: 16px;
                    vertical-align: middle;
                    margin-block-start: -2px;
                    margin-inline-start: 2px
                }

                .role-group-actions {
                    float: inline-end;
                    inline-size: auto
                }
            }
        }

        .edit-group-popup {
            position: absolute;
            inset-inline-start: 71px;
            z-index: 999
        }

        .search-filter {
            float: inline-start;
            inline-size: 100%;

            >div {
                display: block !important;
                border-inline-start: 1px solid @alto;

                input {
                    display: block;
                    inline-size: 100%;
                    position: inherit !important;
                    border: none;
                    border-radius: none;
                    background-color: transparent;
                    outline: none;
                    padding-inline-end: 45px
                }
            }
        }
    }
}