@import "~@dnnsoftware/dnn-react-common/styles/index.less";

.edit-language-panel {
    * {
        box-sizing: border-box
    }

    &.dnn-persona-bar-page-body {
        border: none;

        .persona-bar-page-body {
            background-color: transparent;
            border: none
        }

        .edit-language-info {
            padding-block-start: 5px;
            padding-inline-end: 25px;
            padding-block-end: 5px;
            padding-inline-start: 25px;
            border: 1px solid @cerulean;

            .edit-language-top-bar {
                border-block-end: 1px solid @alto;
                margin-block-end: 15px;

                .language-info {
                    padding-block-start: 15px;
                    padding-inline-end: 0;
                    padding-block-end: 15px;
                    padding-inline-start: 0;

                    .language-flag {
                        float: inline-start;
                        margin-inline-end: 25px;
                        inline-size: 35px
                    }

                    p {
                        margin-block-start: 3px
                    }
                }

                .mode-container {
                    padding-block-start: 2px;

                    .dnn-radio-buttons,
                    .dnn-label {
                        float: inline-end;
                        /* text-align: right;
    */
                        width: auto;
                        padding-block-start: 15px;

                        >label {
                            margin-block-start: 2px;
                            font-weight: bold
                        }

                        .dnn-ui-common-tooltip-info {
                            margin-inline-end: 25px
                        }

                        ul {
                            li {
                                margin-inline-start: 25px;

                                label {
                                    margin-block-start: 2px
                                }
                            }
                        }
                    }

                    .dnn-label {
                        .dnn-ui-common-tooltip {
                            float: inline-end
                        }
                    }
                }
            }

            .edit-resource-files {
                >.dnn-grid-cell {
                    padding-block-start: 15px;
                    padding-inline-end: 0;
                    padding-block-end: 15px;
                    padding-inline-start: 0;

                    &:first-child {
                        padding-inline-start: 0
                    }

                    &:last-child {
                        padding-inline-end: 0
                    }
                }

                .dnn-switch-container {
                    inline-size: 100%;

                    .dnn-switch {
                        float: inline-end
                    }
                }

                .translation-action-buttons {
                    text-align: end
                }

                .dnn-ui-common-button {
                    margin-inline-start: 10px
                }

                .dnn-dropdown-with-error {
                    inline-size: 100%
                }

                .resource-file-tree-container {
                    padding-block-start: 15px;
                    padding-inline-end: 0;
                    padding-block-end: 15px;
                    padding-inline-start: 0;

                    .dnn-label {
                        margin-block-start: 5px;
                        margin-block-end: 15px;

                        >label {
                            font-weight: bold
                        }
                    }

                    .resource-file-dropdown {
                        position: relative;
                        display: inline-block;
                        inline-size: 100%;
                        padding-block-start: 8px;
                        padding-inline-end: 40px;
                        padding-block-end: 8px;
                        padding-inline-start: 15px;
                        cursor: pointer;
                        border: 1px solid @alto;
                        background-color: white;

                        .dropdown-icon {
                            position: absolute;
                            inset-inline-end: 10px;
                            inset-block-start: 10px;

                            svg {
                                inline-size: 14px;
                                block-size: 14px;
                                fill: @rollingStone
                            }
                        }
                    }

                    position: relative;

                    .tree-container {
                        position: absolute;
                        inline-size: 50%;
                        z-index: 1000;
                        block-size: 100%
                    }

                    ul.root-level {
                        list-style: none;
                        padding-block-start: 5px;
                        padding-inline-end: 15px;
                        padding-block-end: 5px;
                        padding-inline-start: 15px;
                        min-block-size: 285px;
                        margin-block-start: 5px;

                        li {
                            position: relative;
                            cursor: pointer;
                            font-size: 15px;

                            svg {
                                inline-size: 14px;
                                block-size: 14px;
                                fill: @rollingStone;
                                pointer-events: none;

                                * {
                                    pointer-events: none
                                }
                            }

                            .resource-type-icon {
                                float: inline-start;
                                margin-inline-end: 5px;
                                position: relative;
                                inset-block-start: 1px
                            }

                            .edit-svg {
                                margin-inline-end: 5px;
                                position: absolute;
                                inset-inline-start: -16px;
                                inset-block-start: 1px
                            }

                            span.selected-resource {
                                color: @cerulean;
                                font-weight: bold
                            }
                        }

                        ul {
                            padding-block-start: 0;
                            padding-inline-end: 15px;
                            padding-block-end: 0;
                            padding-inline-start: 15px;
                            list-style: none
                        }
                    }

                    .resource-tree {
                        padding-block-start: 0;
                        padding-inline-end: 15px;
                        padding-block-end: 0;
                        padding-inline-start: 15px;
                        list-style: none;

                        &.root-level {
                            padding-block-start: 5px;
                            padding-inline-end: 25px;
                            padding-block-end: 5px;
                            padding-inline-start: 25px
                        }
                    }
                }
            }

            .translation-action-buttons {}
        }

        .resource-list {
            margin-block-start: 25px;

            .resource-controls {
                margin-block-end: 25px;
                padding-block-end: 5px;
                border-block-end: 1px solid @alto;

                .clear-pending-translations,
                .pending-translations {
                    color: @cerulean;
                    margin-block-start: 2px
                }

                .search-box-container {
                    float: inline-end;
                    border-inline-start: 1px solid @alto;
                    border-inline-end: 1px solid @alto;
                    block-size: 24px;

                    .dnn-search-box {
                        margin-block-start: -3px
                    }

                    input::-webkit-search-cancel-button {
                        margin-inline-end: 25px
                    }

                    input:focus {
                        outline: none
                    }
                }
            }

            .row-headers {
                border: 1px solid @alto;

                .row-header {
                    background-color: white;
                    padding: 15px
                }
            }

            .resource-rows {
                .resource-row {
                    border: 1px solid @alto;
                    border-block-start: none;
                    background-color: white;

                    .row-detail {
                        padding: 15px;

                        .dnn-ui-common-single-line-input,
                        .dnn-ui-common-multi-line-input {
                            inline-size: 100%;
                            border-radius: 0;

                            &.highlight {
                                border: 1px solid @alizarinCrimson
                            }
                        }

                        .key-name {
                            word-break: break-all;
                            margin-block-start: 7px
                        }
                    }
                }
            }
        }
    }

    .dnn-workspace-tray {
        border: none;
        margin-block-end: 0;
        block-size: 24px
    }
}