@import "~@dnnsoftware/dnn-react-common/styles/index.less";

.enable-localized-content-panel {
    .dnn-persona-bar-page-body {
        background: white
    }

    .help-text-with-background {
        background: #fafafa;
        padding-block-start: 20px;
        padding-inline-end: 20px;
        padding-block-end: 1px;
        padding-inline-start: 20px;
        margin-block-end: 10px;

        p {
            margin-block-end: 20px
        }
    }

    .language-flag,
    .language-name {
        float: inline-start;
        margin-inline-start: 10px
    }

    .float-right {
        float: inline-end;
        margin-inline-end: 20px
    }

    .dnn-switch-container {
        margin-block-start: -10px
    }
}