@import "~@dnnsoftware/dnn-react-common/styles/index";

:local(.regexSettings) {
    margin: 30px;

    .columnTitle {
        font-weight: bolder;
        padding-block-start: 0;
        padding-inline-end: 0;
        padding-block-end: 10px;
        padding-inline-start: 0;
        border-block-end: 1px solid @alto;
    }

    .groupWrapper {
        border: 1px solid @alto;
        float: inline-start;
        inline-size: 100%;
        margin-block-start: 20px;

        .dnn-ui-common-input-group {
            padding: 15px;
            inline-size: 708px;
            background-color: @gallery;

            label {
                font-weight: bolder;
                float: inline-start
            }

            .generalSettings-row_switch {
                margin-block-start: 10px;
                margin-inline-end: 0;
                margin-block-end: 0;
                margin-inline-start: 0;
                display: table;
                inline-size: 100%;
                padding-block-start: 0;
                padding-inline-end: 0;
                padding-block-end: 10px;
                padding-inline-start: 0;

                .dnn-switch-container {
                    float: inline-end
                }
            }

            .generalSettings-row-options {
                .dnn-label {
                    padding-block-start: 0
                }

                .dnn-radio-buttons {
                    margin-inline-start: -15px;
                    padding-block-start: 7px;
                    padding-inline-end: 0;
                    padding-block-end: 0;
                    padding-inline-start: 0;

                    label {
                        margin-block-end: 8px
                    }
                }
            }

            .sectionLabel {
                border-block-start: 1px solid @alto;
                padding-block-start: 20px;
                margin-block-start: 20px;

                label {
                    color: #000
                }
            }

            .dnn-dropdown {
                inline-size: 681px
            }

            .dnn-file-upload {
                inline-size: 313px
            }

            .dnn-single-line-input-with-error {
                inline-size: 100%
            }
        }
    }

    .buttons-box {
        inline-size: 100%;
        text-align: center;
        margin-block-start: 30px;
        margin-inline-end: 0;
        margin-block-end: 30px;
        margin-inline-start: 0;
        float: inline-start;

        .dnn-ui-common-button {
            margin: 5px
        }
    }

    .dnn-grid-system {
        .left-column {
            padding-inline-end: 30px;
            border-inline-end: 1px solid @alto;

            .dnn-dropdown {
                inline-size: 281px
            }
        }

        .right-column {
            padding-inline-start: 30px;
        }
    }
}