@charset "utf-8";
/* CSS Document */

/* GENERAL STYLES
----------------------------------------------- */
.dnnMemberDirectory {
    inline-size: 100%
}

/* SEARCH HEADER
----------------------------------------------- */
.dnnMemberDirectory .mdSearch {
    position: relative;
    z-index: 1;
    padding-block-start: 15px;
    padding-inline-end: 0;
    padding-block-end: 15px;
    padding-inline-start: 0;
    margin-block-end: 25px;
    border-block-end: 1px solid #ddd
}

.dnnMemberDirectory .mdSearch:hover,
.dnnMemberDirectory .mdSearch.active {
    zoom: 1;
    /* quicks mode fix to make z-index work */
    z-index: 10
}

.dnnMemberDirectory .mdSearchBar #refreshResults {
    display: block;
    float: inline-start;
    block-size: 18px;
    inline-size: 30px;
    background: url(images/refresh.png) no-repeat 6px 2px;
    border-inline-end: 1px solid #ddd;
    margin-block-start: 2px;
    margin-inline-end: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    opacity: 0.5
}

.dnnMemberDirectory .mdSearchBar #refreshResults:hover {
    opacity: 1.0
}

.dnnMemberDirectory .mdSearchBar #refreshResults.disabled {
    opacity: 0.30;
    cursor: default
}

.dnnMemberDirectory .mdSearchBar #refreshResults span {
    display: none
}

.dnnMemberDirectory .mdSearchBar input[type="text"] {
    float: inline-start;
    display: block;
    inline-size: 452px;
    /*padding:0 5px 5px 7px;
    block-size: 18px;
    vertical-align:top;
    border-color:transparent;
    outline:none;
    */
}

.dnnMemberDirectory .mdSearchBar .dnnPrimaryAction {
    /*padding:2px 15px;
    */
    float: inline-start;
    margin-inline-start: 10px
}

/* Search Suggest */
ul.ui-autocomplete,
ul.ui-autocomplete li {
    margin: 0;
    padding: 0;
    list-style: none
}

ul.ui-autocomplete {
    display: none;
    position: absolute;
    inset-block-start: 46px;
    inset-inline-start: 0;
    inline-size: auto;
    border: 1px solid #ccc;
    background: #fff;
    z-index: 10;
    /*CSS3*/
    -moz-border-radius-bottomright: 3px;
    -moz-border-radius-bottomleft: 3px;
    -webkit-border-radius: 0px 0px 3px 3px;
    border-radius: 0px 0px 3px 3px;
    -webkit-box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, .5);
    -moz-box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, .5);
    box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, .5)
}

ul.ui-autocomplete li {
    display: block;
    clear: both;
    overflow: hidden
}

ul.ui-autocomplete li a {
    display: block;
    padding: 10px;
    border-block-end: 1px #e8e8e8 solid;
    clear: both;
    overflow: hidden
}

ul.ui-autocomplete li a:hover {
    background: #FEFDDE;
    cursor: pointer
}


/* Advanced Search Button */
.dnnMemberDirectory .selectDrop {
    position: relative;
    display: block;
    float: inline-end;
    margin-inline-end: 0
}

.dnnMemberDirectory #mdAdvancedSearch {
    margin-inline-end: 0;
    padding-block-start: 9px;
    padding-inline-end: 15px;
    padding-block-end: 9px;
    padding-inline-start: 15px
}

.selectDrop #mdAdvancedSearch:hover {
    text-decoration: none
}

.dnnMemberDirectory .selectDrop #mdAdvancedSearch:after {
    display: inline-block;
    margin-inline-start: 7px;
    content: '';
    position: relative;
    inline-size: 7px;
    block-size: 9px;
    background: url(images/icons.png) 0 3px no-repeat
}

.selectDrop #mdAdvancedSearch:hover:after {
    background: url(images/icons.png) -250px 3px no-repeat
}


/* Advanced Search Criteria */
.dnnMemberDirectory .mdAdvancedSearchForm {
    display: none;
    position: absolute;
    inset-inline-end: -1px;
    inset-block-start: 30px;
    padding: 15px !important;
    inline-size: 275px;
    border: 1px solid #ccc;
    background: #fff;
    /*CSS3*/
    -moz-border-radius-bottomright: 3px;
    -moz-border-radius-bottomleft: 3px;
    -webkit-border-radius: 0px 0px 3px 3px;
    border-radius: 0px 0px 3px 3px;
    -webkit-box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, .5);
    -moz-box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, .5);
    box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, .5)
}

.dnnMemberDirectory .mdAdvancedSearchForm label {
    inline-size: 100px;
    display: inline-block
}

.dnnMemberDirectory .mdAdvancedSearchForm input[type="text"] {
    inline-size: 130px;
    margin-inline-end: 0;
    display: inline-block
}

.dnnMemberDirectory .mdAdvancedSearchForm .dnnPrimaryAction {
    margin-block-start: 0;
    margin-inline-end: 0;
    margin-block-end: 5px;
    margin-inline-start: 105px
}

/* SEARCH LIST
----------------------------------------------- */
.DnnModule #mdMemberList {
    display: inline-block;
    zoom: 1;
    /*IE FIX for container child float collapse */
    position: relative;
    z-index: 1;
    padding-inline-start: 0px
}

.DnnModule #mdMemberList:hover {
    z-index: 3
}

#mdMemberList>li,
#mdMemberList>li * {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box
}

#mdMemberList>li {
    position: relative;
    z-index: 1;
    float: inline-start;
    inline-size: 273px;
    block-size: 75px;
    margin-block-start: 0;
    margin-inline-end: 15px;
    margin-block-end: 15px;
    margin-inline-start: 0;
    padding-block-start: 15px;
    padding-inline-end: 15px;
    padding-block-end: 45px;
    padding-inline-start: 15px;
    list-style: none;
    background: #fff;
    border: 1px solid #cbcbcb;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -webkit-transition: background 0.15s ease-in-out;
    -moz-transition: background 0.15s ease-in-out;
    -o-transition: background 0.15s ease-in-out;
    -ms-transition: background 0.15s ease-in-out;
    transition: background 0.15s ease-in-out;
    -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3)
}

#mdMemberList>li:hover {
    background: #f2f2f2;
    z-index: 2;
    /*bring current li to top for tooltip */
    -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3), inset 0px 1px 0px 0px rgba(255, 255, 255, 1);
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3), inset 0px 1px 0px 0px rgba(255, 255, 255, 1)
}

/* PROFILE IMG */
.mdMemberDetails .mdMemberImg {
    float: inline-start;
    display: block;
    padding: 3px;
    min-inline-size: 50px;
    block-size: auto;
    margin-block-start: 0;
    margin-inline-end: 15px;
    margin-block-end: 15px;
    margin-inline-start: 0;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px
}

.mdMemberDetails .mdMemberImg img {
    display: block;
    min-inline-size: 50px;
    background: #eee
}

.mdMemberDetails .mdMemberImg span {
    display: block;
    inline-size: 50px;
    max-block-size: 50px;
    overflow: hidden
}

/* MEMBER INFO */
.DnnModule .mdMemberDetails ul,
.mdMemberDetails li {
    list-style: none;
    padding: 0;
    margin: 0;
    color: #666
}

.mdMemberDetails p {
    margin-block-end: 0;
    padding: 0;
    line-height: 1.5em
}

.mdMemberDetails .mdDisplayName {
    margin-block-end: 5px
}

.mdMemberDetails .mdDisplayName {
    font-weight: bold
}

.mdMemberDetails .mdTitle {
    font-style: italic
}


/* MEMBER ACTIONS */

.mdMemberDetails .mdHoverActions {
    clear: both;
    position: absolute;
    inline-size: 100%;
    inset-block-end: 0;
    inset-inline-start: 0;
    block-size: 32px;
    border-block-start: 1px solid #bbb;
    font-size: 11px;
    background: #e7e7e7 url(Images/mdhoverActionsBg.png) repeat-x 0 -1px;
    text-shadow: 0px 1px 0px #ffffff;
    filter: dropshadow(color=#ffffff, offx=0, offy=1)
}

.mdMemberDetails .mdHoverActions li {
    float: inline-start
}

.mdMemberDetails .mdHoverActions li:first-child {
    padding-inline-start: 7px
}

.mdMemberDetails .mdHoverActions li a,
.mdMemberDetails .mdHoverActions li p {
    display: block;
    padding-block-start: 10px;
    padding-inline-end: 7px;
    padding-block-end: 10px;
    padding-inline-start: 7px;
    font-size: 11px;
    min-block-size: 12px;
    min-inline-size: 35px
}

.mdMemberDetails .mdHoverActions li p {
    padding-block-start: 9px;
    padding-inline-end: 7px;
    padding-block-end: 9px;
    padding-inline-start: 7px
}

.mdMemberDetails .mdHoverActions .mdComposeMessage {
    display: block;
    position: absolute;
    inset-inline-end: 0;
    inset-block-end: 0;
    border-inline-start: 1px solid #C7C7C7
}

.mdMemberDetails .mdHoverActions .mdComposeMessage:hover {
    background: #b7b9bb url(Images/mdhoverActionsBg.png) repeat-x 0 -100px;
    -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3)
}

.mdMemberDetails .mdHoverActions .mdComposeMessage a {
    border-inline-start: 1px solid #FCFCFC;
    background: url(Images/sendMessageSprite.png) no-repeat 17px 12px
}

.mdMemberDetails .mdHoverActions .mdComposeMessage:hover a {
    border-inline-start: 1px solid #888
}

.mdMemberDetails .mdHoverActions .mdComposeMessage a:hover {
    background-position: 17px -91px
}

.mdMemberDetails .mdHoverActions .mdComposeMessage span {
    display: none
}

/* TOOL TIP STYLES */
.mdMemberList .mdHoverContent {
    display: none;
    position: absolute;
    inset-inline-start: 12px;
    inset-block-end: 125px;
    inline-size: 290px;
    padding-block-start: 15px;
    padding-inline-end: 15px;
    padding-block-end: 40px;
    padding-inline-start: 15px;
    border: 1px solid #ddd;
    background: #fff;
    font-size: 12px;
    color: #777;
    -webkit-border-radius: 5px;
    border-radius: 5px
}

/* Tool tip prfile img */
.mdMemberList .mdHoverContent .mdMemberImg {
    float: inline-start;
    display: block;
    padding: 3px;
    min-inline-size: 50px;
    block-size: auto;
    margin-block-start: 0;
    margin-inline-end: 15px;
    margin-block-end: 15px;
    margin-inline-start: 0;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px
}

.mdMemberList .mdHoverContent .mdMemberImg img {
    display: block;
    min-inline-size: 50px;
    background: #eee
}

.mdMemberList .mdHoverContent .mdMemberImg span {
    display: block;
    inline-size: 50px;
    max-block-size: 50px;
    overflow: hidden
}

.DnnModule .mdHoverContent ul,
.mdHoverContent li {
    padding: 0;
    margin: 0;
    list-style: none
}

.mdMemberList .mdHoverContent .mdDisplayName {
    font-weight: bold;
    margin-block-end: 5px
}

.mdMemberList .mdHoverContent .mdTitle {
    font-style: italic
}

.mdMemberList .mdHoverContent p,
.mdMemberList .mdHoverContent a {
    padding: 0;
    margin: 0;
    line-height: 1.4em
}

/* Tool tip Actions List */
.mdMemberList .mdHoverContent .mdHoverActions {
    position: absolute;
    inset-inline-start: 0;
    inset-block-end: 0;
    inline-size: 100%;
    block-size: 30px;
    border-block-start: 1px solid #ddd;
    font-size: 11px
}

.mdMemberList .mdHoverContent .mdHoverActions li {
    padding-block-start: 7px;
    padding-inline-end: 7px;
    padding-block-end: 0;
    padding-inline-start: 7px;
    float: inline-start
}

.mdMemberList .mdHoverContent .mdHoverActions li:first-child {
    padding-inline-start: 15px
}


.mdMemberList .mdHoverContent span.tooltipArrow {
    display: block !important;
    position: absolute;
    inset-inline-start: 50px;
    inset-block-end: -15px;
    block-size: 15px;
    inline-size: 30px;
    background: url(images/tooltipArrow.png) no-repeat 0 0
}

.dnnForm.dnnMemberDirectorySettings .dnnFormItem .dnnTooltip {
    inline-size: 20%
}

.dnnForm .dnnFormItem .mdFilters td {
    inline-size: auto;
    padding-inline-end: 10px
}

.dnnForm .dnnFormItem .mdFilters td label {
    inline-size: auto;
    margin-block-start: 1px;
    white-space: nowrap
}

.dnnForm .dnnFormItem .mdFilterLists {
    padding-inline-start: 16px
}

.dnnForm .dnnFormItem .mdFilterLists input {
    float: none
}

.dnnForm .dnnFormItem .mdFilterLists input,
.dnnForm .dnnFormItem .mdFilterLists select {
    inline-size: 45%
}

.dnnForm .dnnFormItem .mdFilterBy {
    background-color: #F0F0F0;
    margin-inline-start: 36%;
    inline-size: 50%
}

.ui-helper-hidden-accessible {
    display: none
}