@import "~@dnnsoftware/dnn-react-common/styles/index";

:local(.ipFilterItems) {
    margin-block-start: 20px;
    margin-inline-end: 30px;
    margin-block-end: 20px;
    margin-inline-start: 30px;

    * {
        box-sizing: border-box
    }

    display: block;

    .ip-filter-items-grid {
        border: solid 1px @alto;
        margin-block-start: 20px;
        margin-inline-end: 0;
        margin-block-end: 55px;
        margin-inline-start: 0;
        float: inline-start;
        inline-size: 100%
    }

    .header-row {
        padding-block-start: 10px;
        padding-inline-end: 0;
        padding-block-end: 10px;
        padding-inline-start: 0;
        inline-size: 100%;
        float: inline-start;
        overflow: hidden
    }

    .header-RuleType {
        inline-size: 20%;
        float: inline-start;
        font-weight: bolder;
        padding-inline-start: 15px
    }

    .header-IPAddress {
        inline-size: 25%;
        float: inline-start;
        font-weight: bolder
    }

    .header-Notes {
        inline-size: 40%;
        float: inline-start;
        font-weight: bolder
    }

    .collapsible-component {
        .collapsible-header {
            text-align: end;
            text-transform: none;
            padding-inline-end: 40px;

            .collapse-icon {
                display: none;

                &.collapsed {
                    display: none
                }
            }
        }
    }

    .ip-filter-topbar {
        border-block-end: 1px solid @alto;
        float: inline-start;
        inline-size: 100%;

        .warning-container {
            inline-size: 75%;
            float: inline-start;
            margin-block-start: 10px;
            margin-inline-end: 0;
            margin-block-end: 15px;
            margin-inline-start: 0;
            font-weight: bolder;
            color: @alizarinCrimson;

            .collapsible-content {
                margin-block-start: 5px;

                >div {
                    border: solid 1px
                }
            }

            .warning-icon {
                >svg {
                    inline-size: 17px;
                    float: inline-start;
                    block-size: 17px;
                    margin-block-start: 0;
                    margin-inline-end: 10px;
                    margin-block-end: 0;
                    margin-inline-start: 0
                }
            }
        }

        .AddItemRow {
            text-align: end;
            inline-size: 25%;
            float: inline-end;
            margin-block-start: 10px;
            margin-inline-end: 0;
            margin-block-end: 15px;
            margin-inline-start: 0;
            font-weight: bolder;
            overflow: hidden;
            cursor: pointer;

            .AddItemBox {
                inline-size: auto;
                float: inline-end;
                color: @thunder;

                .add-icon {
                    margin-inline-start: 20px;
                    margin-inline-end: 5px;
                    float: inline-start;
                    cursor: pointer;

                    svg {
                        inline-size: 16px;
                        float: inline-start;
                        block-size: 16px;
                        fill: @thunder
                    }
                }
            }

            .AddItemBox-active {
                inline-size: auto;
                float: inline-end;
                color: @curiousBlue;

                .add-icon {
                    margin-inline-start: 20px;
                    margin-inline-end: 5px;
                    float: inline-start;
                    cursor: pointer;

                    svg {
                        inline-size: 16px;
                        float: inline-start;
                        block-size: 16px;
                        fill: @curiousBlue
                    }
                }
            }
        }
    }

    .ip-filter-item {
        color: @thunder
    }
}