@import "~@dnnsoftware/dnn-react-common/styles/index.less";

.collapsible-component-entry {
    display: block;
    float: inline-start;
    inline-size: 100%;
    cursor: auto;

    &:not(:last-child) {
        border-block-end: 1px solid @alto;
    }

    div.collapsible-entry {
        inline-size: 100%;
        float: inline-start;
        position: relative;
        padding-block-start: 15px;
        padding-inline-end: 0;
        padding-block-end: 10px;
        padding-inline-start: 0;
        box-sizing: border-box;
        cursor: auto;

        .row {
            float: inline-start;
            inline-size: 100%;

            .item-row-text {
                inline-size: 44%;
                float: inline-start;
                padding-inline-start: 15px;
                word-break: break-all
            }

            .item-row-value {
                inline-size: 43%;
                float: inline-start
            }

            .item-row-actionButtons {
                inline-size: 10%;
                margin-inline-end: 15px;
                float: inline-end;

                &:not(:last-child) {
                    float: inline-start;
                    margin-inline-end: 0px
                }

                .delete-icon,
                .edit-icon,
                .order-icon {
                    margin-inline-start: 5px;
                    float: inline-end;
                    display: block;
                    cursor: pointer;

                    >svg {
                        inline-size: 16px;
                        float: inline-start;
                        block-size: 16px;

                        &:hover {
                            fill: @thunder
                        }

                        fill: @alto
                    }
                }

                .order-icon-hidden,
                .delete-icon-hidden {
                    display: none
                }

                .order-icon-active,
                .edit-icon-active {
                    >svg {
                        inline-size: 16px;
                        float: inline-end;
                        block-size: 16px;
                        fill: @curiousBlue
                    }
                }
            }

            .item-row-wrapper {
                padding-block-start: 0;
                padding-inline-end: 5px;
                padding-block-end: 0;
                padding-inline-start: 5px
            }
        }
    }

    .collapsible-entry-body {
        inline-size: 100%;
        overflow: visible;

        .entry-editor {
            block-size: 270px;

            &.with-sort-order {
                block-size: 220px
            }
        }
    }
}