@import "~@dnnsoftware/dnn-react-common/styles/index";

:local(.memberSettings) {
    margin: 30px;

    * {
        box-sizing: border-box
    }

    .dnn-ui-common-input-group {
        label {
            font-weight: bolder;
            float: inline-start
        }

        .dnn-switch-container {
            float: inline-end
        }

        .memberSettings-row_switch {
            border-block-end: 1px solid @alto;
            margin-block-start: 20px;
            margin-inline-end: 0;
            margin-block-end: 0;
            margin-inline-start: 0;
            display: table;
            inline-size: 100%;
            padding-block-start: 0;
            padding-inline-end: 0;
            padding-block-end: 20px;
            padding-inline-start: 0
        }

        .dnn-single-line-input-with-error {
            inline-size: 100%
        }
    }

    .buttons-box {
        inline-size: 100%;
        text-align: center;

        .dnn-ui-common-button {
            margin: 5px
        }
    }

    .globalIcon {
        inline-size: 18px;
        block-size: 18px;
        float: inline-start;
        margin-block-start: 5px;
        margin-inline-end: 0;
        margin-block-end: 0;
        margin-inline-start: -10px;

        >svg {
            fill: @thunder
        }
    }
}