#connector-Azure > div.edit-fields > div > div, .connector-Azure > div.edit-fields > div > div {
    inline-size: 100% !important
}

    #connector-Azure > div.edit-fields > div > div label, .connector-Azure > div.edit-fields > div > div label {
        inline-size: 25% !important
    }

    #connector-Azure > div.edit-fields > div > div input[type='text'], .connector-Azure > div.edit-fields > div > div input[type='text'] {
        inline-size: 65% !important
    }

    #connector-Azure > div.edit-fields > div > div .pb-dropdown {
        inline-size: 65% !important
    }

    #connector-Azure > div.edit-fields > div > div input[type='password'], .connector-Azure > div.edit-fields > div > div input[type='password'] {
        inline-size: 65% !important;
        box-sizing: border-box !important;
        padding: 8px !important
    }



@media only screen and (min-device-width:320px) and (max-device-width:480px) {
    #header-mobi {
        z-index: 99999 !important
    }
}
