@import "~@dnnsoftware/dnn-react-common/styles/index";

:local(.urlRow) {
    display: table;
    border-block-end: 1px solid @alto;
    color: @rollingStone;
    inline-size: 100%;
    position: relative;
    padding-block-start: 15px;
    padding-inline-end: 20px;
    padding-block-end: 15px;
    padding-inline-start: 20px;
    box-sizing: border-box;
    cursor: auto;

    &.false {
        background-color: @alabaster
    }

    .url-path {
        word-break: break-all
    }

    .extension-action {
        inline-size: 16px;
        block-size: 16px;
        float: inline-end;
        cursor: pointer;
        margin-inline-end: 5px;

        &.selected {
            svg {
                fill: @curiousBlue
            }

            svg:hover {
                fill: @thunder
            }
        }

        &.active {
            svg {
                fill: @curiousBlue
            }
        }
    }

    .url-settings {
        inline-size: 100%;
        block-size: 450px
    }
}

:local(.AddItemRow) {
    inline-size: 100%;
    margin-block-start: 0;
    margin-inline-end: 0;
    margin-block-end: 15px;
    margin-inline-start: 0;
    font-weight: bolder;
    border-block-end: 1px solid @alto;
    overflow: hidden;

    .sectionTitle {
        font-weight: bolder;
        float: inline-start;
        line-height: 25px
    }

    .AddItemBox {
        inline-size: auto;
        float: inline-end;
        color: @thunder;
        cursor: pointer;
        line-height: 25px;

        &.active {
            color: @curiousBlue;
            cursor: inherit
        }

        .add-icon {
            margin-inline-start: 20px;
            margin-inline-end: 5px;
            margin-block-start: 4px;
            float: inline-start;
            cursor: pointer;

            svg {
                inline-size: 16px;
                float: inline-start;
                block-size: 16px;
                fill: @thunder
            }

            &.active {
                svg {
                    fill: @curiousBlue
                }

                cursor: inherit
            }
        }
    }

    .newUrlContainer {
        inline-size: 100%;
        clear: both
    }
}