@import "~@dnnsoftware/dnn-react-common/styles/index.less";

.collapsible-component-verifier {
    display: block;
    float: inline-start;
    inline-size: 100%;
    cursor: auto;

    &:not(:last-child) {
        border-block-end: 1px solid @alto;
    }

    div.collapsible-header-verifier {
        inline-size: 100%;
        float: inline-start;
        position: relative;
        padding-block-start: 15px;
        padding-inline-end: 0;
        padding-block-end: 10px;
        padding-inline-start: 0;
        box-sizing: border-box;
        cursor: auto;

        .row {
            float: inline-start;
            inline-size: 100%;
            color: @thunder;

            .item-row-name {
                inline-size: 45%;
                float: inline-start;
                padding-inline-start: 15px;
                text-transform: uppercase;
                color: #000;

                .language-flag {
                    float: inline-start
                }

                .language-name {
                    float: inline-start;
                    margin-inline-start: 10px
                }
            }

            .item-row-wrapper {
                padding-block-start: 0;
                padding-inline-end: 5px;
                padding-block-end: 0;
                padding-inline-start: 5px
            }

            .arrow-icon {
                margin-inline-end: 15px;
                float: inline-end;
                cursor: pointer;

                svg {
                    inline-size: 16px;
                    float: inline-start;
                    block-size: 16px;
                    fill: @thunder
                }
            }
        }
    }

    .collapsible-body-verifier {
        inline-size: 100%;
    }
}