@import "~@dnnsoftware/dnn-react-common/styles/index";

#siteimportexport-container {
    .dnn-persona-bar-page-body {
        border-block-end: 0;

        * {
            box-sizing: border-box
        }

        .persona-bar-page-body {
            border: 0;
            background: none;

            .top-panel {
                inline-size: 100%;
                float: inline-start;
                border: 1px solid @alto;
                background: #fff;

                .site-selection {
                    padding: 20px;

                    .dnn-dropdown {
                        inline-size: 100%;

                        .collapsible-label {
                            text-transform: uppercase;
                            font-weight: bold
                        }
                    }
                }

                .last-actions {
                    inline-size: 50%;
                    float: inline-start;
                    padding-block-start: 0;
                    padding-inline-end: 20px;
                    padding-block-end: 20px;
                    padding-inline-start: 20px;

                    .action-labels {
                        float: inline-start;
                        inline-size: 50%;

                        .dnn-label {
                            padding-block-start: 0;
                            padding-inline-end: 0;
                            padding-block-end: 10px;
                            padding-inline-start: 0;
                            font-weight: 700;
                            color: @thunder;
                        }
                    }

                    .action-dates {
                        float: inline-end;
                        inline-size: 50%;

                        div {
                            color: @thunder;
                            padding-block-start: 0;
                            padding-inline-end: 0;
                            padding-block-end: 10px;
                            padding-inline-start: 0
                        }
                    }
                }

                .action-buttons {
                    inline-size: 50%;
                    float: inline-end;
                    padding-block-start: 0;
                    padding-inline-end: 30px;
                    padding-block-end: 0;
                    padding-inline-start: 20px;

                    .action-button {
                        margin-inline-start: 20px;
                        float: inline-end
                    }
                }
            }

            .section-title {
                text-transform: uppercase;
                font-weight: bold;
                float: inline-start;
                inline-size: 100%;
                padding-block-start: 20px;
                padding-inline-end: 0;
                padding-block-end: 10px;
                padding-inline-start: 0
            }

            .logContainer {
                float: inline-start;
                inline-size: 100%;
                border: 1px solid @alto;
                background: #fff;

                .no-jobs {
                    float: inline-start;
                    inline-size: 100%;
                    text-align: center;
                    padding: 10px
                }

                .jobHeader-wrapper {
                    &:not(:last-child) {
                        border-block-end: 1px solid @alto;
                    }

                    width: 100%;
                    float: inline-start;
                    padding-block-start: 15px;
                    padding-inline-end: 0;
                    padding-block-end: 15px;
                    padding-inline-start: 0;
                    text-transform: uppercase;

                    .jobHeader-Indicator {
                        inline-size: 5%;
                        float: inline-start
                    }

                    .jobHeader-JobDate {
                        inline-size: 20%;
                        float: inline-start;
                        font-weight: bolder
                    }

                    .jobHeader-JobType {
                        inline-size: 15%;
                        float: inline-start;
                        font-weight: bolder
                    }

                    .jobHeader-JobUser {
                        inline-size: 20%;
                        float: inline-start;
                        font-weight: bolder
                    }

                    .jobHeader-JobPortal {
                        inline-size: 20%;
                        float: inline-start;
                        font-weight: bolder
                    }

                    .jobHeader-JobStatus {
                        inline-size: 15%;
                        float: inline-start;
                        font-weight: bolder
                    }

                    .jobHeader-Arrow {
                        inline-size: 5%;
                        float: inline-start
                    }
                }
            }

            .logPager {
                padding-block-start: 20px;
                padding-inline-end: 0;
                padding-block-end: 20px;
                padding-inline-start: 0;
                float: inline-start;
                inline-size: 100%
            }

            .logLegend-wrapper {
                float: inline-start;
                border-block-start: solid 1px @alto;
                inline-size: 100%;
                padding-block-start: 20px;
                padding-inline-end: 0;
                padding-block-end: 20px;
                padding-inline-start: 0;

                .logLegend-item {
                    float: inline-start;
                    inline-size: 200px;

                    .legend-export {
                        color: #fff;
                        background-color: #ff8a14;
                        inline-size: 15px;
                        block-size: 15px;
                        display: block;
                        float: inline-start;
                        margin-block-start: 0;
                        margin-inline-end: 6px;
                        margin-block-end: 0;
                        margin-inline-start: 0
                    }

                    .legend-import {
                        color: #fff;
                        background-color: #099;
                        inline-size: 15px;
                        block-size: 15px;
                        display: block;
                        float: inline-start;
                        margin-block-start: 0;
                        margin-inline-end: 6px;
                        margin-block-end: 0;
                        margin-inline-start: 0
                    }
                }
            }
        }
    }
}