@import "../../styles/index";

.dnn-label {
    float: inline-start;
    inline-size: 100%;

    label {
        margin-inline-end: 10px;
        color: var(--dnn-color-foreground, @bulgarianRose)
    }

    &.inline {
        float: inline-start;
        inline-size: auto;
        padding-block-start: 7px;
        margin-inline-end: 15px
    }

    .dnn-ui-common-tooltip {
        .icon {
            margin-block-start: -3px
        }
    }
}