.configConsolePanel .form-item {
    line-height: 24px;
    inline-size: 100%;
    clear: both;
    margin-block-end: 15px
}

    .configConsolePanel .form-item.last {
        margin-block-end: 0
    }

    .configConsolePanel .form-item.short-left {
        inline-size: 45%;
        float: inline-start;
        clear: inline-start
    }

    .configConsolePanel .form-item.short-right {
        inline-size: 45%;
        float: inline-end;
        clear: inline-end
    }

    .configConsolePanel .form-item span.caption {
        display: block;
        inline-size: 120px;
        font-weight: bold
    }

        .configConsolePanel .form-item span.caption.inline {
            display: inline-block;
            float: inline-start;
            vertical-align: middle;
            block-size: 42px;
            line-height: 42px
        }

    .configConsolePanel .form-item > span.caption.middle {
        margin-block-end: 10px
    }

    .configConsolePanel .form-item span.caption.required:after {
        content: "*";
        color: red;
        margin-inline-start: 4px
    }

    .configConsolePanel .form-item select {
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        background-color: #fff;
        border: 1px solid #bfbfbf;
        outline: none;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        margin-block-end: 0;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        padding: 11px;
        inline-size: 100%
    }

    .configConsolePanel .form-item select {
        cursor: pointer
    }

    .configConsolePanel .form-item span.caption.inline + div {
        margin-inline-start: 120px
    }

.configConsolePanel {
    margin-block-start: 130px;
    margin-inline-end: 30px;
    margin-block-end: 30px;
    margin-inline-start: 30px;
    border: 1px solid #e6e6e6;
    background-color: #fff
}

    .configConsolePanel a.primarybtn {
        padding-block-start: 9px;
        padding-inline-end: 22px;
        padding-block-end: 9px;
        padding-inline-start: 22px
    }

    .configConsolePanel .form-item #monaco-editor-config-files,
    .configConsolePanel .form-item #monaco-editor-merge-scripts {
        block-size: 220px
    }

    .configConsolePanel .actions {
        text-align: center
    }

    .configConsolePanel div.body {
        background-color: #fff;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        border: 1px solid #e9e9ec;
        overflow: auto;
        z-index: 1;
        padding: 0px
    }

    .configConsolePanel .fileupload-wrapper { /* Notes(by Richard): here must set !important */
        overflow: hidden !important;
        margin: 0;
        inline-size: auto !important;
        display: inline-block;
        position: relative;
        vertical-align: middle
    }

        .configConsolePanel .fileupload-wrapper > input[type="file"] { /* force file upload style here, cause some module just override */
            position: absolute;
            inset-block-start: 0;
            inset-inline-end: 0;
            margin: 0;
            opacity: 0;
            filter: alpha(opacity=0);
            direction: ltr;
            cursor: pointer;
            block-size: 100%;
            font-size: 200px
        }

    .configConsolePanel .note {
        float: inline-end;
        inline-size: 300px;
        position: relative
    }

    .configConsolePanel .caption {
        float: inline-start;
        padding-inline-end: 20px;
        inline-size: auto !important
    }

    .configConsolePanel .description {
        inset-block-start: 0;
        position: absolute
    }

    .configConsolePanel div.body ul.tabs-nav {
        border-block-end: 1px solid #e4e4e8;
        block-size: 42px;
        margin: 0;
        padding: 0;
        list-style: none;
        clear: both;
        background-color: #eee
    }

        .configConsolePanel div.body ul.tabs-nav li {
            padding: 0;
            line-height: 42px;
            font-weight: bold;
            float: inline-start;
            border: 1px solid #eeeeee;
            border-block-end: none;
            list-style: none;
            background: none
        }

            .configConsolePanel div.body ul.tabs-nav li a {
                color: #000;
                display: block;
                padding-block-start: 0;
                padding-inline-end: 34px;
                padding-block-end: 0;
                padding-inline-start: 34px;
                text-decoration: none;
                outline: none
            }

            .configConsolePanel div.body ul.tabs-nav li.ui-tabs-active,
            .configConsolePanel div.body ul.tabs-nav li.ui-state-active {
                border: 1px solid transparent;
                border-block-end: none;
                -webkit-border-top-left-radius: 3px;
                -moz-border-top-left-radius: 3px;
                border-start-start-radius: 3px;
                -webkit-border-top-right-radius: 3px;
                -moz-border-top-right-radius: 3px;
                border-start-end-radius: 3px;
                background-color: #fff
            }

    .configConsolePanel div.body div.ui-tabs-panel {
        background-color: #fff;
        padding: 25px
    }

    .configConsolePanel .pb-dropdown {
        inline-size: 100%;
        z-index: 10;
        -webkit-box-sizing: content-box;
        -moz-box-sizing: content-box;
        box-sizing: content-box
    }
