@import "../../styles/index";

.dnn-multi-line-input-with-error {
    display: inline-block;
    position: relative;

    .dnn-label {
        label {
            font-weight: 700;
            cursor: pointer;
            float: inline-start
        }
    }

    textarea {
        color: var(--dnn-color-foreground, @bulgarianRose);
        border: 1px solid var(--dnn-color-foreground-light, @mountainMist)
    }

    &.error {
        .input-tooltip-container {
            .dnn-ui-common-multi-line-input {
                border-block-end: 2px solid var(--dnn-color-danger, @alizarinCrimson)
            }

            .dnn-inline-counter {
                color: var(--dnn-color-danger, @alizarinCrimson);
                inset-inline-end: 26px
            }
        }
    }

    &.warning {
        .input-tooltip-container {
            .dnn-ui-common-multi-line-input {
                border-block-end: 2px solid var(--dnn-color-warning, #EA9C00)
            }

            .dnn-inline-counter {
                color: var(--dnn-color-warning, #EA9C00);
                inset-inline-end: 26px
            }
        }
    }

    &.disabled {
        .dnn-label {
            label {
                color: var(--dnn-color-neutral, @mountainMist);
                cursor: not-allowed
            }
        }

        .input-tooltip-container {
            .dnn-ui-common-multi-line-input {
                color: var(--dnn-color-neutral, @mountainMist);
                cursor: not-allowed
            }
        }
    }

    .input-tooltip-container {
        float: inline-start;
        position: relative;
        inline-size: 100%;

        .dnn-ui-common-multi-line-input {
            inline-size: 100%;
            border-radius: var(--dnn-controls-radius, 0)
        }

        .dnn-inline-counter {
            position: absolute;
            color: var(--dnn-color-primary, @curiousBlue);
            inset-block-end: 13px;
            inset-inline-end: 7px
        }

        &.inline {
            inline-size: auto
        }

        .dnn-ui-common-tooltip {
            position: absolute;
            inset-block-end: 7px;
            inset-block-start: unset;
            inset-inline-end: 7px;

            .tooltip-text {
                max-inline-size: 255px;
                text-align: center;
                padding-block-start: 7px;
                padding-inline-end: 15px;
                padding-block-end: 7px;
                padding-inline-start: 15px
            }

            &.outside {
                inset-inline-end: -25px
            }

            svg {
                inline-size: 20px;
                block-size: 20px
            }
        }
    }
}