@import "~@dnnsoftware/dnn-react-common/styles/index.less";

:local(.verifierItems) {
    inline-size: 100%;
    float: inline-start;
    box-sizing: border-box;
    padding-block-start: 20px;
    padding-inline-end: 30px;
    padding-block-end: 20px;
    padding-inline-start: 30px;

    .verifier-items-grid {
        float: inline-start;
        inline-size: 100%;

        .verifier-grid {
            float: inline-start;
            inline-size: 100%;
            border-block-end: 1px solid @alto;
            padding-block-start: 0;
            padding-inline-end: 0;
            padding-block-end: 10px;
            padding-inline-start: 0;
            margin-block-start: 0;
            margin-inline-end: 0;
            margin-block-end: 20px;
            margin-inline-start: 0;
            color: @rollingStone;

            .language-flag {
                float: inline-start
            }

            .language-name {
                float: inline-start;
                margin-inline-start: 10px;
                font-size: 13px
            }

            .default-language {
                float: inline-end;
                font-size: 13px
            }
        }

        .verifier-grid-body {
            border: 1px solid @alto;
            float: inline-start;
            inline-size: 100%;

            .resx-files {
                padding-block-start: 20px;
                padding-inline-end: 30px;
                padding-block-end: 20px;
                padding-inline-start: 30px;

                .resx-file {
                    padding-block-start: 0;
                    padding-inline-end: 0;
                    padding-block-end: 10px;
                    padding-inline-start: 0;
                    word-break: break-all;
                    color: @thunder
                }
            }

            .row-opened {
                margin-block-start: -1px;
                margin-block-end: -1px;
                border-block-start: 2px solid @curiousBlue;
                border-block-end: 2px solid @curiousBlue !important;
            }
        }
    }
}