@import "~@dnnsoftware/dnn-react-common/styles/index";

.ip-filter-setting-editor {
    .container {
        padding-block-start: 10px;
        padding-inline-end: 30px;
        padding-block-end: 10px;
        padding-inline-start: 30px;

        .dnn-ui-common-input-group {
            inline-size: 100%;

            &:first-child {
                border-block-end: solid 1px @alto;
                margin-block-start: 0;
                margin-inline-end: 0;
                margin-block-end: 20px;
                margin-inline-start: 0
            }

            padding: 0 0 10px 0;
            margin-block-start: 0;
            margin-inline-end: 0;
            margin-block-end: 10px;
            margin-inline-start: 0;

            .dnn-dropdown {
                inline-size: 100%
            }

            .dnn-label {
                margin-block-start: 5px;
                margin-inline-end: 0;
                margin-block-end: 0;
                margin-inline-start: 0;

                label {
                    float: inline-start;
                    font-weight: bolder
                }
            }

            .dnn-single-line-input-with-error {
                inline-size: 100%
            }

            .dnn-radio-buttons {
                float: inline-start;
                inline-size: 300px;
                margin-block-start: 9px;
                margin-inline-end: 0;
                margin-block-end: 0;
                margin-inline-start: 30px;

                label {
                    float: inline-start
                }

                li {
                    margin-block-start: 0;
                    margin-inline-end: 20px;
                    margin-block-end: 0;
                    margin-inline-start: 0
                }
            }
        }

        .mask {
            display: block
        }

        .mask-hidden {
            display: none
        }
    }

    .buttons-box {
        inline-size: 100%;
        text-align: center;
        float: inline-start;
        margin-block-start: 0;
        margin-inline-end: 0;
        margin-block-end: 20px;
        margin-inline-start: 0;

        .dnn-ui-common-button {
            margin: 5px
        }

        .edit-icon {
            margin-block-start: 0px;
            margin-inline-end: 10px;
            margin-block-end: 20px;
            margin-inline-start: 10px;
            float: inline-end;

            svg {
                inline-size: 16px;
                float: inline-start;
                block-size: 16px
            }
        }

        .delete-icon {
            margin-block-start: 0px;
            margin-inline-end: 10px;
            margin-block-end: 20px;
            margin-inline-start: 10px;
            float: inline-end;

            svg {
                inline-size: 16px;
                float: inline-start;
                block-size: 16px
            }
        }
    }
}