@import "~@dnnsoftware/dnn-react-common/styles/index.less";

:local(.basicSearchSettings) {
    margin: 30px;

    * {
        box-sizing: border-box
    }

    .dnn-ui-common-input-group {
        padding-block-start: 0;
        padding-inline-end: 0;
        padding-block-end: 15px;
        padding-inline-start: 0;

        label {
            font-weight: bolder;
            float: inline-start
        }

        .sectionLabel {
            border-block-start: 1px solid @alto;
            padding-block-start: 20px;
            margin-block-start: 20px;

            label {
                color: #000
            }
        }

        .dnn-dropdown {
            inline-size: 100%;
            box-sizing: border-box;

            .collapsible-label {
                block-size: 16px
            }
        }

        .basicSearchSettings-row_switch {
            margin-block-start: 25px;
            inline-size: 100%;
            float: inline-start;

            .dnn-switch-container {
                float: inline-end
            }

            .dnn-label.inline {
                label {
                    max-inline-size: 200px;
                    font-weight: bolder;
                    float: inline-start
                }
            }
        }

        .basicSearchSettings-row_slider {
            .dnn-label {
                inline-size: 30%;

                label {
                    font-weight: bolder;
                    float: inline-start
                }
            }

            .slider-container {
                margin-block-start: 8px;
                float: inline-end;
                inline-size: 65%
            }
        }
    }

    .sectionTitle {
        font-weight: bolder;
        border-block-start: 1px solid @alto;
        float: inline-start;
        inline-size: 100%;
        padding-block-start: 30px;
        padding-inline-end: 0;
        padding-block-end: 15px;
        padding-inline-start: 0;
        margin-block-start: 20px;
        margin-inline-end: 0;
        margin-block-end: 0;
        margin-inline-start: 0;

        &:first-child {
            border-block-start: 0;
            padding-block-start: 0;
            padding-inline-end: 0;
            padding-block-end: 15px;
            padding-inline-start: 0;
            margin: 0
        }
    }

    .searchIndexWrapper {
        float: inline-start;
        border: 1px solid @alto;
        background-color: @gallery;
        inline-size: 100%;
        margin-block-start: 0;
        margin-inline-end: 0;
        margin-block-end: 20px;
        margin-inline-start: 0;

        .searchIndexWrapper-left {
            inline-size: 70%;
            float: inline-start;
            padding-block-start: 0;
            padding-inline-end: 30px;
            padding-block-end: 0;
            padding-inline-start: 30px;
            margin-block-start: 20px;
            margin-inline-end: 0;
            margin-block-end: 20px;
            margin-inline-start: 0;
            box-sizing: border-box;
            border-inline-end: 1px solid @alto;

            .dnn-ui-common-input-group {
                padding-block-start: 0;
                padding-inline-end: 0;
                padding-block-end: 10px;
                padding-inline-start: 0;

                .dnn-label.inline {
                    label {
                        float: inline-start;
                        max-inline-size: 220px
                    }

                    &:last-child {
                        float: inline-end;
                        margin-inline-end: 0;
                        inline-size: 55%;

                        label {
                            font-weight: normal;
                            word-break: break-all;
                            margin: 0;
                            float: inline-end;
                            color: @thunder;
                            cursor: default
                        }
                    }
                }
            }
        }

        .searchIndexWrapper-right {
            inline-size: 30%;
            float: inline-end;

            .dnn-ui-common-button {
                float: inline-end;
                margin-block-start: 0;
                margin-inline-end: 30px;
                margin-block-end: 15px;
                margin-inline-start: 0;
                inline-size: 70%;
                block-size: auto;
                padding-block-start: 6px;
                padding-block-end: 6px;

                &:first-child {
                    margin-block-start: 40px
                }

                &:last-child {
                    float: inline-end;
                }
            }
        }

        .searchIndexWarning,
        .searchCompactIndexWarning {
            margin-block-start: 20px;
            margin-inline-end: 0;
            margin-block-end: 20px;
            margin-inline-start: 0;
        }
    }

    .buttons-box {
        inline-size: 100%;
        float: inline-start;
        text-align: center;
        margin-block-start: 10px;
        margin-inline-end: 0;
        margin-block-end: 30px;
        margin-inline-start: 0;

        .dnn-ui-common-button {
            margin: 5px
        }
    }

    .dnn-grid-system {
        .left-column {
            padding-inline-end: 30px;

            .dnn-dropdown {
                inline-size: 281px;
            }
        }

        .right-column {
            padding-inline-start: 30px;
            border-inline-start: 1px solid @alto;
        }
    }
}