@import "~@dnnsoftware/dnn-react-common/styles/index";

.sitegroups-list-container {
    .row {
        display: table;
        inline-size: 100%;
        border-block-end: 1px solid @alto;
        cursor: auto;

        >div {
            float: inline-start;
            inline-size: 100%;

            >div {
                float: inline-start;
                inline-size: 100%
            }
        }

        &.true {
            border-block-start: 2px solid @curiousBlue;
            border-block-end: 2px solid @curiousBlue;
            margin-block-start: -1px
        }

        div.rowHeader {
            color: @rollingStone;
            inline-size: 100%;
            float: inline-start;
            position: relative;
            padding-block-start: 15px;
            padding-inline-end: 18px;
            padding-block-end: 15px;
            padding-inline-start: 18px;
            box-sizing: border-box;
            cursor: auto;

            .edit-icon {
                margin-inline-start: 5px;
                float: inline-end;
                cursor: pointer;

                svg {
                    inline-size: 18px;
                    float: inline-start;
                    block-size: 18px
                }

                &.false {
                    svg {
                        fill: @curiousBlue
                    }

                    svg:hover {
                        fill: @thunder
                    }
                }
            }

            .icon-flat {
                display: inline-block;
                inline-size: 18px;
                block-size: 18px;
                vertical-align: middle;

                svg {
                    fill: @thunder
                }
            }
        }

        div.ReactCollapse--content {
            padding: 5px
        }
    }
}