@import "~@dnnsoftware/dnn-react-common/styles/index";

.sitegroups-list-container {
    margin-block-start: 100px;
    float: inline-start;

    &>div {
        padding: 0;
    }

    * {
        box-sizing: border-box;
    }

    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    display: table;
    float: inline-start;

    .container {
        .no-sitegroups-row {
            inline-size: 100%;
            float: inline-start;
            text-align: center;
            font-weight: bold;
            padding-block-start: 13px;
            padding-inline-end: 20px;
            padding-block-end: 13px;
            padding-inline-start: 20px;
            box-sizing: border-box;
            border-block-end: 1px solid @alto;
        }

        float: inline-start;
        inline-size: 100%;
        margin-block-end: 20px;
        border-inline-start: 1px solid @alto;
        border-inline-end: 1px solid @alto;
        background-color: white;

        .sitegroups-header-row {
            display: table;
            inline-size: 100%;
            border-block-end: 1px solid @alto;
            border-block-start: 1px solid @alto;
            inline-size: 100%;
            float: inline-start;
            position: relative;
            padding-block-start: 15px;
            padding-inline-end: 20px;
            padding-block-end: 15px;
            padding-inline-start: 20px;
            box-sizing: border-box;
            text-transform: uppercase;
        }
    }
}