@import "~@dnnsoftware/dnn-react-common/styles/index";

:local(.licensingPlatform) {
    border-block-end: none;

    .intro-header-row {
        padding: 10px;
        float: inline-end;
        overflow: hidden;
        color: @mountainMist;
        border-inline-start: 1px solid @alto;
        border-block-end: 1px solid @alto;
    }

    .intro {
        text-align: center;
        padding-block-start: 50px;
        padding-inline-end: 0;
        padding-block-end: 50px;
        padding-inline-start: 0;
        border: 1px solid @alto;

        .intro-header {
            margin-block-start: 0;
            margin-inline-end: 0;
            margin-block-end: 15px;
            margin-inline-start: 0;
            font-size: 25px;
            color: @thunder
        }

        .intro-body {
            font-size: 15px;
            color: @mountainMist;
            margin-block-start: 0;
            margin-inline-end: 50px;
            margin-block-end: 0;
            margin-inline-start: 50px
        }

        .dnn-technology-editorial-icon {
            inline-size: 250px;
            float: inline-end;
            margin-block-start: 0;
            margin-inline-end: 20px;
            margin-block-end: 0;
            margin-inline-start: 20px;
            /*> svg {    inline-size: 250px}*/
        }
    }

    .links-wrapper {
        float: inline-start;
        margin-block-start: 30px;
        border: 1.5px solid @alto;
        font-weight: bolder;
        display: flex;

        .link-github-wrapper {
            float: inline-start;
            inline-size: 265px;
            margin-block-start: 25px;
            margin-inline-end: 0;
            margin-block-end: 25px;
            margin-inline-start: 0;

            .link-github {
                block-size: 100%;
                cursor: pointer;
                float: inline-start;
                margin-block-start: 0;
                margin-inline-end: 20px;
                margin-block-end: 0;
                margin-inline-start: 20px;
                text-align: center;
                border: 1px solid #fafafa;
                min-block-size: 290px;

                &:hover {
                    border: 1px solid @cerulean;
                    background-color: @alabaster
                }

                .link-github-header {
                    margin-block-start: 10px;
                    margin-inline-end: 0;
                    margin-block-end: 20px;
                    margin-inline-start: 0;
                    color: @thunder
                }

                .link-github-desc {
                    margin-block-start: 0;
                    margin-inline-end: 25px;
                    margin-block-end: 20px;
                    margin-inline-start: 25px
                }

                .github-icon {
                    margin-block-start: 10px;

                    >svg {
                        inline-size: 80px;
                        block-size: 80px
                    }
                }
            }
        }

        .link-community-wrapper {
            border-inline-end: 1px solid @alto;
            float: inline-start;
            inline-size: 264px;
            margin-block-start: 25px;
            margin-inline-end: 0;
            margin-block-end: 25px;
            margin-inline-start: 0;

            .link-community {
                block-size: 100%;
                cursor: pointer;
                float: inline-start;
                margin-block-start: 0;
                margin-inline-end: 20px;
                margin-block-end: 0;
                margin-inline-start: 20px;
                text-align: center;
                border: 1px solid #fafafa;
                min-block-size: 290px;

                &:hover {
                    border: 1px solid @cerulean;
                    background-color: @alabaster
                }

                .link-community-header {
                    margin-block-start: -10px;
                    margin-inline-end: 0;
                    margin-block-end: 20px;
                    margin-inline-start: 0;
                    color: @thunder
                }

                .link-community-desc {
                    margin-block-start: 0;
                    margin-inline-end: 25px;
                    margin-block-end: 20px;
                    margin-inline-start: 25px
                }

                .dnn-icon {
                    >svg {
                        inline-size: 110px;
                        block-size: 110px
                    }
                }
            }
        }

        .link-docs-wrapper {
            border-inline-end: 1px solid @alto;
            float: inline-start;
            inline-size: 265px;
            margin-block-start: 25px;
            margin-inline-end: 0;
            margin-block-end: 25px;
            margin-inline-start: 0;

            .link-docs {
                block-size: 100%;
                cursor: pointer;
                float: inline-start;
                margin-block-start: 0;
                margin-inline-end: 20px;
                margin-block-end: 0;
                margin-inline-start: 20px;
                text-align: center;
                border: 1px solid #fafafa;
                min-block-size: 290px;

                &:hover {
                    border: 1px solid @cerulean;
                    background-color: @alabaster
                }

                .link-docs-header {
                    margin-block-start: 10px;
                    margin-inline-end: 0;
                    margin-block-end: 20px;
                    margin-inline-start: 0;
                    color: @thunder
                }

                .link-docs-desc {
                    margin-block-start: 0;
                    margin-inline-end: 25px;
                    margin-block-end: 20px;
                    margin-inline-start: 25px
                }

                .docs-icon {
                    margin-block-start: 20px;

                    >svg {
                        block-size: 69px
                    }
                }
            }
        }
    }
}