.customCssPanel .form-item {
    line-height: 24px;
    inline-size: 100%;
    clear: both;
    margin-block-end: 20px
}

.customCssPanel .form-item.last {
    margin-block-end: 0
}

.customCssPanel .form-item.short-left {
    inline-size: 45%;
    float: inline-start;
    clear: inline-start
}

.customCssPanel .form-item.short-right {
    inline-size: 45%;
    float: inline-end;
    clear: inline-end
}

.customCssPanel .form-item span.caption {
    display: block;
    inline-size: 120px;
    font-weight: bold
}

.customCssPanel .form-item span.caption.inline {
    display: inline-block;
    float: inline-start;
    vertical-align: middle;
    block-size: 42px;
    line-height: 42px
}

.customCssPanel .form-item>span.caption.middle {
    margin-block-end: 10px
}

.customCssPanel .form-item span.caption.required:after {
    content: "*";
    color: red;
    margin-inline-start: 4px
}

.customCssPanel .form-item select {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #fff;
    border: 1px solid #bfbfbf;
    outline: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-block-end: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    padding: 11px;
    inline-size: 100%
}

.customCssPanel .form-item select {
    cursor: pointer
}

.customCssPanel .form-item span.caption.inline+div {
    margin-inline-start: 120px
}

.customCssPanel {
    margin-block-start: 128px;
    margin-inline-end: 30px;
    margin-block-end: 30px;
    margin-inline-start: 30px;
    padding: 25px;
    border: 1px solid #e6e6e6;
    background-color: #fff
}

.customCssPanel .form-item #monaco-editor {
    block-size: 220px
}

.customCssPanel .actions {
    text-align: center
}