@import "~@dnnsoftware/dnn-react-common/styles/index";

.create-portal {
    float: inline-start;

    .create-site-container {
        padding-block-start: 50px;
        padding-inline-end: 35px;
        padding-block-end: 50px;
        padding-inline-start: 35px;

        .dnn-single-line-input-with-error,
        .dnn-multi-line-input-with-error {
            inline-size: 100%
        }

        .portal-description .dnn-ui-common-multi-line-input {
            block-size: 75px;
            overflow: auto
        }

        .site-template-box {
            margin-block-start: 25px;

            .dnn-label {
                display: block;
                inline-size: 100%
            }
        }

        .site-thumbnails-container {
            inline-size: 100%;

            .dnn-dropdown-with-error {
                inline-size: 100%;
                margin-block-start: 25px;
                margin-block-end: 35px
            }
        }

        .site-type-container {
            margin-block-start: 25px;

            .dnn-radio-buttons {
                padding-block-start: 6px;

                >ul {
                    display: table
                }
            }

            .dnn-radio-buttons ul li label {
                float: inline-start
            }

            .home-directory {
                .dnn-label {
                    inline-size: 40%;
                    margin-inline-end: 0;

                    >label {
                        font-size: 13px;
                        float: inline-end;
                        margin-inline-end: 25px
                    }
                }

                .input-tooltip-container {
                    inline-size: 60%
                }
            }

            #home-directory {
                inline-size: 100%
            }
        }

        .user-as-admin {
            .dnn-switch-container {
                inline-size: 100%;

                .dnn-switch {
                    float: inline-end
                }
            }

            .user-as-admin-collapse {
                clear: both
            }
        }

        .site-action-buttons {
            text-align: center;
            margin-block-start: 25px;

            .dnn-ui-common-button {
                margin-inline-end: 10px
            }
        }

        .dnn-grid-system.with-right-border {
            padding-block-start: 25px;
            padding-inline-end: 0;
            padding-block-end: 25px;
            padding-inline-start: 0;

            >.dnn-grid-cell:last-child {
                padding-inline-start: 15px
            }

            >.dnn-grid-cell:first-child {
                padding-inline-end: 15px;
                border-inline-end: 1px solid @alto;
            }
        }
    }
}