.left {
    float: inline-start
}

.right {
    float: inline-end
}

.dnnLeft {
    float: inline-start
}

.dnnRight {
    float: inline-end
}

.dnnClear {
    clear: both;

    &:after {
        clear: both;
        content: ".";
        display: block;
        block-size: 0;
        visibility: hidden;
        font-size: 0
    }
}

*+html .dnnClear {
    min-block-size: 1%
}