@import "~@dnnsoftware/dnn-react-common/styles/index";

:local(.scannerCheckResults) {
    min-block-size: 171px;

    .scannerCheckItems-title {
        margin-block-start: 0;
        margin-inline-end: 0;
        margin-block-end: 0;
        margin-inline-start: 25px;
        color: @thunder;
    }

    .scannercheck-topbar {
        border-block-end: solid 1px @alto;
        block-size: 34px;
        margin-block-start: 20px;
        margin-inline-end: 25px;
        margin-block-end: 20px;
        margin-inline-start: 25px;
        padding-block-start: 0;
        padding-inline-end: 0;
        padding-block-end: 10px;
        padding-inline-start: 0;
        font-weight: bolder;

        .search-filter {
            float: inline-start;
            inline-size: 400px;

            &:hover {
                svg {
                    fill: @curiousBlue;
                }
            }

            >div {
                display: block !important;
                border-inline-end: 1px solid @alto;

                input {
                    display: block;
                    inline-size: 100%;
                    position: inherit !important;
                    border: none;
                    border-radius: none;
                    background-color: transparent;
                    outline: none;
                    padding-inline-end: 45px;
                    padding-block-start: 9px !important;
                    padding-inline-end: 16px !important;
                    padding-block-end: 9px !important;
                    padding-inline-start: 0 !important;

                    &::-webkit-search-cancel-button {
                        position: relative;
                        inset-inline-end: 30px;
                        cursor: pointer;
                    }
                }
            }
        }

        .search-filter-active {
            float: inline-start;
            inline-size: 400px;

            >div {
                display: block !important;
                border-inline-end: 1px solid @alto;

                input {
                    display: block;
                    inline-size: 100%;
                    position: inherit !important;
                    border: none;
                    border-radius: none;
                    background-color: transparent;
                    outline: none;
                    padding-inline-end: 45px;
                    color: @curiousBlue !important;
                    padding-block-start: 9px !important;
                    padding-inline-end: 16px !important;
                    padding-block-end: 9px !important;
                    padding-inline-start: 0 !important;

                    &::-webkit-search-cancel-button {
                        position: relative;
                        inset-inline-end: 30px;
                        cursor: pointer;
                    }
                }
            }

            svg {
                fill: @curiousBlue
            }
        }

        .files-filter {
            float: inline-end;
            border-inline-end: 1px solid @alto;
            margin-block-start: 0px;
            margin-inline-end: 20px;
            margin-block-end: 0;
            margin-inline-start: 0;
            padding-block-start: 9px;
            padding-inline-end: 20px;
            padding-block-end: 4px;
            padding-inline-start: 0px;
            block-size: 21px;
            color: @thunder;

            &:hover {
                cursor: pointer;
                color: @curiousBlue;
            }
        }

        .files-filter-active {
            float: inline-end;
            border-inline-end: 1px solid @alto;
            margin-block-start: 0px;
            margin-inline-end: 20px;
            margin-block-end: 0;
            margin-inline-start: 0;
            padding-block-start: 9px;
            padding-inline-end: 20px;
            padding-block-end: 4px;
            padding-inline-start: 0px;
            block-size: 21px;
            color: @curiousBlue;
        }

        .settings-filter {
            float: inline-end;
            color: @thunder;
            margin-block-start: 9px;
            margin-inline-end: 0;
            margin-block-end: 0;
            margin-inline-start: 0;

            &:hover {
                cursor: pointer;
                color: @curiousBlue;
            }
        }

        .settings-filter-active {
            float: inline-end;
            color: @curiousBlue;
            margin-block-start: 9px;
            margin-inline-end: 0;
            margin-block-end: 0;
            margin-inline-start: 0
        }
    }

    .scannerCheckItems {
        display: inline-block;
        margin-block-start: 15px;
        margin-inline-end: 25px;
        margin-block-end: 30px;
        margin-inline-start: 25px;
        border: solid 1px @alto;
        inline-size: 746px;

        .scannerCheckHeader-wrapper {
            &:not(:last-child) {
                border-block-end: 1px solid @alto;
            }

            width: 100%;
            float: inline-start;
            padding-block-start: 15px;
            padding-inline-end: 0;
            padding-block-end: 15px;
            padding-inline-start: 0;
            text-transform: uppercase;
            font-weight: bolder;

            .scannerCheckHeader-FileName {
                padding-block-start: 0;
                padding-inline-end: 0;
                padding-block-end: 0;
                padding-inline-start: 25px;
                inline-size: 73%;
                float: inline-start
            }

            .scannerCheckHeader-LastWriteTime {
                inline-size: 23%;
                float: inline-start
            }

            .scannerCheckHeader-DatabaseInstance {
                padding-block-start: 0;
                padding-inline-end: 0;
                padding-block-end: 0;
                padding-inline-start: 25px;
                inline-size: 40%;
                float: inline-start
            }

            .scannerCheckHeader-DatabaseValue {
                inline-size: 54%;
                float: inline-start
            }
        }

        .scannerCheckItem {
            display: table;
            inline-size: 100%;
            padding-block-start: 15px;
            padding-inline-end: 0;
            padding-block-end: 15px;
            padding-inline-start: 0;
            color: @thunder;

            &:not(:last-child) {
                border-block-end: 1px solid @alto;
            }

            .label-name {
                padding-block-start: 0;
                padding-inline-end: 0;
                padding-block-end: 0;
                padding-inline-start: 20px;
                inline-size: 73%;
                float: inline-start
            }

            .label-date {
                inline-size: 23%;
                float: inline-start
            }

            .label-columnname {
                padding-block-start: 0;
                padding-inline-end: 0;
                padding-block-end: 0;
                padding-inline-start: 20px;
                inline-size: 40%;
                float: inline-start
            }

            .label-columnvalue {
                inline-size: 54%;
                float: inline-start
            }

            .label-wrapper {
                padding-block-start: 0;
                padding-inline-end: 5px;
                padding-block-end: 0;
                padding-inline-start: 5px;
                overflow-wrap: break-word;
                word-break: break-all;
                max-inline-size: 500px;
                inline-size: 100%;
            }
        }
    }

    .scannerCheckItems-riskFiles {
        display: inline-block;
        margin-block-start: 15px;
        margin-inline-end: 25px;
        margin-block-end: 30px;
        margin-inline-start: 25px;
        border: solid 1px @alto;
        inline-size: 746px;

        .scannerCheckHeader-wrapper {
            &:not(:last-child) {
                border-block-end: 1px solid @alto;
            }

            width: 100%;
            float: inline-start;
            padding-block-start: 15px;
            padding-inline-end: 0;
            padding-block-end: 15px;
            padding-inline-start: 0;
            text-transform: uppercase;
            font-weight: bolder;

            .scannerCheckHeader-FileName {
                padding-block-start: 0;
                padding-inline-end: 0;
                padding-block-end: 0;
                padding-inline-start: 25px;
                inline-size: 75%;
                float: inline-start;
            }

            .scannerCheckHeader-LastWriteTime {
                inline-size: 20%;
                float: inline-start;
            }
        }

        .scannerCheckItem {
            display: table;
            inline-size: 100%;
            padding-block-start: 15px;
            padding-inline-end: 0;
            padding-block-end: 15px;
            padding-inline-start: 0;
            color: @thunder;

            &:not(:last-child) {
                border-block-end: 1px solid @alto;
            }

            .label-name {
                padding-block-start: 0;
                padding-inline-end: 0;
                padding-block-end: 0;
                padding-inline-start: 20px;
                inline-size: 75%;
                float: inline-start;
            }

            .label-date {
                inline-size: 20%;
                float: inline-start;
            }

            .label-wrapper {
                padding-block-start: 0;
                padding-inline-end: 5px;
                padding-block-end: 0;
                padding-inline-start: 5px;
                overflow-wrap: break-word;
                word-break: break-all;
                max-inline-size: 500px;
                inline-size: 100%;
            }
        }
    }

    .scannerCheckItems-portalSettings {
        display: inline-block;
        margin-block-start: 15px;
        margin-inline-end: 25px;
        margin-block-end: 30px;
        margin-inline-start: 25px;
        border: solid 1px @alto;
        inline-size: 746px;

        .scannerCheckHeader-wrapper {
            &:not(:last-child) {
                border-block-end: 1px solid @alto;
            }

            width: 100%;
            float: inline-start;
            padding-block-start: 15px;
            padding-inline-end: 0;
            padding-block-end: 15px;
            padding-inline-start: 0;
            text-transform: uppercase;
            font-weight: bolder;

            .scannerCheckHeader-PortalId {
                padding-block-start: 0;
                padding-inline-end: 0;
                padding-block-end: 0;
                padding-inline-start: 25px;
                inline-size: 10%;
                float: inline-start;
            }

            .scannerCheckHeader-SettingName {
                inline-size: 35%;
                float: inline-start
            }

            .scannerCheckHeader-SettingValue {
                inline-size: 20%;
                float: inline-start;
            }

            .scannerCheckHeader-UserId {
                inline-size: 10%;
                float: inline-start;
            }

            .scannerCheckHeader-LastWriteTime {
                inline-size: 18%;
                float: inline-start
            }
        }

        .scannerCheckItem {
            display: table;
            inline-size: 100%;
            padding-block-start: 15px;
            padding-inline-end: 0;
            padding-block-end: 15px;
            padding-inline-start: 0;
            color: @thunder;

            &:not(:last-child) {
                border-block-end: 1px solid @alto;
            }

            .label-id {
                padding-block-start: 0;
                padding-inline-end: 0;
                padding-block-end: 0;
                padding-inline-start: 20px;
                inline-size: 10%;
                float: inline-start
            }

            .label-name {
                inline-size: 35%;
                float: inline-start
            }

            .label-value {
                inline-size: 20%;
                float: inline-start
            }

            .label-user {
                inline-size: 10%;
                float: inline-start
            }

            .label-date {
                inline-size: 18%;
                float: inline-start
            }

            .label-wrapper {
                padding-block-start: 0;
                padding-inline-end: 5px;
                padding-block-end: 0;
                padding-inline-start: 5px;
                overflow-wrap: break-word;
                word-break: break-all;
                inline-size: 100%;
                max-inline-size: 150px
            }
        }
    }

    .scannerCheckItems-hostSettings {
        display: inline-block;
        margin-block-start: 15px;
        margin-inline-end: 25px;
        margin-block-end: 30px;
        margin-inline-start: 25px;
        border: solid 1px @alto;
        inline-size: 746px;

        .scannerCheckHeader-wrapper {
            &:not(:last-child) {
                border-block-end: 1px solid @alto;
            }

            width: 100%;
            float: inline-start;
            padding-block-start: 15px;
            padding-inline-end: 0;
            padding-block-end: 15px;
            padding-inline-start: 0;
            text-transform: uppercase;
            font-weight: bolder;

            .scannerCheckHeader-SettingName {
                padding-block-start: 0;
                padding-inline-end: 0;
                padding-block-end: 0;
                padding-inline-start: 25px;
                inline-size: 35%;
                float: inline-start
            }

            .scannerCheckHeader-SettingValue {
                inline-size: 30%;
                float: inline-start
            }

            .scannerCheckHeader-UserId {
                inline-size: 10%;
                float: inline-start
            }

            .scannerCheckHeader-LastWriteTime {
                inline-size: 18%;
                float: inline-start
            }
        }

        .scannerCheckItem {
            display: table;
            inline-size: 100%;
            padding-block-start: 15px;
            padding-inline-end: 0;
            padding-block-end: 15px;
            padding-inline-start: 0;
            color: @thunder;

            &:not(:last-child) {
                border-block-end: 1px solid @alto;
            }

            .label-name {
                padding-block-start: 0;
                padding-inline-end: 0;
                padding-block-end: 0;
                padding-inline-start: 20px;
                inline-size: 35%;
                float: inline-start
            }

            .label-value {
                inline-size: 30%;
                float: inline-start
            }

            .label-user {
                inline-size: 10%;
                float: inline-start
            }

            .label-date {
                inline-size: 18%;
                float: inline-start
            }

            .label-wrapper {
                padding-block-start: 0;
                padding-inline-end: 5px;
                padding-block-end: 0;
                padding-inline-start: 5px;
                overflow-wrap: break-word;
                word-break: break-all;
                inline-size: 100%;
                max-inline-size: 150px
            }
        }
    }

    .scannerCheckItems-tabSettings {
        display: inline-block;
        margin-block-start: 15px;
        margin-inline-end: 25px;
        margin-block-end: 30px;
        margin-inline-start: 25px;
        border: solid 1px @alto;
        inline-size: 746px;

        .scannerCheckHeader-wrapper {
            &:not(:last-child) {
                border-block-end: 1px solid @alto;
            }

            width: 100%;
            float: inline-start;
            padding-block-start: 15px;
            padding-inline-end: 0;
            padding-block-end: 15px;
            padding-inline-start: 0;
            text-transform: uppercase;
            font-weight: bolder;

            .scannerCheckHeader-TabId {
                padding-block-start: 0;
                padding-inline-end: 0;
                padding-block-end: 0;
                padding-inline-start: 25px;
                inline-size: 10%;
                float: inline-start
            }

            .scannerCheckHeader-PortalId {
                inline-size: 10%;
                float: inline-start
            }

            .scannerCheckHeader-SettingName {
                inline-size: 25%;
                float: inline-start
            }

            .scannerCheckHeader-SettingValue {
                inline-size: 20%;
                float: inline-start
            }

            .scannerCheckHeader-UserId {
                inline-size: 10%;
                float: inline-start
            }

            .scannerCheckHeader-LastWriteTime {
                inline-size: 18%;
                float: inline-start
            }
        }

        .scannerCheckItem {
            display: table;
            inline-size: 100%;
            padding-block-start: 15px;
            padding-inline-end: 0;
            padding-block-end: 15px;
            padding-inline-start: 0;
            color: @thunder;

            &:not(:last-child) {
                border-block-end: 1px solid @alto;
            }

            .label-tab {
                padding-block-start: 0;
                padding-inline-end: 0;
                padding-block-end: 0;
                padding-inline-start: 20px;
                inline-size: 10%;
                float: inline-start
            }

            .label-id {
                inline-size: 10%;
                float: inline-start
            }

            .label-name {
                inline-size: 25%;
                float: inline-start
            }

            .label-value {
                inline-size: 20%;
                float: inline-start
            }

            .label-user {
                inline-size: 10%;
                float: inline-start
            }

            .label-date {
                inline-size: 18%;
                float: inline-start
            }

            .label-wrapper {
                padding-block-start: 0;
                padding-inline-end: 5px;
                padding-block-end: 0;
                padding-inline-start: 5px;
                overflow-wrap: break-word;
                word-break: break-all;
                inline-size: 100%;
                max-inline-size: 150px
            }
        }
    }

    .scannerCheckItems-moduleSettings {
        display: inline-block;
        margin-block-start: 15px;
        margin-inline-end: 25px;
        margin-block-end: 30px;
        margin-inline-start: 25px;
        border: solid 1px @alto;
        inline-size: 746px;

        .scannerCheckHeader-wrapper {
            &:not(:last-child) {
                border-block-end: 1px solid @alto;
            }

            width: 100%;
            float: inline-start;
            padding-block-start: 15px;
            padding-inline-end: 0;
            padding-block-end: 15px;
            padding-inline-start: 0;
            text-transform: uppercase;
            font-weight: bolder;

            .scannerCheckHeader-Type {
                padding-block-start: 0;
                padding-inline-end: 0;
                padding-block-end: 0;
                padding-inline-start: 25px;
                inline-size: 18%;
                float: inline-start
            }

            .scannerCheckHeader-ModuleId {
                inline-size: 11%;
                float: inline-start
            }

            .scannerCheckHeader-PortalId {
                inline-size: 10%;
                float: inline-start
            }

            .scannerCheckHeader-SettingName {
                inline-size: 15%;
                float: inline-start
            }

            .scannerCheckHeader-SettingValue {
                inline-size: 15%;
                float: inline-start
            }

            .scannerCheckHeader-UserId {
                inline-size: 8%;
                float: inline-start
            }

            .scannerCheckHeader-LastWriteTime {
                inline-size: 18%;
                float: inline-start
            }
        }

        .scannerCheckItem {
            display: table;
            inline-size: 100%;
            padding-block-start: 15px;
            padding-inline-end: 0;
            padding-block-end: 15px;
            padding-inline-start: 0;
            color: @thunder;

            &:not(:last-child) {
                border-block-end: 1px solid @alto;
            }

            .label-type {
                padding-block-start: 0;
                padding-inline-end: 0;
                padding-block-end: 0;
                padding-inline-start: 20px;
                inline-size: 18%;
                float: inline-start
            }

            .label-module {
                inline-size: 11%;
                float: inline-start
            }

            .label-id {
                inline-size: 10%;
                float: inline-start
            }

            .label-name {
                inline-size: 15%;
                float: inline-start
            }

            .label-value {
                inline-size: 15%;
                float: inline-start
            }

            .label-user {
                inline-size: 8%;
                float: inline-start
            }

            .label-date {
                inline-size: 18%;
                float: inline-start
            }

            .label-wrapper {
                padding-block-start: 0;
                padding-inline-end: 5px;
                padding-block-end: 0;
                padding-inline-start: 5px;
                overflow-wrap: break-word;
                word-break: break-all;
                inline-size: 100%;
                max-inline-size: 150px
            }
        }
    }
}