@import "~@dnnsoftware/dnn-react-common/styles/index";

:local(.topPaneWrapper) {
    .topPane-time {
        float: inline-end;
        padding-block-start: 0;
        padding-inline-end: 0;
        padding-block-end: 10px;
        padding-inline-start: 0;
        color: @thunder;

        .topPane-time-name {
            float: inline-start
        }

        .topPane-time-value {
            float: inline-end;
            inline-size: 150px;
            text-align: end
        }
    }

    .topPane {
        background-color: #fff;
        padding: 15px;
        display: block;
        box-sizing: border-box;
        float: inline-start;
        inline-size: 100%;
        block-size: auto;
        border: 1px solid @alto;
        margin-block-end: 15px;

        .topPane-left {
            float: inline-start;
            margin-inline-end: 30px;
            font-weight: bolder;
            font-size: 14px;
            inline-size: 40px
        }

        .topPane-middle {
            float: inline-start;
            padding-inline-end: 50px;
            inline-size: 35%;

            .topPane-middle-name {
                font-weight: bolder;
                font-size: 14px;
                padding-block-start: 0;
                padding-inline-end: 0;
                padding-block-end: 9px;
                padding-inline-start: 0;
                color: @curiousBlue
            }

            .topPane-middle-name-stopped {
                font-weight: bolder;
                font-size: 14px;
                padding-block-start: 0;
                padding-inline-end: 0;
                padding-block-end: 9px;
                padding-inline-start: 0;
                color: @alizarinCrimson
            }

            .topPane-middle-common {
                color: @thunder;
                inline-size: 100%;
                float: inline-start;
                padding-block-start: 0;
                padding-inline-end: 0;
                padding-block-end: 10px;
                padding-inline-start: 0;

                .topPane-middle-common-title {
                    font-weight: bolder;
                    float: inline-start;
                    max-inline-size: 90%
                }

                .topPane-middle-common-value {
                    float: inline-end
                }

                .editIcon {
                    inline-size: 16px;
                    block-size: 16px;
                    float: inline-end;
                    padding-inline-start: 3px;
                    margin-inline-end: -20px;
                    cursor: pointer;

                    >svg {
                        &:hover {
                            fill: @thunder
                        }

                        fill: @alto
                    }
                }

                .editIconDisabled {
                    inline-size: 16px;
                    block-size: 16px;
                    float: inline-end;
                    padding-inline-start: 3px;
                    margin-inline-end: -20px;

                    >svg {
                        fill: @alto
                    }
                }

                .collapsible-content {
                    z-index: 1000;
                    background-color: @white;
                    position: absolute;
                    inline-size: 420px;
                    margin-block-start: -45px;
                    margin-inline-end: 0;
                    margin-block-end: 0;
                    margin-inline-start: -92px;
                    text-align: start;

                    .collapsible-content-mode {
                        >div {
                            border: solid 1px @alto
                        }
                    }
                }
            }

            .topPane-middle-content-body .modepanel-content-outer-wrapper {
                block-size: 200px
            }
        }

        .topPane-right {
            float: inline-start;
            border-inline-end: solid 1px @alto;
            padding-inline-end: 30px;
            inline-size: 20%;

            .topPane-right-common {
                color: @thunder;
                inline-size: 100%;
                float: inline-start;
                padding-block-start: 0;
                padding-inline-end: 0;
                padding-block-end: 10px;
                padding-inline-start: 0;

                .topPane-right-common-title {
                    font-weight: bolder;
                    float: inline-start;
                    max-inline-size: 90%
                }

                .topPane-right-common-value {
                    float: inline-end
                }
            }
        }

        .topPane-button {
            float: inline-end;
            padding-block-start: 15px;
            margin-inline-end: 10px;
            max-inline-size: 155px;

            .dnn-ui-common-button {
                block-size: auto;
                padding-block-start: 6px;
                padding-block-end: 6px
            }

            .topPane-button-start {
                border: 2px solid @alizarinCrimson;
                color: @alizarinCrimson
            }
        }
    }
}