@import "~@dnnsoftware/dnn-react-common/styles/index";

.roles-list-container {
    margin-block-start: 100px;
    float: inline-start;

    &>div {
        padding: 0;
    }

    * {
        box-sizing: border-box
    }

    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    display: table;
    float: inline-start;

    .container {
        .no-users-row {
            inline-size: 100%;
            float: inline-start;
            text-align: center;
            font-weight: bold;
            padding-block-start: 13px;
            padding-inline-end: 20px;
            padding-block-end: 13px;
            padding-inline-start: 20px;
            box-sizing: border-box;
            border-block-end: 1px solid @alto;
        }

        float: inline-start;
        inline-size: 100%;
        margin-block-end: 20px;
        border-inline-start: 1px solid @alto;
        border-inline-end: 1px solid @alto;
        background-color: white;

        .users-header-row {
            display: table;
            inline-size: 100%;
            border-block-end: 1px solid @alto;
            border-block-start: 1px solid @alto;
            inline-size: 100%;
            float: inline-start;
            position: relative;
            padding-block-start: 15px;
            padding-inline-end: 20px;
            padding-block-end: 15px;
            padding-inline-start: 20px;
            box-sizing: border-box;
            text-transform: uppercase;
        }

        .add-setting-editor {
            float: inline-start;

            .collapsible-component1.false {
                border-block-end: 0;
            }
        }
    }

    .add-setting-row {
        text-align: end;
        inline-size: 100%;
        font-weight: bolder;
        overflow: hidden;
        cursor: pointer;
        box-sizing: border-box;
        border-block-end: 1px solid @alto;
        padding-block-start: 0;
        padding-inline-end: 0;
        padding-block-end: 15px;
        padding-inline-start: 20px;
        margin-block-end: 15px;

        .add-setting-box {
            inline-size: auto;
            float: inline-end;

            .add-icon {
                margin-inline-start: 20px;
                margin-inline-end: 5px;
                float: inline-start;
                cursor: pointer;

                svg {
                    fill: @rollingStone;
                    inline-size: 16px;
                    float: inline-start;
                    block-size: 16px;
                }
            }

            &.false {
                color: @curiousBlue;

                svg {
                    fill: @curiousBlue;
                }
            }
        }

        .add-setting-box {
            &.false:hover {
                color: @thunder;

                svg {
                    fill: @thunder;
                }
            }
        }
    }

    .loadMore {
        text-align: center;

        a {
            display: inline-block;
            block-size: 36px;
            line-height: 36px;
            min-inline-size: 130px;
            border: 1px solid @alto;
            color: @curiousBlue;
            text-decoration: none;
            font-weight: bold;
        }
    }

}