@import "~@dnnsoftware/dnn-react-common/styles/index";

.role-user-row {
    inline-size: 100%;
    float: inline-start;
    padding-block-start: 13px;
    padding-inline-end: 20px;
    padding-block-end: 13px;
    padding-inline-start: 20px;
    box-sizing: border-box;

    &:not(:last-child) {
        border-block-end: 1px solid @alto;
    }

    div.edit-row a {
        display: inline-block
    }

    .dnn-grid-cell {
        box-sizing: border-box;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;

        .actions {
            float: inline-end;
            box-sizing: border-box;
            block-size: 20px;
            text-align: end;

            &>div {
                text-align: end
            }

            // &:h    over {    //     span {    //         float: right;
            //         .dnn-day-picker {    //             .calendar-icon {    //                 display: block;
            //}
            //}
            //}
            //}
            span {
                float: inline-end;

                .dnn-day-picker {
                    block-size: 19px;

                    .calendar-icon {
                        opacity: 0;
                        inline-size: 19px;
                        block-size: 19px;

                        &.active {
                            opacity: 1
                        }
                    }
                }

                a {
                    svg {
                        inline-size: 23px;
                        block-size: 23px
                    }
                }
            }

            a {
                float: inline-end;
                opacity: 0
            }

            &:hover {
                a {
                    display: inline-block
                }
            }

            div.edit-row a {
                display: inline-block
            }
        }
    }

    .dnn-grid-cell:last-child {
        overflow: visible
    }

    &:hover {
        .dnn-grid-cell {
            .actions {
                span {
                    float: inline-end;

                    .dnn-day-picker {
                        .calendar-icon {
                            opacity: 1
                        }
                    }
                }

                a {
                    opacity: 1
                }
            }
        }
    }
}