@import "~@dnnsoftware/dnn-react-common/styles/index";

#adminlogs-container {
    .dnn-persona-bar-page-body {
        border-block-end: 0;

        .react-tabs {
            * {
                box-sizing: border-box
            }

            .log-detail {
                margin-block-start: 0px;
                margin-inline-end: 10px;
                margin-block-end: 10px;
                margin-inline-start: 58px;

                * {
                    white-space: normal;
                    word-break: break-all;
                    word-wrap: break-word
                }

                pre {
                    white-space: pre-wrap
                }
            }

            .logHeader-wrapper {
                &:not(:last-child) {
                    border-block-end: 1px solid @alto
                }

                width: 100%;
                float: inline-start;
                padding-block-start: 15px;
                padding-inline-end: 0;
                padding-block-end: 15px;
                padding-inline-start: 0;
                text-transform: uppercase
            }

            .logHeader-Checkbox {
                float: inline-start;
                margin-inline-start: 15px;
                inline-size: 30px
            }

            .logHeader-LogTypeCSSClass {
                inline-size: 21px;
                float: inline-start
            }

            .logHeader-LogCreateDate {
                inline-size: 130px;
                float: inline-start;
                font-weight: bolder
            }

            .logHeader-LogTypeFriendlyName {
                inline-size: 140px;
                float: inline-start;
                font-weight: bolder
            }

            .logHeader-LogUserName {
                inline-size: 90px;
                float: inline-start;
                font-weight: bolder
            }

            .logHeader-LogPortalName {
                inline-size: 110px;
                float: inline-start;
                font-weight: bolder
            }

            .logHeader-Summary {
                inline-size: 220px;
                float: inline-start;
                font-weight: bolder
            }

            .Exception {
                color: #fff;
                background-color: #ff1414;
                inline-size: 15px;
                block-size: 15px;
                display: block;
                float: inline-start;
                margin-block-start: 0px;
                margin-inline-end: 6px;
                margin-block-end: 0;
                margin-inline-start: 0
            }

            .ItemCreated {
                color: #fff;
                background-color: #009900;
                inline-size: 15px;
                block-size: 15px;
                display: block;
                float: inline-start;
                margin-block-start: 0px;
                margin-inline-end: 6px;
                margin-block-end: 0;
                margin-inline-start: 0
            }

            .ItemUpdated {
                color: #fff;
                background-color: #009999;
                inline-size: 15px;
                block-size: 15px;
                display: block;
                float: inline-start;
                margin-block-start: 0px;
                margin-inline-end: 6px;
                margin-block-end: 0;
                margin-inline-start: 0
            }

            .ItemDeleted {
                color: #000;
                background-color: #14ffff;
                inline-size: 15px;
                block-size: 15px;
                display: block;
                float: inline-start;
                margin-block-start: 0px;
                margin-inline-end: 6px;
                margin-block-end: 0;
                margin-inline-start: 0
            }

            .OperationSuccess {
                color: #fff;
                background-color: #999900;
                inline-size: 15px;
                block-size: 15px;
                display: block;
                float: inline-start;
                margin-block-start: 0px;
                margin-inline-end: 6px;
                margin-block-end: 0;
                margin-inline-start: 0
            }

            .OperationFailure {
                color: #fff;
                background-color: #990000;
                inline-size: 15px;
                block-size: 15px;
                display: block;
                float: inline-start;
                margin-block-start: 0px;
                margin-inline-end: 6px;
                margin-block-end: 0;
                margin-inline-start: 0
            }

            .GeneralAdminOperation {
                color: #fff;
                background-color: #4d0099;
                inline-size: 15px;
                block-size: 15px;
                display: block;
                float: inline-start;
                margin-block-start: 0px;
                margin-inline-end: 6px;
                margin-block-end: 0;
                margin-inline-start: 0
            }

            .AdminAlert {
                color: #fff;
                background-color: #148aff;
                inline-size: 15px;
                block-size: 15px;
                display: block;
                float: inline-start;
                margin-block-start: 0px;
                margin-inline-end: 6px;
                margin-block-end: 0;
                margin-inline-start: 0
            }

            .HostAlert {
                color: #fff;
                background-color: #ff8a14;
                inline-size: 15px;
                block-size: 15px;
                display: block;
                float: inline-start;
                margin-block-start: 0px;
                margin-inline-end: 6px;
                margin-block-end: 0;
                margin-inline-start: 0
            }

            .SecurityException {
                color: #fff;
                background-color: #000;
                inline-size: 15px;
                block-size: 15px;
                display: block;
                float: inline-start;
                margin-block-start: 0px;
                margin-inline-end: 6px;
                margin-block-end: 0;
                margin-inline-start: 0
            }

            .logContainer {
                padding-block-start: 20px;
                padding-inline-end: 0;
                padding-block-end: 20px;
                padding-inline-start: 0;
                float: inline-start
            }

            .logContainerBox {
                border: solid 1px @alto;
                float: inline-start
            }

            .toolbar {
                border-block-end: solid 1px @alto;
                display: block;
                float: inline-start;
                inline-size: 100%;
                padding-block-start: 7px;
                padding-inline-end: 0;
                padding-block-end: 7px;
                padding-inline-start: 0;

                .adminlogs-filter-container:first-child {
                    >.dnn-dropdown {
                        .collapsible-label {
                            padding-inline-start: 0
                        }
                    }
                }

                .adminlogs-filter-container {
                    inline-size: 26%;
                    block-size: 32px;
                    margin-block-start: 10px;
                    border-inline-end: 1px solid @alto;
                    float: inline-start;

                    .dnn-dropdown {
                        .collapsible-toggle {
                            inline-size: auto
                        }
                    }
                }

                .toolbar-button {
                    float: inline-end;
                    border-inline-start: solid 1px @alto;
                    text-align: center;
                    cursor: pointer;
                    block-size: 32px;
                    inline-size: 100%;

                    &:hover {
                        color: #0087C6;

                        .collapsible-content {
                            color: #000
                        }
                    }

                    .collapsible-content {
                        -webkit-box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.2);
                        -moz-box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.2);
                        box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.2);
                        margin-block-start: 13px;
                        z-index: 1000;
                        background-color: #fff;
                        position: absolute;
                        inline-size: 400px;
                        margin-inline-start: -288px;
                        text-align: start
                    }
                }

                .toolbar-button-actions {
                    margin-block-start: 10px;
                    padding-block-start: 8px;
                    font-weight: bold;
                    color: @thunder
                }
            }

            .logPager {
                margin-block-start: 0;
                margin-inline-end: 0;
                margin-block-end: 20px;
                margin-inline-start: 0;
                float: inline-start;
                inline-size: 100%
            }

            .logLegend-wrapper {
                float: inline-start;
                border-block-start: solid 1px @alto;
                inline-size: 100%;
                padding-block-start: 20px;
                padding-inline-end: 0;
                padding-block-end: 20px;
                padding-inline-start: 0;

                .logLegend-item {
                    float: inline-start;
                    inline-size: 250px;
                    padding-block-start: 5px;
                    padding-inline-end: 5px;
                    padding-block-end: 5px;
                    padding-inline-start: 0px
                }
            }
        }
    }
}


.adminlogs-email-panel {
    block-size: 450px
}