@import "~@dnnsoftware/dnn-react-common/styles/index.less";

:local(.htmlEditorManager) {
    .htmlEditor-back {
        float: inline-start;
        font-weight: bolder;
        color: @thunder;
        margin-block-start: 105px;
        margin-inline-end: 0;
        margin-block-end: 10px;
        margin-inline-start: 0;
        cursor: pointer;

        &:hover {
            color: @curiousBlue
        }
    }

    .htmlEditorIframe {
        inline-size: 100%;
        block-size: 800px
    }
}