@import "~@dnnsoftware/dnn-react-common/styles/index";

.role-details-editor {
    padding-block-start: 10px;
    padding-inline-end: 0;
    padding-block-end: 10px;
    padding-inline-start: 0;
    background-color: @white;
    display: block;
    float: inline-start;

    .editor-container {
        float: inline-start;
        padding-block-start: 10px;
        padding-inline-end: 20px;
        padding-block-end: 10px;
        padding-inline-start: 20px;
        inline-size: 100%;
        box-sizing: border-box;

        &.right-column {
            border-inline-start: 1px solid @alto;
        }

        .title-row {
            inline-size: 100%;
            float: inline-start;
            font-weight: bold;
            text-transform: uppercase;
            margin-block-end: 10px
        }

        .status-row {
            inline-size: 100%;
            float: inline-start;
            margin-block-end: 10px;

            .left {
                float: inline-start;
                inline-size: 70%;

                .dnn-label {
                    float: inline-start;

                    label {
                        float: inline-start
                    }
                }
            }

            .right {
                float: inline-end;
                inline-size: 30%;
                text-align: end;

                .checkbox {
                    float: inline-end
                }
            }

            .dnn-switch-container {
                float: inline-end
            }
        }

        .editor-row {
            float: inline-start;
            inline-size: 100%;

            select {
                &.full {
                    float: inline-start;
                    inline-size: 100%
                }

                &.two-fifth {
                    float: inline-start;
                    inline-size: 40%
                }

                &.one-fourth {
                    float: inline-start;
                    inline-size: 25%
                }
            }

            .text-section {
                inline-size: 5%;
                float: inline-start;
                text-align: center;
                vertical-align: middle;
                margin-block-start: 9px
            }

            .dnn-single-line-input-with-error,
            input {
                inline-size: 100%;

                .dnn-label {
                    label {
                        font-weight: 500;
                        cursor: default
                    }
                }

                &.disabled {
                    input {
                        cursor: default
                    }
                }
            }

            &.divider {
                padding-block-end: 20px;

                .dnn-uicommon-select,
                .dnn-ui-common-single-line-input {
                    border-radius: 0px
                }

                .dnn-ui-common-multi-line-input {
                    padding-block-start: 8px;
                    padding-inline-end: 16px;
                    padding-block-end: 62px;
                    padding-inline-start: 16px;
                    border-radius: 0px;
                    min-block-size: 106px;
                    margin-block-end: 5px
                }

                .new-group-container {
                    position: absolute;
                    z-index: 999
                }

                .dnn-label {
                    float: inline-start;

                    label {
                        float: inline-start
                    }
                }
            }
        }
    }

    .buttons-box {
        inline-size: 100%;
        text-align: center;
        float: inline-start;
        margin-block-start: 15px;
        margin-inline-end: 0;
        margin-block-end: 15px;
        margin-inline-start: 0;

        .dnn-ui-common-button {
            margin: 5px
        }

        .edit-icon {
            margin-block-start: 0px;
            margin-inline-end: 10px;
            margin-block-end: 20px;
            margin-inline-start: 10px;
            float: inline-end;

            svg {
                inline-size: 16px;
                float: inline-start;
                block-size: 16px
            }
        }
    }
}