.TransitionModalPortal {
    position: fixed;
    inset-block-start: 0px;
    inset-inline-start: 0px;
    inset-inline-end: 0px;
    inset-block-end: 0px;
    background-color: transparent;
    z-index: 99999;

    .transition-modal-content {
        padding-block-start: 30px;
        padding-inline-end: 40px;
        padding-block-end: 30px;
        padding-inline-start: 40px;

        h3 {
            font-size: 20px;
            margin-block-end: 20px
        }

        .buttons-container {
            text-align: center;
            margin-block-start: 20px;

            button {
                margin-inline-start: 20px
            }
        }
    }
}

.transition-modal {
    opacity: 0;
    transition: .3s;
    position: fixed;
    inset-block-start: -1000px;
    inset-inline-start: -1000px;
    inset-block-end: -1000px;
    inset-inline-end: -1000px;
    z-index: 9999;
    transform: scale(.86);

    &.open {
        opacity: 1;
        transform: scale(1)
    }

    .overlay {
        position: absolute;
        inset-block-start: 0;
        inset-inline-start: 0;
        inset-block-end: 0;
        inset-inline-end: 0;
        background: rgba(0, 0, 0, .7)
    }

    .modal-content {
        position: absolute;
        inline-size: 1000px;
        block-size: 590px;
        inset-block-start: 50%;
        inset-inline-start: 50%;
        transform: translate(-50%, -50%);
        background: var(--dnn-color-background, #fff);
        overflow: hidden;

        .close {
            position: absolute;
            inset-block-start: 4px;
            inset-inline-end: 6px;
            font-size: 46px;
            padding-inline-end: 14px;
            cursor: pointer;
            inline-size: 37px;

            &:hover {
                color: var(--dnn-color-background, #fff)
            }
        }

        .header {
            float: inline-start;
            inline-size: 100%;
            background: var(--dnn-color-primary-dark, #0c3b4f);
            padding: 20px;
            font-size: 20px
        }
    }
}