//Colors
@root_color: #fff;
@root_backgroundColor: #000;
@root_hover_color: #000;
@root_hover_backgroundColor: #fff;

@menu_backgroundColor: #fff;
@menu_border_color: #ccc;
@menu_hover_backgroundColor: #e8f1fa;

@primarybtn_backgroundColor: #0087c6;
@primarybtn_color: #fff;
@secondarybtn_backgroundColor: #e4e4e4;
@secondarybtn_color: #333333;

@menu_width: 220px;
@root_width: 20px;
@root_height: 20px;

.dnnEditState .DnnModule:hover {
    opacity: 1
}

.dnnEditState.dnnOpacityDisabled .DnnModule {
    opacity: 1
}

div.actionMenu ul {
    z-index: 1000 !important
}

div.actionMenu ul:hover,
div.actionMenu ul.showhover {
    z-index: 1003 !important
}

div.actionMenu ul.dnn_mact {
    margin-block-end: 0;
    margin-inline-start: 0
}

div.actionMenu ul.dnn_mact li {
    position: relative;
    list-style: none
}

div.actionMenu ul.dnn_mact>li {
    inline-size: 20px;
    block-size: 20px;
    float: inline-start;
    padding: 0;
    margin: 0;
    cursor: pointer;
    border: 1px solid transparent;
    background: transparent
}

div.actionMenu ul.dnn_mact>li:hover {
    border: 1px solid @menu_border_color;
    border-block-end: 1px solid @menu_backgroundColor;
    background: @menu_backgroundColor
}

div.actionMenu ul.dnn_mact>li>a {
    display: inline-block;
    inline-size: @root_width;
    block-size: @root_height;
    background-color: @root_backgroundColor;
    color: @root_color;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-decoration: none
}

div.actionMenu ul.dnn_mact>li:hover>a {
    background-color: @root_hover_backgroundColor;
    color: @root_hover_color
}

div.actionMenu ul.dnn_mact>li>a>i {
    vertical-align: baseline
}

/* Secondary level */
div.actionMenu ul.dnn_mact>li ul {
    /* Styles for all sub levels */
    display: none;
    position: absolute;
    inset-block-start: @root_height;
    inline-size: @menu_width;
    padding: 0;
    margin: 0;
    margin-inline-end: -1px;
    background: @menu_backgroundColor;
    border: 1px solid @menu_border_color;
    list-style-type: none;
    -webkit-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.3)
}

div.actionMenu ul.dnn_mact>li>ul {
    /* styles specific to secondary level */
    inset-inline-end: 0
}

div.actionMenu ul.dnn_mact>li>ul>li {
    display: block;
    padding: 0;
    margin: 0;
    border-block-start: 1px solid @menu_border_color;
    white-space: nowrap
}

div.actionMenu ul.dnn_mact>li>ul>li:first-child {
    border: none;
}

div.actionMenu ul.dnn_mact>li>ul li:hover {
    background-color: @menu_hover_backgroundColor
}

div.actionMenu ul.dnn_mact>li.actionQuickSettings>ul li:hover {
    background-color: @menu_backgroundColor
}

div.actionMenu ul.dnn_mact>li ul a {
    display: block;
    padding-block-start: 5px;
    padding-inline-end: 12px;
    padding-block-end: 5px;
    padding-inline-start: 12px;
    color: #666;
    text-decoration: none;
    overflow: hidden;
    font-size: 11px
}

div.actionMenu ul.dnn_mact>li ul a>* {
    display: inline-block;
    margin-inline-end: 5px
}

div.actionMenu ul.dnn_mact>li>ul>li:hover a {
    color: #333
}

div.actionMenu ul.dnn_mact>li.actionMenuMove>ul {
    max-block-size: 220px;
    overflow: auto;
    padding: 0;
    margin: 0
}

div.actionMenu ul.dnn_mact>li.actionMenuMove>ul li {
    padding-block-start: 8px;
    padding-inline-end: 0;
    padding-block-end: 5px;
    padding-inline-start: 10px;
    block-size: 20px;
    margin: 0;
    border-block-end: 1px solid @menu_border_color;
    border-block-start: none;
    cursor: pointer;
    font-size: 12px;
    font-family: Arial;
    line-height: 18px;
    text-shadow: none
}

div.actionMenu ul.dnn_mact>li.actionQuickSettings>ul {
    inline-size: auto;
    min-block-size: 250px;
    overflow: auto;
    cursor: default;
    z-index: 1000
}

div.actionMenu ul.dnn_mact>li.actionQuickSettings div.qsHeader {
    margin-block-start: 9px;
    margin-inline-start: 10px;
    margin-inline-end: 10px;
    padding-block-end: 9px;
    border-block-end: 1px solid @menu_border_color;
    font-size: 20px
}

div.actionMenu ul.dnn_mact>li.actionQuickSettings div.qsContainer {
    margin-inline-start: 10px;
    margin-inline-end: 10px;
    min-block-size: 150px;
    border-block-end: 1px solid @menu_border_color
}

div.actionMenu ul.dnn_mact>li.actionQuickSettings div.qsFooter {
    margin-block-start: 6px;
    padding-block-end: 6px;
    clear: both;
    inline-size: 100%;
    padding-block-start: 10px;
    text-align: center
}

div.actionMenu ul.dnn_mact>li.actionQuickSettings div.qsFooter a {
    margin-inline-start: 10px;
    margin-inline-end: 10px
}

div.actionMenu ul.dnn_mact>li.actionQuickSettings div.qsFooter a.primarybtn {
    background: @primarybtn_backgroundColor;
    color: @primarybtn_color !important;
    display: inline-block;
    padding: 9px;
    cursor: pointer;
    min-inline-size: 75px;
    border-radius: 3px;
    text-decoration: none;
    text-align: center;
    font-size: 13px
}

div.actionMenu ul.dnn_mact>li.actionQuickSettings div.qsFooter a.secondarybtn {
    background: @secondarybtn_backgroundColor;
    color: @secondarybtn_color !important;
    display: inline-block;
    padding: 9px;
    cursor: pointer;
    min-inline-size: 75px;
    border-radius: 3px;
    text-decoration: none;
    text-align: center;
    font-size: 13px
}

div.actionMenu ul.dnn_mact li.dnn_menu_label {
    display: inline-block;
    inline-size: 20px;
    block-size: 100px;
    background-color: @menu_backgroundColor;
    pointer-events: none
}

div.actionMenu ul.dnn_mact li.dnn_menu_label>div {
    display: inline-block;
    inline-size: 20px;
    block-size: 20px;
    writing-mode: tb-rl;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    white-space: nowrap;
    color: white;
    background-color: #000;
    background-image: none !important
}