@import "../../less/globals.less";
@import "~@dnnsoftware/dnn-react-common/styles/index";

.page-language {
    background: @gallery;
    float: inline-start;
    inline-size: 250px;
    padding-block-end: 40px;

    * {
        float: inline-start
    }

    .page-language-row {
        inline-size: 100%;
        padding: 10px;
        border-block-end: 1px solid @alto;
        border-inline-end: 1px solid @alto;

        span {
            margin-inline-start: 4px
        }

        input {
            inline-size: 100%;
            margin-block-end: 10px;
            border-radius: 0
        }

        textarea {
            border: 1px solid #ddd;
            inline-size: 100%;
            block-size: 100px;
            padding-block-start: 8px;
            padding-inline-end: 16px;
            padding-block-end: 8px;
            padding-inline-start: 16px;
            resize: none
        }

        .icon {
            float: inline-end;
            inline-size: 18px;
            cursor: pointer;
            margin-inline-start: 2px;

            &.float-left {
                float: inline-start
            }

            >svg {
                inline-size: 18px;
                block-size: 18px
            }

            &.blue {
                svg {
                    fill: @curiousBlue
                }
            }
        }

        .page-language-row-header {
            inline-size: 100%;
            block-size: 34px;
            padding-block-start: 8px;

            &>.icon {
                svg {
                    fill: black
                }
            }

            .dnn-checkbox-container .checkbox input[type=checkbox]+label {
                background: white
            }

            .dnn-checkbox-container .checkbox input[type=checkbox]:checked+label {
                background: @curiousBlue
            }

            .icon {
                float: inline-start !important;
                inline-size: 29px;
                block-size: 13px;
                margin-block-start: -7px;

                &.blue {
                    svg {
                        fill: @curiousBlue
                    }
                }
            }

            .icons-container {
                float: inline-end;

                .icon {
                    inline-size: 18px;
                    margin-block-start: 0px
                }

                .dnn-checkbox-container {
                    inline-size: 13px;
                    block-size: 13px;
                    margin-inline-end: 2px;
                    margin-block-start: 2px;
                    margin-inline-start: 3px
                }
            }
        }

        .module-row {
            margin-block-start: 10px;
            inline-size: 100%;
            block-size: 34px;

            .icons-container {
                inline-size: 90px;
                inline-size: 37px;
                padding-block-start: 6px;

                .dnn-checkbox-container {
                    inline-size: 13px;
                    block-size: 13px;
                    margin-inline-start: 2px;
                    margin-block-start: 2px
                }
            }

            &.copy {
                padding-block-start: 8px;
                padding-inline-end: 4px;
                padding-block-end: 8px;
                padding-inline-start: 4px
            }

            .dnn-ui-common-tooltip {
                float: inline-start;
                position: static;
                margin-block-start: 7px;
                margin-inline-end: 10px
            }

            input {
                inline-size: ~"calc(100% - 67px)";
                margin: 0px
            }

            &.footer {
                block-size: 10px;
                margin-block-end: 6px;

                &>div {
                    float: inline-end
                }

                .checkbox {
                    margin-inline-start: 6px;
                    margin-inline-end: 2px;
                    margin-block-start: 1px
                }
            }
        }
    }
}