@import "../../less/globals.less";
@import "~@dnnsoftware/dnn-react-common/styles/index";

.page-localization {
    padding-block-end: 40px;
    float: inline-start;
    inline-size: 100%;

    .page-localization-container {
        float: inline-start;
        inline-size: 100%;
        border: 1px solid @alto;

        .default-language-container {
            float: inline-start;
            inline-size: 250px
        }

        .languages-container {
            float: inline-start;
            border-inline-start: 1px solid @mountainMist;
            inline-size: 444px;
        }
    }

    .button-container {
        margin-block-start: 20px;
        float: inline-start;
        inline-size: 100%;

        .float-right {
            margin-inline-start: 5px;
        }

        .float-left {
            margin-inline-end: 5px;
        }
    }

    .modal-content {
        inline-size: 500px;
        block-size: 320px
    }

    .transition-modal .modal-content .close:hover {
        color: black
    }
}

.float-right {
    float: inline-end
}

.neutral-page {
    background: @alabaster;
    float: inline-start;
    inline-size: 100%;
    padding: 20px;
    margin-block-end: 60px;
    margin-block-start: 10px;

    p {
        margin-block-end: 10px;
    }

    .left-panel {
        inline-size: 60%;
        float: inline-start;
        padding-inline-end: 20px;
        border-inline-end: 1px solid @alto;
    }

    .right-panel {
        padding-inline-start: 20px;
        float: inline-start;
        inline-size: 40%
    }
}