@import "~@dnnsoftware/dnn-react-common/styles/index";
@transition: .18s;

.dnn-package-upload {
    float: inline-start;
    inline-size: 100%;
    block-size: 215px;
    background: @alabaster;
    outline: 1px solid @mountainMist;
    position: relative;
    border: 12px solid @white;
    box-sizing: content-box;

    * {
        box-sizing: content-box
    }

    &.viewing-log {
        outline: none;
        border: none
    }

    .dropzone-container {
        position: absolute;
        inline-size: 100%;
        block-size: 100%;
        z-index: 3;
        background-color: @gallery
    }

    .no-valid-manifest {
        background-color: @alabaster;
        position: absolute;
        inset-block-start: -13px;
        inset-inline-start: -13px;
        z-index: 3;
        padding-block-start: 45px;
        padding-inline-end: 25px;
        padding-block-end: 45px;
        padding-inline-start: 25px;
        text-align: center;

        >p {
            margin-block-end: 25px
        }

        .dnn-radio-buttons {
            margin-block-start: 0;
            margin-inline-end: auto;
            margin-block-end: 0;
            margin-inline-start: auto;
            float: none;
            inline-size: auto;
            display: table
        }
    }

    &.uploading {
        .dropzone-container {
            background-color: transparent;

            .overlay {
                opacity: 0;

                &.hover {
                    opacity: 1
                }

                &:hover {
                    opacity: 1;
                    background: rgba(30, 136, 195, 0.9)
                }
            }
        }
    }

    &.already-installed {
        .dropzone-container {
            z-index: 1
        }
    }

    .overlay {
        position: absolute;
        background: rgba(30, 136, 195, .0);
        inset-block-start: -12px;
        inset-block-end: -12px;
        inset-inline-start: -12px;
        inset-inline-end: -12px;
        text-align: center;
        transition: @transition;
        z-index: 1;

        &.hover {
            background: rgba(30, 136, 195, .6);
            opacity: 1;

            * {
                pointer-events: none
            }

            span {
                color: white
            }

            .buttons {
                .button.upload {
                    color: white
                }
            }
        }

        &:hover {
            background: rgba(30, 136, 195, .6);

            span {
                color: white
            }

            .buttons {
                &:hover {
                    .button {
                        color: @alto;

                        &:hover {
                            color: white
                        }
                    }
                }

                .button {
                    color: white
                }
            }
        }

        span {
            text-align: center;
            margin-block-start: 25px;
            float: inline-start;
            inline-size: 100%;
            box-sizing: border-box;
            color: @rollingStone;
            transition: @transition;
            font-size: 14px
        }

        .buttons {
            margin: auto;
            block-size: 32px;
            margin-block-start: 60px;
            inline-size: 201px;
            transition: @transition;

            .button {
                float: inline-start;
                inline-size: 32px;
                block-size: 32px;
                padding-block-start: 0;
                padding-inline-end: 17.5px;
                padding-block-end: 0;
                padding-inline-start: 17.5px;
                box-sizing: content-box;
                color: @alto;
                cursor: pointer;
                position: relative;
                overflow: hidden;

                input[type="file"] {
                    position: absolute;
                    inset-block-start: -100px;
                    inset-block-end: -100px;
                    inset-inline-start: -100px;
                    inset-inline-end: -100px;
                    opacity: 0;
                    cursor: pointer;
                    min-block-size: 200px
                }

                svg {
                    inline-size: 32px;
                    block-size: 32px
                }

                &:first-of-type {
                    margin-inline-start: 0px
                }
            }
        }
    }

    .file-upload-container {
        position: absolute;
        inset-block-start: -12px;
        inset-block-end: -12px;
        inset-inline-start: -12px;
        inset-inline-end: -12px;
        background: white;
        padding-block-start: 14px;
        padding-inline-end: 22px;
        padding-block-end: 14px;
        padding-inline-start: 22px;
        z-index: 2;

        h4 {
            margin-block-end: 8px;
            color: @bulgarianRose
        }

        .textarea-container {
            float: inline-start;
            inline-size: 100%;
            block-size: 90px;
            border: 1px solid @mountainMist;
            position: relative;

            textarea {
                resize: none;
                inline-size: 100%;
                block-size: 64px;
                border: none;
                outline: none !important;
                padding: 10px;
                box-sizing: border-box;
                color: @bulgarianRose
            }
        }

        span {
            float: inline-end;
            margin-inline-end: 10px;
            color: @curiousBlue
        }

        .drop-down {
            inline-size: 100%;
            float: inline-start;
            block-size: 30px;
            border: 1px solid @mountainMist;
            margin-block-end: 16px;
            position: relative;

            &:after {
                content: "";
                position: absolute;
                inset-inline-end: 8px;
                inset-block-start: 12px;
                inline-size: 0;
                block-size: 0;
                pointer-events: none;
                border-inline-start: 6px solid transparent;
                border-inline-end: 6px solid transparent;
                border-block-start: 6px solid @rollingStone
            }
        }
    }
}

.install-failure-logs {
    z-index: 10000;
    background-color: white;

    .package-installation-report {
        padding: 25px;

        p {
            word-wrap: break-word
        }

        p.failure {
            color: @alizarinCrimson;
            font-weight: bold
        }

        p.startjob,
        p.endjob {
            color: #000;
            font-weight: bold
        }

        .logs-unknown-error {
            ul {
                padding-inline-start: 40px;
                display: block;
                margin-block-start: 10px
            }
        }
    }
}

.dnn-package-upload .file-upload-container {
    &.dnn-upload-bar {
        padding: 12px;
        transition: opacity .4s .6s;

        .upload-bar-container {
            color: @curiousBlue;
            float: inline-start;
            inline-size: 100%;
            block-size: 100%;
            border: 1px solid @curiousBlue;
            background: #f4f6f7;
            padding-block-start: 5px;
            padding-inline-end: 20px;
            padding-block-end: 5px;
            padding-inline-start: 20px;
            box-sizing: border-box;

            .upload-file-name {
                margin-block-end: 10px
            }

            .upload-icon {
                inline-size: 42px;
                block-size: 42px;
                margin: auto;

                svg {
                    margin-block-start: 8px;
                    margin-block-end: 3px
                }
            }

            h4 {
                color: @curiousBlue;
                margin: auto;
                text-align: center;
                font-size: 14px;
                margin-block-start: 15px;
                margin-inline-end: 10px;
                margin-block-end: 10px;
                margin-inline-start: 10px
            }

            .upload-bar-box {
                position: relative;
                float: inline-start;
                inline-size: 100%;
                block-size: 4px;
                background: @alto;
                margin-block-start: 5px;

                .upload-bar {
                    inline-size: 0;
                    float: inline-start;
                    background: @curiousBlue;
                    block-size: 100%;
                    inset-inline-start: 0px;
                    transition: .1s
                }
            }
        }
    }

    &.upload-error {
        z-index: 3;

        .upload-bar-container {
            border: 1px solid @alizarinCrimson;
            color: @alizarinCrimson;

            h4 {
                color: @alizarinCrimson
            }

            .view-log-or-try-again {
                text-align: center;

                span {
                    float: none;
                    color: @curiousBlue;
                    cursor: pointer;
                    margin-inline-start: 10px
                }
            }

            .upload-bar-box {
                background: @alizarinCrimson
            }
        }
    }
}

.dnn-package-upload .already-installed {
    position: absolute;
    inset-block-start: -12px;
    inset-block-end: -12px;
    inset-inline-start: -12px;
    inset-inline-end: -12px;
    background: white;
    padding-block-start: 14px;
    padding-inline-end: 22px;
    padding-block-end: 14px;
    padding-inline-start: 22px;
    z-index: 4;

    .already-installed-container {
        color: @mountainMist;
        float: inline-start;
        inline-size: 100%;
        block-size: 100%;
        border: 1px solid @mountainMist;
        background: @gallery;
        padding-block-start: 5px;
        padding-inline-end: 20px;
        padding-block-end: 5px;
        padding-inline-start: 20px;
        box-sizing: border-box;

        .upload-file-name {
            margin-block-end: 10px
        }

        .upload-icon {
            inline-size: 42px;
            margin: auto;

            svg {
                margin-block-start: 8px;
                margin-block-end: 3px;
                inline-size: 42px;
                block-size: 42px
            }
        }

        h4 {
            color: @mountainMist;
            margin: auto;
            text-align: center;
            font-size: 12px;
            margin-block-start: 10px;
            margin-inline-end: 10px;
            margin-block-end: 15px;
            margin-inline-start: 10px
        }

        .repair-or-install {
            text-align: center;

            span {
                color: @curiousBlue;
                cursor: pointer
            }
        }
    }
}