@import "~@dnnsoftware/dnn-react-common/styles/index";

.roles-list-container {
    .roleusers-form {
        inline-size: 80%;
        margin-block-start: 20px;
        margin-inline-end: 10%;
        margin-block-end: 20px;
        margin-inline-start: 10%;
        float: inline-start;
        box-sizing: border-box;

        &.isloading {
            pointer-events: none !important;

            * {
                pointer-events: none !important
            }

            .role-user-row {
                opacity: .4
            }
        }

        .role-users-list {
            float: inline-start;
            inline-size: 100%;
            margin-block-start: 15px;
            margin-inline-end: 0;
            margin-block-end: 15px;
            margin-inline-start: 0;
            display: table;
            cursor: auto;
            box-sizing: border-box;
            border: 1px solid @alto;

            .role-user-body {
                color: @rollingStone;

                .no-roles-row {
                    inline-size: 100%;
                    float: inline-start;
                    text-align: center;
                    font-weight: bold;
                    padding-block-start: 13px;
                    padding-inline-end: 20px;
                    padding-block-end: 13px;
                    padding-inline-start: 20px;
                    box-sizing: border-box
                }
            }

            .role-user-header-row {
                display: table;
                inline-size: 100%;
                border-block-end: 1px solid @alto;
                inline-size: 100%;
                float: inline-start;
                position: relative;
                padding-block-start: 15px;
                padding-inline-end: 20px;
                padding-block-end: 15px;
                padding-inline-start: 20px;
                box-sizing: border-box;
                text-transform: uppercase;

                .search-container {
                    float: inline-start;
                    inline-size: 100%;
                    box-sizing: border-box;

                    >div {
                        float: inline-start;
                        inline-size: 100%;
                        box-sizing: border-box;
                        display: block !important;

                        input {
                            display: block;
                            inline-size: 100%;
                            border: none;
                            //position: inherit !important;
                            border-inline-start: 1px solid @alto;
                            background-color: transparent;
                            border-radius: 0;
                            outline: none;
                            padding-inline-end: 24px
                        }

                        svg {
                            inline-size: 16px !important;
                            block-size: 16px !important;
                            margin-block-start: 7px
                        }
                    }
                }
            }
        }

        .header {
            inline-size: 100%;
            float: inline-start;
            box-sizing: border-box;

            .header-title {
                inline-size: 100%;
                font-weight: bold;
                display: inline-block;
                text-transform: uppercase;
                margin-block-start: 10px;
                margin-block-end: 10px
            }

            .add-box {
                inline-size: 100%;
                float: inline-start;
                box-sizing: border-box;
                border-block-end: 1px solid @alto;

                .send-email-box {
                    inline-size: 100%;
                    float: inline-start;

                    .dnn-checkbox-container {
                        .checkbox {
                            margin-block-end: 0px
                        }

                        float: inline-start;
                        margin-block-start: 10px;
                        margin-inline-end: 10px
                    }

                    label {
                        color: @alto
                    }
                }

                span {
                    float: inline-start;
                    inline-size: 100%;
                    display: inline-block;
                    border-inline-start: 1px solid @alto;

                    .rw-combobox {
                        float: inline-start;
                        inline-size: 250px;
                        block-size: 34px;
                        vertical-align: middle;
                        padding: 0;
                        border: none;
                        color: @bulgarianRose;
                        border-radius: 0;
                        display: inline-block;
                        box-shadow: none;
                        background: transparent;

                        button {
                            display: none
                        }

                        ::-webkit-input-placeholder {
                            /* WebKit, Blink, Edge */
                            color: @alto
                        }

                        :-moz-placeholder {
                            /* Mozilla Firefox 4 to 18 */
                            color: @alto;
                            opacity: 1
                        }

                        ::-moz-placeholder {
                            /* Mozilla Firefox 19+ */
                            color: @alto;
                            opacity: 1
                        }

                        :-ms-input-placeholder {
                            /* Internet Explorer 10-11 */
                            color: @alto
                        }

                        input {
                            -webkit-box-shadow: none;
                            padding-block-start: 0;
                            padding-inline-end: 0;
                            padding-block-end: 0;
                            padding-inline-start: 12px;
                            block-size: 100%;
                            vertical-align: top;
                            background-color: transparent;

                            &::-ms-clear {
                                display: none
                            }
                        }

                        .rw-widget-picker.rw-widget-container {
                            block-size: 32px;
                            line-height: 32px;
                            border: none;

                            input {
                                block-size: inherit;
                                line-height: inherit;
                                border: inherit
                            }
                        }

                        .rw-popup-container {
                            box-shadow: none;

                            .rw-popup {
                                border-radius: 0px;
                                border: 1px solid @alto;
                                box-shadow: none;

                                ul.rw-list {
                                    margin: 0;
                                    padding: 0;

                                    li {
                                        padding-inline-start: 15px;
                                        block-size: 30px;
                                        line-height: 30px;
                                        color: @rollingStone;
                                        border: none;
                                        outline: none;
                                        overflow: hidden;
                                        text-overflow: ellipsis;
                                        white-space: nowrap
                                    }

                                    li:hover {
                                        background-color: @gallery;
                                        color: @curiousBlue
                                    }

                                    li.rw-state-selected {
                                        background-color: transparent;
                                        color: @curiousBlue
                                    }
                                }
                            }
                        }
                    }

                    .add-user-button {
                        float: inline-end;
                        text-align: end;
                        inline-size: auto;
                        font-weight: bolder;
                        overflow: hidden;
                        cursor: pointer;
                        box-sizing: border-box;
                        padding-block-start: 10px;

                        svg {
                            fill: @rollingStone
                        }

                        span {
                            border: none
                        }
                    }

                    button[role="secondary"] {
                        vertical-align: middle;
                        margin-block-start: 0;
                        margin-inline-end: 0;
                        margin-block-end: 0;
                        margin-inline-start: 10px
                    }
                }
            }
        }
    }
}