@import "~@dnnsoftware/dnn-react-common/styles/index";

:local(.moduleContainer) {
    .module-title {
        text-align: end;
        inline-size: 100%;
        float: inline-end;
        margin-block-start: 0;
        margin-inline-end: 0;
        margin-block-end: 15px;
        margin-inline-start: 0;
        font-weight: bolder;
        border-block-end: 1px solid @alto;
        overflow: hidden;
        block-size: 32px;

        .sectionTitle {
            font-weight: bolder;
            float: inline-start;
            line-height: 25px
        }

        .module-icon svg {
            inline-size: 24px;
            block-size: 24px;
            float: inline-start;
            fill: @thunder;
            margin-inline-end: 5px;
        }
    }

    .module-table {
        float: inline-start;
        inline-size: 100%;
        margin-block-end: 20px;
        border-inline-start: 1px solid @alto;
        border-inline-end: 1px solid @alto;
    }

    .no-modules {
        inline-size: 100%;
        float: inline-start;
        text-align: center;
        font-weight: bold;
        padding-block-start: 13px;
        padding-inline-end: 20px;
        padding-block-end: 13px;
        padding-inline-start: 20px;
        box-sizing: border-box;
        border-block-end: 1px solid @alto;
    }

    .header-row {
        display: table;
        inline-size: 100%;
        border-block-end: 1px solid @alto;
        border-block-start: 1px solid @alto;
        inline-size: 100%;
        float: inline-start;
        position: relative;
        padding-block-start: 15px;
        padding-inline-end: 20px;
        padding-block-end: 15px;
        padding-inline-start: 20px;
        box-sizing: border-box;
        text-transform: uppercase;
    }

    .add-setting-editor {
        //border-bottom: 1px solid @alto;
        float: inline-start
    }
}