@import "~@dnnsoftware/dnn-react-common/styles/index";

:local(.seoContainer) {
    float: inline-start;
    inline-size: 100%;
    margin-block-end: 20px;

    .dnn-grid-system {
        .right-column {
            padding-inline-start: 30px;

            .new-section {
                margin-block-start: 20px
            }
        }

        .left-column {
            border-inline-end: 1px solid @alto;
            padding-inline-end: 30px
        }
    }

    .link-icon svg {
        inline-size: 24px;
        block-size: 24px;
        float: inline-start;
        fill: @thunder;
        margin-inline-end: 5px
    }

    .url-table {
        margin-block-end: 30px;
        inline-size: 100%;
        float: inline-start;
        border-inline-start: 1px solid @alto;
        border-inline-end: 1px solid @alto;

        .header-row {
            display: table;
            inline-size: 100%;
            border-block-end: 1px solid @alto;
            border-block-start: 1px solid @alto;
            inline-size: 100%;
            float: inline-start;
            position: relative;
            padding-block-start: 15px;
            padding-inline-end: 20px;
            padding-block-end: 15px;
            padding-inline-start: 20px;
            box-sizing: border-box;
            text-transform: uppercase;
        }
    }

    .add-setting-editor {
        //border-bottom: 1px solid @alto;
        float: inline-start
    }

    .editUrl {
        inline-size: 100%;
        float: inline-start;
        padding-block-start: 15px;
        padding-inline-end: 20px;
        padding-block-end: 0;
        padding-inline-start: 20px;

        .editUrl-body {
            block-size: 450px
        }

        .left-column {
            padding-inline-end: 15px
        }

        .right-column {
            padding-inline-start: 15px
        }

        .dnn-dropdown {
            margin-block-end: 32px
        }
    }

    .dnn-dropdown {
        inline-size: 100%
    }

    .row-opened {
        margin-block-start: -3px;
        margin-block-end: -1px;
        border-block-start: 2px solid @curiousBlue;
        border-block-end: 2px solid @curiousBlue !important;
    }
}