/*-------------------------------------*/
/* URL ACTION */
/*-------------------------------------*/
.urlControl label {
    inline-size: auto;
    margin-block-start: 0;
    font-weight: normal
}

.urlControlLinkType {
    inline-size: auto
}

.urlControlLinkType span,
.dnnFormItem .urlControlLinkType span {
    float: none;
    display: block;
    inline-size: auto;
    text-align: start
}

.dnnFormItem .ucLinkTypeRadioButtons label {
    display: inline-block;
    inline-size: 260px;
    padding-inline-end: 0;
    margin-block-start: 0;
    font-weight: normal;
    text-align: start
}

.urlControlLinkType span input {
    min-inline-size: 3%
}

.dnnForm.dnnModuleSettings .dnnFormItem .urlControlLinkType span label {
    text-align: start
}

.urlControlFileRow {
    clear: both
}

.urlControlFileRow span.dnnFormLabel {
    inline-size: auto;
    text-align: end
}

.urlControlFileRow select,
.urlControlFileRow input[type=file] {
    clear: both
}

.urlControlImagesRow {
    overflow: hidden;
    clear: both
}

.urlControlImagesRow span.dnnFormLabel {
    inline-size: auto;
    text-align: end
}

.urlControlImagesRow select {
    clear: both
}

/*-------------------------------------*/
/* URL Control
/*-------------------------------------*/

.urlControl {
    float: inline-start;
    display: block;
    padding: 15px;
    margin-block-end: 10px;
    background-color: #f0f0f0
}

.urlControl select,
.urlControl input {
    inline-size: 180px;
    margin-block-end: 10px
}

.urlControl dnnFormItem>a.dnnSecondaryAction {
    margin-block-start: 10px;
    margin-inline-end: 10px;
    margin-block-end: 0;
    margin-inline-start: 0;
    float: inline-start
}

.urlControl .urlControlLinkType {
    float: inline-start;
    inline-size: 100%
}

.urlControl .urlControlLinkType .dnnFormLabel {
    float: inline-start;
    inline-size: auto;
    margin-inline-end: 5px
}

.urlControl .urlControlLinkType input[type="radio"] {
    inline-size: auto;
    margin-inline-end: 5px
}