@import "~@dnnsoftware/dnn-react-common/styles/index.less";

.language-roles-list-container {
    inline-size: 100%;
    box-sizing: border-box;
    display: table;
    float: inline-start;

    .translator-sectionTitle {
        font-weight: bolder;
        float: inline-start;
        text-transform: uppercase;
        inline-size: auto;
        margin-block-start: 8px;

        .dnn-label {
            float: inline-start;

            label {
                color: #000;
                float: inline-start
            }
        }
    }

    .group-filter {
        border-inline-start: 1px solid @alto;
        border-inline-end: 1px solid @alto;
        float: inline-end
    }

    .container {
        float: inline-start;
        inline-size: 100%;
        margin-block-start: 5px;
        margin-block-end: 20px;
        border-inline-start: 1px solid @alto;
        border-inline-end: 1px solid @alto;
        box-sizing: border-box;

        .header-row {
            display: table;
            inline-size: 100%;
            border-block-end: 1px solid @alto;
            border-block-start: 1px solid @alto;
            inline-size: 100%;
            float: inline-start;
            position: relative;
            padding-block-start: 15px;
            padding-inline-end: 20px;
            padding-block-end: 15px;
            padding-inline-start: 20px;
            box-sizing: border-box;
            text-transform: uppercase;

            .dnn-grid-cell {
                padding-inline-start: 20px;

                &:last-child {
                    margin-inline-start: -35px
                }
            }
        }
    }
}