#users-container {
    * {
        box-sizing: border-box
    }

    .create-user-box-collapse {
        float: inline-start;

        >div {
            float: inline-start
        }
    }

    .header-row {
        padding-block-start: 10px;
        padding-inline-end: 15px;
        padding-block-end: 10px;
        padding-inline-start: 15px
    }

    .user-names {
        padding-inline-start: 17px !important
    }

    .user-emails,
    .user-joined {
        padding-inline-start: 15px !important
    }

    .dnn-persona-bar-page-header {
        button.dnn-ui-common-button {
            margin-inline-start: 10px
        }
    }

    .dnn-persona-bar-page-body {
        &.without-margin {
            margin-block-start: 0
        }

        .users-workspace-tray {
            block-size: 37px;

            .dnn-grid-cell {
                block-size: 100%;
                padding-block-start: 7px;

                .users-filter-container {
                    .user-filters-filter {
                        block-size: 30px;

                        .dnn-dropdown {
                            .collapsible-label {
                                padding-block-start: 4px
                            }

                            .dropdown-icon {
                                inset-block-start: 5px
                            }
                        }
                    }
                }

                .dnn-search-box {
                    inline-size: 100%;
                    block-size: 30px
                }
            }
        }

        .users-paging {
            float: inline-start;
            inline-size: 100%;
            margin-block-start: 0;
            margin-inline-end: 2px;
            margin-block-end: 0;
            margin-inline-start: 2px;
            padding: 18px
        }
    }
}