@import "~@dnnsoftware/dnn-react-common/styles/index";

:local(.taskStatusItemRow) {
    border: solid 1px @alto;
    margin-block-start: 15px;
    margin-inline-end: 15px;
    margin-block-end: 0px;
    margin-inline-start: 15px;
    float: inline-start;

    &:not(:first-child) {
        margin-block-start: 15px
    }

    &:last-child {
        margin-block-end: 15px
    }
}