@import "~@dnnsoftware/dnn-react-common/styles/index";

:local(.createVocabulary) {
    .create-box {
        padding-block-start: 25px;
        padding-inline-end: 50px;
        padding-block-end: 25px;
        padding-inline-start: 50px;

        .dnn-single-line-input-with-error,
        .dnn-multi-line-input-with-error {
            inline-size: 100%
        }

        label {
            float: inline-start;
            margin-inline-end: 15px;
            font-weight: bold
        }

        .dnn-radio-buttons {
            float: inline-start;
            inline-size: 100%;

            label:first-child {
                inline-size: 65px;
                word-wrap: break-word;
                margin-block-end: 15px
            }
        }

        .dnn-ui-common-input-group {
            margin-block-end: 15px;
            float: inline-start;
            inline-size: 100%;

            >label {
                font-weight: bold
            }

            input,
            textarea,
            select {
                border-radius: 0px;
                inline-size: 100%
            }

            textarea {
                block-size: 100px;
                padding: 5px
            }
        }

        .action-buttons {
            float: inline-start;
            inline-size: 100%;
            text-align: center;
            margin-block-start: 20px;
            margin-inline-end: 0;
            margin-block-end: 20px;
            margin-inline-start: 0;
            position: relative;

            .required-help-text {
                position: absolute;
                inset-block-start: 15px;
                inset-inline-start: 0;
                color: @rollingStone
            }

            button:first-child {
                margin-inline-end: 15px
            }
        }
    }
}