@import "~@dnnsoftware/dnn-react-common/styles/index";

.scheduler-setting-editor {
    margin-block-start: 10px;
    margin-inline-end: 0;
    margin-block-end: 10px;
    margin-inline-start: 0;

    .scheduler-item-container {
        display: flex;
        inline-size: 100%;

        .scheduler-item-column {
            flex: 0 1 50%
        }
    }

    .container {
        padding-block-start: 2%;
        padding-inline-end: 8%;
        padding-block-end: 2%;
        padding-inline-start: 8%;

        &.right-column {
            border-inline-start: 1px solid @alto;
        }

        .title-row {
            inline-size: 100%;
            float: inline-start;
            font-weight: bold;
            text-transform: uppercase;
            margin-block-end: 10px
        }

        .status-row {
            inline-size: 100%;
            float: inline-start;
            margin-block-end: 10px;

            .left {
                float: inline-start;
                inline-size: 50%
            }

            .right {
                float: inline-end;
                inline-size: 50%;
                text-align: end;

                .checkbox {
                    float: inline-end
                }
            }
        }

        .editor-row {
            float: inline-start;
            inline-size: 100%;

            label {
                font-weight: bolder;
                clear: both;
                float: inline-start;
                text-align: start;
                inline-size: 100%;
                margin-block-end: 5px
            }

            select {
                padding-block-start: 8px;
                padding-inline-end: 16px;
                padding-block-end: 8px;
                padding-inline-start: 5px;

                &.full {
                    float: inline-start;
                    inline-size: 100%
                }

                &.two-fifth {
                    float: inline-start;
                    inline-size: 40%
                }

                &.one-fourth {
                    float: inline-start;
                    inline-size: 25%
                }
            }

            .dnn-dropdown {
                inline-size: 100%;
                margin-block-end: 30px
            }

            .text-section {
                inline-size: 5%;
                float: inline-start;
                text-align: center;
                vertical-align: middle;
                margin-block-start: 9px
            }

            .dnn-day-picker {
                inline-size: 100%;
                margin-block-end: 32px
            }

            .dnn-day-picker {
                inline-size: 100%;

                select {
                    padding: 0
                }

                .calendar-text {
                    inline-size: ~"calc(100% - 37px)";
                }

                .clear-button {
                    line-height: 28px;
                }
            }

            .switch-button {
                label {
                    inline-size: auto;
                }
            }
        }
    }

    .buttons-box {
        inline-size: 100%;
        text-align: center;
        float: inline-start;
        margin-block-start: 10px;
        margin-inline-end: 0;
        margin-block-end: 10px;
        margin-inline-start: 0;

        .dnn-ui-common-button {
            margin: 5px
        }

        .edit-icon {
            margin-block-start: 0px;
            margin-inline-end: 10px;
            margin-block-end: 20px;
            margin-inline-start: 10px;
            float: inline-end;

            svg {
                inline-size: 16px;
                float: inline-start;
                block-size: 16px
            }
        }
    }
}