@import "~@dnnsoftware/dnn-react-common/styles/index";

.dnn-in-context-menu {
    &.menu-item {
        float: inline-start;
        cursor: pointer;
        color: black;
        inline-size: 100%;
        padding-block-start: 10px;
        padding-inline-end: 20px;
        padding-block-end: 10px;
        padding-inline-start: 20px;

        .icon {
            //transition: padding-left .20s ease-in;
            float: inline-start;
            inline-size: 15%;
            block-size: 28px;

            svg {
                inline-size: 23.7px;
                fill: @alto
            }

            svg:hover {
                inline-size: 23.7;
                fill: @curiousBlue
            }
        }

        .label {
            //transition: padding-left .20s ease-in;
            float: inline-start;
            inline-size: 85%;
            line-height: 28px;
            padding-inline-start: 20px
        }

        &:hover {
            background-color: @gallery;
            color: @curiousBlue;

            svg {
                inline-size: 23.7;
                fill: @curiousBlue
            }

            svg:hover {
                inline-size: 23.7;
                fill: @curiousBlue
            }
        }
    }

    &.menu {
        position: absolute;
        inset-inline-end: -18px;
        margin-block-start: 10px;
        text-align: start;
        z-index: 9999;
        min-inline-size: 200px;
        border: 1px solid @alto;
        border-radius: 3px;
        background-color: @white;
        list-style: none;
        padding-block-start: 10px;
        padding-inline-end: 0px;
        padding-block-end: 10px;
        padding-inline-start: 0px;
        box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);

        &:before {
            content: '';
            position: absolute;
            inset-block-start: -10px;
            inset-inline-end: -10px;
            inset-block-end: -10px;
            inset-inline-start: -10px
        }
    }
}