.subscription-table-container {
    display: table;
    inline-size: 100%;
    position: relative;
    background-color: white
}

.loading-panel {
    background: url("../../../Images/loading.gif") no-repeat scroll center center #FFFFFF;
    inset-block-end: 0;
    inset-inline-start: 0;
    opacity: 0.7;
    position: absolute;
    inset-inline-end: 0;
    inset-block-start: 0;
    z-index: 999
}

#subscription-table {
    border-spacing: 0;
    border-collapse: collapse;
    margin-block-end: 0;
    inline-size: 100%
}

    #subscription-table tfoot {
        background-color: #E9E9E9;
        color: gray
    }

    #subscription-table thead > tr > th > span.sortable {
        cursor: pointer;
        float: inline-start
    }

    #subscription-table thead > tr > th span.sortArrow {
        box-shadow: none;
        display: inline-block;
        float: inline-end;
        block-size: 16px;
        inline-size: 15px
    }

    #subscription-table thead > tr > th span.sortAsc {
        background: url("../../../images/dnnSpinnerUpArrow.png") no-repeat scroll center center transparent
    }

    #subscription-table thead > tr > th span.sortDesc {
        background: url("../../../images/dnnSpinnerDownArrow.png") no-repeat scroll center center transparent
    }

.subscriptions-page-size,
.subscriptions-pager {
    float: inline-start;
    line-height: 40px;
    margin-inline-end: 10px
}

    .subscriptions-page-size select {
        inline-size: 60px;
        vertical-align: inherit;
        margin-block-end: 0
    }

    .subscriptions-pager .disabled {
        color: gray
    }

    .subscriptions-pager .currentPage {
        font-weight: bold
    }

    .subscriptions-pager ul {
        display: inline;
        list-style: none outside none;
        margin: 0
    }

        .subscriptions-pager ul li {
            display: inline
        }

.subscriptions-count {
    float: inline-end;
    line-height: 40px
}
