@import "~@dnnsoftware/dnn-react-common/styles/index";

:local(.otherSettings) {
    margin: 30px;

    * {
        box-sizing: border-box
    }

    .dnn-ui-common-input-group {
        label {
            font-weight: bolder;
            float: inline-start
        }

        .dnn-switch-container {
            float: inline-end
        }

        .dnn-single-line-input-with-error {
            inline-size: 100%
        }

        .dnn-multi-line-input-with-error {
            inline-size: 100%;

            .dnn-ui-common-multi-line-input {
                margin-block-end: 0 !important
            }
        }

        .otherSettings-row_switch {
            margin-block-start: 0;
            margin-inline-end: 0;
            margin-block-end: 20px;
            margin-inline-start: 0;
            border-block-end: 1px solid @alto;
            display: table;
            inline-size: 100%;
            padding-block-start: 0;
            padding-inline-end: 0;
            padding-block-end: 10px;
            padding-inline-start: 0
        }
    }

    .buttons-box {
        inline-size: 100%;
        text-align: center;
        margin-block-start: 10px;
        margin-inline-end: 0;
        margin-block-end: 10px;
        margin-inline-start: 0;

        .dnn-ui-common-button {
            margin: 5px
        }
    }
}