@import "~@dnnsoftware/dnn-react-common/styles/index.less";

.collapsible-component-users {
  .collapsible-header-users.false {
    border-block-start: 2px solid @curiousBlue;
    border-block-end: 2px solid @curiousBlue;
    margin-block-start: -2px
  }
}

:local(.extensionDetailRow) {
  &.closed {
    padding: 0;
    border-block-end: none
  }

  padding: 15px 0 7.5px;
  border-block-end: 1px solid @alto;

  .user-avatar {
    text-align: center;

    img {
      border-radius: 25px;
      inline-size: 40px
    }
  }

  .user-detail-row {
    float: inline-start;
    inline-size: 100%;

    >div {
      inline-size: 100%;
      float: inline-start
    }
  }

  .user-emails {
    padding-inline-start: 11px !important
  }

  .email-link {
    >a {
      color: @curiousBlue;
      text-decoration: none
    }
  }

  .user-names {
    .user-name {
      display: flex;
      gap: 0.5rem;
      align-items: center;

      img {
        max-inline-size: 32px;
        max-block-size: 32px;
        border-radius: 50%
      }
    }

    padding-left: 2px !important;

    h6 {
      font-size: 15px
    }

    p {
      text-transform: lowercase
    }
  }

  .user-joined {
    padding-inline-start: 22px !important
  }

  .deleted {
    text-decoration: line-through
  }

  .extension-action {
    //width: 20px;
    //height: 20px;
    margin-inline-start: 5px;
    float: inline-end;
    cursor: pointer;

    svg {
      inline-size: 20px;
      float: inline-start;
      block-size: 20px
    }

    &.false {
      svg {
        fill: @curiousBlue
      }

      svg:hover {
        fill: @thunder
      }
    }

    &.more-menu {
      position: relative
    }
  }

  .user-status {
    svg {
      inline-size: 20px;
      float: inline-start;
      block-size: 20px
    }

    &.grey {
      svg {
        fill: @alto
      }
    }

    &.red {
      svg {
        fill: @alizarinCrimson
      }
    }

    &.black {
      svg {
        fill: @blackPearl
      }
    }
  }

  .dnn-grid-cell {
    padding-block-start: 0;
    padding-inline-end: 15px;
    padding-block-end: 0;
    padding-inline-start: 15px;

    p {
      word-wrap: break-word
    }
  }

  .package-name {
    word-wrap: break-word;
    display: inline;
    vertical-align: top
  }
}