@import "~@dnnsoftware/dnn-react-common/styles/index.less";

:local(.userSettings) {
    box-sizing: border-box;
    float: inline-start;
    margin-block-start: 15px;
    margin-inline-end: 0px;
    margin-block-end: 15px;
    margin-inline-start: 0px;

    .dnn-grid-cell {
        margin-block-start: 5px;
        margin-inline-end: 0px;
        margin-block-end: 5px;
        margin-inline-start: 0px;
        float: inline-start;
        text-align: start;

        .outer-box {
            padding-block-start: 10px;
            padding-inline-end: 30px;
            padding-block-end: 10px;
            padding-inline-start: 30px;

            &.right {
                .dnn-grid-system {
                    margin-block-start: 10px;
                    margin-inline-end: 0px;
                    margin-block-end: 10px;
                    margin-inline-start: 0px;

                    &.first {
                        margin-block-end: 4.5px;
                        margin-inline-end: 0px;
                        margin-inline-start: 0px;
                        margin-block-start: 0px;
                    }

                    .dnn-grid-cell {
                        padding: 0px;
                        margin-block-start: 0px;
                    }
                }

                margin-block-end: 30px;
                border-inline-start: 1px solid @alto;
            }
        }

        &.no-padding {
            padding: 0px
        }

        .title {
            //margin-top: 10px;
            text-transform: uppercase;
            font-weight: bold;
            margin-block-end: 20px;
            float: inline-start
        }

        .link {
            padding: 0px;
            font-weight: bold;
            cursor: pointer;
            color: @curiousBlue;

            &:active,
            &:hover {
                color: @cerulean
            }

            &.disabled {
                color: #C8C8C8;
                cursor: default
            }

            &:visited {
                color: @matisse
            }
        }

        span.importantNote {
            text-transform: uppercase;
            color: @alizarinCrimson;
            display: block;
            font-weight: bold
        }
    }

    .buttons {
        .dnn-grid-cell {
            &.leftBtn {
                padding-inline-end: 5px;
                text-align: end
            }

            &.rightBtn {
                padding-inline-start: 10px
            }
        }
    }

    .isloading {
        .input-tooltip-container {
            input {
                pointer-events: none;
                border-color: @alto
            }
        }
    }
}