@import "~@dnnsoftware/dnn-react-common/styles/index.less";

#siteSettings-container {
    .dnn-persona-bar-page-body {
        .react-tabs {
            .property-items {
                inline-size: 100%;
                float: inline-start;
                margin-block-start: 15px;
                margin-inline-end: 0;
                margin-block-end: 0;
                margin-inline-start: 0;
                box-sizing: border-box;

                .property-items-grid {
                    border: solid 1px @alto;
                    float: inline-start;
                    inline-size: 100%;

                    .property-item-collapse {
                        inline-size: 100%
                    }

                    .collapsible-component-properties {
                        &:nth-child(2) {
                            .up-icon {
                                cursor: default;

                                >svg {
                                    &:hover {
                                        fill: @alto
                                    }
                                }
                            }
                        }

                        &:last-child {
                            .down-icon {
                                cursor: default;

                                >svg {
                                    &:hover {
                                        fill: @alto
                                    }
                                }
                            }
                        }
                    }
                }

                .header-row {
                    border-block-end: 1px solid @alto;
                    padding-block-start: 0;
                    padding-inline-end: 0;
                    padding-block-end: 10px;
                    padding-inline-start: 0;
                    inline-size: 100%;
                    float: inline-start;
                    overflow: hidden;
                    text-transform: uppercase
                }

                .header-Name {
                    inline-size: 23%;
                    float: inline-start;
                    font-weight: bolder;
                    padding-inline-start: 15px
                }

                .header-DataType {
                    inline-size: 20%;
                    float: inline-start;
                    font-weight: bolder
                }

                .header-DefaultVisibility {
                    inline-size: 20%;
                    float: inline-start;
                    font-weight: bolder
                }

                .header-Required {
                    inline-size: 10%;
                    float: inline-start;
                    text-align: center;
                    font-weight: bolder
                }

                .header-Visible {
                    inline-size: 10%;
                    float: inline-start;
                    font-weight: bolder;
                    text-align: center
                }

                .collapsible-component {
                    .collapsible-header {
                        text-align: end;
                        text-transform: none;
                        padding-inline-end: 40px;

                        .collapse-icon {
                            display: none;

                            &.collapsed {
                                display: none
                            }
                        }
                    }
                }

                .AddItemRow {
                    text-align: end;
                    inline-size: 100%;
                    float: inline-end;
                    margin-block-start: 10px;
                    margin-inline-end: 0;
                    margin-block-end: 15px;
                    margin-inline-start: 0;
                    font-weight: bolder;
                    border-block-end: 1px solid @alto;
                    overflow: hidden;
                    block-size: 25px;

                    .sectionTitle {
                        font-weight: bolder;
                        float: inline-start;
                    }

                    .AddItemBox {
                        inline-size: auto;
                        float: inline-end;
                        color: @thunder;
                        cursor: pointer;

                        .add-icon {
                            margin-inline-start: 20px;
                            margin-inline-end: 5px;
                            float: inline-start;
                            cursor: pointer;

                            svg {
                                inline-size: 16px;
                                float: inline-start;
                                block-size: 16px;
                                fill: @thunder;
                            }
                        }
                    }

                    .AddItemBox-active {
                        inline-size: auto;
                        float: inline-end;
                        color: @curiousBlue;

                        .add-icon {
                            margin-inline-start: 20px;
                            margin-inline-end: 5px;
                            float: inline-start;

                            svg {
                                inline-size: 16px;
                                float: inline-start;
                                block-size: 16px;
                                fill: @curiousBlue;
                            }
                        }
                    }
                }

                .property-item {
                    color: @thunder
                }
            }
        }

        .sortable-item {
            float: inline-start;
            inline-size: 100%;

            &:not(:last-child) {
                border-block-end: 1px solid @alto;
            }
        }

        .dnn-sortable {
            &>div {
                float: inline-start
            }
        }
    }
}