.sqlconsolePanel .form-item {
    line-height: 24px;
    inline-size: 100%;
    clear: both;
    margin-block-end: 20px
}

.sqlconsolePanel.mask {
    position: relative
}

.sqlconsolePanel.mask:after {
    content: "";
    display: block;
    position: absolute;
    inset-block-start: 0;
    inset-inline-start: 0;
    inline-size: 100%;
    block-size: 100%;
    z-index: 999
}

.sqlconsolePanel .form-item.last {
    margin-block-end: 0
}

.sqlconsolePanel .form-item.short-left {
    inline-size: 45%;
    float: inline-start;
    clear: inline-start
}

.sqlconsolePanel .form-item.short-right {
    inline-size: 45%;
    float: inline-end;
    clear: inline-end
}

.sqlconsolePanel .form-item span.caption {
    display: block;
    inline-size: 120px;
    font-weight: bold
}

.sqlconsolePanel .form-item span.caption.inline {
    display: inline-block;
    float: inline-start;
    vertical-align: middle;
    block-size: 42px;
    line-height: 42px
}

.sqlconsolePanel .form-item>span.caption.middle {
    margin-block-end: 10px
}

.sqlconsolePanel .form-item span.caption.required:after {
    content: "*";
    color: red;
    margin-inline-start: 4px
}

.sqlconsolePanel .form-item input:not([type="file"]),
.sqlconsolePanel .form-item select {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #fff;
    border: 1px solid #bfbfbf;
    outline: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-block-end: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    padding: 12px;
    inline-size: 100%
}

.sqlconsolePanel .form-item span.caption.inline+div {
    margin-inline-start: 120px;
    position: relative
}

.sqlconsolePanel .form-item span.caption.inline+div a.btn-trash {
    display: inline-block;
    inline-size: 32px;
    block-size: 32px;
    background: url('../images/query-trash.png') no-repeat center center;
    position: absolute;
    inset-inline-start: -36px;
    inset-block-start: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%)
}

.sqlconsolePanel .fileupload-wrapper {
    /* Notes(by Richard): here must set !important */
    overflow: hidden !important;
    margin: 0;
    inline-size: auto !important;
    display: inline-block;
    position: relative;
    vertical-align: middle
}

.sqlconsolePanel .fileupload-wrapper>a.uploadbtn {
    display: inline-block;
    float: none;
    inline-size: auto;
    border: 1px solid #0286c5;
    color: #0286c5;
    font-weight: bold;
    -ms-border-radius: 3px;
    border-radius: 3px;
    padding: 9px;
    cursor: pointer;
    min-inline-size: 75px;
    text-decoration: none;
    text-align: center;
    font-size: 13px
}

.sqlconsolePanel .fileupload-wrapper>input[type="file"] {
    /* force file upload style here, cause some module just override */
    position: absolute;
    inset-block-start: 0;
    inset-inline-end: 0;
    margin: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    direction: ltr;
    cursor: pointer;
    block-size: 100%;
    font-size: 200px
}

.sqlconsolePanel {
    margin-block-start: 128px;
    margin-inline-end: 30px;
    margin-block-end: 30px;
    margin-inline-start: 30px;
    padding: 25px;
    border: 1px solid #e6e6e6;
    background-color: #fff
}

.sqlconsolePanel .query-form {
    position: relative;
    overflow: hidden
}

.sqlconsolePanel .form-item.item-query {
    position: relative
}

.sqlconsolePanel .form-item.item-query .fileupload-wrapper {
    inline-size: 120px;
    position: absolute;
    inset-inline-end: 0;
    inset-block-start: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.sqlconsolePanel .form-item.item-query .caption {
    position: absolute;
    margin-inline-end: -120px;
    inset-inline-start: 0
}

.sqlconsolePanel .form-item.item-query div {
    margin-block-start: 0;
    margin-inline-end: 145px;
    margin-block-end: 0;
    margin-inline-start: 120px
}

.sqlconsolePanel .form-item.item-query div select {
    inline-size: 100%
}

.sqlconsolePanel .form-item #monaco-editor-sql {
    block-size: 220px;
}

.sqlconsolePanel .actions {
    text-align: center
}

.sqlconsolePanel .popup {
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: #fff;
    position: absolute;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(204, 204, 204, 0.7);
    -ms-box-shadow: 0px 0px 20px 0px rgba(204, 204, 204, 0.7);
    box-shadow: 0px 0px 20px 0px rgba(204, 204, 204, 0.7);
    z-index: 99
}

.sqlconsolePanel .savequery-popup {
    padding-block-start: 7px;
    padding-inline-end: 30px;
    padding-block-end: 7px;
    padding-inline-start: 30px;
    block-size: 96px;
    inset-block-end: 0;
    inset-inline-start: 46px;
    z-index: 1000
}

.sqlconsolePanel .savequery-popup span {
    display: block;
    block-size: 30px;
    line-height: 30px
}

.sqlconsolePanel .savequery-popup div {
    inline-size: 260px;
    block-size: 32px;
    border: 1px solid #41a4d4;
    -ms-border-radius: 0;
    border-radius: 0
}

.sqlconsolePanel .savequery-popup div input {
    border: none;
    outline: none;
    inline-size: 164px
}

.sqlconsolePanel .savequery-popup div .btn {
    display: inline-block;
    float: inline-end;
    inline-size: 32px;
    block-size: 32px
}

.sqlconsolePanel .savequery-popup div .btn.save {
    background: url('../images/query-save.png') no-repeat
}

.sqlconsolePanel .savequery-popup div .btn.cancel {
    background: url('../images/query-cancel.png') no-repeat
}

.sqlconsolePanel .splitter {
    block-size: 5px;
    background-color: #00a4e4;
    margin-block-start: 30px;
    margin-inline-end: -25px;
    margin-block-end: 30px;
    margin-inline-start: -25px;
    padding: 0
}

.sqlconsolePanel .results-container {
    overflow: hidden
}

.sqlconsolePanel .results-container .header {
    border-block-end: 1px solid #ccc;
    clear: both;
    block-size: 40px;
    position: relative
}

.sqlconsolePanel .results-container .header .result-tabs {}

.sqlconsolePanel .results-container .header .result-tabs ul {
    list-style: none;
    margin: 0;
    padding: 0;
    clear: both;
    block-size: 37px
}

.sqlconsolePanel .results-container .header .result-tabs ul li {
    float: inline-start;
    margin-inline-end: 20px;
    block-size: 100%
}

.sqlconsolePanel .results-container .header .result-tabs ul li.selected {
    border-block-end: 3px solid #00a4e4
}

.sqlconsolePanel .results-container .header .result-tabs ul li a {
    color: #999999;
    text-decoration: none;
    font-weight: bold
}

.sqlconsolePanel .results-container .header .result-tabs ul li.selected a {
    color: #1a1a1a
}


.sqlconsolePanel .tables-container {
    margin-block-start: 15px
}

.sqlconsolePanel .tables-container>div {
    position: relative
}

.sqlconsolePanel .tables-container .actions-container {
    inset-block-start: -50px;
    position: absolute;
    inline-size: 200px;
    inset-inline-end: 0
}

.sqlconsolePanel .results-container .tables-container .actions-container .search {
    position: absolute;
    inset-block-start: 0;
    inset-inline-end: 90px;
    border-inline-start: 1px solid #e6e6e6;
    border-inline-end: 1px solid #e6e6e6;
    padding-block-start: 0;
    padding-inline-end: 10px;
    padding-block-end: 0;
    padding-inline-start: 10px;
    block-size: 30px
}

.sqlconsolePanel .results-container .tables-container .actions-container .search input {
    border: none;
    outline: none;
    background: url('../images/icon-search.png') no-repeat right center
}

.sqlconsolePanel .results-container .tables-container .actions-container .export {
    position: absolute;
    inset-block-start: 0;
    inset-inline-end: 0;
    block-size: 30px;
    line-height: 30px;
    inline-size: 90px;
    text-align: center;
    font-weight: bold
}

.sqlconsolePanel .results-container .tables-container .actions-container .export span {
    display: inline-block;
    cursor: pointer
}

.sqlconsolePanel .results-container .tables-container .actions-container .export .export-popup {
    min-inline-size: 200px;
    inset-inline-end: 25px
}

.sqlconsolePanel .results-container .tables-container .actions-container .export .export-popup a {
    padding-inline-start: 20px;
    text-align: start
}

.sqlconsolePanel .tables-container>div>div.table-container {
    outline: none
}

.sqlconsolePanel .tables-container table {
    min-inline-size: 100%;
    border: 1px solid #e6e6e6
}

.sqlconsolePanel .tables-container table thead th {
    block-size: 20px;
    padding: 10px;
    text-align: start;
    line-height: 100%;
    border: 1px solid #e6e6e6
}

.sqlconsolePanel .tables-container table tbody td {
    block-size: 25px;
    padding: 10px;
    line-height: 100%;
    border: 1px solid #e6e6e6;
    max-inline-size: 150px;
    word-wrap: break-word
}

.sqlconsolePanel .tables-container table thead th.table-sortable {
    padding-inline-end: 20px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.sqlconsolePanel .tables-container table thead th.table-sortable span.sort {
    display: inline-block;
    inline-size: 10px;
    margin-inline-end: -15px;
    float: inline-end
}

.sqlconsolePanel .tables-container table thead th.table-sortable span.sort:before {
    display: block;
    content: "";
    inline-size: 0;
    block-size: 0;
    border-style: solid;
    border-width: 0 5px 5px 5px;
    border-color: transparent transparent #cccccc transparent
}

.sqlconsolePanel .tables-container table thead th.table-sortable span.sort:after {
    display: block;
    content: "";
    margin-block-start: 3px;
    inline-size: 0;
    block-size: 0;
    border-style: solid;
    border-width: 5px 5px 0 5px;
    border-color: #cccccc transparent transparent transparent
}

.sqlconsolePanel .tables-container table thead th.table-sortable.current span.sort.asc:before {
    border-color: transparent transparent #333 transparent
}

.sqlconsolePanel .tables-container table thead th.table-sortable.current span.sort.desc:after {
    border-color: #333 transparent transparent transparent
}


.sqlconsolePanel .tables-container .pager-container {
    margin-block-start: 10px;
    block-size: 30px;
    line-height: 30px;
    position: relative
}

.sqlconsolePanel .tables-container .pager-container .statistics {
    color: #b3b3b3
}

.sqlconsolePanel .tables-container .pager-container .pager {
    position: absolute;
    inset-block-start: 0;
    inset-inline-end: 0
}

.sqlconsolePanel .tables-container .pager-container .pager>ul {
    list-style: none;
    margin: 0;
    padding: 0
}

.sqlconsolePanel .tables-container .pager-container .pager>ul>li {
    border: 1px solid #cccccc;
    background-color: #fff;
    float: inline-start;
    -moz-min-width: 30px;
    -ms-min-width: 30px;
    -o-min-width: 30px;
    -webkit-min-width: 30px;
    min-inline-size: 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    block-size: 30px;
    line-height: 30px
}

.sqlconsolePanel .tables-container .pager-container .pager>ul>li a {
    color: #999;
    text-decoration: none;
    display: block
}

.sqlconsolePanel .tables-container .pager-container .pager>ul>li.current a {
    font-weight: bold;
    color: #0a1e29
}

.sqlconsolePanel .tables-container .pager-container .pager>ul>li.option {
    border: none;
    margin-inline-end: 20px;
    cursor: pointer
}

.sqlconsolePanel .tables-container .pager-container .pager>ul>li.option:after {
    display: block;
    content: "";
    inline-size: 0;
    block-size: 0;
    border-style: solid;
    border-width: 5px 5px 0 5px;
    border-color: #6b7e86 transparent transparent transparent;
    float: inline-end;
    margin-block-start: 12px;
    margin-inline-end: 0;
    margin-block-end: 0;
    margin-inline-start: 10px
}

.sqlconsolePanel .tables-container .pager-container .pager>ul>li.prev {
    -ms-border-top-left-radius: 3px;
    border-start-start-radius: 3px;
    -ms-border-bottom-left-radius: 3px;
    border-end-start-radius: 3px;
    border-inline-end: none
}

.sqlconsolePanel .tables-container .pager-container .pager>ul>li.prev a {
    display: block
}

.sqlconsolePanel .tables-container .pager-container .pager>ul>li.prev a:after {
    display: block;
    content: "";
    inline-size: 0;
    block-size: 0;
    border-style: solid;
    border-width: 5px 5px 5px 0;
    border-color: transparent #6b7e86 transparent transparent;
    margin-block-start: 10px;
    margin-inline-end: auto;
    margin-block-end: 10px;
    margin-inline-start: auto;
    vertical-align: middle
}

.sqlconsolePanel .tables-container .pager-container .pager>ul>li.page {
    border-inline-end: none;
    border-inline-start: 1px solid #e6e6e6
}

.sqlconsolePanel .tables-container .pager-container .pager>ul>li.selected {
    border-block-end: 3px solid #00a4e4
}

.sqlconsolePanel .tables-container .pager-container .pager>ul>li.next {
    -ms-border-top-right-radius: 3px;
    border-start-end-radius: 3px;
    -ms-border-bottom-right-radius: 3px;
    border-end-end-radius: 3px;
    border-inline-start: 1px solid #e6e6e6
}

.sqlconsolePanel .tables-container .pager-container .pager>ul>li.next a {
    display: block
}

.sqlconsolePanel .tables-container .pager-container .pager>ul>li.next a:after {
    display: block;
    content: "";
    inline-size: 0;
    block-size: 0;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-color: transparent transparent transparent #6b7e86;
    margin-block-start: 10px;
    margin-inline-end: auto;
    margin-block-end: 10px;
    margin-inline-start: auto;
    vertical-align: middle
}

.sqlconsolePanel .tables-container .pager-container .pager .pagesize-popup {
    inset-block-end: 30px;
    inline-size: 76px
}

.sqlconsolePanel .tables-container span.highlight {
    background-color: yellow
}


.sqlconsolePanel .tables-container .popup.list-popup ul {
    list-style: none;
    margin: 0;
    padding: 0
}

.sqlconsolePanel .tables-container .popup.list-popup ul li {
    block-size: 30px;
    line-height: 30px
}

.sqlconsolePanel .tables-container .popup.list-popup ul li a {
    display: block;
    color: #999;
    text-decoration: none
}

.sqlconsolePanel .tables-container .popup.list-popup ul li a:hover,
.sqlconsolePanel .tables-container .popup.list-popup ul li a.selected {
    background-color: #f1f1f1;
    color: #309bce
}