@import "~@dnnsoftware/dnn-react-common/styles/index.less";

:local(.messagingSettings) {
    margin: 30px;

    * {
        box-sizing: border-box
    }

    .dnn-ui-common-input-group {
        padding-block-start: 0;
        padding-inline-end: 0;
        padding-block-end: 15px;
        padding-inline-start: 0;

        label {
            font-weight: bolder;
            float: inline-start
        }

        .dnn-dropdown {
            inline-size: 681px
        }

        input {
            inline-size: auto
        }

        .dnn-switch-container {
            float: inline-end
        }

        .messagingSettings-row_switch {
            border-block-end: 1px solid @alto;
            margin-block-start: 10px;
            margin-inline-end: 0;
            margin-block-end: 0;
            margin-inline-start: 0;
            display: table;
            inline-size: 100%;
            padding-block-start: 0;
            padding-inline-end: 0;
            padding-block-end: 10px;
            padding-inline-start: 0;
        }
    }

    .buttons-box {
        float: inline-start;
        inline-size: 100%;
        text-align: center;
        margin-block-start: 20px;
        margin-inline-end: 0;
        margin-block-end: 20px;
        margin-inline-start: 0;

        .dnn-ui-common-button {
            margin: 5px
        }
    }

    .dnn-grid-system {
        .left-column {
            padding-inline-end: 30px;

            .dnn-dropdown {
                inline-size: 100%;
            }
        }

        .right-column {
            padding-inline-start: 30px;
            border-inline-start: 1px solid @alto;
        }
    }
}