@import "~@dnnsoftware/dnn-react-common/styles/index";

#scheduler-container {
    .dnn-persona-bar-page-body {
        padding-block-start: 10px;
        padding-inline-end: 30px;
        padding-block-end: 25px;
        padding-inline-start: 30px;

        .persona-bar-page-body {
            padding: 0;
            border: none;
            background-color: @alabaster;

            .react-tabs {
                float: inline-start;
                border: solid 1px @alto;
                inline-size: 100%;
                box-sizing: border-box;

                .ReactTabs__TabPanel {
                    float: inline-start;
                    background-color: #fff;
                    inline-size: 100%;
                }
            }

            .row-opened {
                margin-block-start: -1px;
                margin-block-end: -1px;
                border-block-start: 2px solid @curiousBlue;
                border-block-end: 2px solid @curiousBlue !important;
            }
        }
    }
}