@import "~@dnnsoftware/dnn-react-common/styles/index";

.jobs-filter-container {
    float: inline-start;
    box-sizing: border-box;
    margin-block-end: 15px;
    inline-size: 100%;
    border: none;
    border-block-end: 1px solid @alto;
    padding-block-end: 5px;

    .dnn-grid-cell {
        margin-block-end: 5px;

        .job-filters-filter {
            inline-size: 100%;
            border-inline-end: 1px solid @alto;
            font-size: 13px;
            font-family: inherit;
            float: inline-start;
            block-size: 32px;
            padding-block-start: 4px;

            .dnn-dropdown {
                .collapsible-label {
                    padding-block-start: 4px;
                    padding-inline-start: 0
                }

                .dropdown-icon {
                    inset-block-start: 5px
                }
            }

            .dnn-search-box {
                inline-size: 100%;
                block-size: 24px;

                input {
                    padding-block-start: 0px;
                    padding-inline-end: 16px;
                    padding-block-end: 0px;
                    padding-inline-start: 16px
                }
            }

            .dnn-dropdown {
                .collapsible-toggle {
                    inline-size: auto
                }
            }
        }

        .search-filter {
            float: inline-start;
            inline-size: 100%;

            >div {
                display: block !important;
                border-inline-start: 1px solid @alto;

                input {
                    display: block;
                    inline-size: 100%;
                    position: inherit !important;
                    border: none;
                    border-radius: none;
                    background-color: transparent;
                    outline: none;
                    padding-inline-end: 45px
                }
            }
        }
    }
}