@import "../../styles/index";

.dnn-switch-container {
    float: inline-start;
    padding-block-start: 5px;
    padding-inline-end: 0;
    padding-block-end: 5px;
    padding-inline-start: 0;

    .dnn-ui-common-tooltip {
        float: inline-start;
        margin-inline-start: 10px;

        .tooltip-text {
            max-inline-size: 255px;
            text-align: center;
            padding-block-start: 7px;
            padding-inline-end: 15px;
            padding-block-end: 7px;
            padding-inline-start: 15px
        }

        svg {
            inline-size: 20px;
            block-size: 20px
        }
    }

    .switch-label {
        padding-block-start: 1px;
        color: var(--dnn-color-foreground, @bulgarianRose);
        font-size: 13px;
        font-weight: bold;
        float: inline-start
    }

    .switch-button {
        float: inline-end;

        .on-off-text {
            margin-block-start: 2px;
            color: var(--dnn-color-foreground, @bulgarianRose);

            &.place-left {
                float: inline-start
            }

            &.place-right {
                float: inline-end
            }
        }
    }

    .dnn-switch {
        display: inline-block;
        position: relative;
        inline-size: 45px;
        block-size: 21px;
        border-radius: var(--dnn-controls-radius, 14px);
        border: 1px solid var(--dnn-color-foreground-light, @mountainMist);
        background-color: var(--dnn-color-background-dark, @alto);
        margin: 0;
        cursor: pointer;
        transition: background 100ms linear;
        -moz-box-sizing: content-box !important;
        box-sizing: content-box !important;

        &.place-left {
            margin-inline-start: 8px
        }

        &.place-right {
            margin-inline-end: 8px
        }

        &.dnn-switch-active {
            background-color: var(--dnn-color-primary, @cerulean);

            .mark {
                inset-inline-start: 24px;
                border-color: var(--dnn-color-foreground-light, @matisse)
            }
        }

        &.dnn-switch-readonly {
            border: 1px solid var(--dnn-color-neutral, @mercury);
            cursor: not-allowed;
            background-color: var(--dnn-color-neutral, @mercury);
            opacity: 0.5;

            .mark {
                border: 1px solid var(--dnn-color-neutral-dark, @mercury);
                background-color: var(--dnn-color-neutral-light, @gallery)
            }
        }

        .mark {
            inline-size: 21px;
            block-size: 21px;
            display: inline-block;
            border-radius: var(--dnn-controls-radius, 13px);
            background-color: var(--dnn-color-background, @white);
            border: 1px solid var(--dnn-color-foreground-light, @mountainMist);
            position: absolute;
            inset-block-start: 0px;
            inset-inline-start: 0px;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            -webkit-transition: left 100ms linear, background-color 100ms linear, border-color 100ms linear;
            -moz-transition: left 100ms linear, background-color 100ms linear, border-color 100ms linear;
            -o-transition: left 100ms linear, background-color 100ms linear, border-color 100ms linear;
            transition: left 100ms linear, background-color 100ms linear, border-color 100ms linear;

            img {
                display: none
            }
        }
    }
}