@import "~@dnnsoftware/dnn-react-common/styles/index";

.modepanel-content-wrapper {
    padding-block-start: 0;
    padding-inline-end: 0;
    padding-block-end: 20px;
    padding-inline-start: 0;

    * {
        box-sizing: border-box
    }

    .modepanel-content-title {
        float: inline-start;
        font-weight: bold;
        text-transform: uppercase;
        inline-size: 100%
    }

    .modepanel-content-filter {
        border-block-end: 1px solid @alto;
        float: inline-start;
        inline-size: 100%;
        margin-block-start: 20px;
        margin-inline-end: 0;
        margin-block-end: 20px;
        margin-inline-start: 0
    }

    .modepanel-content-detail-wrapper {
        .usage-detail {
            block-size: 200px;
            border: 1px solid @alto;
            float: inline-start;
            inline-size: 100%;
            overflow-block: auto;
            margin-block-start: 10px;
            margin-inline-end: 0;
            margin-block-end: 10px;
            margin-inline-start: 0;
            padding-block-start: 15px;
            padding-inline-end: 20px;
            padding-block-end: 15px;
            padding-inline-start: 20px;
            box-sizing: border-box;

            .usage-detail-taburl {
                margin-block-end: 10px;

                a {
                    text-decoration: none;
                    color: @cerulean
                }
            }
        }
    }

    .button-box {
        float: inline-start;
        inline-size: 100%;
        text-align: center;
        margin-block-start: 15px
    }

    label {
        float: inline-start;
        margin-inline-end: 15px;
        font-weight: bold
    }
}