@import "~@dnnsoftware/dnn-react-common/styles/index";

:local(.installExtensionModal) {
    box-sizing: border-box;

    .install-extension-box {
        padding-block-start: 25px;
        padding-inline-end: 45px;
        padding-block-end: 25px;
        padding-inline-start: 45px;

        .box-title {
            font-size: 15px;
            text-transform: uppercase;
            margin-block-end: 25px
        }

        .upload-package-box.dnn-grid-cell {
            padding: 0;
            margin-block-start: 15px;
            margin-inline-end: auto;
            margin-block-end: 25px;
            margin-inline-start: auto
        }

        .dnn-checkbox-container {
            float: inline-start;
            margin-block-start: 25px;
            margin-block-end: 25px
        }

        .modal-pagination {
            text-align: center
        }

        .package-already-exists {
            >p {
                padding-block-start: 0;
                padding-inline-end: 25px;
                padding-block-end: 0;
                padding-inline-start: 25px;

                &.package-exists-help-text {
                    margin-block-end: 15px
                }

                &.package-exists-error {
                    margin-block-end: 15px
                }

                &.package-exists-error-help-text {}
            }
        }
    }
}