@import "~@dnnsoftware/dnn-react-common/styles/index";

:local(.taskStatusItemRightPane) {
    padding-block-start: 5px;
    padding-inline-end: 15px;
    padding-block-end: 15px;
    padding-inline-start: 15px;
    display: block;
    box-sizing: border-box;
    float: inline-start;
    inline-size: 100%;
    block-size: auto;
    margin-block-start: 0px;

    .taskDetailRight {
        float: inline-start;
        inline-size: 100%;

        >div {
            padding-block-start: 0;
            padding-inline-end: 0;
            padding-block-end: 10px;
            padding-inline-start: 0;
            float: inline-start;
            inline-size: 100%
        }

        .taskDetailRight-idWrapper {
            float: inline-end;
            padding-block-end: 5px;
            color: @thunder;

            .taskDetailRight-id {
                font-weight: bolder;
                font-size: 15px;
                float: inline-start;
                padding-inline-start: 85%
            }

            .taskDetailRight-id-value {
                float: inline-end;
                padding-block-start: 2px
            }
        }

        .taskDetailRight-common {
            padding-block-start: 0;
            padding-inline-end: 0;
            padding-block-end: 10px;
            padding-inline-start: 0;
            color: @thunder;

            .taskDetailRight-common-title {
                font-weight: bolder;
                float: inline-start
            }

            .taskDetailRight-common-value {
                float: inline-end
            }
        }
    }
}