@import "~@dnnsoftware/dnn-react-common/styles/index";

:local(.vocabulariesLeftPane) {
    padding-block-start: 0;
    padding-inline-end: 30px;
    padding-block-end: 30px;
    padding-inline-start: 40px;
    display: block;
    box-sizing: border-box;
    float: inline-start;
    inline-size: 100%;
    block-size: auto;
    border-inline-end: 1px solid #ddd;
    margin-block-end: 15px;

    .dnn-editable-field:first-child {
        padding-block-start: 2px
    }
}