@import "~@dnnsoftware/dnn-react-common/styles/index.less";

:local(.languageSettings) {
    margin: 30px;

    * {
        box-sizing: border-box
    }

    .dnn-ui-common-input-group {
        padding-block-start: 0;
        padding-inline-end: 0;
        padding-block-end: 15px;
        padding-inline-start: 0;

        label {
            font-weight: bolder;
            float: inline-start
        }

        .dnn-single-line-input-with-error {
            inline-size: 100%
        }

        .languageSettings-row_switch {
            .dnn-label.inline {
                label {
                    max-inline-size: 220px
                }
            }

            .dnn-switch-container {
                float: inline-end
            }
        }

        .dnn-radio-buttons {
            li {
                inline-size: 40% !important;
                margin-block-start: 15px !important;
                margin-inline-end: 0 !important;
                margin-block-end: 0 !important;
                margin-inline-start: 0 !important
            }
        }

        .dnn-dropdown {
            .collapsible-label {
                .language-name {
                    inline-size: 240px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis
                }
            }

            li {
                float: inline-start;
                inline-size: 100%
            }
        }

        .default-language {
            cursor: not-allowed;
            float: inline-start;
            inline-size: 100%;
            background: @mercury;
            border: @mercury;

            .language-container {
                float: inline-start;
                padding-block-start: 8px;
                padding-inline-end: 15px;
                padding-block-end: 8px;
                padding-inline-start: 15px;
                box-sizing: border-box
            }
        }

        .language-flag {
            float: inline-start;
            block-size: 18px
        }

        .language-name {
            float: inline-start;
            margin-inline-start: 10px
        }
    }

    .buttons-box {
        inline-size: 100%;
        float: inline-start;
        text-align: center;
        margin-block-start: 0;
        margin-inline-end: 0;
        margin-block-end: 30px;
        margin-inline-start: 0;

        .dnn-ui-common-button {
            margin: 5px
        }
    }

    .buttons-box-alter {
        inline-size: 100%;
        float: inline-start;
        text-align: center;
        margin-block-start: 0;
        margin-inline-end: 0;
        margin-block-end: 30px;
        margin-inline-start: 0;

        .dnn-ui-common-button {
            margin: 5px
        }
    }

    .sectionTitle {
        font-weight: bolder;
        float: inline-start;
        inline-size: 100%;
        padding-block-start: 30px;
        padding-inline-end: 0;
        padding-block-end: 15px;
        padding-inline-start: 0
    }

    .dnn-grid-system {
        .left-column {
            padding-inline-end: 30px;

            .dnn-dropdown {
                inline-size: 100%;
            }
        }

        .right-column {
            padding-inline-start: 30px;
            border-inline-start: 1px solid @alto;
        }
    }

    .collapsible-button {
        text-align: center;
        background: @gallery;
        transition: .18s;
        max-block-size: 0px;
        margin-block-end: 30px;
        overflow: hidden;
        clear: both;

        &.open {
            max-block-size: 80px;
            float: inline-start;
            inline-size: 100%
        }

        button {
            margin: 20px
        }
    }
}