:local(.usersList) {
    .dnn-grid-cell {
        overflow-wrap: break-word;

        &.no-users {
            float: inline-start;
            inline-size: 100%;
            text-align: center;
            padding: 10px
        }
    }
}