@import "~@dnnsoftware/dnn-react-common/styles/index.less";

.collapsible-component-language {
    display: block;
    inline-size: 100%;
    cursor: auto;

    &:not(:last-child) {
        border-block-end: 1px solid @alto;
    }

    .language-permission-grid {
        inline-size: 100%;

        >div {
            float: inline-start;
            inline-size: 100%
        }
    }

    div.collapsible-header-language {
        inline-size: 100%;
        float: inline-start;
        position: relative;
        padding-block-start: 15px;
        padding-inline-end: 0;
        padding-block-end: 10px;
        padding-inline-start: 0;
        box-sizing: border-box;
        cursor: auto;

        .row {
            float: inline-start;
            inline-size: 100%;

            .item-row-name {
                inline-size: 73%;
                float: inline-start;
                padding-inline-start: 15px;

                .language-flag {
                    float: inline-start
                }

                .language-name {
                    float: inline-start;
                    margin-inline-start: 10px;
                    inline-size: 80%
                }
            }

            .item-row-enabled {
                inline-size: 10%;
                float: inline-start;
                text-align: center;

                .checkMarkIcon {
                    inline-size: 16px;
                    block-size: 16px;
                    margin-inline-start: auto;
                    margin-inline-end: auto;

                    >svg {
                        fill: @thunder
                    }
                }
            }

            .item-row-name-adv {
                inline-size: 35%;
                float: inline-start;
                padding-inline-start: 15px;

                .language-flag {
                    float: inline-start
                }

                .language-name {
                    float: inline-start;
                    margin-inline-start: 10px;
                    inline-size: 80%
                }
            }

            .item-row-pages,
            .item-row-translated {
                inline-size: 13%;
                float: inline-start;

                .pages-number-status {
                    inline-size: auto;
                    margin-inline-start: auto;
                    margin-inline-end: auto;
                    float: inline-start;

                    .pages-number {
                        float: inline-start
                    }

                    .pages-status {
                        float: inline-start;
                        margin-inline-start: 3px;
                        font-size: 10px;
                        margin-block-start: 3px
                    }
                }
            }

            .item-row-active,
            .item-row-enabled-adv {
                inline-size: 9%;
                float: inline-start;
                text-align: center;

                .checkMarkIcon {
                    inline-size: 22px;
                    block-size: 22px;
                    margin-inline-start: auto;
                    margin-inline-end: auto;

                    >svg {
                        fill: @thunder
                    }
                }
            }

            .item-row-actionButtons-adv {
                inline-size: 16% !important
            }

            .item-row-actionButtons {
                inline-size: 12%;
                margin-inline-end: 15px;
                float: inline-end;

                .edit-icon,
                .editor-icon,
                .translator-icon,
                .page-editor-icon {
                    margin-inline-start: 5px;
                    float: inline-end;
                    display: block;
                    cursor: pointer;

                    >svg {
                        inline-size: 22px;
                        float: inline-end;
                        block-size: 22px;
                        margin-block-start: -2px;

                        &:hover {
                            fill: @thunder
                        }

                        fill: @alto
                    }
                }

                .edit-icon-active, .editor-icon-active, .translator-icon-active, .editor-icon-active {
                    >svg {
                        inline-size: 22px;
                        float: inline-end;
                        block-size: 22px;
                        margin-inline-start: 5px;
                        fill: @curiousBlue;
                        margin-block-start: -2px
                    }
                }

                .translator-icon-disable,
                .editor-icon-disable,
                .edit-icon-disable,
                .page-editor-icon-disable {
                    margin-inline-start: 5px;
                    float: inline-end;
                    display: block;

                    >svg {
                        inline-size: 22px;
                        float: inline-end;
                        block-size: 22px;
                        fill: @alto;
                        margin-block-start: -2px
                    }
                }

                .edit-icon-hidden,
                .editor-icon-hidden,
                .translator-icon-hidden,
                .page-editor-icon-hidden {
                    display: none
                }
            }

            .item-row-wrapper {
                padding-block-start: 0;
                padding-inline-end: 5px;
                padding-block-end: 0;
                padding-inline-start: 5px
            }
        }
    }

    .collapsible-body-language {
        inline-size: 100%;
        overflow: visible
    }
}