@import "~@dnnsoftware/dnn-react-common/styles/index";

:local(.generalSettings) {
    margin: 30px;

    * {
        box-sizing: border-box
    }

    .columnTitle {
        font-weight: bolder;
        padding-block-start: 0;
        padding-inline-end: 0;
        padding-block-end: 25px;
        padding-inline-start: 0
    }

    .dnn-ui-common-input-group {
        label {
            font-weight: bolder;
            float: inline-start
        }

        .dnn-label.block {
            label {
                max-inline-size: 90%
            }
        }

        .generalSettings-row_switch {
            border-block-end: 1px solid @alto;
            margin-block-start: 20px;
            margin-inline-end: 0;
            margin-block-end: 0;
            margin-inline-start: 0;
            display: table;
            inline-size: 100%;
            padding-block-start: 0;
            padding-inline-end: 0;
            padding-block-end: 20px;
            padding-inline-start: 0;

            .dnn-switch-container {
                float: inline-end
            }
        }

        .generalSettings-row-options {
            .dnn-label {
                padding-block-start: 0
            }

            .dnn-radio-buttons {
                margin-inline-start: -15px;
                padding-block-start: 7px;
                padding-inline-end: 0;
                padding-block-end: 0;
                padding-inline-start: 0;

                label {
                    margin-block-end: 8px
                }
            }
        }

        .sectionLabel {
            border-block-start: 1px solid @alto;
            padding-block-start: 20px;
            margin-block-start: 20px;

            label {
                color: #000
            }
        }

        .dnn-dropdown {
            inline-size: 100%
        }
    }

    .buttons-box {
        inline-size: 100%;
        text-align: center;
        margin-block-start: 30px;
        margin-inline-end: 0;
        margin-block-end: 30px;
        margin-inline-start: 0;
        float: inline-start;

        .dnn-ui-common-button {
            margin: 5px
        }
    }

    .dnn-grid-system {
        .left-column {
            padding-inline-end: 30px;
            border-inline-end: 1px solid @alto;

            .dnn-dropdown {
                inline-size: 100%
            }
        }

        .right-column {
            padding-inline-start: 30px
        }
    }
}