@import "~@dnnsoftware/dnn-react-common/styles/index";

#scheduler-container {
    .dnn-persona-bar-page-body {
        .react-tabs {
            .historyIcon {
                inline-size: 18px;
                block-size: 18px;
                float: inline-start;
                margin-block-start: 19px;
                margin-inline-end: 10px;
                margin-block-end: 10px;
                margin-inline-start: 15px;

                >svg {
                    fill: @thunder
                }
            }

            .taskHistoryList-title {
                padding-block-start: 19px;
                padding-inline-end: 0;
                padding-block-end: 10px;
                padding-inline-start: 0;
                margin-block-start: 0;
                margin-inline-end: 15px;
                margin-block-end: 0;
                margin-inline-start: 15px;
                border-block-end: solid 1px @alto;
                font-weight: bolder;
                color: @thunder
            }

            .taskHistoryList-pager {
                inline-size: 100%;
                padding-block-start: 0;
                padding-inline-end: 15px;
                padding-block-end: 0;
                padding-inline-start: 15px;
                margin-block-end: 15px;
                box-sizing: border-box;
                float: inline-start;

                * {
                    box-sizing: border-box
                }
            }

            .taskHistoryList-grid {
                border: solid 1px @alto;
                margin: 15px;
                float: inline-start;
                inline-size: 96%;

                .historyHeader-wrapper {
                    &:not(:last-child) {
                        border-block-end: 1px solid @alto;
                    }

                    width: 100%;
                    float: inline-start;
                    padding-block-start: 15px;
                    padding-inline-end: 0;
                    padding-block-end: 15px;
                    padding-inline-start: 0
                }

                .historyHeader-LogNotes {
                    inline-size: 30%;
                    float: inline-start;
                    margin-inline-start: 15px;
                    font-weight: bolder
                }

                .historyHeader-Server {
                    inline-size: 15%;
                    float: inline-start;
                    font-weight: bolder;
                    margin-inline-start: 10px
                }

                .historyHeader-ElapsedTime {
                    text-align: center;
                    inline-size: 15%;
                    float: inline-start;
                    font-weight: bolder;
                    margin-inline-start: 10px
                }

                .historyHeader-Succeeded {
                    text-align: center;
                    inline-size: 12%;
                    float: inline-start;
                    font-weight: bolder;
                    margin-inline-start: 10px
                }

                .historyHeader-StartEnd {
                    float: inline-start;
                    font-weight: bolder;
                    margin-inline-start: 10px
                }
            }
        }
    }
}