@import "../../less/style.less";
@import "~@dnnsoftware/dnn-react-common/styles/index.less";

.translate-page-content {
    .persona-bar-page-body {
        background-color: transparent;
        border: none
    }

    .top-block {
        border: 1px solid @curiousBlue;
        margin-block-end: 20px;
        background: white;
        padding: 20px;

        .button-block {
            button.dnn-ui-common-button {
                padding-block-start: 0;
                padding-inline-end: 14px;
                padding-block-end: 0;
                padding-inline-start: 14px
            }
        }
    }

    img {
        margin-inline-end: 10px
    }

    .language-block {
        padding-block-end: 20px;
        margin-block-end: 10px;
        border-block-end: 1px solid @alto
    }

    .activate-pages-switch {
        label {
            float: inline-start
        }
    }

    button {
        margin-inline-end: 5px
    }

    .list-header {
        padding-block-start: 10px;
        padding-block-end: 10px;
        margin-block-end: 15px;
        border-block-end: 1px solid @alto;

        span {
            font-weight: 600;
            text-transform: uppercase;

            &>span {
                color: @curiousBlue
            }

            em {
                font-style: normal;
                font-size: 20px;
                line-height: 10px;
                line-height: 17px;
                float: inline-start;
                margin-inline-end: 6px
            }
        }

        .float-right {
            cursor: pointer
        }
    }

    .button-block {
        margin-block-start: 6px
    }

    .float-right {
        float: inline-end
    }

    .float-left {
        float: inline-start
    }
}

.language-settings-page-list {
    .page-list {
        border: 1px solid @alto;
        background: white;

        .page-list-item {
            padding-block-start: 12px;
            padding-inline-end: 20px;
            padding-block-end: 12px;
            padding-inline-start: 20px;
            border-block-end: 1px solid @alto;

            &:last-of-type {
                border-block-end: none
            }

            a,
            a:visited,
            a:active,
            a:hover {
                color: @curiousBlue !important;
                font-weight: 600;
                margin-inline-start: 10px;
                text-decoration: none;
                cursor: pointer
            }
        }
    }
}