#connector-CoreGoogleAnalytics4Connector > div.edit-fields > div > div, .connector-CoreGoogleAnalytics4Connector > div.edit-fields > div > div {
    inline-size: 100%
}

    #connector-CoreGoogleAnalytics4Connector > div.edit-fields > div > div input[type='text'], #connector-CoreGoogleAnalytics4Connector > div.edit-fields > div > div textarea, .connector-CoreGoogleAnalytics4Connector > div.edit-fields > div > div input[type='text'] {
        inline-size: 65% !important
    }

    #connector-CoreGoogleAnalytics4Connector > div.edit-fields > div > div label, .connector-CoreGoogleAnalytics4Connector > div.edit-fields > div > div label {
        inline-size: 25% !important
    }

    #connector-CoreGoogleAnalytics4Connector > div.edit-fields > div > div span, .connector-CoreGoogleAnalytics4Connector > div.edit-fields > div > div span {
        font-size: 0.75em;
        font-style: italic
    }
