@import "~@dnnsoftware/dnn-react-common/styles/index";

:local(.editModule) {
    .box-title {
        font-size: 15px
    }

    .premium-module {
        .dnn-switch-container {
            inline-size: 50%;

            .dnn-switch {
                float: inline-end
            }
        }
    }

    .module-definitions {
        .header-container {
            padding: 0;

            .box-title {
                float: inline-start;
                margin-block-end: 20px
            }

            a.add-button {
                float: inline-end;
                cursor: pointer;
                color: @mountainMist;

                &.add-active,
                &:hover {
                    color: @curiousBlue;
                    font-weight: bold;

                    svg {
                        fill: @curiousBlue
                    }
                }

                svg {
                    inline-size: 16px;
                    block-size: 16px;
                    fill: @mountainMist;
                    float: inline-start;
                    margin-inline-end: 5px
                }
            }
        }
    }

    .with-right-border {
        .dnn-switch-container {
            inline-size: 100%;
            margin-block-end: 32px;
            padding-block-start: 15px;

            .dnn-switch {
                float: inline-end
            }
        }
    }
}