@import "~@dnnsoftware/dnn-react-common/styles/index";

:local(.activities) {
    .activities-topbar {
        border-block-end: solid 1px @alto;
        margin-block-start: 20px;
        margin-inline-end: 25px;
        margin-block-end: 0;
        margin-inline-start: 25px;
        padding-block-start: 0;
        padding-inline-end: 0;
        padding-block-end: 15px;
        padding-inline-start: 0;
        font-weight: bolder;
        color: @thunder
    }

    .activityItems {
        display: inline-block;
        margin-block-start: 15px;
        margin-inline-end: 25px;
        margin-block-end: 30px;
        margin-inline-start: 25px;
        border: solid 1px @alto;

        .activityHeader-wrapper {
            &:not(:last-child) {
                border-block-end: 1px solid @alto;
            }

            width: 100%;
            float: inline-start;
            padding-block-start: 15px;
            padding-inline-end: 0;
            padding-block-end: 15px;
            padding-inline-start: 0;
            text-transform: uppercase;
            font-weight: bolder;

            .activityHeader-Username {
                padding-block-start: 0;
                padding-inline-end: 0;
                padding-block-end: 0;
                padding-inline-start: 25px;
                inline-size: 34%;
                float: inline-start
            }

            .activityHeader-CreatedDate {
                inline-size: 20%;
                float: inline-start
            }

            .activityHeader-LastLogin {
                inline-size: 20%;
                float: inline-start
            }

            .activityHeader-LastActivityDate {
                inline-size: 20%;
                float: inline-start
            }
        }

        .activityItem {
            display: table;
            inline-size: 100%;
            padding-block-start: 15px;
            padding-inline-end: 0;
            padding-block-end: 15px;
            padding-inline-start: 0;
            color: @thunder;

            &:not(:last-child) {
                border-block-end: 1px solid @alto;
            }

            .label-username {
                padding-block-start: 0;
                padding-inline-end: 0;
                padding-block-end: 0;
                padding-inline-start: 20px;
                inline-size: 34%;
                float: inline-start
            }

            .label-createddate {
                inline-size: 20%;
                float: inline-start
            }

            .label-lastlogindate {
                inline-size: 20%;
                float: inline-start
            }

            .label-lastactivitydate {
                inline-size: 20%;
                float: inline-start
            }

            .label-wrapper {
                padding-block-start: 0;
                padding-inline-end: 5px;
                padding-block-end: 0;
                padding-inline-start: 5px;
                overflow-wrap: break-word
            }
        }
    }
}