.dnnTabImport {
    inline-size: 100%;
    margin-block-start: 2em;
    margin-inline-end: auto;
    margin-block-end: 2em;
    margin-inline-start: auto
}

    .dnnTabImport textarea, .dnnTabExport textarea {
        min-block-size: 120px
    }

    .dnnTabImport .dnnFormItem textarea, .dnnTabExport .dnnFormItem textarea {
        inline-size: 45%
    }

    .dnnTabImport .dnnFormItem input[type=checkbox], .dnnTabImport .dnnFormItem input[type=radio], .dnnTabExport .dnnFormItem input[type=checkbox] {
        inline-size: auto
    }

    .dnnTabImport .dnnFormItem input[type=radio] {
        margin-block-start: 4px
    }

.dnnFormItem .dnnTIRadioButtons label, .dnnFormItem .dnnTIRadioButtons input, .dnnFormItem .dnnTIRadioButtons label, .dnnFormItem .dnnTIRadioButtons input {
    padding: 0;
    inline-size: auto;
    text-align: start
}

.dnnFormItem .dnnTIRadioButtons label, .dnnFormItem .dnnTIRadioButtons label {
    inline-size: auto;
    padding-block-start: 0;
    padding-inline-end: 15px;
    padding-block-end: 0;
    padding-inline-start: 6px;
    font-weight: normal;
    margin-block-start: 0
}

.dnnTabImport .dnnTIRadioButtons br {
    display: none !important;
    font-size: 0;
    line-height: 0;
    border-collapse: collapse
}

.dnnPositionInput {
    margin-inline-start: 36%
}

/* adjust form item padding/spacing */
.dnnFormItem input[type="checkbox"] + span, .dnnFormItem input[type="radio"] + span {
    margin-block-start: 5px;
    margin-inline-end: 5px;
    margin-block-end: 15px;
    margin-inline-start: 5px
}

.dnnFormItem textarea + span.dnnFormError {
    inset-block-start: -30% !important
}

.dnnFormItem span.dnnFormMessage.dnnFormError {
    inset-block-start: -110%
}

.dnnFormItem .labelTemplateDescription {
    margin-inline-start: 36%;
    margin-block-end: 15px
}
