@import "~@dnnsoftware/dnn-react-common/styles/index";

.theme-file-skin,
.theme-file-container {
    float: inline-start;
    margin-inline-start: 10px;

    img {
        inline-size: 80px;
        block-size: 80px
    }

    span.thumbnail {
        display: inline-block;
        inline-size: 80px;
        block-size: 80px;
        margin-block-start: 9px;
        margin-inline-end: 0;
        margin-block-end: 9px;
        margin-inline-start: 0;
        position: relative;
        vertical-align: top;

        &.empty {
            &:before {
                content: "";
                display: block;
                inline-size: 80px;
                block-size: 80px;
                background-color: @mercury
            }
        }

        svg {
            fill: @alto;
            inline-size: 32px;
            position: absolute;
            inset-inline-start: 50%;
            inset-block-start: 50%;
            transform: translate(-50%, -50%)
        }

        &>span.status {
            position: absolute;
            inset-block-end: 5px;

            span {
                display: none;
                inline-size: 16px;
                block-size: 16px;
                float: inline-start;
                color: @white;
                position: relative;

                svg {
                    inline-size: 20px;
                    fill: @white
                }
            }

            span.status-site {
                background-color: @curiousBlue
            }

            span.status-edit {
                background-color: @nonPhotoBlue
            }
        }

        span.actions {
            position: absolute;
            display: block;
            opacity: 0;
            inline-size: 100%;
            block-size: 100%;
            inset-block-start: 0;
            inset-inline-start: 0;
            background-color: rgba(30, 136, 195, 0.6);
            padding-block-start: 15px;
            padding-inline-end: 10px;
            padding-block-end: 15px;
            padding-inline-start: 10px;
            transition: opacity 100ms linear;

            a {
                color: @white;
                font-family: inherit;
                font-size: 11px;
                line-height: 12px;
                text-decoration: none;
                block-size: 50%;
                display: block;
                font-weight: 600
            }

            a.set-edit.split {
                border-block-start: 1px solid @white;
                padding-block-start: 5px;
                padding-inline-end: 0;
                padding-block-end: 5px;
                padding-inline-start: 0
            }
        }

        &:hover span.actions {
            opacity: 1
        }
    }

    div.title {
        display: block;
        text-align: center;
        font-family: inherit;
        font-weight: 600
    }

    &:first-child {
        margin-inline-start: 0
    }

    &.selected {
        span.thumbnail {
            border: 4px solid @nonPhotoBlue;
            margin: 0;
            inline-size: 98px;
            block-size: 98px;
            padding: 5px
        }
    }

    &.selected.site {
        span.thumbnail {
            border-color: @curiousBlue
        }

        .status,
        .status-site {
            display: block
        }
    }

    &.selected.edit {

        .status,
        .status-edit {
            display: block
        }
    }
}