@import "~@dnnsoftware/dnn-react-common/styles/index";

#adminlogs-container {
    &>div {
        padding: 0
    }

    .dnn-persona-bar-page-body {
        * {
            box-sizing: border-box
        }

        .react-tabs {
            .log-settings {
                inline-size: 100%;
                box-sizing: border-box;
                padding-block-start: 20px;
                padding-inline-end: 20px;
                padding-block-end: 55px;
                padding-inline-start: 20px;
                display: table;

                .container {
                    float: inline-start;
                    border-inline-start: 1px solid @alto;
                    border-inline-end: 1px solid @alto;
                    inline-size: 100%;

                    .header-row {
                        display: table;
                        inline-size: 100%;
                        border-block-end: 1px solid @alto;
                        border-block-start: 1px solid @alto;
                        inline-size: 100%;
                        float: inline-start;
                        position: relative;
                        padding-block-start: 15px;
                        padding-inline-end: 20px;
                        padding-block-end: 15px;
                        padding-inline-start: 20px;
                        box-sizing: border-box;
                        text-transform: uppercase;
                    }

                    .add-setting-editor {
                        //border-bottom: 1px solid @alto;
                        float: inline-start;
                    }

                    .row-opened {
                        margin-block-start: -3px;
                        margin-block-end: -1px;
                        border-block-start: 2px solid @curiousBlue;
                        border-block-end: 2px solid @curiousBlue !important;
                    }
                }

                .add-setting-row {
                    text-align: end;
                    inline-size: 100%;
                    font-weight: bolder;
                    overflow: hidden;
                    cursor: pointer;
                    box-sizing: border-box;
                    border-block-end: 1px solid @alto;
                    padding-block-start: 0;
                    padding-inline-end: 0;
                    padding-block-end: 15px;
                    padding-inline-start: 20px;
                    margin-block-end: 15px;

                    .add-setting-box {
                        inline-size: auto;
                        float: inline-end;

                        .add-icon {
                            margin-inline-start: 20px;
                            margin-inline-end: 5px;
                            float: inline-start;
                            cursor: pointer;

                            svg {
                                fill: @rollingStone;
                                inline-size: 16px;
                                float: inline-start;
                                block-size: 16px;
                            }
                        }

                        &.false {
                            color: @curiousBlue;

                            svg {
                                fill: @curiousBlue;
                            }
                        }
                    }

                    .add-setting-box {
                        &.false:hover {
                            color: @thunder;

                            svg {
                                fill: @thunder;
                            }
                        }
                    }
                }
            }
        }
    }
}