@import "~@dnnsoftware/dnn-react-common/styles/index";

:local(.portalListItem) {
    * {
        box-sizing: border-box
    }

    float: inline-start;
    inline-size: 100%;
    box-sizing: border-box;
    border:1px solid @alto;
    padding: 15px;
    margin-block-start: 25px;
    background: @white;

    .portal-main-info {
        border-inline-end: 1px solid @alto;

        .portal-name-info {
            .dnn-text-overflow-wrapper {
                font-weight: bold;
                display: block;
                margin-block-end: 5px
            }

            a {
                color: @curiousBlue;
                max-inline-size: 100%;
                word-wrap: break-word;
                display: block;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis
            }
        }

        &:hover {
            .icon-container {
                >div {
                    svg {
                        fill: @alto;

                        &:hover {
                            fill: @rollingStone
                        }

                        &:active {
                            fill: @curiousBlue
                        }
                    }
                }
            }
        }

        .icon-container {
            margin-block-start: 10px;

            >div {
                display: inline;
                margin-inline-end: 10px;

                svg {
                    cursor: pointer;
                    inline-size: 20px;
                    block-size: 20px;
                    fill: white
                }
            }
        }
    }

    .portal-statistics-info {
        padding-block-start: 0;
        padding-inline-end: 15px;
        padding-block-end: 0;
        padding-inline-start: 15px;

        .portal-statistic {
            float: inline-start;
            inline-size: 50%;

            .statistic-label {
                padding-block-start: 0;
                padding-inline-end: 15px;
                padding-block-end: 0;
                padding-inline-start: 15px;
                float: inline-start;
                inline-size: 100%;
                margin-block-end: 5px;

                p {
                    span {
                        float: inline-end;
                        margin-inline-end: 24px
                    }
                }
            }
        }
    }
}