@import "~@dnnsoftware/dnn-react-common/styles/index.less";

.dnn-message-box {
    inline-size: 100%;
    box-sizing: border-box;
    float: inline-start;
    background-color: #0A2937;

    .top-bar {
        inline-size: 100%;
        float: inline-start;

        .close-button {
            inline-size: 16px;
            block-size: 16px;
            float: inline-end;
            cursor: pointer;
            padding: 10px;

            >svg {
                fill: #FFFFFF
            }
        }
    }

    .content {
        inline-size: 100%;
        float: inline-start;
        text-align: center;
        padding-block-start: 0;
        padding-inline-end: 50px;
        padding-block-end: 50px;
        padding-inline-start: 50px;
        box-sizing: border-box;

        .message-icon {
            inline-size: 35px;
            block-size: 30px;
            margin-block-start: 5px;
            margin-inline-end: auto;
            margin-block-end: 20px;
            margin-inline-start: auto;

            >svg {
                fill: #78C16B
            }
        }

        .message-text {
            font-size: 15px;
            color: #FFFFFF
        }

        .message-link {
            margin-block-start: 20px;
            word-break: break-all;

            >a {
                color: #21A3DA;
                font-size: 15px;
                text-decoration: none
            }
        }
    }
}