@import "~@dnnsoftware/dnn-react-common/styles/index";

.collapsible-component-scheduler {
    display: block;
    float: inline-start;
    inline-size: 100%;
    cursor: auto;

    &:not(:last-child) {
        border-block-end: 1px solid @alto
    }

    div.collapsible-header-scheduler {
        inline-size: 100%;
        float: inline-start;
        position: relative;
        padding-block-start: 15px;
        padding-inline-end: 0;
        padding-block-end: 10px;
        padding-inline-start: 0;
        box-sizing: border-box;
        cursor: auto;

        .row {
            float: inline-start;
            inline-size: 100%;

            .item-row-name {
                inline-size: 28%;
                float: inline-start;
                padding-inline-start: 15px
            }

            .item-row-frequency {
                inline-size: 17%;
                float: inline-start
            }

            .item-row-retryTimeLapse {
                inline-size: 17%;
                float: inline-start
            }

            .item-row-nextStart {
                inline-size: 19%;
                float: inline-start
            }

            .item-row-enabled {
                inline-size: 10%;
                float: inline-start;
                text-align: center;

                .checkMarkIcon {
                    inline-size: 16px;
                    block-size: 16px;
                    margin-inline-start: auto;
                    margin-inline-end: auto;

                    >svg {
                        fill: @thunder
                    }
                }
            }

            .item-row-editButton {
                inline-size: 3%;
                float: inline-end;
                margin-inline-end: 5px;

                .edit-icon {
                    cursor: pointer;

                    >svg {
                        inline-size: 22px;
                        float: inline-start;
                        block-size: 22px;
                        margin-block-start: -2px;

                        &:hover {
                            fill: @thunder
                        }

                        fill: @alto
                    }
                }

                .edit-icon-active {
                    cursor: pointer;

                    >svg {
                        inline-size: 22px;
                        float: inline-start;
                        block-size: 22px;
                        margin-block-start: -2px;
                        fill: @curiousBlue
                    }
                }
            }

            .item-row-historyButton {
                inline-size: 3%;
                float: inline-end;
                margin-inline-end: 10px;

                .collapsible-content {
                    -webkit-box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.2);
                    -moz-box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.2);
                    box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.2);
                    z-index: 1000;
                    background-color: @white;
                    position: absolute;
                    inline-size: 810px;
                    margin-block-start: -114px;
                    margin-inline-end: 0;
                    margin-block-end: 0;
                    margin-inline-start: -764px;
                    text-align: start
                }

                .history-icon {
                    cursor: pointer;

                    >svg {
                        inline-size: 22px;
                        float: inline-start;
                        block-size: 22px;
                        margin-block-start: -2px;

                        &:hover {
                            fill: @thunder
                        }

                        fill: @alto
                    }
                }

                .history-icon-active {
                    cursor: pointer;

                    >svg {
                        inline-size: 22px;
                        float: inline-start;
                        block-size: 22px;
                        margin-block-start: -2px;
                        fill: @curiousBlue
                    }
                }
            }

            .item-row-wrapper {
                padding-block-start: 0;
                padding-inline-end: 5px;
                padding-block-end: 0;
                padding-inline-start: 5px
            }
        }
    }

    .collapsible-body-scheduler {
        float: inline-start;
        inline-size: 100%
    }
}