/* Legacy RADEditor Classes */
.dnnProviderConfig {
    inline-size: 96%;
    margin-block-start: 2em;
    margin-inline-end: auto;
    margin-block-end: 2em;
    margin-inline-start: auto;
}

.dnnpcTabs {
    float: inline-end;
    inline-size: 73%;
}

#dnnEditorConfig, #dnnToolbarConfig {
    padding-block-start: 20px;
}

    #dnnToolbarConfig textarea {
        inline-size: 82% !important;
        min-block-size: 450px !important
    }

.dnnTreeArea {
    float: inline-start;
    inline-size: 22%;
    margin-inline-end: 2%
}

.dnnTreePages {
    margin-block-start: 15px;
}

.dnnProviderSelect {
    padding-block-end: 10px;
}

    .dnnProviderSelect h3 {
        margin-block-start: 10px;
        font-size: 14px
    }

.dtlItem {
    margin-inline-start: 10px;
    white-space: nowrap;
    margin-block-start: 5px;
}

.dnnProviderSelect a.dnnPrimaryAction {
    padding-block-start: 5px;
    padding-inline-end: 8px;
    padding-block-end: 5px;
    padding-inline-start: 8px;
    line-height: 1.4;
    margin-block-start: 5px;
}

#dnnProviderConfig .dnnHSRadioButtons input {
    float: none;
}

#dnnProviderConfig .dnnHSRadioButtons label {
    float: none;
    inline-size: auto;
    display: inline;
    padding-inline-start: 4px;
}

#dnnProviderConfig .ucLinkTypeRadioButtons {
    inline-size: 100%;
}

#dnnProviderConfig .dotnetnuke_tree ul {
    border-block-end: none;
}

#dnnProviderConfig .dotnetnuke_tree li {
    float: none;
}

#dnnProviderConfig .dnnFormExpandContent {
    position: static;
    text-align: end;
}

.dnnTreeExpand {
    position: static;
    text-align: end;
    padding-inline-end: 8px;
}

#dnnProviderConfig .dnnCBItem label {
    inline-size: auto;
    padding-inline-start: 2px;
    font-weight: normal;
    text-align: start;
}

#dnnEditorConfig .dnnFormItem > div.languageComboBox {
    inline-size: 47%;
    margin-block-end: 18px;
    max-inline-size: 445px;
    display: inline-block !important;
}

/* New CK Editor Classes */
.html-editor-manager {
    padding: 1em;
    background: #eee;
    color: #333 !important;
    border: solid 1px #ccc;
    overflow: hidden;
}
    /*.html-editor-manager h2 {    float: inline-start;
    inline-size: 33%;
    padding: 0;}
.html-editor-manager h2, .html-editor-manager h4 {    display:inline-block;
    margin: 0;}
.html-editor-manager span {    font-style:italic;
    color: #666;}*/
    .html-editor-manager .current-provider, .html-editor-manager .change-provider {
        float: inline-start;
        text-align: end;
        inline-size: 30%;
        padding-inline-start: 1em;
    }

    .html-editor-manager .current-provider {
        padding-block-start: .5em;
        padding-block-end: .5em;
    }

        .html-editor-manager .current-provider h4 {
            display: inline-block;
            margin: 0;
        }
    /*.html-editor-manager .change-provider {    float: inline-end}*/
    .html-editor-manager .change-provider select {
        padding: .5em;
        inline-size: 70%;
    }

    .html-editor-manager .change-provider select, .html-editor-manager .change-provider input {
        vertical-align: top;
    }
