@import "~@dnnsoftware/dnn-react-common/styles/index";

.pages-app {
    * {
        box-sizing: border-box
    }

    .dnn-persona-bar-page-header {
        min-block-size: 103px;
        max-block-size: 103px;

        button {
            margin-inline-start: 12px
        }

        .heading-buttons {
            float: inline-end
        }

        h3 {
            max-inline-size: 450px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            word-wrap: normal;
            margin-block-start: 8px;
            margin-inline-end: 0;
            margin-block-end: -9px;
            margin-inline-start: 0
        }
    }

    .dnn-persona-bar-page,
    .persona-bar-page {
        inline-size: 1156px !important
    }

    .dnn-persona-bar-page.hidden {
        display: none
    }

    .title {
        font-weight: bold;
        margin-block-end: 20px;
        float: inline-start
    }

    .dnn-label {
        padding-block-start: 7px;

        label {
            float: inline-start;
            font-weight: 700
        }
    }

    .dnn-workspace-tray {
        border: none;
        margin-block-end: 0;
        block-size: 34px
    }

    .tooltip-text {
        max-inline-size: 260px;
        word-break: normal
    }
}