@import "~@dnnsoftware/dnn-react-common/styles/index";

.collapsible-component-extention-url-providers {
    display: block;
    float: inline-start;
    inline-size: 100%;
    cursor: auto;

    &:not(:last-child) {
        border-block-end: 1px solid @alto;
    }

    div.collapsible-providers {
        inline-size: 100%;
        float: inline-start;
        position: relative;
        padding-block-start: 15px;
        padding-inline-end: 0;
        padding-block-end: 10px;
        padding-inline-start: 0;
        box-sizing: border-box;
        cursor: auto;

        .row {
            .item-row-name {
                inline-size: 60%;
                padding-inline-start: 15px;
                float: inline-start;
            }

            .item-row-enabled {
                inline-size: 30%;
                float: inline-start;
                text-align: center;

                .item-row-enabled-display {
                    color: @mountainMist;
                    margin-block-start: 0;
                    margin-inline-end: 0;
                    margin-block-end: 0;
                    margin-inline-start: -15px;
                    display: table;
                    margin-block-start: 0;
                    margin-inline-end: auto;
                    margin-block-end: 0;
                    margin-inline-start: auto;

                    .enabled-icon {
                        >svg {
                            padding-block-start: 0;
                            padding-inline-end: 15px;
                            padding-block-end: 0;
                            padding-inline-start: 15px;
                            inline-size: 16px;
                            float: inline-start;
                            block-size: 16px;
                            fill: @mountainMist
                        }
                    }
                }

                .checkbox {
                    margin-inline-end: 0
                }
            }

            .item-row-editButton {
                inline-size: 6%;
                float: inline-start;

                .edit-icon {
                    cursor: pointer;

                    >svg {
                        inline-size: 16px;
                        float: inline-end;
                        block-size: 16px;

                        &:hover {
                            fill: @thunder;
                        }

                        fill: @alto;
                    }
                }

                .edit-icon-active {
                    cursor: pointer;

                    >svg {
                        inline-size: 16px;
                        float: inline-end;
                        block-size: 16px;
                        fill: @curiousBlue;
                    }
                }
            }

            .item-row-wrapper {
                padding-block-start: 0;
                padding-inline-end: 5px;
                padding-block-end: 0;
                padding-inline-start: 5px
            }
        }
    }

    .collapsible-providers-body {
        float: inline-start;
        overflow: inherit;
        inline-size: 100%;
    }
}