@import "~@dnnsoftware/dnn-react-common/styles/index";

.collapsible-component-ipfilters {
    display: block;
    float: inline-start;
    inline-size: 100%;
    cursor: auto;

    &:not(:last-child) {
        border-block-end: 1px solid @alto;
    }

    .ip-filter-wrapper {
        overflow: visible;
        inline-size: 100%;

        >div {
            float: inline-start;
            inline-size: 100%
        }
    }

    div.collapsible-ipfilters {
        inline-size: 100%;
        float: inline-start;
        position: relative;
        padding-block-start: 15px;
        padding-inline-end: 0;
        padding-block-end: 10px;
        padding-inline-start: 0;
        box-sizing: border-box;
        cursor: auto;

        &.false {}

        .row {
            .item-row-ruleType {
                inline-size: 20%;
                float: inline-start;
                padding-inline-start: 15px;

                .item-row-ruleType-display {
                    color: @mountainMist;
                    margin-block-start: 0;
                    margin-inline-end: 0;
                    margin-block-end: 0;
                    margin-inline-start: -15px;

                    .allow-icon,
                    .deny-icon {
                        padding-inline-start: 15px;

                        >svg {
                            inline-size: 20px;
                            float: inline-start;
                            block-size: 20px;
                            fill: @mountainMist
                        }
                    }
                }
            }

            .item-row-ipAddress {
                inline-size: 25%;
                float: inline-start;
                padding-block-start: 3px
            }

            .item-row-notes {
                inline-size: 40%;
                float: inline-start;
                padding-block-start: 3px
            }

            .item-row-editButton {
                inline-size: 13%;
                float: inline-start;

                .edit-icon {
                    cursor: pointer;
                    float: inline-end;
                    margin-inline-end: 5px;

                    >svg {
                        inline-size: 20px;
                        float: inline-end;
                        block-size: 20px;

                        &:hover {
                            fill: @thunder;
                        }

                        fill: @alto;
                    }
                }

                .edit-icon-active {
                    float: inline-end;
                    cursor: pointer;

                    >svg {
                        inline-size: 20px;
                        float: inline-end;
                        block-size: 20px;
                        fill: @curiousBlue
                    }
                }

                .delete-icon-hidden {
                    display: none
                }

                .delete-icon {
                    cursor: pointer;
                    float: inline-end;

                    >svg {
                        inline-size: 20px;
                        float: inline-end;
                        block-size: 20px;

                        &:hover {
                            fill: @thunder;
                        }

                        fill: @alto;
                    }
                }
            }

            .item-row-wrapper {
                padding-block-start: 0;
                padding-inline-end: 5px;
                padding-block-end: 0;
                padding-inline-start: 5px
            }
        }
    }
}