@import "~@dnnsoftware/dnn-react-common/styles/index";

:local(.importModal) {
    border: 1px solid @alto;
    background: #fff;
    float: inline-start;
    inline-size: 100%;

    * {
        box-sizing: border-box
    }

    .pageTitle {
        text-transform: uppercase;
        font-weight: bold;
        padding-block-start: 40px;
        padding-inline-end: 0;
        padding-block-end: 30px;
        padding-inline-start: 40px
    }

    .pageDescription {
        font-weight: 700;
        color: @thunder;
        padding-block-start: 0;
        padding-inline-end: 40px;
        padding-block-end: 15px;
        padding-inline-start: 40px
    }

    .packages-wrapper {
        inline-size: 100%;
        padding-block-start: 0;
        padding-inline-end: 40px;
        padding-block-end: 70px;
        padding-inline-start: 40px;

        .packages {
            .package-analyzing {
                float: inline-start;
                inline-size: 100%;
                padding-block-end: 40px;

                .noDataText {
                    font-size: x-large;
                    color: @thunder;
                    padding-block-start: 40px;
                    padding-inline-end: 0;
                    padding-block-end: 0;
                    padding-inline-start: 0
                }

                .noDataImage {
                    inline-size: 100%;
                    text-align: center;

                    >svg {
                        inline-size: 648px;
                        block-size: 400px
                    }
                }
            }

            .package-card-wrapper {
                float: inline-start;
                position: relative;

                &:not(:last-child) {
                    margin-block-end: 15px
                }

                .package-card-tooltip {
                    background-color: #fff;
                    position: absolute;
                    padding-block-start: 10px;
                    padding-inline-end: 20px;
                    padding-block-end: 10px;
                    padding-inline-start: 20px;
                    background: rgb(255, 255, 255);
                    box-shadow: rgb(200, 200, 200) 0px 0px 10px 1px;
                    border-radius: 3px;
                    transition: opacity 0.2s ease-in-out 0s, visibility 0.2s ease-in-out 0s;
                    color: white;
                    max-inline-size: 500px;
                    inset-inline-start: 50%;
                    margin-inline-start: -25%;
                    opacity: 0;
                    visibility: hidden;

                    ::after {
                        content: " ";
                        position: absolute;
                        inset-block-end: 100%;
                        inset-inline-start: 50%;
                        margin-inline-start: -10px;
                        border-width: 10px;
                        border-style: solid;
                        border-color: transparent transparent white transparent
                    }
                }

                &:hover {
                    .package-card-tooltip {
                        opacity: 1;
                        visibility: visible;
                        z-index: 9999;
                        cursor: pointer
                    }
                }

                .package-card {
                    text-align: start;
                    border: 1px solid @alto;
                    inline-size: 100%;
                    display: inline-block;
                    position: relative;

                    &:hover {
                        .package-card-overlay {
                            opacity: 0.75
                        }
                    }

                    &.selected {
                        border: 2px solid @curiousBlue;

                        .checkmark {
                            position: absolute;
                            inset-block-start: 5px;
                            inset-inline-end: 5px;
                            background-color: @curiousBlue;
                            display: block;
                            inline-size: 15px;
                            block-size: 15px;

                            svg {
                                inline-size: 100%;
                                fill: @white
                            }
                        }
                    }

                    .card-grid {
                        padding-block-start: 20px;
                        padding-inline-end: 0;
                        padding-block-end: 10px;
                        padding-inline-start: 0;
                        inline-size: 100%;
                        float: inline-start;

                        .card-column1 {
                            border-inline-end: 1px solid @alto;
                            padding-block-start: 0;
                            padding-inline-end: 20px;
                            padding-block-end: 0;
                            padding-inline-start: 20px;

                            .package-name {
                                font-weight: bold;
                                padding-block-end: 10px
                            }

                            .package-field {
                                padding-block-end: 10px;
                                color: @thunder
                            }
                        }

                        .card-column2,
                        .card-column4 {
                            .package-field {
                                float: inline-start;
                                inline-size: 100%;
                                padding-block-start: 0;
                                padding-inline-end: 0;
                                padding-block-end: 13px;
                                padding-inline-start: 20px;

                                .dnn-label {
                                    padding-block-start: 0;
                                    font-weight: 700
                                }

                                span {
                                    float: inline-end;
                                    color: @thunder
                                }
                            }
                        }

                        .card-column3 {
                            color: @thunder;

                            .package-field {
                                float: inline-end;
                                padding-block-start: 0;
                                padding-inline-end: 10px;
                                padding-block-end: 10px;
                                padding-inline-start: 0
                            }
                        }

                        .card-column5 {
                            color: @thunder;

                            .package-field {
                                padding-block-start: 0;
                                padding-inline-end: 20px;
                                padding-block-end: 10px;
                                padding-inline-start: 0
                            }
                        }
                    }

                    .template-icon {
                        background-color: @gallery;
                        block-size: 120px;
                        text-align: center;

                        svg {
                            inline-size: 60px;
                            block-size: 60px;
                            margin-block-start: 30px
                        }
                    }

                    .package-card-overlay {
                        position: absolute;
                        inset-block-start: 0;
                        inline-size: 100%;
                        block-size: 100%;
                        background: @curiousBlue;
                        transition: .3s;
                        opacity: 0;
                        cursor: pointer;

                        .icon-container {
                            color: #fff;
                            text-align: center;
                            inline-size: 100%;
                            position: absolute;
                            inset-block-start: 50%;
                            -webkit-transform: translateY(-50%);
                            -ms-transform: translateY(-50%);
                            transform: translateY(-50%);

                            >div {
                                display: inline;
                                margin-inline-end: 10px;

                                svg {
                                    inline-size: 40px;
                                    fill: white
                                }

                                font-size: 15px
                            }
                        }

                        .dnn-text-overflow-wrapper {
                            position: absolute;
                            inset-block-end: 92px;
                            font-size: 15px;
                            margin-inline-start: 16px;
                            opacity: 0
                        }
                    }
                }
            }
        }

        .import-summary {
            float: inline-start;
            inline-size: 100%;

            .sectionTitle {
                text-transform: uppercase;
                font-weight: bold;
                padding-block-start: 40px;
                padding-inline-end: 0;
                padding-block-end: 0;
                padding-inline-start: 0
            }

            .import-site-container {
                font-weight: 700;

                .left-column {
                    inline-size: 50%;
                    float: inline-start;
                    border-inline-end: 1px solid @alto;
                    padding-block-start: 10px;
                    padding-inline-end: 30px;
                    padding-block-end: 10px;
                    padding-inline-start: 0
                }

                .right-column {
                    inline-size: 50%;
                    float: inline-start;
                    padding-block-start: 10px;
                    padding-inline-end: 0;
                    padding-block-end: 10px;
                    padding-inline-start: 30px;

                    .seperator {
                        float: inline-start;
                        inline-size: 100%;
                        padding-block-start: 10px;
                        padding-inline-end: 0;
                        padding-block-end: 10px;
                        padding-inline-start: 0
                    }

                    .dnn-switch-container {
                        float: inline-end
                    }
                }

                .import-summary-item {
                    padding-block-start: 7px;
                    float: inline-end;
                    color: @thunder;
                    font-weight: 100
                }

                .dnn-grid-cell {
                    padding-block-end: 10px
                }
            }

            .finish-importing {
                float: inline-start;
                font-weight: 700;
                color: @curiousBlue;
                padding-block-start: 30px;
                padding-inline-end: 0;
                padding-block-end: 20px;
                padding-inline-start: 0;
                inline-size: 100%;
                text-align: center
            }
        }
    }

    .packagePager {
        padding-block-start: 15px;
        padding-inline-end: 0;
        padding-block-end: 20px;
        padding-inline-start: 0;
        float: inline-start;
        inline-size: 100%;
        border-block-end: 1px solid @alto;
    }

    .action-buttons {
        text-align: center;
        padding-block-start: 20px;
        padding-inline-end: 0;
        padding-block-end: 50px;
        padding-inline-start: 0;

        button {
            margin: 5px;
        }
    }
}