@import "~@dnnsoftware/dnn-react-common/styles/index";

:local(.providerSettingEditor) {
    padding-block-start: 0;
    padding-inline-end: 20px;
    padding-block-end: 0;
    padding-inline-start: 20px;
    block-size: 160px;

    .edit-provider {
        float: inline-start;
        padding: 0px;
        inline-size: 100%;
        border: 0px;
        min-block-size: 80px;
        padding-block-start: 10px;
        padding-inline-end: 25px;
        padding-block-end: 10px;
        padding-inline-start: 25px
    }
}