@import "~@dnnsoftware/dnn-react-common/styles/index";

.collapsible-logitemdetail {
    display: table;
    inline-size: 100%;

    &.false {
        border-block-start: 2px solid @curiousBlue !important;
        border-block-end: 2px solid @curiousBlue !important;
        position: relative;
        inset-block-start: -1px
    }

    &:not(:last-child) {
        border-block-end: 1px solid #ddd
    }

    .logitem-collapsible {
        float: inline-start;
        inline-size: 100%;

        >div {
            float: inline-start;
            padding-block-end: 25px;
            inline-size: 100%
        }
    }

    div.collapsible-logitemdetail-header {
        inline-size: 100%;
        float: inline-start;
        position: relative;
        padding: 15px;
        box-sizing: border-box;

        .term-header {
            cursor: pointer;

            .term-label {
                float: inline-start
            }

            .term-label-wrapper {
                padding-block-start: 0;
                padding-inline-end: 5px;
                padding-block-end: 0;
                padding-inline-start: 5px;
                word-wrap: break-word
            }
        }

        .edit-icon {
            margin-inline-start: 5px;
            float: inline-end;
            cursor: pointer;

            svg {
                inline-size: 18px;
                float: inline-start;
                block-size: 18px
            }

            &.false {
                svg {
                    fill: @curiousBlue
                }

                svg:hover {
                    fill: @thunder
                }
            }
        }
    }

    span.active {
        color: green;
        font-weight: 900
    }

    span.inactive {
        color: red;
        font-weight: 900
    }

    .buttons-box {
        inline-size: 100%;
        text-align: center;
        float: inline-start;
        margin-block-start: 15px;
        margin-inline-end: 0;
        margin-block-end: 15px;
        margin-inline-start: 0;

        .dnn-ui-common-button {
            margin: 5px
        }

        .edit-icon {
            margin-block-start: 0px;
            margin-inline-end: 10px;
            margin-block-end: 20px;
            margin-inline-start: 10px;
            float: inline-end;

            svg {
                inline-size: 16px;
                float: inline-start;
                block-size: 16px
            }
        }
    }
}