@import "~@dnnsoftware/dnn-react-common/styles/index";

:local(.sslSettings) {
  margin: 30px;

  * {
    box-sizing: border-box
  }

  .dnn-ui-common-input-group {
    label {
      font-weight: bolder;
      float: inline-start
    }

    .sectionLabel {
      border-block-start: 1px solid @alto;
      padding-block-start: 20px;
      margin-block-start: 20px;
      margin-block-end: 15px;

      label {
        color: #000;
        text-transform: uppercase
      }
    }

    .dnn-dropdown {
      inline-size: 100%;
      margin-block-end: 32px
    }

    .dnn-switch-container {
      float: inline-end
    }

    .dnn-single-line-input-with-error {
      inline-size: 100%
    }

    .sslSettings-row_switch {
      border-block-end: 1px solid @alto;
      margin-block-start: 0;
      margin-inline-end: 0;
      margin-block-end: 20px;
      margin-inline-start: 0;
      display: table;
      inline-size: 100%;
      padding-block-start: 0;
      padding-inline-end: 0;
      padding-block-end: 10px;
      padding-inline-start: 0
    }

    float: none
  }

  .buttons-box {
    inline-size: 100%;
    text-align: center;
    margin-block-start: 0;
    margin-inline-end: 0;
    margin-block-end: 10px;
    margin-inline-start: 0;

    .dnn-ui-common-button {
      margin: 5px
    }
  }

  .warningBox {
    border: 1px solid @alto;
    background-color: @gallery;
    inline-size: 100%;
    padding: 15px;
    margin-block-end: 20px;

    .warningText {
      font-weight: bolder;
      color: @thunder
    }

    .warningButton {
      inline-size: 100%;

      .dnn-ui-common-button {
        inline-size: 100%;
        padding-block-start: 6px;
        padding-block-end: 6px;

        &:first-child {
          margin-block-start: 15px
        }
      }
    }
  }
}