/* connections */

.connections-col-checkmark {
    inline-size: 36px
}

.connections-col-favicon {
    inline-size: 56px
}

.connections-col-actions {
    inline-size: 115px
}

table#connectionstbl.common-table tr td {
    background-color: #fff !important;
    border-block-start: 1px solid #ddd
}

table#connectionstbl.common-table tr:first-child td, table#connectionstbl.common-table tr.edit-row td {
    border-block-start: none
}

table#connectionstbl span.socialnetwork-connection {
    display: block;
    inline-size: 18px;
    block-size: 18px
}

    table#connectionstbl span.socialnetwork-connection.verified {
        background: url('../images/icon-connector-verified.png') no-repeat center center
    }

table#connectionstbl span.socialnetwork-favicon {
    display: block;
    inline-size: 38px;
    block-size: 37px;
    background-repeat: no-repeat;
    background-position: 0 0;
    position: relative
}

    table#connectionstbl span.socialnetwork-favicon div {
        position: absolute;
        background: black;
        color: white;
        padding-block-start: 1px;
        padding-inline-end: 4px;
        padding-block-end: 1px;
        padding-inline-start: 4px;
        font-size: 10px;
        border-radius: 4px;
        inset-block-start: -4px;
        inset-inline-end: -4px
    }

table#connectionstbl span.socialnetwork-name {
    text-transform: uppercase
}
/* table */
.common-table {
    inline-size: 100%;
    border-collapse: collapse;
    background-color: #fff;
    border-end-start-radius: 8px;
    border-end-end-radius: 8px
}

    .common-table td, .common-table th {
        padding-block-start: 8px;
        padding-inline-end: 9px;
        padding-block-end: 7px;
        padding-inline-start: 9px;
        border: none;
        text-align: start
    }

    .common-table tfoot {
        border-end-start-radius: 8px;
        border-end-end-radius: 5px
    }

        .common-table tfoot td {
            border-block-end: none;
            border-end-start-radius: 8px;
            border-end-end-radius: 8px;
            border-block-start: 1px solid #ddd
        }

    .common-table th {
        padding-block-start: 6px;
        padding-inline-end: 0;
        padding-block-end: 6px;
        padding-inline-start: 0;
        border-inline-start: 1px solid #ddd;
        border-block-end: 1px solid #ddd
    }

        .common-table th > a {
            display: block;
            padding-block-start: 5px;
            padding-inline-end: 9px;
            padding-block-end: 5px;
            padding-inline-start: 9px;
            color: #777;
            text-transform: uppercase;
            font-family: proxima_nova_c_semibold;
            font-size: 11px;
            letter-spacing: 1px;
            font-weight: normal
        }

            .common-table th > a[data-column] {
                cursor: pointer;
                background: url('../images/grid-sprite.png') no-repeat 100% 10px
            }

            .common-table th > a.asc {
                background-position: 100% -32px;
                text-decoration: underline;
                color: #0e181c
            }

            .common-table th > a.desc {
                background-position: 100% -12px;
                text-decoration: underline;
                color: #0e181c
            }

        .common-table th:first-child, .common-table td:first-child {
            border-inline-start: none
        }

    .common-table td em {
        font-style: normal;
        font-family: proxima_nova_semibold
    }

    .common-table tr:nth-child(2n) td {
        background: rgba(0,0,0,0.04)
    }

.non-touch .common-table tr:hover td {
    background: rgba(2,139,255,0.15)
}

.common-table tr.edit-row td,
.common-table tr.edit-row:hover td,
.non-touch .common-table tfoot:hover td {
    background: #fff
}

.common-table tr.edit-row td,
.common-table tr.edit-row:hover td {
    padding: 0
}

.common-table tbody.edit-body tr.edit-row td {
    border-block-end: none
}

.common-table tr.edit-title td a.primarybtn,
.common-table tr.edit-title td a.plainbtn {
    min-inline-size: 93px
}

.common-table tr.edit-title.in-edit {
    border-block-start: 2px solid #1e88c3
}

.common-table tr.edit-row.in-edit {
    border-block-end: 2px solid #1e88c3
}

.common-table tr.edit-row > td > div {
    display: none;
    padding-block-start: 33px;
    padding-inline-end: 9px;
    padding-block-end: 15px;
    padding-inline-start: 9px
}

    .common-table tr.edit-row > td > div > h5 {
        display: block;
        padding-block-start: 15px;
        padding-inline-end: 0;
        padding-block-end: 15px;
        padding-inline-start: 0
    }

    .common-table tr.edit-row > td > div > div {
        inline-size: 50%;
        float: inline-start;
        margin-block-start: 0;
        margin-inline-end: 0;
        margin-block-end: 9px;
        margin-inline-start: 0;
        position: relative
    }

    .common-table tr.edit-row > td > div div.clear {
        inline-size: 100%;
        float: none
    }

    .common-table tr.edit-row > td > div > div > label {
        inline-size: 40%;
        display: inline-block;
        text-align: end;
        margin-inline-end: 8px
    }

        .common-table tr.edit-row > td > div > div > label.formRequired:after {
            content: "*";
            display: inline-block;
            margin-block-start: 0;
            margin-inline-end: 0;
            margin-block-end: 0;
            margin-inline-start: 5px;
            color: Red;
            font-size: 16px;
            line-height: 1em;
            font-family: proxima_nova_semibold
        }

    .common-table tr.edit-row > td > div > div > input[type="text"],
    .common-table tr.edit-row > td > div > div > select {
        inline-size: 45%;
        padding: 8px;
        border: 1px solid #ddd;
        box-sizing: border-box;
        -moz-box-sizing: border-box
    }

    .common-table tr.edit-row > td > div > div > a.secondarybtn {
        display: block;
        float: inline-end;
        margin-inline-end: 5px
    }

    .common-table tr.edit-row > td > div > div > a.primarybtn {
        display: block;
        float: inline-start;
        margin-inline-start: 5px
    }

.common-table tr.in-edit-row td,
.common-table tr.in-edit-row:hover td {
    background: #0087c6;
    color: #fff;
    border-color: #0087c6
}

    .common-table tr.in-edit-row td > a,
    .common-table tr.in-edit-row:hover td > a {
        color: #fff
    }

.common-table tbody td.edit-cell {
    padding: 0
}

    .common-table tbody td.edit-cell > a {
        float: inline-end;
        inline-size: 25px;
        block-size: 25px;
        background-image: url('../images/edit.png');
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
        display: none;
        margin-inline-end: 5px
    }

        .common-table tbody td.edit-cell > a.delete {
            float: inline-end;
            inline-size: 25px;
            block-size: 25px;
            background-image: url('../images/delete.png');
            background-repeat: no-repeat;
            background-position: center;
            cursor: pointer;
            display: none;
            margin-inline-end: 5px
        }

        .common-table tbody td.edit-cell > a.calendar {
            float: inline-end;
            inline-size: 25px;
            block-size: 25px;
            background-image: url('../images/icon-calendar.png');
            background-repeat: no-repeat;
            background-position: center;
            cursor: pointer;
            display: none;
            margin-inline-end: 5px
        }

.common-table tbody tr.in-edit-row td.edit-cell > a {
    background-image: url('../images/up.png')
}

.non-touch .common-table > tbody > tr:hover > td.edit-cell > a,
.common-table tr.in-edit-row td > a {
    display: block
}

.touch .common-table tbody tr td.edit-cell > a.delete {
    display: block
}

.common-table tbody tr.in-edit-row td.edit-cell > a.delete {
    display: none
}

.common-table tr.last-row td:first-child {
    -ms-border-bottom-left-radius: 5px;
    border-end-start-radius: 5px
}

.common-table tr.last-row td:last-child {
    -ms-border-bottom-right-radius: 5px;
    border-end-end-radius: 5px
}

.common-table tr.edit-row > td > div > div.edit-items {
    inline-size: 100%;
    float: none
}

.common-table tr.edit-row > td > div > div.edit-buttons > div, .common-table tr.edit-row > td > div > div.edit-fields > div > div {
    inline-size: 50%;
    float: inline-start;
    margin-block-start: 0;
    margin-inline-end: 0;
    margin-block-end: 9px;
    margin-inline-start: 0;
    position: relative
}

.common-table tr.edit-row > td > div .loading {
    block-size: 32px;
    inline-size: 100% !important
}

.common-table tr.edit-row > td > div > div.edit-items div.clear {
    inline-size: 100%;
    float: none
}

.common-table tr.edit-row > td > div > div.edit-items label {
    inline-size: 40%;
    display: inline-block;
    text-align: end;
    margin-inline-end: 8px
}

    .common-table tr.edit-row > td > div > div.edit-items label.formRequired:after {
        content: "*";
        display: inline-block;
        margin-block-start: 0;
        margin-inline-end: 0;
        margin-block-end: 0;
        margin-inline-start: 5px;
        color: Red;
        font-size: 16px;
        line-height: 1em;
        font-family: proxima_nova_semibold
    }

.common-table tr.edit-row > td > div > div.edit-items input[type="password"], .common-table tr.edit-row > td > div > div.edit-items input[type="text"], .common-table tr.edit-row > td > div > div.edit-items select {
    inline-size: 45%;
    padding: 8px;
    border: 1px solid #c8c8c8;
    box-sizing: border-box;
    -moz-box-sizing: border-box
}

    .common-table tr.edit-row > td > div.parent-container .inner-container .sub-connector-row-edit input[type="password"]:hover,
    .common-table tr.edit-row > td > div.parent-container .inner-container .sub-connector-row-edit input[type="text"]:hover,
    .common-table tr.edit-row > td > div.parent-container .inner-container .sub-connector-row-edit input[type="password"]:focus,
    .common-table tr.edit-row > td > div.parent-container .inner-container .sub-connector-row-edit input[type="text"]:focus
    .common-table tr.edit-row > td > div > div.edit-items input[type="password"]:hover,
    .common-table tr.edit-row > td > div > div.edit-items input[type="text"]:hover,
    .common-table tr.edit-row > td > div > div.edit-items input[type="password"]:focus,
    .common-table tr.edit-row > td > div > div.edit-items input[type="text"]:focus {
        border-color: #1e88c3;
        outline: none
    }

    .common-table tr.edit-row > td > div.parent-container .inner-container .sub-connector-row-edit input[type="password"][disabled],
    .common-table tr.edit-row > td > div.parent-container .inner-container .sub-connector-row-edit input[type="text"][disabled],
    .common-table tr.edit-row > td > div > div.edit-items input[type="password"][disabled],
    .common-table tr.edit-row > td > div > div.edit-items input[type="text"][disabled] {
        color: #959695;
        cursor: default;
        background: #e5e7e6;
        border-color: #e5e7e6
    }

.common-table tr.edit-row > td > div > div.edit-items a.secondarybtn {
    display: block;
    float: inline-end;
    margin-inline-end: 5px
}

.common-table tr.edit-row > td > div > div.edit-items a.primarybtn {
    display: block;
    float: inline-start;
    margin-inline-start: 5px
}

.common-table tr.edit-row > td > div.sub-connector {
    display: block !important;
    float: inline-start
}


/*sdf*/

.common-table tr.edit-row > td > div.parent-container {
    transition: .6s;
    display: block !important;
    padding: 0px;
    border: none;
    max-block-size: 0px;
    overflow: hidden
}

    .common-table tr.edit-row > td > div.parent-container.open {
        max-block-size: 1000px;
        overflow-block: auto
    }

    .common-table tr.edit-row > td > div.parent-container::-webkit-scrollbar {
        display: none
    }


    /*.common-table tr:not(.edit-row) {    transition: .6s;
    border-block-start: 2px solid transparent}
.common-table tr.open {    border-block-start: 2px solid #0087c6}*/

    .common-table tr.edit-row > td > div.parent-container .inner-container {
        padding-block-start: 20px;
        padding-inline-end: 40px;
        padding-block-end: 20px;
        padding-inline-start: 40px;
        margin: 0 !important;
        float: inline-start;
        box-sizing: border-box;
        inline-size: 100%
    }

        .common-table tr.edit-row > td > div.parent-container .inner-container .sub-connector {
            float: inline-start;
            inline-size: 100%;
            block-size: 53px;
            padding: 8px;
            box-sizing: border-box;
            border: 1px solid #ddd;
            border-block-end: none;
            border-block-start: none;
            transition: .4s;
            border-block-start: 2px solid transparent
        }

            .common-table tr.edit-row > td > div.parent-container .inner-container .sub-connector.open {
                border-block-start: 2px solid #0087c6 !important
            }

        .common-table tr.edit-row > td > div.parent-container .inner-container .edit-form-multiple {
            border-block-end: 2px solid #0087c6 !important
        }

        .common-table tr.edit-row > td > div.parent-container .inner-container .sub-connector:first-of-type {
            box-shadow: 0px -1px 0px 0px #ddd
        }

        .common-table tr.edit-row > td > div.parent-container .inner-container .sub-connector-row-edit {
            border-block-end: 1px solid #ddd;
            border-inline-start: 1px solid #ddd;
            border-inline-end: 1px solid #ddd;
            float: inline-start;
            inline-size: 100%;
            transition: .4s max-height;
            max-block-size: 0px;
            overflow: hidden;
            box-sizing: border-box
        }

            .common-table tr.edit-row > td > div.parent-container .inner-container .sub-connector-row-edit.open {
                max-block-size: 600px
            }

        .common-table tr.edit-row > td > div.parent-container .inner-container .sub-connector * {
            float: inline-start
        }

        .common-table tr.edit-row > td > div.parent-container .inner-container .sub-connector .socialnetwork-connection {
            margin-inline-end: 10px;
            margin-block-start: 10px
        }

        .common-table tr.edit-row > td > div.parent-container .inner-container .sub-connector .socialnetwork-name {
            padding: 8px
        }

        .common-table tr.edit-row > td > div.parent-container .inner-container .sub-connector .icon {
            block-size: 20px;
            inline-size: 20px;
            margin-block-start: 7px;
            margin-inline-start: 10px;
            background-repeat: no-repeat;
            float: inline-end;
            opacity: .3;
            cursor: pointer
        }

            .common-table tr.edit-row > td > div.parent-container .inner-container .sub-connector .icon:hover {
                opacity: .7
            }

        .common-table tr.edit-row > td > div.parent-container .inner-container .sub-connector .trash {
            background-image: url(../images/trash.svg)
        }

        .common-table tr.edit-row > td > div.parent-container .inner-container .sub-connector .edit {
            background-image: url(../images/edit.svg)
        }

    .common-table tr.edit-row > td > div.parent-container div {
        display: block !important
    }


    /*inner*/

    .common-table tr.edit-row > td > div.parent-container .inner-container .sub-connector-row-edit {
    }

        .common-table tr.edit-row > td > div.parent-container .inner-container .sub-connector-row-edit div.edit-fields > div > div, .common-table tr.edit-row > td > div.parent-container .inner-container .sub-connector-row-edit div.edit-buttons > div {
            inline-size: 50%;
            float: inline-start;
            margin-block-start: 0;
            margin-inline-end: 0;
            margin-block-end: 9px;
            margin-inline-start: 0;
            position: relative
        }

        .common-table tr.edit-row > td > div.parent-container .inner-container .sub-connector-row-edit div.clear {
            inline-size: 100%;
            float: none
        }

        .common-table tr.edit-row > td > div.parent-container .inner-container .sub-connector-row-edit label {
            inline-size: 40%;
            display: inline-block;
            text-align: end;
            margin-inline-end: 8px
        }

            .common-table tr.edit-row > td > div.parent-container .inner-container .sub-connector-row-edit label.formRequired:after {
                content: "*";
                display: inline-block;
                margin-block-start: 0;
                margin-inline-end: 0;
                margin-block-end: 0;
                margin-inline-start: 5px;
                color: Red;
                font-size: 16px;
                line-height: 1em;
                font-family: proxima_nova_semibold
            }

        .common-table tr.edit-row > td > div.parent-container .inner-container .sub-connector-row-edit input[type="password"], .common-table tr.edit-row > td > div.parent-container .inner-container .sub-connector-row-edit input[type="text"], .common-table tr.edit-row > td > div.parent-container .inner-container .sub-connector-row-edit select {
            inline-size: 45%;
            padding: 8px;
            border: 1px solid #c8c8c8;
            box-sizing: border-box;
            -moz-box-sizing: border-box
        }

        .common-table tr.edit-row > td > div.parent-container .inner-container .sub-connector-row-edit a.secondarybtn {
            display: block;
            float: inline-end;
            margin-inline-end: 5px
        }

        .common-table tr.edit-row > td > div.parent-container .inner-container .sub-connector-row-edit a.primarybtn {
            display: block;
            float: inline-start;
            margin-inline-start: 5px
        }

.common-table tr.edit-row > td > div.open {
    display: block !important
}

.secondarybtn.add-new-connection {
    font-weight: 600;
    padding-block-start: 0;
    padding-inline-end: 8px;
    padding-block-end: 0;
    padding-inline-start: 8px;
    border: none
}

    .secondarybtn.add-new-connection em {
        margin-inline-end: 4px
    }

.common-table tr.edit-row > td > div.parent-container .inner-container .connector-row-header {
    position: relative;
    float: inline-start;
    inline-size: calc(100% - 160px)
}

    .common-table tr.edit-row > td > div.parent-container .inner-container .connector-row-header span {
        inline-size: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        position: absolute;
        inset-block-start: 0px;
        inset-inline-start: 0px;
        white-space: nowrap
    }

    .common-table tr.edit-row > td > div.parent-container .inner-container .connector-row-header input {
        position: absolute;
        inset-inline-start: 4px;
        min-inline-size: 160px;
        inline-size: 100%
    }

.edit-form-multiple .edit-items.edit-buttons {
    float: inline-start;
    inline-size: 100%
}
