@import "~@dnnsoftware/dnn-react-common/styles/index";

:local(.taskHistoryItemRow) {
    float: inline-start;
    inline-size: 100%;
    color: @thunder;

    &:not(:last-child) {
        border-block-end: 1px solid @alto;
    }

    padding: 10px 0 10px 0;

    .term-label-logNotes {
        margin-block-start: 0;
        margin-inline-end: 5px;
        margin-block-end: 0;
        margin-inline-start: 15px;
        float: inline-start;
        inline-size: 30%
    }

    .term-label-server {
        margin-block-start: 0;
        margin-inline-end: 5px;
        margin-block-end: 0;
        margin-inline-start: 5px;
        float: inline-start;
        inline-size: 15%;
        word-wrap: break-word
    }

    .term-label-elapsedTime {
        text-align: center;
        margin-block-start: 0;
        margin-inline-end: 5px;
        margin-block-end: 0;
        margin-inline-start: 5px;
        inline-size: 15%;
        float: inline-start
    }

    .term-label-succeeded {
        text-align: center;
        margin-block-start: 0;
        margin-inline-end: 5px;
        margin-block-end: 0;
        margin-inline-start: 5px;
        inline-size: 12%;
        float: inline-start
    }

    .term-label-startEnd {
        margin-block-start: 0;
        margin-inline-end: 0;
        margin-block-end: 0;
        margin-inline-start: 5px;
        float: inline-start
    }

    .checkMarkIcon {
        inline-size: 16px;
        block-size: 16px;
        margin-inline-start: auto;
        margin-inline-end: auto;

        >svg {
            fill: @thunder
        }
    }
}