@import "~@dnnsoftware/dnn-react-common/styles/index";

.theme-list-wrapper {
    border: 1px solid @alto;
    border-radius: 3px;
    background-color: @white;
    float: inline-start;
    inline-size: 100%;

    .theme-list {
        &>div>.dnn-grid-cell {
            padding: 15px
        }

        &>div:first-child+div {
            display: none
        }

        .dnn-grid-cell {
            text-align: center
        }
    }

    .theme-list-title {
        text-transform: uppercase;
        font-weight: bold;
        line-height: 30px;
        color: @bulgarianRose;
        padding-block-start: 20px;
        padding-inline-end: 0;
        padding-block-end: 0;
        padding-inline-start: 20px
    }

    .theme-list-separator {
        color: @alto;
        background: @alto;
        block-size: 1px;
        border: none;
        margin-block-start: 0;
        margin-inline-end: 20px;
        margin-block-end: 0;
        margin-inline-start: 20px
    }

    .empty-state {
        display: block;
        text-align: center;
        float: inline-start;
        inline-size: 100%;

        .noThemes {
            font-size: x-large;
            color: @thunder;
            margin-inline-start: 40px;
            margin-inline-end: 40px;
            margin-block-start: 50px;
            inset-inline-start: 0;
            inset-inline-end: 0;
            position: absolute
        }

        .noThemesMessage {
            font-size: small;
            color: @alto;
            margin-inline-start: 40px;
            margin-inline-end: 40px;
            margin-block-start: 100px;
            inset-inline-start: 0;
            inset-inline-end: 0;
            position: absolute
        }

        .noThemesIcon {
            padding-block-start: 80px;
            inline-size: 580px;
            margin-inline-start: auto;
            margin-inline-end: auto
        }
    }
}