@import "~@dnnsoftware/dnn-react-common/styles/index";

.collapsible-logitemdetail {
  display: table;
  inline-size: 100%;

  &.false {
    border-block-start: 2px solid @curiousBlue !important;
    border-block-end: 2px solid @curiousBlue !important;
    position: relative;
    inset-block-start: -1px
  }

  &:not(:last-child) {
    border-block-end: 1px solid #ddd
  }

  .logitem-collapsible {
    float: inline-start;
    inline-size: 100%;

    >div {
      float: inline-start;
      padding-block-end: 25px
    }
  }

  div.collapsible-logitemdetail-header {
    inline-size: 100%;
    float: inline-start;
    position: relative;
    padding-block-start: 15px;
    padding-inline-end: 0;
    padding-block-end: 15px;
    padding-inline-start: 0;
    box-sizing: border-box;

    .term-header {
      cursor: pointer;

      .term-label-typename {
        inline-size: 20%;
        float: inline-start
      }

      .term-label-filename {
        inline-size: 35%;
        float: inline-start
      }

      .term-label-modifieddate {
        inline-size: 35%;
        float: inline-start
      }

      .term-label-size {
        inline-size: 10%;
        float: inline-start
      }

      .term-label-wrapper {
        padding-block-start: 0;
        padding-inline-end: 5px;
        padding-block-end: 0;
        padding-inline-start: 5px;
        word-wrap: break-word
      }
    }
  }
}