@import "~@dnnsoftware/dnn-react-common/styles/index.less";

.translation-progress-bars {
    float: inline-start;
    inline-size: 100%;
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid @curiousBlue;
    margin-block-end: 30px;

    &.error {
        border: 1px solid red
    }

    .text {
        font-weight: 600;
        float: inline-start;

        &.time {
            margin-block-start: 20px
        }
    }
}