@import "~@dnnsoftware/dnn-react-common/styles/index.less";

.create-language-pack-panel {
    &.dnn-persona-bar-page-body {
        .persona-bar-page-body {
            background-color: #fff;

            .languagePack-wrapper {
                padding: 30px;

                .seperator {
                    border-block-end: 1px solid @alto;
                    float: inline-start;
                    inline-size: 100%;
                    padding-block-start: 10px;
                    padding-inline-end: 0;
                    padding-block-end: 20px;
                    padding-inline-start: 0;
                    padding-block-start: 0;
                    padding-inline-end: 0;
                    padding-block-end: 10px;
                    padding-inline-start: 0;
                    margin-block-start: 0;
                    margin-inline-end: 0;
                    margin-block-end: 20px;
                    margin-inline-start: 0
                }

                .dnn-ui-common-input-group {
                    padding-block-start: 0;
                    padding-inline-end: 0;
                    padding-block-end: 15px;
                    padding-inline-start: 0;

                    label {
                        font-weight: bolder;
                        float: inline-start
                    }

                    .dnn-label {
                        inline-size: auto
                    }

                    .dnn-single-line-input-with-error {
                        inline-size: 150px;
                        margin-block-start: 10px;
                        float: inline-start
                    }

                    .dnn-switch-container {
                        float: inline-end
                    }

                    .dnn-dropdown {
                        inline-size: 100%;
                        box-sizing: border-box;

                        .language-flag {
                            float: inline-start;
                            block-size: 16px
                        }

                        .language-name {
                            float: inline-start;
                            margin-inline-start: 10px
                        }
                    }

                    .dnn-radio-buttons {
                        float: inline-end;
                        inline-size: auto;

                        li {
                            inline-size: auto !important;
                            margin-block-start: 0 !important;
                            margin-inline-end: 20px !important;
                            margin-block-end: 0 !important;
                            margin-inline-start: 0 !important
                        }
                    }

                    .name-prefix {
                        float: inline-start;
                        margin-block-start: 20px;
                        margin-inline-end: 10px;
                        margin-block-end: 20px;
                        margin-inline-start: 0
                    }

                    .name-suffix {
                        float: inline-start;
                        margin-block-start: 20px;
                        margin-inline-end: 10px;
                        margin-block-end: 20px;
                        margin-inline-start: 10px
                    }

                    .moduleSelection {
                        block-size: 400px;
                        border: 1px solid @alto;
                        float: inline-start;
                        inline-size: 100%;
                        overflow-block: auto;
                        margin-block-start: 10px;
                        margin-inline-end: 0;
                        margin-block-end: 10px;
                        margin-inline-start: 0;
                        padding-block-start: 15px;
                        padding-inline-end: 30px;
                        padding-block-end: 15px;
                        padding-inline-start: 30px;
                        box-sizing: border-box;

                        .languagePack-module {
                            float: inline-start;
                            inline-size: 100%;
                            box-sizing: border-box
                        }
                    }
                }

                .buttons-box {
                    inline-size: 100%;
                    float: inline-start;
                    text-align: center;
                    margin-block-start: 0;
                    margin-inline-end: 0;
                    margin-block-end: 30px;
                    margin-inline-start: 0;

                    .dnn-ui-common-button {
                        margin: 5px
                    }
                }
            }
        }
    }

    .dnn-workspace-tray {
        border: none;
        margin-block-end: 0;
        block-size: 34px
    }
}