@import "~@dnnsoftware/dnn-react-common/styles/index";

.export-portal {
    float: inline-start;

    .export-site-container {
        padding-block-start: 50px;
        padding-inline-end: 35px;
        padding-block-end: 50px;
        padding-inline-start: 35px;

        .dnn-single-line-input-with-error,
        .dnn-multi-line-input-with-error {
            inline-size: 100%
        }

        .portal-description .dnn-ui-common-multi-line-input {
            block-size: 130px;
            overflow: auto
        }

        .site-template-box {
            margin-block-start: 25px;

            .dnn-label {
                display: block;
                inline-size: 100%
            }
        }

        .site-thumbnails-container {
            inline-size: 100%;

            .dnn-dropdown-with-error {
                inline-size: 100%;
                margin-block-start: 25px;
                margin-block-end: 35px
            }
        }

        .site-type-container {
            margin-block-start: 25px;

            .dnn-radio-buttons {
                padding-block-start: 6px;

                >label {
                    margin-inline-end: 25px
                }
            }

            .dnn-radio-buttons ul li label {
                float: inline-start
            }

            .home-directory {
                .dnn-label {
                    inline-size: 40%;
                    margin-inline-end: 0;

                    >label {
                        font-size: 15px
                    }
                }

                .input-tooltip-container {
                    inline-size: 60%
                }
            }

            #home-directory {
                inline-size: 100%
            }
        }

        .export-switches {
            margin-block-start: 25px;
            border-inline-end: 1px solid @alto;
            padding-inline-end: 35px;

            .dnn-switch-container {
                inline-size: 100%;
                margin-block-start: 15px;
                display: flex;

                .switch-label {
                    flex: 1
                }

                .dnn-ui-common-tooltip {
                    flex-basis: 32px
                }

                .dnn-switch {
                    flex: 1;
                    float: inline-end
                }
            }
        }

        .export-pages {
            float: inline-start;
            margin-block-start: 25px;
            margin-inline-start: 35px;
            box-sizing: border-box;

            .dnn-label {
                margin-block-end: 5px;
                font-weight: bold;

                .dnn-ui-common-tooltip {
                    font-weight: normal
                }
            }

            .dnn-dropdown {
                inline-size: 300px;
                margin-block-end: 15px
            }

            .language-box {
                float: inline-start;
                inline-size: 100%;
                block-size: 70px
            }

            .dnn-checkbox-container {
                float: inline-start
            }

            .dnn-checkbox-container {
                .checkbox {
                    margin-block-end: 2px
                }
            }

            .dnn-label {
                float: inline-start;

                label {
                    float: inline-start
                }
            }

            .dnn-dropdown {
                .collapsible-content {
                    ul {
                        li {
                            display: -webkit-box;

                            .dnn-ui-common-tooltip {
                                float: inline-start
                            }
                        }
                    }
                }
            }

            div.tooltip-text {
                max-inline-size: 250px
            }
        }

        .site-action-buttons {
            text-align: center;
            margin-block-start: 25px;

            .dnn-ui-common-button {
                margin-inline-end: 10px
            }
        }
    }
}

#notification-dialog {
    overflow-wrap: break-word
}