@import "~@dnnsoftware/dnn-react-common/styles/index";

:local(.collapsibleComponent) {
    display: table;
    inline-size: 100%;

    &.false {
        border-block-start: 2px solid @curiousBlue;
        border-block-end: 2px solid @curiousBlue;
        position: relative;
        inset-block-start: -1px
    }

    &:not(:last-child) {
        div.collapsible-header {
            border-block-end: 1px solid @alto
        }
    }

    div.collapsible-header {
        text-transform: uppercase;
        color: rgb(178, 189, 195);
        inline-size: 100%;
        float: inline-start;
        position: relative;
        padding-block-start: 22px;
        padding-inline-end: 22px;
        padding-block-end: 16px;
        padding-inline-start: 22px;
        box-sizing: border-box;
        cursor: pointer;

        * {
            pointer-events: none
        }

        .delete-button {
            pointer-events: all
        }

        &.false {
            border-block-end: none
        }

        .collapse-icon {
            position: absolute;
            inset-inline-end: 20px;
            inset-block-start: 21px;
            font-size: 30px;
            line-height: 16px;
            cursor: pointer;
            user-select: none;
            -webkit-touch-callout: none;
            /* iOS Safari */
            -webkit-user-select: none;
            /* Chrome/Safari/Opera */
            -khtml-user-select: none;
            /* Konqueror */
            -moz-user-select: none;
            /* Firefox */
            -ms-user-select: none;
            /* IE/Edge */
            user-select: none;

            &:after {
                border: 6px solid transparent;
                border-block-end: 6px solid @thunder;
                content: "";
                position: absolute;
                inset-inline-start: -15px;
                inset-block-start: 0
            }

            &.collapsed {
                &:after {
                    border-block-start: 6px solid @thunder;
                    border-block-end: 6px solid transparent;
                    inset-block-start: 5px
                }
            }
        }
    }

    .term-header-collapsible {
        float: inline-start;

        >div {
            float: inline-start;

            >.dnn-grid-system {
                padding-block-start: 45px;
                padding-inline-end: 0;
                padding-block-end: 45px;
                padding-inline-start: 0;
                transition: none
            }
        }
    }

    .vocab-footer {
        text-align: center;
        padding-block-end: 55px;

        >.dnn-ui-common-button {
            margin-inline-start: 11px
        }
    }
}

.term-header {
    .term-icon {
        svg {
            inline-size: 25px;
            float: inline-start;
            block-size: 25px;
            margin-inline-end: 15px;
            margin-block-start: -5px;
            fill: @rollingStone
        }
    }

    .term-label {
        color: @bulgarianRose;

        .dnn-text-overflow-wrapper {
            font-size: 10pt
        }

        * {
            pointer-events: all !important
        }
    }

    //force pointer-event to fire on SVG.
    .delete-button {
        display: inline;
        pointer-events: none !important;

        svg {
            pointer-events: all !important;

            g,
            polygon {
                pointer-events: none !important
            }

            margin-left: 10px;
            margin-block-end: -2px;
            inline-size: 16px;
            block-size: 16px
        }
    }
}