.dnn-collapsible-component {
    display: table;
    inline-size: 100%;

    div.collapsible-header {
        text-transform: uppercase;
        color: var(--dnn-color-surface, rgb(178, 189, 195));
        inline-size: 100%;
        float: inline-start;
        position: relative;
        padding: 20px;
        box-sizing: border-box;
        cursor: pointer;

        .collapse-icon {
            position: absolute;
            inset-inline-end: 20px;
            inset-block-start: 17px;
            font-size: 30px;
            line-height: 16px;
            cursor: pointer;
            user-select: none;
            -webkit-touch-callout: none;
            /* iOS Safari */
            -webkit-user-select: none;
            /* Chrome/Safari/Opera */
            -khtml-user-select: none;
            /* Konqueror */
            -moz-user-select: none;
            /* Firefox */
            -ms-user-select: none;
            /* IE/Edge */
            user-select: none;

            &:after {
                border: 6px solid transparent;
                border-block-end: 6px solid var(--dnn-color-foreground, black);
                content: "";
                position: absolute;
                inset-inline-start: -15px;
                inset-block-start: 0
            }

            &.collapsed {
                &:after {
                    border-block-start: 6px solid var(--dnn-color-foreground, black);
                    border-block-end: 6px solid transparent;
                    inset-block-start: 5px
                }
            }
        }
    }

    .collapsible-row {
        float: inline-start
    }

    .collapsible-footer {
        margin-inline-start: auto;
        margin-inline-end: auto;
        display: table;
        padding-block-start: 25px;
        padding-inline-end: 0;
        padding-block-end: 25px;
        padding-inline-start: 0;

        button {
            margin-inline-end: 15px;

            &:last-child {
                margin-inline-end: 0
            }
        }
    }
}