@import "~@dnnsoftware/dnn-react-common/styles/index.less";

.synonyms-editor {
    float: inline-start;
    inline-size: 92%;
    margin-block-start: 10px;
    margin-inline-end: 30px;
    margin-block-end: 20px;
    margin-inline-start: 30px;

    .topMessage {
        border: 1px solid @alto;
        padding-block-start: 10px;
        padding-inline-end: 20px;
        padding-block-end: 10px;
        padding-inline-start: 20px;
        background-color: @mercury;
        margin-block-start: 0;
        margin-inline-end: 0;
        margin-block-end: 20px;
        margin-inline-start: 0
    }

    .dnn-ui-common-input-group {
        padding-block-start: 0;
        padding-inline-end: 0;
        padding-block-end: 15px;
        padding-inline-start: 0;

        label {
            font-weight: bolder;
            float: inline-start
        }

        .dnn-label {
            margin-block-start: 8px;
            margin-inline-end: 0;
            margin-block-end: 8px;
            margin-inline-start: 0
        }

        .dnn-dropdown {
            inline-size: 100% !important;
            box-sizing: border-box
        }

        .dnn-single-line-input-with-error {
            inline-size: 100% !important
        }
    }

    .dnn-grid-system {
        .left-column {
            padding-inline-end: 30px;
            border-inline-end: 1px solid @alto
        }

        .right-column {
            padding-inline-start: 30px;
            border-inline-start: 0 !important
        }
    }

    .editor-buttons-box {
        inline-size: 100%;
        text-align: center;
        float: inline-start;

        .dnn-ui-common-button {
            margin: 5px
        }

        .edit-icon {
            margin-block-start: 0px;
            margin-inline-end: 10px;
            margin-block-end: 20px;
            margin-inline-start: 10px;
            float: inline-end;

            svg {
                inline-size: 16px;
                float: inline-start;
                block-size: 16px
            }
        }
    }
}