@import "../../styles/index";

.dnn-uicommon-tags-field-input {
    background: var(--dnn-color-background, #fff);
    float: inline-start;
    inline-size: 100%;
    border: 1px solid var(--dnn-color-foreground-light, @mountainMist);
    box-sizing: border-box;
    position: relative;
    border-radius: var(--dnn-controls-radius, 0px);
    font-size: 13px !important;
    font-family: proxima_nova, Arial !important;

    * {
        box-sizing: content-box !important
    }

    &.error {
        border-block-end: 2px solid var(--dnn-color-danger, red)
    }

    &.disabled {

        &,
        * {
            pointer-events: none
        }

        background: var(--dnn-color-neutral, @mercury);
        border-color: var(--dnn-color-neutral, @mercury);

        .tag {
            background: var(--dnn-color-neutral-dark, @alto)
        }
    }

    &.active {
        border: 1px solid var(--dnn-color-primary, @curiousBlue)
    }

    div[type="text"] {
        inline-size: 100%;
        padding: 0px !important;
        block-size: auto;
        float: inline-start;
        margin: 0 !important
    }

    .input-container {
        float: inline-start;
        position: relative
    }

    .suggestions-container {
        position: relative;
        float: inline-start;
        inline-size: 100%;

        .suggestions {
            position: absolute;
            inset-inline-start: -11px;
            inset-block-start: -9px;
            padding: 10px;
            list-style-type: none;
            inline-size: 100%;
            z-index: 9999;

            .suggestion {
                color: gray;
                padding: 9px;
                background-color: var(--dnn-color-background, #FFFFFF);
                cursor: pointer;
                margin: 0px;
                list-style: none;
                block-size: 15px;

                &:hover {
                    background-color: var(--dnn-color-primary-contrast, @gallery);
                    color: var(--dnn-color-primary, @curiousBlue)
                }

                &.selected {
                    background-color: var(--dnn-color-primary, @curiousBlue);
                    color: var(--dnn-color-primary-contrast, @gallery)
                }
            }
        }
    }

    input {
        padding: 0;
        padding-block-start: 9px;
        padding-inline-end: 12px;
        padding-block-end: 9px;
        padding-inline-start: 12px;
        background: transparent;
        border: none;
        color: var(--dnn-color-foreground, @bulgarianRose);
        float: inline-start;
        box-sizing: content-box !important;
        outline: none !important;
        max-inline-size: calc(100% - 24px);

        &::-ms-clear,
        &::-ms-reveal {
            display: none;
            inline-size: 0;
            block-size: 0
        }
    }

    .dnn-uicommon-tag-input {
        float: inline-start;
        position: relative;
        padding-block-start: 3px !important;
        padding-inline-end: 18px !important;
        padding-block-end: 3px !important;
        padding-inline-start: 7px !important;
        margin-block-start: 7px !important;
        margin-inline-end: 0 !important;
        margin-block-end: 5px !important;
        margin-inline-start: 9px !important;
        background: var(--dnn-color-primary, @seagull);
        border: none;
        border-radius: var(--dnn-controls-radius, 0px);
        color: var(--dnn-color-primary-contrast, white);
        font-size: 11px;
        max-inline-size: calc(100% - 18px);
        overflow: hidden;
        text-overflow: ellipsis;

        .close {
            position: absolute;
            padding-block-start: 0;
            padding-inline-end: 5px;
            padding-block-end: 0;
            padding-inline-start: 5px;
            font-size: 16px;
            line-height: 26px;
            cursor: pointer;
            inset-inline-end: 0px;
            inset-block-start: -1px
        }
    }

    .dnn-uicommon-tag-input.disabled {
        padding-block-start: 3px !important;
        padding-inline-end: 7px !important;
        padding-block-end: 3px !important;
        padding-inline-start: 7px !important
    }

    .tag-search-results {
        position: absolute;
        inline-size: 100%;
        border: 1px solid var(--dnn-color-foreground-light, @mountainMist);
        inset-block-start: 100%;
        margin-block-start: 1px;
        border-block-start: none;
        inset-inline-start: -1px;
        padding-block-start: 6px;
        padding-inline-end: 0px;
        padding-block-end: 6px;
        padding-inline-start: 0px;
        background: var(--dnn-color-background, white);

        .result-item {
            padding-block-start: 6px;
            padding-inline-end: 10px;
            padding-block-end: 6px;
            padding-inline-start: 10px;
            cursor: pointer;

            &.selected {
                background: var(--dnn-color-primary-light, @gallery);
                color: var(--dnn-color-primary-contrast, @curiousBlue)
            }
        }
    }

    .dnn-ui-common-tooltip {
        position: absolute;
        inset-inline-end: 0px;

        .icon {
            float: inline-end;
            margin-block-start: 6px;
            margin-inline-end: 4px
        }
    }
}

.dnn-uicommon-tags-field-input.disabled {
    background: @mercury;
    border-color: @mercury
}