@import "~@dnnsoftware/dnn-react-common/styles/index";

:local(.exportModal) {
    border: 1px solid @alto;
    background: #fff;
    float: inline-start;

    * {
        box-sizing: border-box
    }

    .sectionTitle {
        font-weight: bold;
        margin-block-start: 20px;
        margin-inline-end: 0;
        margin-block-end: 20px;
        margin-inline-start: 0
    }

    .export-site-container {
        .left-column {
            inline-size: 50%;
            float: inline-start;
            padding-block-start: 10px;
            padding-inline-end: 30px;
            padding-block-end: 10px;
            padding-inline-start: 30px;

            .dnn-dropdown-with-error {
                inline-size: 100%
            }

            .dnn-single-line-input-with-error {
                padding-block-start: 15px
            }

            .dnn-label {
                margin-block-end: 5px;
                font-weight: 700
            }
        }

        .right-column {
            inline-size: 50%;
            float: inline-start;
            padding-block-start: 10px;
            padding-inline-end: 30px;
            padding-block-end: 10px;
            padding-inline-start: 30px
        }

        .export-switches {
            padding-block-start: 0;
            padding-inline-end: 30px;
            padding-block-end: 0;
            padding-inline-start: 30px;

            .dnn-ui-common-input-group {
                padding-block-start: 5px;
                padding-inline-end: 0;
                padding-block-end: 5px;
                padding-inline-start: 0;
                float: inline-start;

                .dnn-label {
                    font-weight: bolder;
                    float: inline-start
                }

                .dnn-switch-container {
                    float: inline-end
                }
            }
        }

        .export-pages {
            padding-block-start: 0;
            padding-inline-end: 30px;
            padding-block-end: 20px;
            padding-inline-start: 30px;
            border-inline-start: 1px solid @alto;

            .export-page-picker {
                inline-size: 100% !important;

                .page-picker-content>div {
                    block-size: 395px !important
                }
            }

            .language-box {
                float: inline-start;
                inline-size: 100%;
                block-size: 70px;

                .dnn-dropdown-with-error {
                    inline-size: 100%
                }
            }

            .dnn-checkbox-container {
                float: inline-start
            }

            .dnn-checkbox-container {
                .checkbox {
                    margin-block-end: 2px
                }
            }

            .dnn-label {
                float: inline-start;

                label {
                    float: inline-start
                }

                font-weight: 700
            }

            .dnn-dropdown {
                .collapsible-content {
                    ul {
                        li {
                            display: -webkit-box;

                            .dnn-ui-common-tooltip {
                                float: inline-start
                            }
                        }
                    }
                }
            }

            div.tooltip-text {
                max-inline-size: 250px
            }

            .dnn-radio-buttons {
                float: inline-end;
                inline-size: auto;
                margin-block-start: 6px
            }

            .lastExport {
                margin-block-start: 6px;
                font-weight: 500;
                color: @thunder;
                float: inline-end
            }
        }
    }

    .seperator {
        padding-block-start: 0;
        padding-inline-end: 20px;
        padding-block-end: 0;
        padding-inline-start: 20px
    }

    .seperator2 {
        padding-block-start: 30px;
        padding-inline-end: 0;
        padding-block-end: 20px;
        padding-inline-start: 0
    }

    .pageTitle {
        text-transform: uppercase;
        font-weight: bold;
        padding-block-start: 20px;
        padding-inline-end: 0;
        padding-block-end: 10px;
        padding-inline-start: 30px
    }

    .sectionTitle {
        text-transform: uppercase;
        font-weight: bold
    }

    .action-buttons {
        text-align: center;
        padding-block-start: 30px;
        padding-inline-end: 0;
        padding-block-end: 30px;
        padding-inline-start: 0;

        button {
            margin: 5px
        }
    }
}