.dnn-ui-common-input-group {
    position: relative;
    display: table;
    border-collapse: separate;
    inline-size: 100%;
    float: inline-start;

    .input-group-addon {
        border-inline-end: 0;
        border-radius: 3px;
        padding-block-start: 8px;
        padding-inline-end: 16px;
        padding-block-end: 8px;
        padding-inline-start: 16px;
        border: 1px solid var(--dnn-color-surface, #CCCCCC);
        border-inline-end: none;
        color: var(--dnn-color-surface-dark, #B3B3B3);
        text-align: center;
        inline-size: 1%;
        white-space: nowrap;
        vertical-align: middle;
        display: table-cell;
        box-sizing: border-box;
        border-collapse: separate;
        border-start-end-radius: 0px;
        border-end-end-radius: 0px
    }

    input {
        border-start-start-radius: 0;
        border-end-start-radius: 0;
        display: table-cell;
        position: relative;
        float: inline-start;
        inline-size: 100%;
        border-collapse: separate
    }
}