.composeMessageDialog .dnnLeft .dnnFormItem {
	border-block-end: solid 1px #eee;
	inline-size: 400px;
}

.composeMessageDialog .dnnLeft .dnnFormItem img {
	vertical-align: middle;
	float: inline-end;
}

.composeMessageDialog .dnnLeft button {
	cursor: pointer;
	padding-block-start: 0.5em;
	padding-inline-end: 1em;
	padding-block-end: 0.5em;
	padding-inline-start: 1em;
	border: none;
}

.composeMessageDialog .dnnFormItem label,
.composeMessageDialog .dnnFormItem .dnnFormLabel,
.composeMessageDialog .dnnFormItem .dnnTooltip {
	inline-size: 25%;
}

ul.token-input-list-facebook {
	inline-size: 46%;
	margin-block-end: 18px;
}

div.token-input-dropdown-facebook ul li img {
	margin-inline-end: 10px;
	vertical-align: middle;
}

/* MESSAGE ATTACHMENTS */
.composeMessageDialog .messageAttachments {
	inline-size: 300px;
	float: inline-end
}

.composeMessageDialog .messageAttachments ul li {
	overflow: auto;
	list-style: none;
	border-block-end: 1px solid #ddd;
	margin-block-end: 5px
}

.composeMessageDialog .messageAttachments ul li a {
	float: inline-start;
	font-size: 12px;
	text-decoration: none
}

.composeMessageDialog .messageAttachments a.removeAttachment {
	float: inline-end;
	display: block;
	padding: 3px;
	inline-size: 10px;
	block-size: 10px;
	background: url(images/delete.png) no-repeat 3px 3px;
	opacity: 0.75
}

.composeMessageDialog .messageAttachments a.removeAttachment:hover {
	opacity: 1
}