.collapsible-content-email {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, .2);

    .emailpanel-content-wrapper {
        padding-block-start: 20px;
        padding-inline-end: 30px;
        padding-block-end: 20px;
        padding-inline-start: 30px;

        .dnn-ui-common-input-group {
            label {
                font-weight: bolder;
                float: inline-start
            }

            .dnn-single-line-input-with-error {
                inline-size: 100%
            }
        }

        .action-buttons {
            text-align: center;
            margin-block-start: 20px;
            margin-inline-end: 0;
            margin-block-end: 20px;
            margin-inline-start: 0;

            button:first-child {
                margin-inline-end: 15px
            }
        }
    }
}