@import "~@dnnsoftware/dnn-react-common/styles/index";

.dnn-servers-grid-panel {
  .collapsible-component1 {
    display: table;
    inline-size: 100%;
    border-block-end: 1px solid @alto;
    cursor: auto;

    >div {
      float: inline-start;
      inline-size: 100%;

      >div {
        float: inline-start;
        inline-size: 100%
      }
    }

    &.true {
      border-block-start: 2px solid @curiousBlue;
      border-block-end: 2px solid @curiousBlue;
      margin-block-start: -1px
    }

    .role-row-collapsible {
      background-color: @white;

      >div {
        padding: 25px
      }
    }

    div.collapsible-header1 {
      color: @rollingStone;
      inline-size: 100%;
      float: inline-start;
      position: relative;
      padding-block-start: 15px;
      padding-inline-end: 18px;
      padding-block-end: 15px;
      padding-inline-start: 18px;
      box-sizing: border-box;
      cursor: auto;

      .ellipsis {
        -ms-text-overflow: ellipsis;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap
      }

      .edit-icon {
        margin-inline-start: 5px;
        float: inline-end;
        cursor: pointer;

        svg {
          inline-size: 18px;
          float: inline-start;
          block-size: 18px
        }

        &.false {
          svg {
            fill: @curiousBlue
          }

          svg:hover {
            fill: @thunder
          }
        }
      }

      .icon-flat {
        display: inline-block;
        inline-size: 18px;
        block-size: 18px;
        vertical-align: middle;

        &.active {
          svg {
            fill: @thunder
          }
        }
      }
    }

    .dnn-single-line-input-with-error {
      inline-size: 100%
    }

    .buttons-box {
      inline-size: 100%;
      text-align: center;
      float: inline-start;
      margin-block-start: 15px;
      margin-inline-end: 0;
      margin-block-end: 15px;
      margin-inline-start: 0;

      .dnn-ui-common-button {
        margin: 5px
      }

      .edit-icon {
        margin-block-start: 0px;
        margin-inline-end: 10px;
        margin-block-end: 20px;
        margin-inline-start: 10px;
        float: inline-end;

        svg {
          inline-size: 16px;
          float: inline-start;
          block-size: 16px
        }
      }
    }
  }

  .dnn-grid-cell {
    &.right {
      text-align: end
    }
  }
}