@import "~@dnnsoftware/dnn-react-common/styles/index";

:local(.bulletins) {
    display: inline-block;
    margin-block-start: 30px;
    margin-inline-end: 20px;
    margin-block-end: 30px;
    margin-inline-start: 20px;
    border: solid 1px @alto;
    inline-size: 94%;

    .warning-container {
        float: inline-start;
        margin: 25px;
        color: @alizarinCrimson;
        inline-size: 90%;

        .warning-icon {
            float: inline-start;
            inline-size: 5%;

            >svg {
                inline-size: 17px;
                float: inline-start;
                block-size: 17px;
                margin-block-start: 0;
                margin-inline-end: 10px;
                margin-block-end: 0;
                margin-inline-start: 0
            }
        }

        .warning-msg {
            float: inline-start;
            inline-size: 95%;
            font-weight: bold
        }
    }

    .bulletinsHeader-wrapper {
        &:not(:last-child) {
            border-block-end: 1px solid @alto;
        }

        width: 100%;
        float: inline-start;
        padding-block-start: 15px;
        padding-inline-end: 0;
        padding-block-end: 15px;
        padding-inline-start: 0;
        text-transform: uppercase;
        font-weight: bolder;

        .bulletinsHeader-Bulletins {
            margin-block-start: 0;
            margin-inline-end: 20px;
            margin-block-end: 0;
            margin-inline-start: 25px
        }
    }

    .bulletinItem {
        display: table;
        inline-size: 100%;

        &:not(:last-child) {
            border-block-end: 1px solid @alto;
        }

        .bulletin-detail-wrapper {
            float: inline-start;
            inline-size: 700px;
            margin-block-start: 0;
            margin-inline-end: 25px;
            margin-block-end: 0px;
            margin-inline-start: 25px
        }

        .collapsible-bulletinitemdetail-header {
            inline-size: 100%;
            float: inline-start;
            position: relative;
            padding-block-start: 15px;
            padding-inline-end: 20px;
            padding-block-end: 15px;
            padding-inline-start: 20px;
            box-sizing: border-box;

            .term-header {
                cursor: pointer;

                .term-label-title {
                    inline-size: 80%;
                    float: inline-start
                }

                .term-label-date {
                    inline-size: 20%;
                    float: inline-start;
                    text-align: end
                }

                .term-label-wrapper {
                    padding-block-start: 0;
                    padding-inline-end: 5px;
                    padding-block-end: 0;
                    padding-inline-start: 5px;
                    overflow-wrap: break-word
                }
            }
        }
    }
}