@import "~@dnnsoftware/dnn-react-common/styles/index";

.collapsible-content-mode-hidden {
    .collapsible-content-mode;
    box-shadow: none
}

.collapsible-content-mode {
    box-shadow: 0 0 17px 2px @alto;

    .modepanel-content-wrapper {
        padding-block-start: 20px;
        padding-inline-end: 30px;
        padding-block-end: 20px;
        padding-inline-start: 30px;

        .divider {
            padding-block-end: 15px
        }

        .editor-row {
            float: inline-start;
            inline-size: 100%;

            label {
                font-weight: bolder;
                clear: both;
                float: inline-start;
                text-align: start;
                margin-block-end: 5px;
                inline-size: 120px;
                padding-block-start: 7px;
                padding-inline-end: 0;
                padding-block-end: 0;
                padding-inline-start: 0
            }

            select {
                padding-block-start: 8px;
                padding-inline-end: 16px;
                padding-block-end: 8px;
                padding-inline-start: 5px;

                &.full {
                    float: inline-start;
                    inline-size: 100%
                }

                &.two-fifth {
                    float: inline-start;
                    inline-size: 40%
                }

                &.one-fourth {
                    float: inline-start;
                    inline-size: 25%
                }

                width: 220px
            }

            .text-section {
                inline-size: 5%;
                float: inline-start;
                text-align: center;
                vertical-align: middle;
                margin-block-start: 9px
            }

            input {
                float: inline-start;
                inline-size: 220px
            }
        }

        .action-buttons {
            text-align: center;
            margin-block-start: 20px;
            margin-inline-end: 0;
            margin-block-end: 20px;
            margin-inline-start: 0;

            button:first-child {
                margin-inline-end: 15px
            }
        }
    }
}