@import "../../styles/index";

.dnn-dropdown-with-error {
    display: inline-block;
    position: relative;

    &.disabled {
        .dnn-label {
            label {
                color: var(--dnn-color-neutral, @mountainMist);
                cursor: not-allowed
            }
        }

        .dropdown-tooltip-container {
            .dnn-dropdown-input {
                color: var(--dnn-color-foreground, @mountainMist);
                cursor: not-allowed
            }
        }
    }

    .dnn-label {
        label {
            font-weight: 700;
            cursor: pointer;
            float: inline-start
        }
    }

    .dnn-dropdown {
        color: var(--dnn-color-foreground, @bulgarianRose)
    }

    &.error {
        .dnn-dropdown {
            border-block-end: 2px solid var(--dnn-color-danger, @alizarinCrimson)
        }
    }

    .dnn-ui-common-tooltip {
        .tooltip-text {
            max-inline-size: 255px;
            text-align: center;
            padding-block-start: 7px;
            padding-inline-end: 15px;
            padding-block-end: 7px;
            padding-inline-start: 15px
        }
    }

    .dropdown-tooltip-container {
        float: inline-start;
        position: relative;
        inline-size: 100%;

        .dnn-dropdown {
            inline-size: 100%;
            box-sizing: border-box;
            border-radius: 0px
        }

        &.inline {
            inline-size: auto
        }

        .dnn-ui-common-tooltip {
            position: absolute;
            inset-block-start: 7px;
            inset-inline-end: 30px;

            &.outside {
                inset-inline-end: -25px
            }

            svg {
                inline-size: 20px;
                block-size: 20px
            }
        }
    }
}