.dnnLogin {
    display: flex;
    justify-content: center;
    inline-size: 90%;
    margin: 3rem;

    @media (max-width: 768px) {
        margin-block-start: 2rem;
        margin-inline-end: 0;
        margin-block-end: 2rem;
        margin-inline-start: 0
    }

    >div {
        inline-size: 100%;
        padding: 0
    }

    .LoginPanel {
        inline-size: 100%;
        padding: 0;

        .dnnFormItem {
            .dnnFormLabel {
                display: none
            }

            &:nth-child(1),
            &:nth-child(2) {
                display: flex;
                flex-direction: column;

                .dnnFormLabel {
                    display: block;
                    float: inline-start;

                    &::after {
                        clear: both;
                        content: ''
                    }
                }

                label {
                    font-weight: 700;
                    font-size: 1.5rem
                }

                input {
                    min-inline-size: 100%;
                    font-size: 1.5rem;
                    font-weight: 500;
                    padding: .25em
                }
            }

            &:nth-child(3) {
                inline-size: 50%;

                a {
                    inline-size: 50%;
                    margin: 0;

                    &.dnnPrimaryAction {
                        margin-inline-end: .25em
                    }

                    &.dnnSecondaryAction {
                        margin-inline-start: .25em
                    }
                }
            }

            .dnnLoginRememberMe {
                display: flex;
                flex-wrap: nowrap;
                align-items: center;

                img {
                    margin: 0;
                    padding: 0
                }

                .dnnCheckbox {
                    margin-block-start: 1em;
                    margin-inline-end: 0;
                    margin-block-end: 1em;
                    margin-inline-start: 0;
                    display: inline-flex;
                    vertical-align: middle
                }

                label {
                    margin-inline-start: .5em;
                    font-size: 1.25rem;
                    font-weight: 550
                }
            }

            &:last-child {
                inline-size: 100%;

                .dnnLoginActions {
                    inline-size: 100%;

                    ul {
                        margin: 0;
                        padding: 0
                    }

                    li {
                        margin: 0;

                        &:nth-child(1) {
                            padding-inline-end: .25em
                        }

                        &:nth-child(2) {
                            padding-inline-start: .25em
                        }
                    }

                    a {
                        inline-size: 100%
                    }
                }
            }
        }
    }
}