@import "../../../../less/globals.less";
@import "~@dnnsoftware/dnn-react-common/styles/index";

:local(.pageUrlCommons) {
    label {
        font-weight: bold
    }

    .page-url-commons-grid {
        &.horizontal {
            inline-size: 100%;

            .left-column,
            .right-column {
                inline-size: 50%;
                float: inline-start
            }
        }

        &.vertical {

            .left-column,
            .right-column {
                margin-block-start: 20px;
                margin-inline-end: 10px;
                margin-block-end: 20px;
                margin-inline-start: 10px;
                clear: both;

                .dnn-switch-container {
                    float: inline-end
                }
            }
        }
    }
}