.prefixes(@property, @value) {
    -webkit-@{    property}: @value;
    -khtml-@{    property}: @value;
    -moz-@{    property}: @value;
    -ms-@{    property}: @value;
    @{    property}: @value
}

@import "../../styles/index";
@transition: .2s;

.dnn-folder-selector {
    inline-size: 100%;
    float: inline-start;
    block-size: 30px;
    border: 1px solid var(--dnn-color-foreground-light, @mountainMist);
    border-radius: var(--dnn-controls-radius, 0);
    margin-block-end: 16px;
    position: relative;

    &:after {
        content: "";
        position: absolute;
        inset-inline-end: 8px;
        inset-block-start: 12px;
        inline-size: 0;
        block-size: 0;
        pointer-events: none;
        border-inline-start: 6px solid transparent;
        border-inline-end: 6px solid transparent;
        border-block-start: 6px solid var(--dnn-color-neutral, @rollingStone)
    }

    .selected-item {
        float: inline-start;
        inline-size: 100%;
        block-size: 100%;
        padding: 7px;
        box-sizing: border-box;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding-inline-end: 20px
    }

    span>strong {
        cursor: pointer;

        &:hover {
            text-decoration: underline
        }
    }

    .folder-selector-container {
        position: absolute;
        inset-block-start: ~"calc(100% + 1px)";
        inset-inline-start: -1px;
        inline-size: 100%;
        border: 1px solid var(--dnn-color-foreground-light, @alto);
        border-radius: var(--dnn-controls-radius, 0);
        background: var(--dnn-color-background, white);
        z-index: 1;
        transition: @transition;
        overflow: hidden;
        max-block-size: 0px;
        box-shadow: none;
        opacity: 0;

        &.show {
            box-shadow: 0px 0px 17px 2px rgba(0, 0, 0, .2);
            max-block-size: 600px;
            opacity: 1
        }

        .inner-box {
            box-sizing: border-box;
            padding: 20px;
            float: inline-start;
            inline-size: 100%;
            block-size: 100%;

            .search {
                float: inline-start;
                inline-size: 100%;
                border: 1px solid var(--dnn-color-foreground-light, @alto);
                border-radius: var(--dnn-controls-radius, 0);
                position: relative;

                .clear-button {
                    position: absolute;
                    inset-inline-end: 32px;
                    inset-block-start: 50%;
                    block-size: 26px;
                    margin-block-start: -13px;
                    font-size: 26px;
                    line-height: 26px;
                    opacity: .5;
                    cursor: pointer;

                    &:hover {
                        opacity: 1
                    }
                }

                .search-icon {
                    position: absolute;
                    inset-inline-end: 0px;
                    inset-block-start: 50%;
                    transform: translate(0, -50%);
                    block-size: 24px;
                    color: var(--dnn-color-foreground, @rollingStone)
                }

                input[type="text"] {
                    float: inline-start;
                    border: none;
                    inline-size: ~"calc(100% - 40px)";
                    box-sizing: border-box;
                    outline: none !important
                }
            }

            .items {
                float: inline-start;
                inline-size: 100%;
                border: 1px solid var(--dnn-color-foreground, @alto);
                block-size: 200px;
                margin-block-start: 14px;

                &,
                * {
                    .prefixes(user-select, none)
                }
            }
        }
    }
}

.dnn-folders-component {
    padding-block-start: 6px;

    ul {
        padding-inline-start: 20px;
        box-sizing: border-box;

        li {
            list-style: none;
            position: relative;
            float: inline-start;
            inline-size: 100%;
            margin-block-start: 0px;

            &>div {
                padding-block-start: 0px;
                cursor: pointer;
                float: inline-start;
                inline-size: 100%;
                padding-block-start: 4px;

                &:hover {
                    color: var(--dnn-color-primary, @curiousBlue)
                }
            }

            &>ul {
                block-size: 0px;
                overflow: hidden;
                float: inline-start;
                inline-size: 100%
            }

            &.open {
                &>ul {
                    block-size: auto
                }

                &>.has-children {
                    transform: rotate(90Deg)
                }
            }

            .icon {
                inline-size: 14px;
                float: inline-start;
                margin-inline-end: 5px;
                block-size: 13px;
                cursor: pointer
            }

            .item-name {
                cursor: pointer;
                float: inline-start;
                inline-size: ~"calc(100% - 30px)";
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;

                &.none-specified {
                    font-weight: bold
                }
            }

            .has-children {
                position: absolute;
                inset-inline-start: -15px;
                inset-block-start: 1px;
                inline-size: 10px;
                block-size: 10px;
                cursor: pointer;
                transition: .18s;

                &:after {
                    content: "";
                    position: absolute;
                    inset-inline-start: 4px;
                    inset-block-start: 1px;
                    inline-size: 0;
                    block-size: 0;
                    border-block-start: 4px solid transparent;
                    border-block-end: 4px solid transparent;
                    border-inline-start: 4px solid var(--dnn-color-neutral, @rollingStone)
                }
            }
        }
    }

    padding-top: 6px;

    ul {
        padding-inline-start: 20px;
        box-sizing: border-box;

        li {
            list-style: none;
            position: relative;
            float: inline-start;
            inline-size: 100%;
            margin-block-start: 0px;

            &>div {
                padding-block-start: 0px;
                cursor: pointer;
                float: inline-start;
                inline-size: 100%;
                padding-block-start: 4px;

                &:hover {
                    color: var(--dnn-color-primary, @curiousBlue)
                }
            }

            &>ul {
                block-size: 0px;
                overflow: hidden;
                float: inline-start;
                inline-size: 100%
            }

            &.open {
                &>ul {
                    block-size: auto
                }

                &>.has-children {
                    transform: rotate(90Deg)
                }
            }

            .icon {
                inline-size: 14px;
                float: inline-start;
                margin-inline-end: 5px;
                block-size: 13px;
                cursor: pointer
            }

            .item-name {
                cursor: pointer;
                float: inline-start;
                inline-size: ~"calc(100% - 30px)";
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;

                &.none-specified {
                    font-weight: bold
                }
            }

            .has-children {
                position: absolute;
                inset-inline-start: -15px;
                inset-block-start: 1px;
                inline-size: 10px;
                block-size: 10px;
                cursor: pointer;
                transition: .18s;

                &:after {
                    content: "";
                    position: absolute;
                    inset-inline-start: 4px;
                    inset-block-start: 1px;
                    inline-size: 0;
                    block-size: 0;
                    border-block-start: 4px solid transparent;
                    border-block-end: 4px solid transparent;
                    border-inline-start: 4px solid var(--dnn-color-neutral, @rollingStone)
                }
            }
        }
    }
}