@import "~@dnnsoftware/dnn-react-common/styles/index.less";

:local(.siteAliasSettings) {
    margin: 30px;

    * {
        box-sizing: border-box
    }

    .urlMappingSettings {
        .dnn-ui-common-input-group {
            .dnn-label.inline {
                inline-size: 35%;

                label {
                    font-weight: bolder;
                    float: inline-start
                }
            }

            .dnn-radio-buttons {
                margin-block-start: 3px;
                inline-size: auto;

                label {
                    margin-inline-end: 15px
                }
            }

            .dnn-switch-container {
                float: inline-start;
                padding: 0;

                .dnn-switch {
                    margin-inline-start: 15px
                }
            }
        }
    }

    .sectionTitleNoBorder {
        font-weight: bolder;
        float: inline-start;
        inline-size: 100%;
        padding-block-start: 40px;
        padding-inline-end: 0;
        padding-block-end: 20px;
        padding-inline-start: 0
    }

    .buttons-box {
        inline-size: 100%;
        float: inline-start;
        text-align: center;
        margin-block-start: 30px;
        margin-inline-end: 0;
        margin-block-end: 30px;
        margin-inline-start: 0;

        .dnn-ui-common-button {
            margin: 5px
        }
    }
}