@import "~@dnnsoftware/dnn-react-common/styles/index.less";

:local(.privacySettings) {
    margin: 30px;

    * {
        box-sizing: border-box
    }

    .dnn-ui-common-input-group {
        padding-block-start: 0;
        padding-inline-end: 0;
        padding-block-end: 15px;
        padding-inline-start: 0;

        .dnn-label {
            label {
                font-weight: bolder;
                float: inline-start;
            }
        }

        .dnn-label-long {
            inline-size: 70%;

            label {
                inline-size: 70%;
            }
        }

        .dnn-single-line-input-with-error {
            inline-size: 100%;
            float: inline-start
        }

        .dnn-dropdown {
            inline-size: 681px;
        }

        input {
            inline-size: auto;
        }

        .dnn-switch-container {
            float: inline-end
        }

        .privacySettings-row_switch {
            border-block-end: 1px solid @alto;
            margin-block-start: 10px;
            margin-inline-end: 0;
            margin-block-end: 0;
            margin-inline-start: 0;
            display: table;
            inline-size: 100%;
            padding-block-start: 0;
            padding-inline-end: 0;
            padding-block-end: 10px;
            padding-inline-start: 0;
        }
    }

    .sectionTitle {
        font-weight: bolder;
        text-transform: uppercase;
        float: inline-start;
        inline-size: 100%;
        padding-block-start: 0;
        padding-inline-end: 0;
        padding-block-end: 10px;
        padding-inline-start: 0;
        border-block-end: 1px solid #c8c8c8;
        margin-block-end: 6px
    }

    .buttons-box {
        float: inline-start;
        inline-size: 100%;
        text-align: center;
        margin-block-start: 20px;
        margin-inline-end: 0;
        margin-block-end: 20px;
        margin-inline-start: 0;

        .dnn-ui-common-button {
            margin: 5px
        }
    }

    .dnn-grid-system {
        .left-column {
            padding-inline-end: 30px;

            .dnn-dropdown {
                inline-size: 100%;
            }
        }

        .right-column {
            padding-inline-start: 30px;
            border-inline-start: 1px solid @alto;
        }
    }

    .warning {
        text-transform: uppercase;
        font-size: larger;
    }

    .warningBox {
        border: 1px solid @alto;
        background-color: @gallery;
        inline-size: 100%;
        padding: 15px;

        .warningText {
            font-weight: bolder;
            color: @thunder
        }

        .warningButton {
            inline-size: 100%;

            .dnn-ui-common-button {
                inline-size: 100%;
                padding-block-start: 6px;
                padding-block-end: 6px;

                &:first-child {
                    margin-block-start: 15px
                }
            }
        }
    }

    .editor-row {
        float: inline-start;
        inline-size: 100%;

        label {
            font-weight: bolder;
            clear: both;
            float: inline-start;
            text-align: start;
            inline-size: 100%;
            margin-block-end: 5px
        }

        select {
            padding-block-start: 8px;
            padding-inline-end: 16px;
            padding-block-end: 8px;
            padding-inline-start: 5px;

            &.full {
                float: inline-start;
                inline-size: 100%
            }

            &.two-fifth {
                float: inline-start;
                inline-size: 40%
            }

            &.one-fourth {
                float: inline-start;
                inline-size: 25%
            }
        }

        .dnn-dropdown {
            inline-size: 100%;
            margin-block-end: 30px
        }

        .text-section {
            inline-size: 5%;
            float: inline-start;
            text-align: center;
            vertical-align: middle;
            margin-block-start: 9px
        }
    }
}