@import "~@dnnsoftware/dnn-react-common/styles/index";

.extensions-app {
    :local(.editJSLibrary) {
        .js-library-info-table {
            border: 1px solid @alto;
            padding: 0;

            .js-library-info-row {
                .js-library-info-name {
                    padding: 0
                }

                .js-library-info-version {
                    text-align: end;
                    padding: 0
                }
            }

            .js-library-info-name-header {
                border-block-end: 1px solid @alto;
            }

            .js-library-info-version-header {
                border-block-end: 1px solid @alto;
            }
        }

        .dnn-label {
            label {
                float: inline-start
            }
        }

        .jslibrary-table-separator {
            margin-block-start: 15px;
            margin-inline-end: 0;
            margin-block-end: 15px;
            margin-inline-start: 0;
            float: inline-start;
            inline-size: 100%;
        }
    }
}