body {
	background-color: #ededed;
	font-family: Arial, Verdana;
	color: #333;
	font-size: small;
	padding: 5px
}

a:hover {
	color: rgb(204, 0, 0);
}

hr {
	color: #d9d9d9;
	background-color: #d9d9d9;
	block-size: 0;
	border: 1px solid #d9d9d9;
}

h1 {
	font-weight: bold;
	margin: 0;
	font-size: medium;
	font-family: Arial, Helvetica, sans-serif;
	color: #333
}

.ui-tabs .ui-tabs-panel {
	border: 1px dotted #333;
	-moz-border-radius: 0.4em;
	-webkit-border-radius: 0.4em;
	-ms-border-radius: 0.4em;
	border-radius: 0.4em;
	display: block;
	overflow: auto;
	block-size: 500px;
	margin-block-start: 5px
}

.SettingBox {
	inline-size: 100%;
	padding-inline-start: 5px;
	margin-inline-end: 15px;
	float: inline-start
}

#SettingsBox {
	block-size: auto;
	margin-block-end: 10px;
	padding-block-start: 10px;
	padding-inline-end: 10px;
	padding-block-end: 67px;
	padding-inline-start: 10px;
	padding-inline-end: 20px;
	-moz-min-width: 550px;
	-ms-min-width: 550px;
	-o-min-width: 550px;
	-webkit-min-width: 550px;
	min-inline-size: 550px;
	border: 1px solid #ccc;
	-moz-border-radius: 0.4em;
	-webkit-border-radius: 0.4em;
	-ms-border-radius: 0.4em;
	border-radius: 0.4em;
	background-color: white;
	min-inline-size: 500px
}

.optionsContainer #SettingsBox {
	padding-block-start: 10px;
	padding-inline-end: 20px;
	padding-block-end: 40px;
	padding-inline-start: 10px;
}

#tblMainSet td,
#tblMainSet th {
	padding: 2px;
	margin: 2px;
}

#CKEditor_Options_ctlConfigUrl_TypeRow br,
#CKEditor_Options_ctlStylesURL_TypeRow br,
#CKEditor_Options_ctlCSSURL_TypeRow br,
#CKEditor_Options_ctlTemplUrl_TypeRow br {
	display: none;
}

.Toolbar {
	padding: 2px;
}

/* Loading Dialog */
.panelLoading {
	margin-block-start: 0;
	margin-inline-end: 5px;
	margin-block-end: 0;
	margin-inline-start: 5px;
	padding: 3px
}

.MessageBox {
	position: absolute;
	z-index: 100;
	text-align: start;
	display: block;
	inset-block-start: 96px;
	inset-inline-start: 220px;
}

.ModalDialog .popup {
	position: relative;
	border: 3px solid #000000;
	border: 3px solid rgba(0, 0, 0, 0);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 0 18px #000000;
	-moz-box-shadow: 0 0 18px #000000;
	-ms-box-shadow: 0 0 18px #000000;
	box-shadow: 0 0 18px #000000;
	box-shadow: 0 0 18px rgba(0, 0, 0, 0.4)
}

.ModalDialog .DialogContent {
	display: table;
	inline-size: 370px;
	padding: 10px;
	background: #fff;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	border-radius: 4px
}

.ModalDialog .modalHeader {
	text-align: center;
	font-size: 12.5pt;
}

.ModalDialog input[type="file"] {
	inline-size: 100%;
}

* html .ModalDialog .modalInner {
	padding-block-start: 10px
}

*:first-child+html .ModalDialog .modalInner {
	padding-block-start: 10px
}

.ModalDialog_overlayBG {
	position: absolute;
	inset-block-start: 0;
	inset-inline-start: 0;
	block-size: 100%;
	inline-size: 100%;
	background-color: #000;
	z-index: 99;
	-ms-opacity: 0.2;
	opacity: 0.2
}

.LoadingContent h3 {
	background: url(../images/loading.gif) no-repeat 102px 5px;
	block-size: 20px
}

.LoadingMessage {
	text-align: center
}

/* Manager Module */
.managerLeftPane {
	float: inline-start;
	inline-size: 250px;
	vertical-align: top
}

.managerSettingHeader {
	font-weight: bold;
	min-block-size: 30px;
	margin-inline-start: 5px
}

.managerSettingContent {
	margin-inline-start: 20px
}

.optionsContainer {
	/*margin-left:255px;
    inline-size: 700px;
    */
	width: 70%;
	float: inline-start;
	margin: 0;
	padding-inline-start: 2.5em;
}

.iconLegend {
	margin-block-start: 5px;
	margin-inline-end: 0;
	margin-block-end: 5px;
	margin-inline-start: 0;
	padding-block-start: 5px;
	padding-inline-end: 0;
	padding-block-end: 5px;
	padding-inline-start: 0;
	border: 1px solid #ccc;
	-moz-border-radius: 0.4em;
	-webkit-border-radius: 0.4em;
	-ms-border-radius: 0.4em;
	border-radius: 0.4em;
	background-color: white
}

.optionsSidebar {
	float: inline-start;
	/*width:250px;
    */
	width: 25%;
	vertical-align: top;
}

.iconLegend ul li {
	list-style: none;
}

.ui-state-error p {
	padding: 10px;
}

/*.portalTabsAndModulesTree {    margin-inline-start: 47px}*/
.portalOnlyCheckBox {
	margin-block-start: 10px;
	margin-inline-end: 0;
	margin-block-end: 0;
	margin-inline-start: 50px
}

/* Settings Container */
.settingNameColumn {
	inline-size: 250px;
	vertical-align: top;
	font-weight: bold;
}

.settingNameContainer {
	float: inline-start;
	inline-size: 250px;
	vertical-align: top;
	font-weight: bold;
	min-block-size: 30px;
}

.settingValueColumn {
	vertical-align: top;
}

.settingValueContainer {
	margin-inline-start: 250px;
	vertical-align: top;
	min-block-size: 30px;
	margin-block-start: 3px;
	margin-inline-end: 0;
	margin-block-end: 3px;
	margin-inline-start: 0
}

.settingValueContainer .settingValueInput,
.settingValueContainer input[type="text"] {
	inline-size: 97%
}

.settingValueInput,
input[type="text"] {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
	border-radius: 5px
}

/* Default Buttons */

.ui-widget-content a,
#lnkToolbarGuide,
a,
a:hover {
	color: rgb(204, 0, 0);
	text-decoration: none;
}

.Hidden {
	position: absolute;
	inset-block-start: -999px;
	inset-inline-start: -999px;
}

.DefaultDropDown {
	inline-size: 400px
}

.DefaultButton,
.ui-widget-content,
.ui-button-text {
	font-size: small !important;
}

.ui-tabs li a {
	font-size: 85%;
}

.ui-button .ui-button-text {
	line-height: 1.0;
}

.Toolbar .ui-widget-content,
.ui-button-text {
	font-size: 12px !important
}

/* Toolbar Editor Styling */
.availableButtons,
.groups {
	padding: 8px;
	margin: 2px;
	block-size: 290px;
	overflow: auto;
}

.groups,
.sortable {
	list-style-type: none;
	margin: 0;
	padding: 0;
	float: inline-start;
	margin-inline-end: 10px;
	background: #efefef;
	padding: 5px;
	inline-size: 220px;
	-moz-border-radius: 0.4em;
	-webkit-border-radius: 0.4em;
	-ms-border-radius: 0.4em;
	border-radius: 0.4em
}

.groups li,
.sortable li {
	margin: 5px;
	padding: 5px;
	font-size: 1.2em;
	list-style: none
}

.groupButton {
	inline-size: 160px
}

.ui-state-highlight {
	block-size: 1.5em;
	line-height: 1.2em
}

.ui-icon-cancel {
	float: inline-end;
	cursor: pointer
}

.rowBreakLabel,
.rowBreak,
.rowBreakItem .groupName {
	display: none;
}

.rowBreakItem .rowBreakLabel {
	display: block;
	margin-inline-start: 50px;
	color: black;
	font-size: small;
	font-weight: bolder
}

#CKEditor_Options_rBlSetMode .ui-widget {
	font-size: small;
}

/* Available Buttons List */
.availableButtons {
	border: 1px dotted #333;
	-moz-border-radius: 0.4em;
	-webkit-border-radius: 0.4em;
	-ms-border-radius: 0.4em;
	border-radius: 0.4em;
	background-color: transparent
}

.availableButtons li {
	inline-size: 170px
}

.item {
	font-family: Arial, Verdana;
	color: #333;
	font-size: small;
}

.groupName {
	font-family: Arial, Verdana;
	color: #333;
	text-decoration: none
}

.groupEdit {
	display: none;
	inline-size: 150px
}

.groupButtons .itemIcon {
	padding-inline-start: 10px;
}

.groupItem {
	border: 1px dotted #333;
	-moz-border-radius: 0.4em;
	-webkit-border-radius: 0.4em;
	-ms-border-radius: 0.4em;
	border-radius: 0.4em;
	background-color: white;
	inline-size: 185px
}

.saveGroupName {
	margin-inline-start: 3px;
	padding-inline-start: 1px;
	inline-size: 18px;
	block-size: 18px;
	cursor: pointer;
	display: none
}

.addRowBreakButton,
.createGroupButton {
	cursor: pointer;
	inline-size: 150px;
	display: inline-block;
	margin: 5px;
	padding: 5px;
	font-family: Arial, Verdana;
	color: #333;
}

.dnnFormItem {
	display: block;
}

.ui-selectgroup {
	display: block;
	overflow: hidden;
	position: relative;
	inline-size: 200px;
	text-decoration: none;
}

.ui-selectgroup-copy {
	display: block;
	padding: 5px;
	min-block-size: 5px;
	margin: 1px;
}

.ui-selectgroup-icon {
	position: absolute;
	inset-block-start: 5px;
	inset-inline-end: 0;
}

.ui-selectgroup-group {
	position: absolute;
	inline-size: 200px;
	z-index: 30000
}

.ui-selectgroup-list {
	list-style: none;
	padding: 0;
	margin: 0;
}

.ui-selectgroup-list li {
	list-style: none;
	border-block-start: 1px dotted transparent;
	border-block-end: 1px dotted transparent;
}

.ui-selectgroup-list .ui-state-hover {
	border-inline-end: none;
	border-inline-start: none;
	font-weight: normal;
}

.ui-selectgroup-list .ui-state-active {
	border-inline-end: none;
	border-inline-start: none;
	font-weight: normal;
}

.ui-selectgroup-list a {
	display: block;
	padding: 5px;
	text-decoration: none;
}

.ui-selectgroup-optgroup {
	padding-block-start: 0;
	padding-inline-end: 0;
	padding-block-end: 0;
	padding-inline-start: 5px;
}

.ui-selectgroup-optgroup span {
	display: block;
	padding-block-start: 5px;
	padding-inline-end: 0;
	padding-block-end: 5px;
	padding-inline-start: 0;
}

.ui-selectgroup-optgroup ul {
	list-style: none;
	padding: 0;
	margin: 0
}

.ui-selectgroup-optgroup li {
	padding-block-start: 0;
	padding-inline-end: 0;
	padding-block-end: 0;
	padding-inline-start: 10px;
	margin-block-start: 0;
	margin-inline-end: 0;
	margin-block-end: 0;
	margin-inline-start: -5px;
}

#ImportDialog.ui-dialog-content {
	margin-block-start: 10px;
	margin-block-end: 10px;
}

#ExportDialog.ui-dialog-content {
	margin-block-start: 10px;
	margin-block-end: 10px;
}