.dnnForm.dnnGroupDirectory {
    margin-block-start: 0;
    margin-inline-end: auto;
    margin-block-end: 0;
    margin-inline-start: auto;
    padding-block-start: 0;
    padding-inline-end: 15px;
    padding-block-end: 0;
    padding-inline-start: 15px;
    min-inline-size: inherit
}

    .dnnForm.dnnGroupDirectory p a {
        border-block-end: 1px dashed #E5E5E5;
    }

        .dnnForm.dnnGroupDirectory p a:hover {
            text-decoration: underline;
        }

.createGroup {
    float: inline-end;
    margin-block-start: -38px;
    margin-inline-end: 30px
}
/* MODULE STRUCTURE----------------------------------------------- */
.dnnForm.dnnGroupDirectory {
    margin-block-start: 0;
    margin-inline-end: auto;
    margin-block-end: 0;
    margin-inline-start: auto;
    padding: 25px;
    inline-size: auto;
}

.dgdMainContent {
}

.dgdGroupQuickInfoWrap {
    border-block-end: 1px #eaeaea solid;
    padding-block-end: 10px;
    margin-block-end: 10px;
}

.dgdAvatar {
    inline-size: 8%;
    block-size: auto;
    padding: .5%;
    margin-inline-end: 2%;
    background: #fff;
    border: 1px #e7e7e7 solid;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    overflow: hidden
}

    .dgdAvatar a {
        display: block;
        max-block-size: 50px;
        overflow: hidden
    }

    .dgdAvatar img {
        inline-size: 100%;
        radius: 3px;
        border-radius: 3px;
        max-inline-size: 100%
    }

.dgdGroupQuickInfo {
    inline-size: 88%
}

    .dgdGroupQuickInfo h3 {
        margin: 0;
        padding: 0;
    }

    .dgdGroupQuickInfo ul, .dgdGroupQuickInfo ul li {
        padding: 0;
        margin: 0;
        list-style: none;
    }

        .dgdGroupQuickInfo ul li {
            display: block;
            float: inline-start;
            line-height: 26px;
            block-size: 26px;
            font-weight: bold;
            padding-block-start: 0;
            padding-inline-end: 20px;
            padding-block-end: 0;
            padding-inline-start: 10px;
            padding-inline-start: 22px;
            font-size: 10px;
            color: #777;
        }

            .dgdGroupQuickInfo ul li.posts-icn {
                background: url(images/posts-icn.png) left no-repeat;
            }

            .dgdGroupQuickInfo ul li.member-icn {
                background: url(images/member-icn.png) left no-repeat;
            }

            .dgdGroupQuickInfo ul li.photo-icn {
                background: url(images/photo-icn.png) left no-repeat;
            }

            .dgdGroupQuickInfo ul li.docs-icn {
                background: url(images/docs-icn.png) left no-repeat;
            }

            .dgdGroupQuickInfo ul li.join-group-icn {
                padding-inline-start: 0;
            }

.dgdLatestGroups .dgdGroupQuickInfo ul li.join-group-icn a {
    background: url(images/join-group-icn.png) left no-repeat;
}

.dgdGroupQuickInfo ul li a {
    display: block;
    padding-block-start: 0;
    padding-inline-end: 20px;
    padding-block-end: 0;
    padding-inline-start: 20px;
    font-size: 10px;
}

.dgdSidebar {
}

.dgdCat ul, .dgdCat li {
    margin: 0;
    padding: 0;
    list-style: none;
}

    .dgdCat li a {
        display: block;
        padding: 10px;
        border-block-end: 1px #ccc dotted
    }

        .dgdCat li a:hover {
            background: #f1f1f1
        }

.dgdSideBar .dgdMyGroups h3 a, .dgdSideBar .dgdLatestGroups h3 a {
    font-size: 12px;
}

.dgdSideBar .dgdMyGroups .dgdAvatar, .dgdSideBar .dgdLatestGroups .dgdAvatar {
    inline-size: 15%;
}

    .dgdSideBar .dgdMyGroups .dgdAvatar img, .dgdSideBar .dgdLatestGroups .dgdAvatar img {
        padding: 0;
        border: none;
    }

.dgdSideBar .dgdMyGroups .dgdGroupQuickInfo, .dgdSideBar .dgdLatestGroups .dgdGroupQuickInfo {
    inline-size: 78%
}

.dgdMoreActions ul, .dgdMoreActions li {
    list-style: none;
    padding: 0;
    margin: 0;
    min-block-size: 32px;
}

.dgdMoreActions ul {
    margin-block-start: 10px;
    margin-inline-end: 0;
    margin-block-end: 25px;
    margin-inline-start: 0;
    overflow: hidden;
}

.dgdMoreActions li.dgdLoadMore, .dgdMoreActions li.dgdCreateNew {
    inline-size: 48%;
    float: inline-start;
}

.dgdMoreActions li.dgdCreateNew {
    float: inline-end;
}

.dgdMoreActions a.dnnTertiaryAction {
    padding-block-start: 9px;
    padding-inline-end: 25px;
    padding-block-end: 9px;
    padding-inline-start: 25px;
    margin: 0;
}

.dgdMoreActions a.dnnPrimaryAction {
    float: inline-end;
}


/* GENERAL STYLES
	----------------------------------------------- */
.wizard {
    display: block;
    margin-block-end: 15px;
    overflow: auto;
}

    .wizard li {
        float: inline-start;
        margin-inline-end: 10px;
    }

        .wizard li a {
            display: block;
            background: #bbb;
            inline-size: 30px;
            padding-block-start: 4px;
            padding-inline-end: 0;
            padding-block-end: 4px;
            padding-inline-start: 0;
            text-align: center;
            vertical-align: middle;
            border: 1px solid #999;
            -webkit-border-radius: 16px;
            -moz-border-radius: 16px;
            border-radius: 16px;
            -webkit-box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
            -moz-box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
            box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
            color: #fff;
            font-weight: bold;
            font-size: 18px;
            text-shadow: 0px 1px 0px rgba(0,0,0,0.25)
        }

            .wizard li a:hover, .wizard li a.active {
                background: #777;
                border: 1px solid #555
            }

h2.WizardStepTitle {
    font-size: 28px;
    padding-block-end: 5px;
    margin-block-end: 15px;
    border-block-end: 1px solid #ddd;
    letter-spacing: -0.03em
}

    h2.WizardStepTitle strong {
        font-weight: bold;
    }

.thumb {
    float: inline-start;
    display: block;
    margin-block-end: 15px;
    margin-block-start: 10px
}

    .thumb span {
        position: relative;
        display: block;
        float: inline-start;
        padding: 5px;
        margin-inline-end: 10px;
        border: 1px solid #ddd
    }

    .thumb img {
        display: block
    }

    .thumb span a {
        display: none;
        position: absolute;
        inset-inline-end: 6px;
        inset-block-start: 6px;
        padding: 5px;
        border: 1px solid #ddd;
        background: #fff
    }

    .thumb span:hover a {
        display: block;
    }

.DnnModule-groupsWizard hr {
    display: block !important;
    inline-size: 68%;
    clear: both;
    margin-block-start: 15px;
    margin-inline-end: 0;
    margin-block-end: 15px;
    margin-inline-start: 32%
}

.group-wizard-step-3 h3 {
    font-size: 15px;
    font-weight: bold;
    color: #333;
    margin-block-end: 15px;
}

.group-wizard-step-3 .leftColumn {
    float: inline-start;
    inline-size: 57%;
    padding-block-start: 15px;
    padding-inline-end: 0;
    padding-block-end: 3%;
    padding-inline-start: 0;
}

.group-wizard-step-3 .rightColumn {
    float: inline-end;
    inline-size: 34%;
    padding-block-start: 15px;
    padding-inline-start: 5%;
    border-inline-start: 1px solid #ddd
}

    .group-wizard-step-3 .rightColumn input,
    .group-wizard-step-3 .rightColumn textarea {
        inline-size: 60%;
    }

.group-wizard-step-3 ul.mdMemberList {
    overflow-block: auto;
    block-size: 250px;
    border: 1px solid #ddd;
    padding-block-start: 10px
}

    .group-wizard-step-3 ul.mdMemberList li {
        inline-size: 230px;
        min-inline-size: 230px;
    }

.mdSearchBar {
    inline-size: 100%;
}

.groupPager {
    text-align: end;
}

    .groupPager a {
        display: inline-block;
        border: 1px solid #cdcdcd;
        background-color: #fff;
        font-size: 16px;
        padding-block-start: 2px;
        padding-inline-end: 8px;
        padding-block-end: 2px;
        padding-inline-start: 8px;
        margin-inline-end: 4px;
        font-weight: bold;
    }

        .groupPager a.pagerItemSelected {
            background-color: #ffffcc;
        }

input.dnnFixedSizeComboBox {
    inline-size: 200px !important;
    margin-inline-end: 10px;
    float: inline-start
}

div.dnnFixedSizeComboBox {
    inline-size: 218px !important;
    margin-inline-end: 15px;
    float: inline-start
}

.dnnFixedSizeComboBox + a.dnnSecondaryAction {
    float: inline-start;
    margin-inline-end: 10px
}
