@import "~@dnnsoftware/dnn-react-common/styles/index";

#security-container {
    .dnn-persona-bar-page-body {
        border-block-end: 0;

        .react-tabs {
            * {
                box-sizing: border-box
            }

            .logHeader-wrapper {
                &:not(:last-child) {
                    border-block-end: 1px solid @alto;
                }

                width: 100%;
                float: inline-start;
                padding: 15px;
                text-transform: uppercase
            }

            .logContainer {
                inline-size: 100%;
                padding: 20px;
                float: inline-start
            }

            .logContainerBox {
                inline-size: 100%;
                border: solid 1px @alto
            }

            .tokenCommandBox {
                inline-size: 100%;
                text-align: end;
                padding-block-start: 10px;
                padding-inline-end: 20px;
                padding-block-end: 10px;
                padding-inline-start: 20px;

                .dnn-ui-common-button {
                    margin-inline-start: 10px
                }
            }

            .logHeader {
                float: inline-start;
                font-weight: bolder
            }

            .toolbar {
                border-block-end: solid 1px @alto;
                display: block;
                float: inline-start;
                inline-size: 100%;
                padding-block-start: 7px;
                padding-inline-end: 0;
                padding-block-end: 7px;
                padding-inline-start: 0;

                .security-filter-container {
                    inline-size: 20%;
                    block-size: 32px;
                    margin-block-start: 10px;
                    border-inline-end: 1px solid @alto;
                    float: inline-start;

                    .dnn-dropdown {
                        .collapsible-toggle {
                            inline-size: auto
                        }
                    }
                }

                .toolbar-button {
                    float: inline-end;
                    border-inline-start: solid 1px @alto;
                    text-align: center;
                    cursor: pointer;
                    block-size: 32px;
                    inline-size: 100%;

                    &:hover {
                        color: #0087C6;

                        .collapsible-content {
                            color: #000
                        }
                    }

                    .collapsible-content {
                        -webkit-box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.2);
                        -moz-box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.2);
                        box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.2);
                        margin-block-start: 13px;
                        z-index: 1000;
                        background-color: #fff;
                        position: absolute;
                        inline-size: 400px;
                        margin-inline-start: -288px;
                        text-align: start
                    }
                }

                .toolbar-button-actions {
                    margin-block-start: 10px;
                    padding-block-start: 8px;
                    font-weight: bold;
                    color: @thunder
                }
            }

            .logPager {
                margin-block-start: 0;
                margin-inline-end: 0;
                margin-block-end: 20px;
                margin-inline-start: 0;
                float: inline-start;
                inline-size: 100%
            }
        }

        .warningBox {
            border: 1px solid @alto;
            background-color: @gallery;
            inline-size: 100%;
            padding: 15px;
            margin-block-end: 20px;

            .warningText {
                font-weight: bolder;
                color: @thunder
            }
        }
    }
}